[2017-01-19 03:54] Cervator commented on #2376
I'm pretty much happy with #2667 myself, could close this just with that done. For the line length could the overlay truncate at a certain line length, while a bigger chat panel of some sort would line-wrap instead, with scrolling?

Pretty rare you'd need to go back to catch a long message.

[2017-01-19 04:22] iojw commented on #2376
@Cervator: Scrolling is already present in the active chat overlay (what appears when you press T). The mini overlay is what appears when you're not in the active chat window and you receive a message from someone else (it has a translucent background, as opposed to the solid background of the active chat overlay).

I'll submit a PR for truncation in the mini chat overlay soon, replacing the end w

[2017-01-19 04:54] Cervator commented on #2376
Yep exactly. I think this is pretty much done :-)

[2017-01-20 11:58] zeokav commented on #2753
Coming back to my initial question - how long should I let the timeout be? Like it would technically depend on the computational speed of the machine it's running on, right?
In the StateLoading class, the progress bar only updates after a state change (after a loading process completes) and not in between, say when a chunk is generated. I could put a timeout but I don't know what the threshold sho

[2017-01-21 03:18] Cervator commented on #1232
Closing this as obsolete / completed by the support for an `override.cfg` you can use easily to restart a server repeatedly without having to keep or change `config.cfg` over and over. Just keep the config you care about separately and supply the file location via command line argument.

Better headless server management via GUI should probably be baked into the game launcher / REST API / manageme

[2017-01-21 03:18] #1232 closed

[2017-01-21 06:05] Cervator commented on #2753
The overall duration of a game load could vary substantially between machines, yeah. But say you're in the step where chunks are generating I'd expect any *one* chunk generation request to finish within a few seconds, and if there isn't one for say 20 seconds there's probably *something* wrong.

Maybe the timeout detection can just be activated after chunks begin generating, letting each chunk gen

[2017-01-21 16:21] zeokav commented on #2753
@Cervator Apparently the chunks do not stop generating on error - in fact they generate infinitely many times.
Like, if I log down the count of steps, when the game is bug free, there's around 85 chunks accounted -

However, if I introduce an error, the number increases significantly and it does not stop

So, there goes the last chunk generated method. However, we could set an upper bound on the n

[2017-01-22 17:01] iojw commented on #2577
@Cervator: Bringing attention back to #2584 as I've managed to fix the dependency issue pending a PR in the CrashReporter repo. It should then be ready to merge once the engine build.gradle has been updated as well to use the "fancier" method. 🙂

Might be worth leaving this issue open since I feel that the "optional" feature mentioned in the main post would be a good thing to add for the user to d

[2017-01-25 10:17] youssefibrahem opened #2760 "super your"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-01-25 15:43] SkySom commented on #2760
Thank you for your report, youssefibrahem, but it appears you didn't write anything!

[2017-01-25 15:43] #2760 closed

[2017-01-26 06:09] indianajohn opened #2761 "room-scale VR gameplay"
I have an open PR implementing tracked controllers using OpenVR (SteamVR) that looks like it's going to be merged soon, and another that will be made after that one in which some basic room-scale VR gameplay is implemented. The purpose of this issue is to report on that progress and solicit some ideas as to how to proceed. In order to understand some of the stuff that I'm going to be talking about

[2017-01-26 22:36] GabrielXia commented on #2754
Hi I'm new here, can I try this problem ?

[2017-01-27 04:26] Cervator commented on #2754
Heya @GabrielXia :-)

You're welcome to give it a shot, but since this is architecture-centric you may want to try to spend a little time with the engine to understand how the involved concepts interact, like how the entity system itself works. There are some good pages in the wiki here and we have a few tutorials. So start by checking out:

https://github.com/MovingBlocks/Terasology/wiki/Entity-S

[2017-01-27 12:14] Halamix2 opened #2762 "Animated menus can cause issues returning from some screens"
### What you were trying to do
Close credits and see menu
### What actually happened
I see only background
### How to reproduce
* Open Terasology dev 1916
* enable "animated menus" in options
* ~~click "credits"->"back"~~ (fixed)
  * or "singleplayer"->"back"->"singleplayer"
  * or "singleplayer"->"back->"multiplayer" (any other combination should work)
  * or "multiplayer"->"back"->"singleplayer"

[2017-01-27 13:03] smsunarto commented on #2762
Have you tried running from source? Does this problem persist there too?

[2017-01-27 13:34] Halamix2 commented on #2762
The problem is fixed when running form source (I should've checked that before, sorry)

[2017-01-28 05:38] Cervator commented on #2762
Even if it is fine when running from source that could still indicate an issue if it happens consistently when run from binary - we get such bugs on occasion :-)

I just checked with Omega 661 (about a week old) and I could look at the credits then go back without trouble. Could you re-check via binary, see if it happens again? Was the game launched regularly or via the Launcher?

[2017-01-28 11:24] Halamix2 commented on #2762
Problem exists when running dev 1916 from the Launcher, running from "run_linux.sh" works fine

[2017-01-28 14:17] iojw commented on #2762
I'm unable to recreate this on my Windows 10 machine running dev 1916 from the Launcher. Potentially a Linux issue?

[2017-01-28 17:45] smsunarto commented on #2762
It seems to be coming from "Animated Menus" option being enabled. Reproduced successfully on Ubuntu 16.04 LTS

[2017-01-28 17:46] Halamix2 commented on #2762
It seems that "animated menus" option is causing it,
Ways to reproduce with "animated menus" turned on:
* "credits"->"back"
* "singleplayer"->"back"->"singleplayer"

[2017-01-28 17:48] smsunarto commented on #2762
@Halamix2 Please update the *How to reproduce* part of your issue :)

[2017-01-28 21:55] flo opened #2763 "NUI Editor: family node has wrong type"
### What you were trying to do
I tried to give a UILabel in the NUI editor a family attribute with the value "title"
### What actually happened
A family node got added that has no value, but allows for the addition of a layoutInfo node.
### How to reproduce
1. Open the NUI editor. To do so press ESC ingame and then click at the bottom right on "Developer Tools". Then select "NUI Editor Screen".
2.

[2017-01-28 21:56] flo commented on #2763
@rzats: since you made it you probably know a quick fix for this.

[2017-01-28 22:04] flo opened #2764 "NUI Editor: layoutInfo can be added via context menu to a layoutInfo"
### What you were trying to do
I was checking out what options the context menu offers me when I right click a layoutInfo node in the NUI Editor.
### What actually happened
The context menu offered me the option to add a layoutInfo node to a layoutInfo node.
### How to reproduce
1. Open the NUI editor. To do so press ESC ingame and then click at the bottom right on "Developer Tools". Then select "

[2017-01-28 22:05] flo commented on #2763
Probably related bug: https://github.com/MovingBlocks/Terasology/issues/2764

[2017-01-29 02:59] #2577 closed

[2017-01-29 05:15] Cervator opened #2765 "CrashReporter improvements: Full reporting system?"
This is a follow-up to #2577 which was completed by #2584

At this point you can launch the CrashReporter from inside the game without actually having crashed so you can easily access the game logs from the running session. However, this is still a bit awkward and looks funny since the CR was, well, designed specifically to handle crashes. There are some short term possibilities to tidy up the set

[2017-01-29 05:17] Cervator commented on #1402
Update for GSOC 2017 idea entry: Goal here vs #2765 is improving the quality/detail of issues encountered, proactively if possible (better scanning of misconfigured stuff before actually encountering it)

The change to the launcher in https://github.com/MovingBlocks/TerasologyLauncher/pull/392 to also apply in the engine as an improvement would be done via #2765 but be hugely helpful for this issu

[2017-01-29 05:19] Cervator commented on #2577
@iojw I went ahead and split out the optional feature here to https://github.com/MovingBlocks/CrashReporter/issues/35 but also mentioned more in https://github.com/MovingBlocks/Terasology/issues/2765 including stealing your fix from https://github.com/MovingBlocks/TerasologyLauncher/pull/392 - wee!

This issue auto-closed as fixed, which is fine since that way we can keep this as a completed featu

[2017-01-29 08:03] Cervator opened #2766 "Alpha 7 release prep and QA"
We should be able to do an Alpha 7 release soon including all the goodies from GCI.

This issue is meant as a focal point for release preparation efforts.

## Multiplayer Testing

The `Official Event Host` has been updated with [Omega 681](http://jenkins.terasology.org/job/DistroOmega/681/artifact/distros/omega/build/distributions/TerasologyOmega.zip) as the first potential release candidate and i

[2017-01-29 11:24] GabrielXia commented on #2754
Hi @Cervator , thank you for replying me , I just submitted a PR #2767  for this issue, it's my first to work in the open project, thanks for letting me know where I have done wrong or where I could modify.

I want to take part in the GSOC, so now I'm trying to get familiar with Terasology. But It's also super cooooool to join Terasology even if I don't join in GSOC at last  :-)

[2017-01-29 16:32] Malanius commented on #2762
Can confirm this running from source on Ubuntu 16.04 too, but happens not only for the credits but for any animated menu transition for me.
For credits immediately, for Single player and Create game menus always the 3rd animated transition.
Remaining menus (Settings, Join Game) seems unaffected by this. Disabling "Animated Menus" helps.

This started happening after last package updates, which inc

[2017-01-29 20:21] Cervator commented on #2754
Appreciate the work! I left some comments in the PR :-)

Happy to see GSOC students here early, definitely a big factor in landing a successful proposal!

[2017-01-30 01:49] Cervator commented on #2376
Closing as completed by #2759

[2017-01-30 01:49] #2376 closed

[2017-01-30 01:52] Cervator commented on #2753
Sorry for missing the update here - that behavior seems bizarre. That's with NPEs killing the chunk generator threads? I don't know how the engine could keep thinking in that case that more chunks are still being generated :/

Pinging a few people that might be interested or have some ideas: @flo @rzats @oniatus

[2017-01-31 21:24] Halamix2 commented on #2762
The "credits" part should be fixed in #2772, singleplayer/multiplayer part of this bug may be trickier to fix since it occurs only after 3rd transition (and isLowerLayerVisible() is already there)

[2017-01-31 21:44] Halamix2 commented on #2762
Main menu creates SelectGameScreen object, which is responsible for single/multi.
If I'm correct clicking on back button without animated menus deletes this object and MainMenuScreen creates new one.
But with animated menus after clicking back, SelectGameScreen object is not destroyed until it leaves the screen, but in the meantime MainMenuScreen creates another instance of SelectGameScreen. Is it

[2017-02-01 20:26] GabrielXia commented on #2765
Hello !!! @Cervator
I would like to try the short term easy fixes at first. However I have a problem :
I've pulled the code, I checked out in the branch develop. There are two fatal errors as follow :

20:16:49.695 [main] WARN  o.t.engine.internal.TimeBase - Delta too great (9601), capping to 1000

And there are several buttons in game with no text on it. I don't find problems because I haven't an

[2017-02-01 20:41] msteiger commented on #2677
I think that having this Chinese dropdown entry should be fixed/removed asap, because it's broken.

I'd like to add typescript support, if possible. What is the smallest subset of character glyphs? It looks like [the Table of General Standard Chinese Characters](https://en.wikipedia.org/wiki/Table_of_General_Standard_Chinese_Characters) still covers over 8000 glyphs.  Do we need them all? Ping @sm

[2017-02-02 12:21] smsunarto commented on #2677
@msteiger We won't need them all, chinese (Mandarin) doesn't use a system similar to alphabet hence their crazy amount of glpyhs since every word have their own unique glyph. Ideally we should only use the glpyh that is used by the translation. But I'm pretty sure this one should suffice https://en.wikipedia.org/wiki/List_of_Commonly_Used_Characters_in_Modern_Chinese really depends on whether or n

[2017-02-04 20:42] lonihajdari opened #2773 "1"

[2017-02-05 00:39] #2773 closed

[2017-02-05 00:46] Cervator commented on #2677
Here's perhaps an odd thought: should we merge the outstanding languages even without proper font support and just leave them disabled in the drop-down somehow? So we can get the PRs out of the way, keep working on them via Weblate if needed, and focus down to a single effort on better supporting fonts?

[2017-02-05 02:00] Cervator commented on #2765
Heya @GabrielXia :-)

Those are not actually fatal, they are WARNings which indicate a possible problem but not necessarily an error, and most likely not anything at all fatal. Those two in particular have been around for ages.

The first one is an outdated config entry in a UI related file and the second happens any time the game loop ends up putting more than a second of work into a single round

[2017-02-05 02:52] Cervator commented on #2762
Re-opening - only partially fixed (with #2772 merged the credits screen is OK now, single -> back -> single is still not)

[2017-02-05 19:09] Cervator commented on #2740
Catching up with some issues here and there - this reminds me a lot of #2543 which could be used as sample code to implement this. #2543 introduced a text widget variant with a clickable `x` to clear the box, and really this functionality here would call for something similar, just placeholder text that goes away when a user starts typing.

Just would need to a new widget like the other PR and int

[2017-02-05 20:43] Cervator commented on #2687
Interesting details - thanks for all that.

* The railgun (assuming that's what you mean by "block destroying item") will bring any system to its knees if you use it continuously. We need to make its cooldown a bit longer at a minimum. You could possibly break the game by using it enough.
* If you can break blocks in chunks that haven't been made visible yet that's usually either a performance pro

[2017-02-06 02:34] Cervator opened #2774 "World storage / phase improvements"
This issue is to cover a GSOC-level feature [described in more detail in the forum](http://forum.terasology.org/threads/new-conceptual-layer-sector-plus-musings-on-multi-world-node.1420/).

As a quick summary we lack a stage in world generation where you can consider larger scale objects before ever getting into chunks. Stuff like continent-wide trade routes, world or region maps, long rivers, int

[2017-02-06 05:00] Cervator commented on #2576
I'm adding the GSOC label to this item with some ideas on how a GSOC proposal could be done with a focus on preparing the world itself (a bit like DynamicCities), moreso than competitive gameplay since we are still lacking meaningful PVP/combat.

The "big" features I could see become part of a proposal would cover some amount of the below items, details up to application collaboration with mentors

[2017-02-06 06:00] Cervator opened #2775 "Content focus: exploration world"
Another potential content item for GSOC, akin to DynamicCities from 2016.

For GCI 2016 we got several new nifty pieces of content, such as the Dwarf Halls added by @MaxBorsch in [GooeysQuests](https://github.com/Terasology/GooeysQuests) and a bunch of examples of what can be done with the Structure Templates @flo put together, like a mine entrance or a guard tower. @iojw also had neato ruined str

[2017-02-07 09:05] cemsozens opened #2776 "Crash while trying to start a singleplayer game"
### What you were trying to do
I cloned the repo and I am trying to start a new singleplayer game. I added some modules and choose a map. But when I try to start the game it crashes. Is there a way to fix this. I am new to this game. I know there is a longterm support release of the game. But I want to add some new features.
### What actually happened

### How to reproduce

* Step 1
* Step 2
* Ste

[2017-02-07 09:10] cemsozens commented on #2776
Hp 8gb RAM, gtx960, i7 6700. Runs on ubuntu

[2017-02-07 09:29] iojw commented on #2776
Hi @cemsozens, could you upload the logs somewhere and share it here? If you're running it from the terminal you should be able to see the logs there.

[2017-02-07 09:53] cemsozens commented on #2776
hi @iojw. This is the logs you want i believe. http://pastebin.com/0NNu4r8T

[2017-02-07 14:54] jellysnake commented on #2776
Hmm. Can you do me a favour and try and start the game with only the module _Core Content_ enabled and see if that crashes with the same error

[2017-02-07 15:21] cemsozens commented on #2776
Well actually that is another problem that we face. When I chose only core content I cannot choose a world generator.

[2017-02-07 15:43] jellysnake commented on #2776
Assuming you are running from the terminal could you try running gradlew jar and then gradlew game to see if that makes a generator appear?

[2017-02-07 16:06] cemsozens commented on #2776
Oh thank you very much. This fixed it. Now i have one more question: Is it possible for us to make some small changes in the code and then start it with gradlew?

[2017-02-07 16:09] jellysnake commented on #2776
Yup. Just make your changes then run `gradlew jar game`

`jar` makes the game compile and `game` runs it. If you plan on making anything other than the smallest code changes I recommend you install & set up intelliJ to make your life much much easier

[2017-02-07 16:41] #2776 closed

[2017-02-07 20:25] msteiger commented on #2677
Sounds reasonable. I wonder whether it should be in the main project or should live in a module.

[2017-02-08 10:36] smsunarto commented on #2677
@msteiger I'm pretty sure glyph support is an integral part of the system. Im not sure how we can activate a new module outside of the world creation menu too.

[2017-02-08 23:18] Cervator opened #2779 "Best practices for developing advanced blocks + potential new utility"
https://github.com/Terasology/FunnyBlocks/pull/8 got me thinking a bit about how somebody would naturally approach designing new advanced blocks, and made me realize we don't really have any good guidance for it.

Specifically that PR encounters a few issues we've hit before (like for several GCI tasks) and while I get the feeling they are problematic I am not sure how badly so am curious what oth

[2017-02-08 23:22] Cervator commented on #2766
Might also be good to work on some release notes on what's new, especially outside the engine. Although with everything from GCI including ... yikes that'd be a big list. I've tried to keep track in Trello on occasion but it might be worth tracking in a release prep issue like this one

* https://github.com/Terasology/FunnyBlocks/pull/8 - new "trap" type block that breaks after being stepped on

[2017-02-09 04:09] Cervator commented on #2761
I've gone ahead and flagged this for GSOC although this as written is specific to room-scale - I like that the suggestions here could be expanded on in any different and interesting directions :-)

I figure the primary GSOC value here would be developing more appropriate VR UI elements along with some basic gameplay like in the archery example. Noting you as a potential point of contact @indianajo

[2017-02-09 05:58] Cervator opened #2780 "Improve support for integration tests including a headless client"
This is inspired in part by http://forum.terasology.org/threads/the-world-of-varied-and-noteworthy-achievements.1209 but focused more specifically on preparing a new level of integration test.

At present we have a pretty limited amount of *types* of automated testing

* Standard unit tests
* Environment-based tests (start a headless environment to have modules loaded into a context you can test a

[2017-02-09 19:11] GabrielXia commented on #2765
Hey @Cervator, I'm sorry that I still have a problem about `noCrashReporter` command.  Does it mean that we should do at present is just to change the name of `noCrashReporter` command to clarify that the command is only for real crash ?

p.s. Since in PR I've added a new parameter in CrashReporter (to clarify the critical mode or the non-critical mode)  : #2777 and [MovingBlocks/CrashReporter#36]

[2017-02-10 03:39] Cervator opened #2781 "Add an exclusion list for unready languages to the player settings"
This one should be easy!

Not all our supported languages are ready enough to be shown to players - this can happen when we get new languages that need a custom font or somebody requests a new language be set up in Weblate yet it can't be worked on there before we actually add an "empty" language file (which would promptly show up in-game, empty).

I think it might be sensible for us to add the ab

[2017-02-10 05:15] MarkDerosier commented on #2677
To overcome this, we can first move some of the text into icons (a wrench for settings, a globe for language, etc), then use a simpliefied character set. (simplified Chinese vs traditional), and then to really save the space, all text is actually vectors.

Translate our words, load the font up into inkscape, make the labels, then convert font to path.

Now we're just loading a small SVG file inste

[2017-02-10 06:24] smsunarto commented on #2677
@MarkDerosier that would mean that we need to add new glyph every time we change/add new words? I like the text into icons idea tho. CC: @Cervator @msteiger

[2017-02-10 08:11] Cervator commented on #2765
The command line argument for not enabling the CR should just be clarified in documentation, yep.

Terasology's engine + CR can be tested together with branches checked out for both in a single workspace. Did that earlier and your changes worked great :-)

When we make changes like that involving one of our frameworks we usually publish a release then immediately bump the engine's dependency on th

[2017-02-11 21:11] GabrielXia commented on #2677
Hello everyone !! I'm from China, I would like to help in this issue ! I've test in a simply module and it seems that our NUI doesn't Chinese character display. Could you please tell me where could I get start ? Thank you :-)

[2017-02-12 06:36] #2781 closed

[2017-02-12 07:48] Cervator commented on #2677
Heya @GabrielXia and welcome to the glorious mess that internationalization appears destined to become! :D

I just merged your PR #2784 and all outstanding language PRs (closed a couple) *and* pushed to the `weblate` branch to thus update Weblate so you can see language at http://translate.terasology.org/projects/terasology/menu - only you can't see all of them, hmm. In-game the 5 incomplete langu

[2017-02-12 12:04] Malanius commented on #2762
@Halamix2 I don't think the new instance gets deleted. When pressing Escape key on such undisplayed screen, it is shown for a brief time before it is moved away by animation.
I don't know how the menu works yet, but if someone could point me to the animated menus system, I'll try to look at it.

[2017-02-12 17:13] msteiger opened #2786 "Support return values for ThreadManager runnables."
I'm currently digging up the oldest items on my TODO list and that is #1760.

Its attempt was to streamline the different threads/thread pools that exist all over the place. In contrast to the existing ThreadManager, it allowed direct access to the underlying `ExecutorService`. Comparable functionality must be provided so we can migrate existing code to the new system.

Afaics, it is at least nece

[2017-02-12 21:32] VaibhavBajaj commented on #2677
@Cervator This particular problem has me confounded. I don't know exactly how I could help. Could you give me more details on the error? Thanks!

[2017-02-12 21:36] Cervator commented on #2762
Heya @Malanius - any more eyes on the bug would be appreciated! :-)

In IntelliJ it tends to be easy to find stuff. In this case I did `CTRL-N` (class file search) then entered "animat" and spotted a few classes in the `org.terasology.rendering.nui.animation` package. That looks to be a good place to start.

[2017-02-13 01:32] Cervator opened #2787 "Improvements for ping system"
Follow-up to #2768 - an improvement is desired to where the server pings all connected clients both for health-check type functionality and so that information can be provided to clients to show a ping overlay for each player (holding down `tab` in a multiplayer session)

Should be done without excessive connection usage and disposal, as indicated in #2768

There is also a small side-issue where a

[2017-02-13 02:08] Cervator commented on #2677
Which error? :D I described several problems, hehe.

Weblate might just need some system administrator review to find out why it isn't showing everything at the latest level. When it is translation for anything remaining should be easy.

Adding support for more fonts is beyond me, hoping @msteiger can help out there as well as others able to research some of his initial findings. I don't know how

[2017-02-13 03:38] Cervator commented on #2734
Closing in favor of #2677 to get full font support. The actual Korean translation has been merged ... it just doesn't quite work yet, alas :-)

[2017-02-13 03:38] #2734 closed

[2017-02-13 15:54] rzats commented on #2763
(Should have been closed by #2270, but wasn't - closing manually)

[2017-02-13 15:54] #2763 closed

[2017-02-13 15:54] rzats commented on #2764
(Should have been closed by #2270, but wasn't - closing manually)

[2017-02-13 15:54] #2764 closed

[2017-02-13 19:37] GabrielXia commented on #2787
Hey, could you please tell me how to test the code as a server in this case :-)

[2017-02-13 22:44] GabrielXia commented on #2385
Hey, since I'll be out for days, note something here, hope it helpful for others who want to fix this bug. Here is the TimeLine before game began :
1. Class `LoadPrefabs`
    - `main` registered some blocks like `Core:DoorTop.LEFT`
2. Class `InitialiseWorld` :
    - **`chunkGenerator` initialized, but these threads didn't work since there were no task in `taskQueue`**
    - `main` registered block

[2017-02-13 23:12] Cervator commented on #2787
Sure. server-client just means you run two instances of the game and host the server with one of them (start a multiplayer game). That instance has both has a server and a client, and if that client tries the command the mentioned weirdness gets logged to the game console.

[2017-02-15 03:18] Cervator opened #2788 "Goodie chest broken and held torches no longer spread light"
I just noticed the goodie chest you start in with CoreSampleGameplay is empty, while it used to have a bunch of stuff in it, including a nested chest with even more stuff.

Probably we broke something relatively simple, but being able to spawn with stuff is pretty central so I'd like to make sure we find a fix for this before releasing Alpha 7.

Can anybody else confirm the bug any maybe dig into

[2017-02-15 14:44] zeokav opened #2790 "Game not loading anymore - Display problem apparently."
### What you were trying to do
Run the game after building it from the new source.

### What actually happened
Game builds with no errors (Except that CrashReporter class does not exist, which I commented out), splash screen starts up fine, but towards the end of loading, the game crashes. Last message logged is -
20:06:27.921 [main] INFO  o.t.e.subsystem.lwjgl.LwjglGraphics - Initializing display

[2017-02-15 23:14] jellysnake commented on #2790
Hmm, so I'm not being able to reproduce this.
Can you try undoing your CrashReporter changes and running gradlew idea before attempting to build?

[2017-02-15 23:19] emanuele3d commented on #2790
It's certainly unusual to see a problem of this kind on a system with such a modern graphics card. I hope it won't be the start of a trend.

[2017-02-16 02:10] Cervator commented on #2790
Try upgrading the driver again. A new one with including a hotfix that previously left MC broken was released *today* - so even two days old could be a problem :D

Other than that we're doing a fair bit of shuffling around in rendering land, it may take a few more releases before we switch from moving fast and breaking things to truly stabilizing again :-)

[2017-02-16 12:24] zeokav commented on #2790
Alright, clean installing the newest driver did it for me. It was a problem with NVidia's 378.49 drivers then, I'm guessing.
Yay nothing's broken!

[2017-02-16 13:12] emanuele3d commented on #2790
Pheeew. :relieved:

[2017-02-16 17:26] Malanius commented on #2790
Had the same issue. It was really caused by nVidia drivers, waited for the newer one, as this is not the first time nVidia drivers broken something badly...

[2017-02-16 17:32] Malanius commented on #2762
So finally, nVidia released new driver so I could test it on W10 also.
I can confirm that this issue is present on W10 too.

[2017-02-17 01:51] SoniEx2 opened #2791 "Remove guava from whitelist"
From: https://github.com/google/guava#important-warnings

"Our classes are not designed to protect against a malicious caller. You should not use them for communication between trusted and untrusted code."

I believe the sandbox should be reworked to allow the engine to use a separate guava from the module system, and then have a "guava" module that other modules can depend on.

Do not expose guav

[2017-02-17 06:55] Cervator commented on #2791
Consider me skeptical on this one, but maybe @engiValk would have a bit of fun looking at it.

I kinda get the feeling Guava just doesn't want to bother certifying itself safe vs just dlsclaiming "use at your own risk" - would be more interesting if there were any actual attack vector type examples.

[2017-02-17 07:01] Cervator commented on #2790
Kinda glad I didn't update! Saw the news about the MC breakage + hot fix and was waiting to see this one released.

Closing as "fixed" - huzzah!

[2017-02-17 07:01] #2790 closed

[2017-02-17 07:33] immortius commented on #2791
Certainly having libraries in modules or as modules is something I've been thinking about a bit. No work has been done in this area yet though, and thought is particularly needed around potential version conflicts and the... wide variation in how version numbers and api compatibility are treated by different library developers. And other considerations.

To expand on the warning for everyone, it i

[2017-02-17 13:39] SoniEx2 commented on #2791
To solve versioning issues is pretty easy: get a backwardsCompatible array.

`{"backwardsCompatible": ["1.1", "1.2", "2.0"], "version": "3.0"}`

(No idea if that's proper JSON)

[2017-02-17 15:28] SoniEx2 commented on #2791
Imagine we get internet, and the internet whitelist is exposed through guava's unmodifiable stuff. Then suddenly malicious code somehow modifies that whitelist and gets access to someone's i2p console. That'd be bad.

[2017-02-17 18:47] TheOddDolphin commented on #2716
@smsunarto Sorry about the delay in my reply, but I just managed to update my own fork and corresponding local clone to check if the problem still persists and unfortunately it does. Issue #2585 has a probable solution, but the thread seems to be stale, last updated in November last year.

[2017-02-18 15:09] mahmut2746 opened #2792 "b"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-02-19 06:38] #2792 closed

[2017-02-19 20:16] zeokav commented on #2557
Aye @Cervator ! I got back to trying to get this to work without having to give an ImpulseEvent every time. But I kinda need an explanation on why my approach doesn't work. Here's what I put in -

[code]

However... Nothing happens when I do this. Why isn't it registering the event?

[2017-02-20 22:01] emanuele3d opened #2795 "Renderer Visual Debugger Overhaul"
Terasology uses a deferred renderer: each frame it renders a number of separate layers (stored in FBO attachments) which are combined to produce the image seen on the display. Existing bugs or newly introduced bugs affecting the rendered will tend to negatively affect its visual output: from small artifacts to issues affecting the whole picture, i.e. a blank screen.

An important aspect of debuggi

[2017-02-21 07:07] Cervator commented on #2557
Ideally we could drag in @portokaliu or maybe @pollend on some ideas on physics/movement stuff since they've had some exposure there. Maybe @SkySom or @rzats too :-)

Feel free to push a sample branch to your fork any time, makes testing out things easier.

[2017-02-21 20:36] emanuele3d opened #2796 "Verify if RenderingPipelineTask implementations can be private classes within State Changes"
It appears most RPT implementations are strictly related to -one- StateChange implementation and viceversa. Given that RPTs should be instantiated only through the StateChange.generateTask() method, making them private classes within the associated StateChange implementation might be an easy way to enforce that.

For those RPTs where the relationship is not a strict 1:1 with a StateChange, we shou

[2017-02-21 20:37] emanuele3d commented on #2796
Tagging @tdgunes for feedback.

[2017-02-22 06:36] Cervator opened #2797 "Refactor Camera to be Component based"
One of our GSOC items and a long standing desired feature. Rather than having a hard coded camera attached to the player let *any* arbitrary entity hold a CameraComponent so a camera viewpoint can be sourced from it (imagine a security camera and a monitor block that can show the view from said security camera)

May have API impact but @emanuele3d would be the expert there :-)

Maybe related: #127

[2017-02-23 00:26] smsunarto commented on #2695
Closing since it's now already added.

[2017-02-23 00:26] #2695 closed

[2017-02-23 16:26] Cervator commented on #2780
@skaldarnar dug up another interesting blog entry for the related topic: https://engineering.riotgames.com/news/automated-testing-league-legends

[2017-02-24 04:44] Cervator opened #2800 "Subtle rendering issue introduced by #2794 - billboard floating position off"
Took me testing two additional PRs after #2794 to notice this sneaky issue: the position a billboard is rendered at seems off based on how the player is moving. I found two ways in which it is exhibited (may be more):

1. When breaking a billboard plant while the player is moving toward and nearly has crossed into the blockspace holding the plant the breaking effect can weirdly float off to the si

[2017-02-24 20:35] emanuele3d commented on #2800
I managed to reproduce it. Investigating.

[2017-02-25 10:00] zeokav commented on #2797
Hi @Cervator ! The idea of having a separate camera component seems interesting. (Didn't know there was just one fixed camera :o)
I'm going to try my hand at GSoC this time, and would like to work on something that visibly affects the game. Is there somewhere I can start looking to have a better understanding of the code-base and help with this already? Starting slightly early will help me write a

[2017-02-25 10:14] skaldarnar commented on #2797
While trying out my new GPU w/ recording the last day I noticed that the player's hand/held item is out of sync when using a smooth camera mode and high speed multiplier. Maybe you can look into that to get your hands on the rendering/camera topics.

[2017-02-25 23:23] #2800 closed

[2017-02-26 01:01] Cervator commented on #2797
@zeokav very cool to hear about GSOC potential! Yes getting an early start is great and a huge advantage as selection is likely to be competitive.

Other than the few links I added in I'm unsure about deeper technical details. I know @emanuele3d would know some stuff, as likely would @immortius and certainly @begla if he were to coincidentally fly by one of these days :-)

[2017-02-26 23:48] emanuele3d commented on #2797
@zeokav: I confirm I'd be available for some support/mentoring for this project.

On top of what Cervator already said I'd like to give you a glimpse of the goal.

Generally speaking in an architecture based on an Entity System (ES) components are pretty dumb and it is systems where all the magic happens: systems get the data from components and if necessary update the data on those components.

R

[2017-02-27 06:01] zeokav commented on #2797
@emanuele3d Alright, thanks! I had read up on the Entity-Component system before but I absolutely had no idea about how the cameras worked. Okay then, I'll go through the camera code and see what I can gather. In case I need some things cleared, I'll contact you. :)

[2017-02-27 12:05] rzats opened #2802 "java.lang.RuntimeException: Can not initialize graphics device"
Report from IRC (koolestest). This is similar to the crashes on Intel HD 4000 and other older hardware, but apparently the user uses a GTX 760 with proprietary Nvidia drivers which should be able to run the game just fine - plus the crash isn't silent, with the log pointing to an internal LWJGL error.

http://pastebin.com/FTkk9BH4

Relevant snippets:
[code]
...
[code]

@Cervator @emanuele3d ping!

[2017-02-27 13:25] skaldarnar commented on #2802
A quick search reveals several reports with that error (some related to running Minecraft):

* http://stackoverflow.com/questions/28867285/lwjgl-reports-that-opengl-is-not-supported-on-a-modern-nvidia-card
* http://askubuntu.com/questions/663486/nvidia-drivers-cause-minecraft-to-crash
* http://www.minecraftforum.net/forums/support/unmodified-minecraft-client/2607982-launcher-crash-report-trying-to

[2017-02-27 21:46] emanuele3d commented on #2802
Interesting. The only two lines in LWJGLGraphics that can generate that error in the log are

`Display.setTitle("Terasology" + " | " + "Alpha");`

and

`Display.setVSyncEnabled(config.isVSync());`

Any other issue arising between those lines would have generated additional warnings in the log. Either ways, it seems out of our hands: the Display class is provided by LWJGL and the LWJGLexception bei

[2017-02-28 15:46] TheOddDolphin commented on #2716
Just wanted to let you guys know that I'm going to be taking a look at this issue. Hopefully, I'll be able to come up with a satisfactory solution.

[2017-03-01 05:46] #2607 closed

[2017-03-01 06:31] zeokav commented on #2797
Hi @emanuele3d ! I went through the code a bit more to understand more about how the entity-component-system is set up (Not only for the Camera, but everything else as well), and I was trying to keep things analogous to the input system, because that's something I've already worked with. However, I don't know if this is right : the player is the entity, and the input system is both the component a

[2017-03-01 07:25] sanketmarkan commented on #2795
Hi @emanuele3d, I am interested in trying my hands on this project this summer. Can you suggest me where I can start looking to have a better understanding of the code-base and help with this already?

[2017-03-01 10:09] emanuele3d commented on #2795
Hi @sanketmarkan, thank you for your interest in this aspect.

My recommendation is to start from the WorldRenderer interface and in particular the WorldRendererImpl class: that's the entry point of the rendering system.

If you look into WorldRendererImpl.initRenderGraph() you'll see a long list of nodes being added. The existing Debug system plugs into the FinalPostProcessingNode but I assume it

[2017-03-01 10:50] emanuele3d commented on #2797
Hi @zeokav. Some logistics first: I'm in the GMT+1 timezone. So, if I do not reply as quickly as we'd both like that might be the reason. And no worries about newbie questions: we were all newbies at some points and on many accounts I still am. :stuck_out_tongue:

Regarding the InputSystem: unfortunately I'm not familiar with it. I doubt it is both a component and a system. Why did you come to tha

[2017-03-01 14:26] zeokav commented on #2797
Hi @emanuele3d . It's alright, haha! I appreciate the fact that you are taking some time off for this. Non immediate replies are not a problem at all.
About the third bullet... That was the newbie question I was referring to. Might be a mistake in my understanding of the whole ECS paradigm.
It was, in fact, a question regarding the behavior of the camera system in case of multiple cameras in the s

[2017-03-01 17:51] Malanius commented on #2802
Might be related to #2790  I had same error caused by nVidia drivers. After the last update, everything is fine.

[2017-03-01 21:21] GabrielXia commented on #2765
Heya !! @Cervator
I searched a little about some potential ticket systems, like [RT](https://github.com/bestpractical/rt), [OTRS](https://github.com/OTRS/otrs), [helpy](https://github.com/helpyio/helpy) and [osTicket](https://github.com/osTicket/osTicket). I haven't tried them all yet, maybe later :D

A few questions :

- What might be the factors to choose the best frame ?
- Since we have already

[2017-03-01 23:01] GabrielXia commented on #2554
Hey does controller here means something like XBOX controller ? If so, how could we test without test without a XBOX ?

[2017-03-02 05:24] TheOddDolphin commented on #2576
Wow, this is incredible!

Would a possible implementation be single-player and take a significant number of hours to complete fully, like an RPG, or involve a group of players each picking a side and playing out an entire campaign over a couple of hours?

Central goals and a bunch of side quests sounds like it leans a little towards the former, but the CTF part of the mode, as well as the comparis

[2017-03-03 06:14] Cervator commented on #2802
Last update of the *driver* or *Terasology* ? :-)

Just to be sure. Yeah there was a "bad" recent nvidia driver package (#2790)

[2017-03-03 06:19] Cervator commented on #2765
Best "frame"?

I don't think we need another standalone ticket system just to have one. It would have to be very specifically for linking to automated reports (and potentially then to one or more associated GitHub issues). Really more of a reporting & telemetry organizing system rather than an issue tracker, ideally with direct association to our existing issue tracker.

In other words the new sys

[2017-03-03 06:21] Cervator commented on #2554
Yep like an Xbox controller, but *any* USB / bluetooth controller, connected to your PC. Don't need an Xbox but yes you do need some sort of controller to be able to work this :-)

[2017-03-03 06:25] Cervator commented on #2576
Personally I'd lean toward the short multiplayer sessions, but incrementally approaching it first through single player features is fine :-)

When I think about the side quests they're distinctly there to further the primary cause of somehow beating the other side. Maybe there are some snippets of involved lore but that discovery isn't primary to the gameplay.

That's in my mind though - a large p

[2017-03-03 16:32] nihal111 commented on #2766
I had created the doc containing everything that was done in GCI apart from PRs and issues that can easily be tracked. [Here](https://docs.google.com/document/d/1hHpthirUmtJbCIrAZ5FVqVtz_dzGEGl_oXkvjDwjhYE/edit?usp=sharing) it is :smile:

[2017-03-04 05:05] Cervator commented on #2614
Linking this to a comment @nihal111 made over at https://github.com/MovingBlocks/Terasology/pull/2550#issuecomment-283933830 - we still need to make this more visible, harden it further, and support multiple saves if desired yep :-)

[2017-03-04 18:37] Cervator opened #2804 "Oddities with lighting from held objects (held torches yield no light)"
This may be two separate issues but they are so similar I wanted to document both in one issue for now.

1) Held torches yield no light for the immediate surroundings, while thrown or placed torches (blocks) light up stuff as expected

![2017-03-04 13_03_00-terasology _ alpha](https://cloud.githubusercontent.com/assets/1063833/23581040/f1391ce0-00da-11e7-8c54-adbab8bffb20.png)

2) Some items when

[2017-03-04 19:07] xrtariq2594 commented on #2766
Yep, that's a known issue. I tried resolving that in some personal repos, but no luck. The files in question involved are: CraftingStationWindow, CraftingStationWindowSystem, and CraftingStationUpgraded.

[2017-03-04 19:11] xrtariq2594 commented on #2766
Sure! Go right ahead. Though, please open up a separate server for that, just in case something goes awry.

[2017-03-04 20:59] nihal111 commented on #2788
Leaving a comment here just in case this isn't immediately worked on-
This commit breaks it- https://github.com/MovingBlocks/Terasology/commit/dd45f8e96fd44e0fb48ff27471aa5a83402419d1 (PR #2672 )
Also related to #2804

[2017-03-04 21:26] dkambersky commented on #2590
Still happening - happened today during the Alpha 7 prep playtest.

Happened thrice to me right after using hjump to launch myself into the sky, all three in quick succession. Then it happened once when I respawned about 100 blocks away - only thing I noticed was half the world wasn't rendered when the crash happened, but that's pretty standard when respawning.

Weirdly enough, at least if the log

[2017-03-04 22:28] GabrielXia commented on #2385
[code]

Is that the same bug ?  Encountered that in Heightmap world with the Sample module enabled. After that, game got stuck in the game loading interface(not crash, so no CR appeared).

[2017-03-05 02:11] Cervator commented on #2385
That does look pretty similar, yeah. Block registration still going *after* the crash.

I missed the earlier comment but after the complexities of this situation have kept piling up I wonder if it is a fix better saved for when we expand the stages between the main menu and appearing in-game.

Right now possibly too much stuff is happening at once - registration jumbled in with chunk generator thr

[2017-03-05 05:29] Cervator commented on #2788
Thanks a bunch @nihal111 ! I submitted and will merge PR #2806 to fix this and the held torch not casting light (split back out from #2804)

[2017-03-05 05:35] Cervator commented on #2605
Re-opening this as reverted by #2806 - see it for details. In short this ended up causing some other problems, although it still may be a viable fix. The Components filtered *may* just need some adjustment, but it will need some more thorough testing to make sure it is a clean fix :-)

May also be of interest to @iojw or even @xrtariq2594 since it is about networking and may somewhat relate to sim

[2017-03-05 05:39] #2788 closed

[2017-03-05 05:48] Cervator commented on #2605
Screenie to help explain the issue for those having a hard time visualizing it (like me at first):

![2017-03-05 00_14_01-terasology - c__dev_terasology_git_terasology - engine - _engine_src_main](https://cloud.githubusercontent.com/assets/1063833/23584915/6aff6874-013d-11e7-8ce7-6056d97e56ca.png)

[2017-03-05 06:26] Cervator commented on #2766
Another useful play test today and thanks to @nihal111 we got the one outstanding blocker fixed!

Talked to @xrtariq2594 about NeoTTA and will probably hold on just a bit with merging the new effects system if I'm able to build the Alpha 7 release tomorrow. Omega 681 is on the event server now as a potential release candidate.

Talked to @emanuele3d about some best practices for artwork as the app

[2017-03-05 06:56] zeokav commented on #1126
@emanuele3d I went through this and it looks like the CTS is used to figure out what the mouse's position was when a button was clicked. Basically the code that updates bind state uses the targetSystem-
[code]

I logged all the targetSystem values and turns out that no matter where I click or what I do on the main screen, the values are the same (Everything zero).
What I'm thinking for a workaroun

[2017-03-05 10:04] arpan98 commented on #2740
Having worked on #2543 , I could work on this as well and it shouldn't be too difficult.

[2017-03-05 12:15] emanuele3d commented on #1126
@zeokav: stand-by for more feedback tonight. Right now I have to prep lunch for my family.

Tagging @rzats as he's one of our UI wizard and perhaps he can provide some comments on the matter.

[2017-03-05 13:32] Tropid commented on #2605
That was some time ago, but as far as I remember this is what I did:

Previous State:

* An entity which can be picked up will be added to the inventory of the player
* Depending on whether it is selected in the toolbar it will be shown or hidden by adding/removing the MeshComponent (not quite sure, maybe it's also the RenderComponent)
* Somehow the location component was removed on the clients (o

[2017-03-05 15:43] avikantz opened #2807 "Fullscreen rendering issues on macOS"
### What you were trying to do

Play the game on fullscreen mode.

### What actually happened

The game entered full screen with output in a small frame, channels occupying separate layers.

![screen shot 2017-03-05 at 9 04 36 pm](https://cloud.githubusercontent.com/assets/7699509/23588724/afdc56a0-01e7-11e7-9b22-939a2238cc08.jpg)
![screen shot 2017-03-05 at 8 41 33 pm](https://cloud.githubusercon

[2017-03-05 16:26] benneti commented on #2615
Can confirm that its not your card, I have the same problem on amdgpu + RX480.
Would it help if I get my logs, too?

[2017-03-05 20:49] Cervator commented on #2807
Hi @avikantz and thanks for the detailed report!

This is a known issue with multiple previous reports and related problems surrounding fullscreen / resizing, such as #2744, #2659, #2591, #2532, #2528, #2490, #1747 .. wow they have really built up. I think I'll start closing new reports as duplicates since we have pretty good coverage from existing issues (some of which we should probably close as

[2017-03-05 20:49] #2807 closed

[2017-03-05 21:25] Cervator commented on #2615
Heya @benneti - it wouldn't hurt to have more logs, would appreciate it, even if it might end up being the same thing. More knowledge and confirmation is a good thing :-)

[2017-03-05 22:09] emanuele3d commented on #2807
@avikantz: I confirm what cervator has said: I'm aware of the issue and I am proceeding toward fixing it but there are a number of steps to be taken before I can get there. Bear with us!

[2017-03-05 23:52] emanuele3d commented on #1126
I haven't found the time to look at the code today and I'm not quite sure what you are saying here.

1. are you saying that the target system is used to keep track of the mouse on the screen for UI purposes?
2. but then you are saying that it actually doesn't do anything?

Somehow I feel the target system make sense in a 3D context. In a 2D UI it feels a bit overkill conceptually. Or perhaps there

[2017-03-06 05:16] ThompsonTyler commented on #2551
Hey, currently planning on sending in an application for GSOC and wanted to see if I could address an issue along with my introduction to the forums. This issue seems interesting enough and after looking into the code and with some interaction so far seems to point towards the code currently being setup based on the only possibility of 1 key attached to an input and seems that the way to implement

[2017-03-06 05:55] Cervator commented on #2551
Sounds like you've both picked a good issue to try and already have a nice grasp of the related code! I don't have a lot of feedback or ideas above what's already in the issues, although I'm always up for a bit of brainstorming on IRC, as are others. Depends on who is around, time zones and all. You could also start a PR for further discussion there, just mark it as not for merging yet until happy

[2017-03-06 06:05] zeokav commented on #1126
@emanuele3d I'm not saying that it does not do anything. Actually, that's what I'm unsure of. The updateBindState method is called when an input action takes place. And you're right - in a 2D context, the values of the arguments targetSystem.getTarget(), targetSystem.getTargetBlockPosition(), targetSystem.getHitPosition(), targetSystem.getHitNormal() remains the same regardless of where you give t

[2017-03-06 06:14] Cervator commented on #2605
Thanks for the response @Tropid ! I was wondering if switching to a blacklist might help, just didn't have the time to try it out. Would be happy to see a follow-up PR :-)

[2017-03-06 09:05] DPirate commented on #1710
How about casting rays from the player and then entering the tagged blocks to render stack ? Also could you point me to where in code-base can i look into for this issue and global illumination.

It will be great if you could brief me about how global illumination is implemented in terasology.

[2017-03-06 14:04] benneti commented on #2615
[pastebin](http://pastebin.com/4GyaEbGc) this is what happens in the terminal... Is there a logfile, too?
I also just noticed, that it might be a problem related to the (steam) controller enabled.
I use SC Controller ([github link](https://github.com/kozec/sc-controller)) and when I disable the Controller (do not start the userspace driver the game launches without an issue) but with the Controlle

[2017-03-06 17:54] Cesionaut commented on #2615
Looks to be a different issue to me. I don't have a steam controller, and it appears that yours crashes much later in the process.

By the way, my issue still occurs, with the latest mesa and everything.

[2017-03-06 20:43] benneti commented on #2615
OK, I should probably open a new issue.
Strange thing is I think for the graphics part I should have a very similar setup to yours, as I am on arch, too. And the only thing wich is different from the repos is my kernel

[2017-03-06 21:12] 0shine0 commented on #2762
One more thing to note is that when we click "singlePlayer" or "multiPlayer" for very first time, the buttons of next screen appear without sliding animation. After that when we go back and then click again the actual bug starts that is mentioned in this issue.

[2017-03-06 22:47] emanuele3d commented on #1710
@DPirate: thank you for your interest in this issue.

Regarding casting rays from the player: can you elaborate? Consider that at the stage we are talking about, the chunks (1 chunk = 32x64x32 blocks, 1 block = 1 cubic meter) are not in memory yet, apart probably from those immediately around the player. So, what would you cast the ray against?

In any case, a good starting point on this is the Re

[2017-03-07 01:38] ThompsonTyler commented on #2551
Did a lot more research into the code today and at least at my level of programming and knowledge of the code base, I can't really think of a way to implement this with out completely re-hauling the inputs as currently they are fairly hard-coded to key presses(so can't trick it into 2 key presses) and all the bindings and what not being very reliant on those single key presses. Basically to my kno

[2017-03-07 02:35] DPirate commented on #1710
@emanuele3d  Thanks for the reply , I was thinking of loading a basic skeleton of the whole chunk in the memory(is that possible? How does world generation works? ),no need to render yet i guess, so that we know what kind of block the ray encounters while traversing. As for the number of rays, that needs to be experimented.

[2017-03-07 05:11] Cervator opened #2813 "Let game console "redial" ignore duplicated repeated commands"
**Current situation**: if you enter `give stone` once then `give dirt` 10 times in the game console (`F1` or `grave` / `~` key key) you need to `up arrow` 11 times before you'll get `give stone` from the console history again.

**Desired situation**: console history ignores successive identical commands (and also always ignores entirely empty commands)

**See**: `ConsoleImpl.java` for some of the

[2017-03-07 05:52] bhi5hmaraj commented on #2813
Hi , I'm Bhishmaraj Computer Science Undergrad . I'm new to the open source community and I'm interested in fixing this bug . I have already cloned the project from GitHub and built it using gradlew and tried playing it . Can you please help get getting started to fix this bug.

[2017-03-07 05:56] Cervator commented on #2615
Very interesting interaction problem. Might be tricky to replicate elsewhere (know anybody else with Arch and a Steam Controller?), but it would be good to document separately. Appreciate the info - if you're curious to dig deeper we'd be happy to have more yet :-)

[2017-03-07 06:01] ThompsonTyler commented on #2813
You will probably want to check out `UICommandEntry.java` for the "redialing" and then setup the command history to work as desired.

[2017-03-07 06:13] bhi5hmaraj commented on #2813
Thanks , I'll try to fix this

[2017-03-07 07:07] Cervator commented on #2551
Thank you for the research @ThompsonTyler - I've removed the Bite-sized label as it does sound like this would take a fair bit more work. Much appreciated :-)

This communication is fine! As is IRC. Yeah we'll find something there. Pop on any time you can and see when somebody is around, I'm about to head off for the day myself now.

[2017-03-07 09:27] emanuele3d commented on #2813
@bhi5hmaraj: it appears vampcat has already tackled this successfully?

If so @vampcat, please be aware of other people who already offered to work on issues. We are a community and one of the things we try to do is to be considerate with each other.

[2017-03-07 10:28] emanuele3d commented on #1710
@DPirate: implied in the idea of using Occlusion Queries is the idea of using low-res chunks to see if they are visible. Given that a chunk is box-shaped the simplest low-res representation of a chunk is its bounding box: I'd do tests against that.

World generation from a world creator perspective is detailed [here](https://github.com/Terasology/TutorialWorldGeneration/wiki). However, we don't ha

[2017-03-07 12:07] vampcat commented on #2813
Ah, I'm sorry. Cervator offered up the task on IRC as soon as it was added, and I completed the task at that time. I thought I commited too, but apparently GitHub Desktop thought otherwise.. so the late commit. bhi4hmaraj had not started at that time. Either way, I'll make a comment next time before starting.

[2017-03-07 21:03] emanuele3d commented on #1126
Personally my problem with the CTS used this way is that it implies a Camera, and while we could argue that OpenGL always see things through a Camera, even when dealing with 2d things, in the context of Menus it's a bit of a stretch and makes the code less clear.

In this context I'd like the idea of a separate InputSystem for menus that doesn't use the CTS, especially given that it seems the CTS

[2017-03-08 00:45] DPirate commented on #1710
Since its(the raycasting) just to check visibility, I think all we need for chunk representation : position(coords) and Opacity(opaque(dirt) , non-opaque ( fences , glasses , flowers etc)),  need to find where to get that data from.
The ray source can be at the camera position.

If you could recommend any study material for GPU-side computing it will be great and if I can take this up as a GSOC pr

[2017-03-08 06:12] Cervator commented on #2813
Yeah I probably caused this one, as I realized moments after I advertised the new issue on IRC with several students active + it being the very first issue listed while other students are surfing our issue tracker ... :D

But yep if coding starts please note on the issue :-)

[2017-03-08 06:20] #2762 closed

[2017-03-08 08:13] vampcat commented on #2813
Aye aye cap'n.

[2017-03-08 13:50] benneti commented on #2615
I can try it on my laptop, too. But I am kinda busy right now, I think in two weeks it should not be a problem to try a few different things and create a new issue with more details. :)

[2017-03-08 15:00] emanuele3d commented on #1710
Let me reiterate/clarify because I might have miscommunicated something:

- Currently chunks are first _listed for loading_ depending on the position of the player and the ViewDistance setting: we don't want to load the whole universe, right?
- Then they are either loaded from disk or rasterized - either ways _only then_ you get per-block information.

What we are discussing here is how to prevent

[2017-03-08 17:14] DPirate commented on #1710
Yes my bad, I did get a hint about it while having a look at the source code(i got pretty lost) , but i still cannot figure out how chunks are selected for loading purposes (I know  viewDistance and playerposition affects it). Is it like ViewDistance creates a big box which then gets divided into chunks? If yes,
1. possible ViewDistance configs, is it relevant ?
2. division starts from where and h

[2017-03-08 17:57] ThompsonTyler commented on #2551
Just wanted to send an update, I think I have figured out at least one method of approach to implementing this, going to try about implementing it and test to see if it results in breaking everything or not to see if it is even a viable approach(The classes that are touched seems to build up very quickly).

I did have one question though, will look for you/rzats in the IRC in the meantime, but how

[2017-03-08 18:16] 0shine0 commented on #2429
The problem was that all the variables of PreviewWorldScreen that had an @In above them were set to null because the screen was created every Details button was clicked.
It does not tackle issue #2509
Maybe you can test it for all test cases.
Gonna post a pr. Will link to it here

[2017-03-08 19:01] OvermindDL1 commented on #1710
For note, in another block engine I've used, Occlusion queries ended up being more costly that other methods, the other methods being if a renderableChunk was 'solid' on all its edges (16x16x16 blocks though it is) then doing a simple comparison from there.  Later on other methods for having a cache of rays through a chunk of open areas to determine if the far face was occluded or not and updated

[2017-03-08 23:37] emanuele3d commented on #1710
@OvermindDL1: yes, occlusion queries must be implemented carefully and their performance must be verified to avoid doing more damage than good. That been said, let's remember that often occlusion queries are used to avoid _rendering_ more complex objects, which indeed requires a delicate cost/benefit analyses. In our case they would be used not only to avoid rendering chunks but also to avoid load

[2017-03-09 07:52] DPirate commented on #2744
This maybe of some interest, it happened when I switched between windowed to fullscreen and then increased resolution parameter. While the 1 and 2 screen were responsive to player movements ,3 one remained frozen. Different FBOs perhaps?

![1](https://cloud.githubusercontent.com/assets/24975118/23740655/95f9eab4-04ca-11e7-9a4f-436a3fbf69cb.png)

[2017-03-09 08:35] DPirate commented on #1710
If we can tweak WorldGenerators and get just position opacity of blocks-
Then we simply proceed by loading the default chunk with player in it (playerChunk) then traversing the rest and see which all chunks have been reached by rays( each chunk will have only one face towards player)
If not -
Say we have loaded the basic playerChunk(chunk with player inside it ) now I have all the info of blocks i

[2017-03-09 14:21] emanuele3d commented on #1710
It wouldn't be a tweak, it would be a significant change. You need to study more what's under the hood of world generation before you can make an assessment of this kind.

Chunks, like blocks, are always axis-aligned. Depending on the relative position of the player a chunk's bounding box will have at least 1 and at most 3 faces toward the player - take a box, rotate it in front of your eyes and y

[2017-03-09 14:39] emanuele3d commented on #2744
Rendering 3 (looks like ambient occlusions) most likely happens on a separate FBO.
1 and 2 -may- happen on separate FBOs but... it's complicated.

The very next thing on my todolist is to work on WorldRendererImpl.initRenderGraph() to make it more explicit, so that it's easy(er) to see which render node use which FBO.

After that I plan to change FBO management: right now FBO resizing/regeneration

[2017-03-09 20:31] zeokav commented on #1126
@emanuele3d The task didn't look like it was going to be so deeply rooted when I first saw it (Quite a few other places where it's being used). I'll try to implement a separate InputSystem for the menus by this weekend. If I can't come up with a viable solution, I'll move on the some other issues that deal with rendering. (It'd be nice if I could find something at an entry level difficulty :p)
It'

[2017-03-09 22:14] emanuele3d commented on #1126
Good luck. Meanwhile I'll see if I can line up some stars to get a reviewer that is familiar with that code.

[2017-03-10 06:31] EmpireWorld opened #2817 "Why you don't using Unity?"
I want to know why you are not using Unity?

Unity has cross platform support with many assets and also nice graphics.

But you currently using Java.

[2017-03-10 07:34] oniatus commented on #2817
Terasology started as tech-demo, written in Java and has been continued as Java project. The advantage of this decision is the availability of the large Java ecosystem with libraries, build support and large developer base. Also, as minecraft modding is popular in Java, modders may be able to port their ideas more easy if interested. It also gives the opportunity to support other jvm languages lik

[2017-03-10 07:47] EmpireWorld commented on #2817
You can easily run java in unity this is not a good reason.
And second one, unity has very large ecosystem like java,
And you can run .jar files inside your mods folder using unity.

[2017-03-10 08:28] oniatus commented on #2817
Sure, but it is not like a decision between two options :)

The project selected a java base with lwjgl2 for rendering (maybe target to be upgraded for lwjgl3 or libgdx #2099) long before I entered the project. The entire engine with the asset system, entity system, networking, ... is all based on Java frameworks or own implementations. Therefore the core framework itself is an engine for games, m

[2017-03-10 08:31] EmpireWorld commented on #2817
I don't forced you to use unity i just recommend it.
I wish a successful attempt for you and your whole team.
you are free to select.

All the bests.

[2017-03-10 08:31] #2817 closed

[2017-03-10 09:19] MarcinSc commented on #2817
Unity doesn't scale well with the number of entities. You can find many posts about its failures on larger scale games. Here is a post from one of the Unity's authors on the topic:
https://blogs.unity3d.com/2015/12/23/1k-update-calls/

To solve this problem (and others), they recommend to not use the default Unity mechanism and write your own, but then - what do you need Unity for, if you're gonna

[2017-03-10 14:26] emanuele3d commented on #2817
And all the best to you @EmpireWorld.

[2017-03-10 14:50] EmpireWorld commented on #2817
@MarcinSc Thanks for the submitted article.
As you said unity has bad Update funcionally but it's graphics and animation is powerful.

Thanks all.
@emanuele3d Thanks.

All the bests.

Keep moving, don't waste your gold time.

[2017-03-10 15:17] OvermindDL1 commented on #2817
Not any more than any other engine, it is not hard to write bone systems or shaders or etc...

[2017-03-10 16:02] EmpireWorld commented on #2817
@OvermindDL1 I don't say it is hard.
i said it is a good practice to use it's graphics and shaders.
Because unity support many platforms than java.

[2017-03-10 22:51] rzats commented on #1126
Dropping in to say that yes - a separate, lightweight `InputSystem` is the best solution to this issue, as `CameraTargetSystem` (and also `LocalPlayer`) don't appear to be used for any menu-related purposes. Theoretically they _might_ be used in a fancy "playable" menu like [this](http://loadion.com/ii/4709671467_b89ee74d8e.jpg), but that shouldn't really factor into this issue.

[2017-03-10 22:58] emanuele3d commented on #1126
@rzats: if one day we have a character selection/customization screen or window, will this change come to hunt us? I suspect not, but I thought I'd ask.

[2017-03-10 23:05] rzats commented on #1126
@emanuele3d: I don't think so. If we ever need to create a widget that can render a character model, the information about the model's state, the camera's position, angle etc. can (and should!) be stored within the widget itself.

[2017-03-10 23:09] emanuele3d commented on #1126
Understood. Thank you.

[2017-03-10 23:15] AWildBeard commented on #1942
@Cervator I've been playing with this for the past few days off and on. And I don't think that it's a problem with the game reading the memory from the server, I think it is a problem with

` gradlew game -D-XmxWHATEVER `

not passing the values properly, **or them getting dropped somewhere farther down the line**...
What I've tried (RESULT answer is from the in-game F3 menu)

As a control, I just

[2017-03-11 09:08] STREETKILLERMAN opened #2819 "5"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-03-11 20:27] #2819 closed

[2017-03-12 05:53] Cervator commented on #1942
Just to repost some info here: after some IRC discussion and experimenting by @AWildBeard we found that changing the memory settings with a `gradlew` run may be oddly difficult (the `game` task has its own config), while IntelliJ's run configs respect the memory settings pretty well.

That may be something to keep in mind and investigate further at some point.

[2017-03-12 07:08] #2554 closed

[2017-03-12 07:21] zeokav commented on #1126
@rzats Thanks for dropping in! I'm currently trying to use the original input system and extract things out of it to make a bare minimum class that can process inputs. If you are familiar with that part of the code, are controllers being used to navigate the menus? I don't have one so I cannot check - but it doesn't look like keyboard inputs are being used (if I modify it to get only mouse inputs,

[2017-03-12 08:18] Cervator opened #2821 "Oddities surrounding maintaining momentum after hitting a ceiling"
Noticed during some unrelated testing as by chance I spawned under a tree.

1. Be under a tree or some other low ceiling
1. Enable `hjump` in the game console
1. Jump!
1. Die horribly but *not* from smashing into the ceiling at high speed. Instead you seem to be redirected to the ground with full momentum kept meaning you splat as if you had fallen a hundred blocks down or so.

Indicates two possi

[2017-03-12 09:44] skaldarnar commented on #2821
I'd like to chime in with a general question on retaining momentum of movement for players, since the magic dome over in LaS addresses a similar topic. We should find a uniform way to deal with these things so that it feels naturally (in all game modes).
What would be physically the most accurate action to happen here? Is velocity redirection even a thing if you hit a (solid) wall or ceiling?

[2017-03-12 12:32] 0shine0 commented on #2821
retaining momentum depends upon Coefficient Of Restitution (e). [https://en.wikipedia.org/wiki/Coefficient_of_restitution#Range_of_values_for_e_.E2.80.93_treated_as_a_constant](url)

As COR is a pair property. I will depend on both, the player and the surface the player hits upon. COR will depend upon yield strength, elastic modulus and other things of both colliding materials. But since we cannot

[2017-03-12 12:36] 0shine0 commented on #2821
@Cervator I will work on this after completing preview issue. It is also related to topic that I wish to take in GSOC(Combat System). So dibs I guess :p

PS: preview issue will not take more than 1 day. So, I will start working on it, 24 hrs from now

[2017-03-12 16:37] qwc commented on #2590
Got a similar crash again today on server testing...

Here as gist: https://gist.github.com/qwc/e7e13548fa663287d5b0cea9d9cadddd

[2017-03-12 20:54] MarcinSc commented on #2817
@EmpireWorld The platform independence is about the only good thing I can think about Unity. Of course it doesn't come without its own problems.

Anyway - there must be very good reasons why indie developers of most successful indie games do NOT use Unity. It's just not good to make innovative stuff.

I will admit though, it's great to make your "bread and butter" games in heavily explored genres.

[2017-03-13 00:26] ThompsonTyler commented on #2551
Well, I think I have at least currently been beaten by the modifier keys. But, I will add my new-found knowledge about a good portion of the Input system as found to allow further documentation for anyone who choses to follow up on this issue. Initial thoughts is that implementing the modifier keys would require a large amount of code introduction due to everything being very based upon 1 input(be

[2017-03-13 02:53] Cervator commented on #2817
@OvermindDL1

No *you're* a bone system!

:-)

(sorry, just adding to the silliness of this issue, no offense @EmpireWorld and good luck!)

Hi @MarcinSc ! Good to see you're alive and well. Come help mentor a GSOC student or two!

[2017-03-13 15:08] cognoscentis opened #2824 "Failed to initialise Terasology java.lang.RuntimeException: Can not initialize graphics device."
### What you were trying to do
First time start this game
### What actually happened
Error message and then game close
### How to reproduce

* Step 1
Take MSI GT72s 6QD Dominator laptop =)
* Step 2
Run last stable version of Terasology

### Log details and game version

[terasology_2017-03-13_17-59-48.872.txt](https://github.com/MovingBlocks/Terasology/files/838609/terasology_2017-03-13_17-59-48.8

[2017-03-13 15:28] cognoscentis commented on #2824
Update Nvidia drivers to last version (378.78) and problem disappeared

[2017-03-13 17:07] Malanius commented on #2824
Probably duplicate of #2790 and #2802
That driver version crashed a bit more than Terasology :)

[2017-03-13 18:22] cognoscentis commented on #2824
I think that this issue can be closed?

[2017-03-13 18:48] skaldarnar commented on #2824
If it is solved with latest drivers this can be closed indeed. Thanks for reporting _and_ reporting back on it!

[2017-03-13 18:48] #2824 closed

[2017-03-13 19:39] vampcat commented on #2813
Can someone mark this as closed?

[2017-03-13 20:51] MalyshevValery commented on #2648
Hi, @rzats I want to work with this issue/project during this year GSoC maybe you could advice me from where I should start exploring Genome issue

[2017-03-13 21:09] rzats commented on #2648
@MalyshevValery: [setting up an environment](https://github.com/MovingBlocks/Terasology/wiki/Preparing-an-Engine-Workspace), downloading the Genome module and running it from source is a good start. Otherwise I'm not much of an expert in this particular area, but @skaldarnar @mjuvekar7 @xrtariq2594 might have some ideas.

[2017-03-14 01:37] Cervator commented on #2551
Thank you for the extensive research @ThompsonTyler :-)

Sometimes these items turn out to not be as easy as we would've liked. Sorry about sending you down a rabbit hole that turned out to lead half-way through the planet!

I wonder how other LWJGL-based games handle it code-wise. Maybe LibGDX could provide some inspiration as well.

[2017-03-14 01:50] #2740 closed

[2017-03-14 03:05] #2429 closed

[2017-03-14 03:05] #2509 closed

[2017-03-14 03:19] Cervator commented on #2774
Addition: If focusing on improving the world gen stages while in the main menu the stalling while reloading the module environment needs a bit of extra consideration.

- [ ] Consider running the env switch in a background thread so it doesn't stall the entire menu. Hopefully this will also allow music and such to keep running while the process is running
- [ ] Possible improvements to `gestalt-ass

[2017-03-14 05:24] Cervator commented on #2813
Whoops, missed this one. Thanks @vampcat!

Closing as complete

[2017-03-14 05:24] #2813 closed

[2017-03-14 14:52] OvermindDL1 commented on #2551
What I did in my couple little LWJGL projects is the same as I do in C++, I make an inputmapper.  Specifically the style that I go through is I make a tree, kind of like a file-system, and 'mount' things in it.  So I make a node that is for a keyboard for example and set it at `"/dev/keyboards/0"` and I create a link from an event on it to a 'name' for the game to use, so the game may want somethi

[2017-03-14 20:45] zeokav commented on #2557
@Cervator Before someone thinks that this issue is still undone - Everything on the checklist is covered except the modifier input binding, which, to be honest is slightly out of context (Plus #2551 isn't done yet). Can this be closed?

[2017-03-15 09:24] DPirate commented on #2804
Hi,
Where can i get started on this?
How and where does terasology differentiate between item / shaped-block? Where are held blocks/items rendered?
Cactus block also seems to be lit while held so I think its not just billboard shaped.

[2017-03-15 11:09] DPirate commented on #2363
It also seems like all you need to do for activating lightshafts is just look in the direction of light source.

![lightshaft_badimpl](https://cloud.githubusercontent.com/assets/24975118/23945656/58e702b0-099d-11e7-8a88-e7f7b4d9bea4.png)

[2017-03-15 11:25] DPirate commented on #1141
How about introducing some noise in texture-coords and then relate it to alpha values, and cut-off values below a certain level?

[2017-03-15 19:43] MalyshevValery commented on #2648
Hi, @mjuvekar7 , as you can see higher I'm interesting in solving this issue during GSoC. I've looked through the code of Genome( I'm going to run it with a simple model in one-two days). I wonder are there any modules Genome for breeding?
I've seen that you're working on improving SimpleFarming module but I think extending of generating plants from PlantsPack and WildAnimals

[2017-03-15 21:40] dannyzhou98 commented on #2804
Hey all!
I was trying to familiarize myself with the code base and examine this issue as well. It looks like @DPirate is correct in terms of the translucent property causing this oddity. According to this [page](https://github.com/Terasology/TutorialAssetSystem/wiki/Block-Attributes), translucency tells "Whether the texture is masked". Is the solution as simple as turning all translucent attribute

[2017-03-16 02:57] mjuvekar7 commented on #2648
Well currently not too many modules use genome. I think a few modules from Throughout the Ages have some genome integration, but that isn't too great currently. I wouldn't go for plants pack since simple farming is basically just a newer version of the old plants pack and simple flora modules. Could chat later on IRC to discuss modules which could use genome integration.

[2017-03-16 09:02] DPirate commented on #2804
@dannyzhou98 Given that translucent objects are needed , its about how translucent property of the held object is being handled.

[2017-03-16 15:40] emanuele3d commented on #2804
I find "Whether the texture is masked" as a somewhat unclear description. What does that really mean? That the alpha channel is taken into account? How? Via alpha rejection which is a blunt tool, or via proper blending, which is more "correct" but also more expensive?

@DPirate, you mentioned translucent entities are rendered in SimpleBlendMaterialsNode? That means the full range of the alpha chan

[2017-03-16 19:44] DPirate commented on #2804
@emanuele3d hmm.. I had in mind that it is like AlphaRejectBlocksNode renders the object first then , post-processing happens in SimpleBlendMaterialsNode.

[2017-03-17 08:25] emanuele3d commented on #2804
If we are talking about hand-held items that's definitely not the case: hand-held items are not blocks and the ARBNode only renders blocks.

[2017-03-17 13:02] DPirate commented on #2565
If you keep repeating the process, after a certain repeats you will start falling down through the blocks(upon crouching) and the you can see the upside down(not all of it though, just certain blocks).

![new bitmap image](https://cloud.githubusercontent.com/assets/24975118/24044058/85f5eec6-0b3f-11e7-8305-4cf1feb082d3.png)

[2017-03-17 20:25] MalyshevValery commented on #2648
Hello again @mjuvekar7. Could you please give any of your contacts to discuss some ideas of involving Genome module into others. (Maybe you know that time of writing proposals is coming)

[2017-03-17 21:29] MarcinSc commented on #2817
Let me just leave you with a fitting quote:

_When I tell most people that I made the engine and tools myself, they usually ask, "Why did you do that?" My friends over at FlashBang try to cram Unity down my throat every single time I talk to them, but I stand by the decision to make our own tools and engine._

_One huge reason is control. I'm sort of a control freak when it comes to code; I like t

[2017-03-18 03:02] mjuvekar7 commented on #2648
Sure. I'm mandarj on IRC and Slack, and I'm usually online after 1 pm Indian time (7:30 am GMT). If you could tell me your IRC Nick I could PM you my email

[2017-03-18 04:01] Weilin1992 commented on #1710
If I'm not mistaken,the basic idea of Occlusion is never render the objects that is hidden by other objects. For example, the car behind a building should not be rendered since the player can't see the car.  if one chunk is blocked by other chunks and the player can't see that chunk, we don't load it?

[2017-03-18 04:57] MalyshevValery commented on #2648
My IRC nick is ValeryMalyshev. I will be online at the 8 am GMT

[2017-03-18 05:23] Cervator commented on #2796
Closing as (mostly) completed by #2826 - expecting any remainder might be different enough for its own follow-up issue if warranted? Not entirely sure if any more could be done at the moment.

[2017-03-18 05:23] #2796 closed

[2017-03-18 13:25] MalyshevValery commented on #2648
My IRC nick is ValeryMalyshev.

[2017-03-18 19:42] DPirate commented on #2804
Explanation Needed- I found out that translucent held objects were being processed in SimpleBlendMaterialsNode , so I thought that it maybe happening because it is disregarding deferred lighting so i moved it above lighting nodes and held objects did become translucent and were not lit anymore but that breaks the current nodes pipeline and this 'correction' may even be a side effect ( as @emanuele

[2017-03-18 21:17] DPirate commented on #2804
I need to study the code more, although the held objects did retain translucent property after commenting out EnableBlending() , it was not right while looking through the object (it showed only the lighting side of things).

commented out :-

![trans2](https://cloud.githubusercontent.com/assets/24975118/24076045/222b022c-0c4e-11e7-86bc-aaeaad25eb2b.png)

not commented out :-

![trans1](https://cl

[2017-03-18 21:43] emanuele3d opened #2828 "Rationalize swapping of gBuffers"
Some of the nodes in the renderer swap the gBuffer FBOs, so that they can read from the gBuffer that was latest written to and write to the gBuffer with slightly outdated data.

This is a perfectly reasonable way of doing things but it is used inconsistently, with some nodes swapping the buffers -after- a rendering, which doesn't seem reasonable. (This is due to the refactoring that has taken plac

[2017-03-19 04:56] Weilin1992 commented on #1710
@emanuele3d @OvermindDL1  what does it mean the edge of a chunk is solid & a chunk is solid?

[2017-03-19 06:12] Cervator commented on #2693
Closing as completed by #2825

[2017-03-19 06:12] #2693 closed

[2017-03-19 16:03] hybrideagle commented on #2436
I figured I'd add my 2 cents on the issue.
It's probably better to do this directly from the engine, rather than from a facade, since we would want support for this with our current facades, and the facades aren't supposed to have much logic in them anyway. Here's what I think we should do:
1. Set up an internal network manager like [this one](https://github.com/MovingBlocks/Terasology/pull/2618).

[2017-03-19 16:05] hybrideagle commented on #2547
@emanuele3d I'm considering redesigning this system for GSoC, and I have a few questions:
1. Do you think the render system could benefit from further abstraction/simplification? It looks complicated to me, but that's probably because I've never really worked with render systems before.
1. Is this system stable enough to survive another paradigm shift?
2. Is rendering in parallel something we're c

[2017-03-19 16:25] emanuele3d commented on #1710
@Weilin1992: in response to your first question: yes. Regarding your second question, I'll let Overmind respond.

In general I think this issue has generated far too much discussion and overcomplication.

All this issue is about is to do quick renders of boxes corresponding to the bounding boxes of chunks that are geometrically relevant to the player - chunks within a volume defined by the ViewDis

[2017-03-19 16:37] emanuele3d commented on #2547
@hybrideagle: Hi. Please note this issue is an "Epic". An Epic is a container for smaller issues, but you can see it that way only installing ZenHub: in GitHub you'll see it as a standard issue.

Regarding your questions:
1. I'd be happy to hear your ideas in this regard.
2. The system is in transition. But a good number of things are likely to be stable. It all depends on what you have mind when

[2017-03-19 17:25] iaronaraujo commented on #2780
I am interested in working on this during Gsoc! I will already begin to run some tools to generate more unit tests, so we can improve the test coverage!

[2017-03-19 17:36] Cervator commented on #2590
Another play test (Omega 691), another crash like this :-)

http://pastebin.com/pzmLjHGe

[2017-03-19 18:43] Vizaxo opened #2831 "Can't unbind multiple keys"
### What you were trying to do

Unbind multiple keys in one game session.

The first unbind works, but subsequent ones don't.

### What actually happened

The dialog box hangs (the "ok" button stays pressed down, but the dialog box stays open and doesn't do anything. It can be closed, but the button will not be unbound).

### How to reproduce

* Open up settings->input
* Click on a key to unbind
*

[2017-03-19 19:26] Vizaxo opened #2833 "Various isses with movement inputs persisting through the chatbox"
There are various issues concerning movement inputs persisting through the chatbox:

1) If you hold down a movement key, then press 't' to open the chatbox, the movement will persist until you let go of it (expected: movement will stop moving the player upon opening the chatbox).
2) If you hold down two movement keys in different planes (i.e. left or right, and forward or backward), they will both

[2017-03-19 19:54] Cervator commented on #2831
Thanks for putting these together with so much detail! :-)

[2017-03-19 20:01] Cervator commented on #2833
One additional (if barely different) case: immediately after opening the chat box with `t` (or the console) even after having let go of said button the next button press like one of `wasd` will trigger movement. After letting go once everything is fine.

Pinging @ThompsonTyler due to extensive research on potentially adding modifier key support requested in #2551, also a includes a great summary o

[2017-03-19 20:08] Cervator opened #2834 "User can submit whitespace only messages to chat + enter with empty message should re-close the chat ui"
We need to add a `trim()` somewhere and a check to see if a message is non-empty before sending it :-)

Additionally pressing `enter` with a *completely* empty chat entry should close the ui but at present inserts a single space instead (then a second `enter` then would manage to send that as an empty message)

So: Trim the message the user is attempting to send and if it is at that point empty cl

[2017-03-19 20:20] ThompsonTyler commented on #2833
Will take a look, see if I can see anything. (Sorry bout the absence lately, messed up my hand and gotta do everything 1 handed atm)

Was able to replicate all problems other than Cervators(Not sure if I am understand it wrong, but if I open chat box and press was or d I don't see any movement)

Also problem 3 I wasn't able to replicate (holding forward/back preventing chat from opening)

[2017-03-19 20:31] Cervator opened #2835 "Improve bulk and quantity-based giving of items (as opposed to blocks)"
At present we've simplified down to a single `give` command where we used to have separate `giveBlock` and `giveItem` commands. They still exist as methods and the `give` command simply tries to deduce which one to use.

However, quantity based giving isn't working for items, even for those that are stackable. Try for instance `give axe 42` - the console insists that it gave you 42 items of `Core:

[2017-03-19 21:05] Cervator commented on #2780
@iaronaraujo great! I take it you are also http://forum.terasology.org/threads/hi-hi-i-am-iaron.1812 :-)

[2017-03-19 21:15] Cervator opened #2836 "ResettableUIText does not allow backspace or arrow key usage"
Seems a somewhat amusing oversight: a UI element the purpose of which is to be easy to reset cannot easily be edited normally :D

Example: On the Modules screen (from Create Game) the module filter box can be used to filter the shown modules. You can *enter* text just fine - but seemingly not use backspace to then erase the text normally (partially for instance) nor other controls like arrow keys.

[2017-03-19 21:49] Vizaxo commented on #2833
Ah, yes, after some more testing I think issue 3 is due to my keyboard not sending all of the signals at once (it gives the same results in the terminal). Nothing wrong with the game there :P

I have been able to replicate Cervator's, but it only happens when the chat window starts out empty. If there's already writing in it, the command won't make you move. Additionally, if you empty the window w

[2017-03-19 22:08] Cervator opened #2837 "Add a simple command that makes the player immune to damage"
More or less the traditional "god mode" - unless that term has become too loaded by now. What's it called in some other recent games? Maybe it should just be `damageImmunity` instead (keep reading, more further down)

We already have "flight" and "ghost" (flight + noclip) so this command should just focus on cancelling all damage affecting the player.

See `HealthCommands` where `softLanding` heav

[2017-03-19 22:32] Cervator opened #2838 "Better handle failure to find spawn position / harden for multiplayer"
During today's play test we managed to finally completely crash a server, which has been rare lately. Initially I thought maybe it could be related to a weird interaction between the broken crouching (#2651 / #2565) and character prediction issues (#2358, #2469, #2468) but on digging into the stacktrace I found a todo that could explain the crash much more simply:

[code]

On line 76 in `PlayerFac

[2017-03-19 23:32] ThompsonTyler commented on #2834
Hey Cervator, was able to get this fixed, but wanted some input(Will probably ask you on irc before you see this), should console close on an empty string as well? (The enter adding a space was a problem for all UIText, not just chat)

[2017-03-20 00:56] snowyu commented on #2436
Just for your hint, there are another way too If you wanna do it directly into the engine.
Use the reflection mechanism first. No translate HTTP request to events back.
Which means:

* Class is resource.
* A series of conventions methods: such as prefix `get`, `create`, 'delete', 'isExists'  map to HTTP Methods. or annotations.

* A codegen could generate the source code scaffold.
* A Manager coul

[2017-03-20 01:55] ThompsonTyler commented on #2833
Got a fix going for 1, 2, 4, and 6. (Could fix 5, but want to ask around in irc about something that seems weird to me, but would fix problem) Will wait on talking before putting through a PR.

Note, these fixes only apple to chat, console grabs events with a higher priority and does something odd with the opening event that kind of confuses me, will need to talk to someone about that first.

[2017-03-20 02:33] Cervator commented on #2557
Good catch @zeokav thanks! Closing this as complete :-)

[2017-03-20 02:33] #2557 closed

[2017-03-20 03:13] ThompsonTyler commented on #2834
Will send in PR once I am back at computer and available to fix the branching on my end :P

[2017-03-20 14:15] OvermindDL1 commented on #1710
@Weilin1992 When building up a chunk renderable keep a flag of if a side of that renderable is entirely 'solid'/opaque, and store that with the renderable.  Then for an occlusion call you can render a single large polygon to represent the entire side for quick occlusion testing.  However if there is, say, a cave running through it then no test will be done there, however if the cave ends in the ch

[2017-03-20 14:23] emanuele3d commented on #1710
@OvermindDL1: how can you check for the things you are describing if the chunk is not loaded yet?

[2017-03-20 14:42] OvermindDL1 commented on #1710
The chunk would have to be loaded.

As an example, in Minecraft if a chunk is not loaded yet then it treats it as 'solid', so it will not render things behind it (as it would cause broken terrain parts like it used to), could do the same.

[2017-03-20 20:02] emanuele3d commented on #1710
Ok, @OvermindDL1, I'm not sure where I wasn't clear enough, but this discussion is about using Occlusion Queries to avoid loading a chunk.

[2017-03-20 20:09] OvermindDL1 commented on #1710
@emanuele3d Yes, exactly that.  The chunk that performs the occluding (the occluder) needs to be loaded, but using it you can prevent loading behind it.  And technically if you pre-calc those edge and axis flags then you can do a trivial load of that tiny bit of data and can use that to occlude without needing to load that chunk, but I'm not sure how useful that would be unless it itself was occlu

[2017-03-21 07:10] krishnasism commented on #2837
Hi!
I have been able to implement the feature, but I am unable to do a pull request due to some network issues. Could you suggest an alternate way via which I can show you the feature? Thanks.

[2017-03-21 07:46] krishnasism commented on #2837
#2845

[2017-03-21 09:08] portokaliu commented on #2837
@krishnasism I don't thing that putting in something this specific would be wise. Why not just make it a general player attribute? This way any mod that wants to fiddle with the setting would just have that to hook on to. (like say, a feather fall potion - which btw, you might wanna check if it exists in the potions mod)

[2017-03-21 11:19] krishnasism commented on #2837
@portokaliu I'm trying to do that. I'm currently understanding the code. I have worked on it for 2 hours or so. So I will just request some time from you :P yes thank you for your response. I will get back to work on it!

[2017-03-21 16:22] Weilin1992 commented on #2837
@portokaliu what do you think of my implementation?

[2017-03-21 16:43] portokaliu commented on #2837
@Weilin1992 I did read your version at about the same time. I have my doubts on the whole "new component" idea, since adding more components wouldn't be the best idea imo.

It does prevent adding a check for a bool though for every health related event, but that's about it.

I do believe that my code is a bit old, because I see health related commands in the authority system, which i do not seem t

[2017-03-21 16:52] Weilin1992 commented on #2837
@portokaliu there is another problem for adding an attribute. It will make health component larger, I'm not sure how many entities in a Scene and it seems every entity has a health component, if we  add more attribute to health component, it will make memory larger

[2017-03-21 20:26] zeokav commented on #2828
@emanuele3d I looked into the two classes where the read-only and write-only GBuffers are being swapped (PrePostCompositeNode and ApplyDeferredLightingNode). What is causing the problem here? Is there a race condition between the two nodes while reading and writing?

Is there any way to produce it? Because I haven't really come across any extra artifacts.
Also, are there more nodes that require th

[2017-03-21 21:52] OvermindDL1 commented on #2837
I'm still thinking a component to hold other components that are specifically disabled, that way they are 'out' and not scanned by the ECS, but still available verbatum, and would be useful for any component.  Probably just a key -> component map.

[2017-03-21 22:14] omomthings commented on #2527
Problem fixed, was nothing.. Pull request pending ! Have a good day

[2017-03-21 22:44] #2787 closed

[2017-03-22 07:36] ThompsonTyler commented on #2551
Just wanted to give anyone reading this an update, I have gotten modifier keys working in a very basic function(only one alt key, and haven't done much regarding files/parsing config/etc), Will be working on extending it in the near future and hope for this to be done in the next few days :)

[2017-03-22 07:46] #2754 closed

[2017-03-22 12:44] 0shine0 commented on #2072
Pinging @Cervator to discuss its potential in Gsoc and also about its implementation.

I am thinking about using the useful parts from the old branch to facilitate a new combat system. Should I make the system in a new module or make it in core module?

[2017-03-22 15:52] portokaliu commented on #2072
Scavenging bits of the old system was always an idea, since the functionality seemed to be there. The only issue was that it used a really old version of the game and rooted itself in some core/engine classes, when it would most likely need to be a module.

[2017-03-22 16:09] 0shine0 commented on #2072
@portokaliu I am also thinking about introducing a density property for non-solid materials like water. To affect speed and motion of a projectile in water as compared to when in air.

[2017-03-22 16:11] portokaliu commented on #2072
@0shine0 This was one of the ideas for the movement refactoring, but that only referred to the player. Suffice to say, I'm not against that concept

[2017-03-22 16:15] 0shine0 commented on #2072
@portokaliu alright, gonna try that with combat system.

[2017-03-22 18:18] omomthings commented on #2406
Hello, thinking about implementing this block, anything i should know before getting stuck with it haha 😄

[2017-03-22 18:50] skaldarnar commented on #2406
A good starting point would be the [tutorial on world generation](https://github.com/Terasology/TutorialWorldGeneration). If you haven't already, do have a look at our [wiki](https://github.com/MovingBlocks/Terasology/wiki). In particular the sections [block attributes](https://github.com/Terasology/TutorialAssetSystem/wiki/Block-Attributes), potentially also on [block shapes](https://github.com/M

[2017-03-22 22:52] iaronaraujo commented on #2780
Yep, that's me!

[2017-03-22 23:38] Vizaxo commented on #2835
Oops, sorry for spamming this thread with commits; I was rebasing my branch and didn't realise they showed up here.

Anyway, I think #2841 and #2842 cover everything in this. There are a couple of notes on #2841 (such as checking performance on servers), and I left bulkGiveBlock and bulkGiveItem seperate for now (instead of implementing bulkGive to do both).

[2017-03-24 09:49] elwe74 opened #2853 "listBlocks failed due to error in module Sample-0.1.1"
### What you were trying to do

Execute listBlocks in command line while module Sample was selected.

### What actually happened

listBlocks failed with message "An error occurred while executing command 'listBlocks': com.google.gson.stream.MalformedJsonException: Unterminated object at line 8 column 6 path $.hardness"

### How to reproduce

Execute listBlocks in command line while module Sample w

[2017-03-24 13:53] DPirate commented on #2622
I had torches turning into oak wood(still produced light) when i placed them against the face of any block which was in a particular direction. Could not reproduce it in any other world, but that world still does it. I had several modules enabled.

[2017-03-24 17:03] qwc opened #2855 "[suggestion] MOTD for public servers"
As I am contributing/running two terasology servers (latest stable, latest dev; aka "official stable/unstable" in the server list) I would like to inform new players about some rules/circumstances which apply for these servers.
For example, that when a new unstable/stable version is released that these servers are automatically immediatly updated and restarted, so that everyone playing is warned t

[2017-03-25 12:38] skaldarnar commented on #2855
Whatever that is 😛

[2017-03-25 13:14] gianluca-nitti commented on #2855
@qwc It's a nice feature in my opinion. I implemented it in #2856, however that's just plain text for now since I'm not sure how styling should be implemented. In my implementation the MOTD is displayed as a `MessagePopup` which internally uses an `UILabel` to display text. AFAIK this widget doesn't support styling, however it might be possible to set a global style for the entire displayed string

[2017-03-25 15:49] qwc commented on #2855
How to configure:
<gianluca_n> you just add a voice named "serverMOTD" under "network", for example i put it after the "serverPort"

* using this issue as my private notepad... *

[2017-03-25 15:54] qwc commented on #2855
Huge thanks to @gianluca-nitti for the first draft. I'm looking forward to the next unstable builds when the PR is integrated.

Possible extensions are now:
* Maybe BrowserWidget to **render Markdown**
* Transfer of the MOTD into an own config file (as Cervator said, this may not be bite-sized)

[2017-03-25 16:24] DPirate commented on #2828
chunksRefractiveReflectiveNode (just after ApplyDeferredLightingNode) seems to require the swapping

[2017-03-25 17:33] benneti opened #2858 "freeze with Steamcontroller, Archlinux and AMDGPU"
### What you were trying to do
Trying to play Terasology on my desktop using [sc-controller](https://github.com/kozec/sc-controller)

### What actually happened
Game only shows launch screen and then freezes after a short period of time.

### How to reproduce

* Step 1 Buy a Steamcontroller install sc-controller, terasology and archlinux
* Step 2 start sc-controller
* Step 3 start terasology

###

[2017-03-25 21:43] GabrielXia commented on #2765
Hi @Cervator I made a prototype of the telemetry server. Please check it out in the [forum](http://forum.terasology.org/threads/telemetry-system-collect-analyze-and-report.1799/#post-14832). I wrote more detail in the repository : [Client prototype](https://github.com/GabrielXia/tracker8) and [Serve prototype](https://github.com/GabrielXia/telemetry). I don't know whether I've made it clear and wh

[2017-03-25 21:55] elwe74 opened #2860 "Wrong initialisation of next block-ids in BlockManagerImpl"
### What you were trying to do

In a loaded game I tried to execute command "give core;dirt 20 stair"

### What actually happened

All grass block in some large area where changed to dirt stairs

### Cause:

In GameManifest.blockIdMap == knownBlockMappings   the ids are starting at 1.
So the next possible blockId  "nextId" cannot be knownBlockMappings.size().

### Fix

Change line 96 in  BlockMana

[2017-03-25 22:43] elwe74 commented on #2860
Ok, it is even more complicated. The ids in GameManifest.blockIdMap are not contiguous, so size()+1 is not the highest used id.

So we have to use
       nextId = knownBlockMappings.values().stream().max(Short::compareTo).orElse((short) 0)+1;
which will waste possible ids (short is not so large...)
or change getNextId to look for already used ids.

[2017-03-26 04:52] Cervator commented on #2145
Closing as sufficiently complete with #2816 merged (the Scrapers need more work in general)

[2017-03-26 04:52] #2145 closed

[2017-03-26 05:06] Cervator commented on #2309
@rzats I think I may just have mistaken some `id` Strings for translatable fields - I can't easily spot any now. Can you confirm and if so we can close this and retroactively assign it to Alpha 7?

@msteiger: up above I reiterated a comment from you about a possible improvement - do you think that's still valid and if so should we submit a separate issue for it so this can be closed? https://githu

[2017-03-26 05:31] Cervator commented on #2860
Hi @elwe74 and thanks for the detective work!

We do in fact have an outstanding issue where blocks get mixed up somehow. This sounds like the kind of thing that could be causing it.

However the issue has been really difficult to replicate and I can in fact not do so with your instructions. Can you reliably trigger the issue? If it can only happen on game loads then that makes sense for how it ha

[2017-03-26 06:26] Cervator commented on #2765
Saw the forum thread @GabrielXia - looks awesome! Getting pretty exciting. Cool to see some of the same tools involved beyond Snowplow that I'm already somewhat familiar with from work (Logstash, Kibana, etc)

Using a dedicated warning log like that may make sense. Probably lets focus the discussion in the forum and drag @rzats into it sometime. He's going mentor for GSOC after all so maybe that'l

[2017-03-26 10:05] elwe74 commented on #2860
Yes, I can reliable trigger it, but it depends heavily on the saved game. I had the "luck" that "grass" was redefined, oniatus in the PR has the same problem with  "core:RedLeaf" which are not so easy to see...

I had another case where "chest"s were building a lake acting like the expected "water".

#2622 seems to be a duplicate for me.

I've had only few modules loaded, Core, CoreSampleGameplay,

[2017-03-26 17:04] Cervator commented on #2860
Ah yeah then that makes sense. Different combinations could lead to the issue or not in different ways.

By the way BuilderSampleGameplay is meant to exclusively be used on its own to showcase the engine running without any of the fundamental stuff in Core (like health, inventory, etc). Running it with any other modules ends up not really achieving anything, unless maybe you want its world?

Usual

[2017-03-26 17:04] #2860 closed

[2017-03-26 17:15] Cervator commented on #2622
Closing this as likely fixed via #2861! Hooray :-)

[2017-03-26 17:15] #2622 closed

[2017-03-26 21:22] glasz opened #2862 "Better blender md5 exporter with some integration with Terasology"
Terasology uses ID software md5 format for animated 3D character, and blender is a favourite for creating those 3D models.
Currently we rely on an existing blender addon to export the blender models in the md5 format. That exporter could use fixing (there are some pending issues) and improvement, and be customized to integrate some functionnalities specific to Terasology.
    Automatizing of some

[2017-03-26 22:43] Cervator commented on #2744
Merging as fixed by #2844!

[2017-03-26 22:43] #2744 closed

[2017-03-26 22:45] Cervator commented on #2659
Closing as fixed by #2844!

[2017-03-26 22:45] #2659 closed

[2017-03-26 22:46] Cervator commented on #2591
Closing as fixed by #2844!

[2017-03-26 22:46] #2591 closed

[2017-03-26 22:46] Cervator commented on #1747
Closing as fixed by #2844!

[2017-03-26 22:46] #1747 closed

[2017-03-26 22:52] Cervator commented on #2528
Closing as fixed by #2844!

At least the resizing stuff is dealt with. Not totally sure if that's the same as "weird things can happen when applying video settings changes" but I think that was improved too recently.

[2017-03-26 22:52] #2528 closed

[2017-03-26 22:54] Cervator commented on #2490
I believe this is now fixed enough by #2844 to be closed :-)

Window not being resizable at all after returning from full screen is s different issue and is covered by #2532 (not fixed yet)

[2017-03-26 22:54] #2490 closed

[2017-03-26 23:02] Cervator opened #2863 "Taking a scaled screenshot briefly shows the game window partially rendered at the target size"
Pretty low priority as it doesn't seem to leave any ill effects. In short:

* Under video settings pick a screenshot size like half
* Take a screenie with `F12`
* Hear clicky noise and see the game window briefly only render the screenie size

Probably the screenshot process has to be made more independent from the main game rendering

Unsure if there may be other related issues around scaling or

[2017-03-27 03:56] Cervator commented on #2377
Closing this with part two now also completed, by #2799. First part (server screen) was in Alpha 7, second part (player overlay) in Alpha 8. Whoops.

[2017-03-27 03:56] #2377 closed

[2017-03-27 04:00] Cervator opened #2864 "Show players online on the Join Server screen"
Somewhat split out from old issue #1099 which led to several improvements in past releases.

The remainder is straight forward: Add a new "Players:" label on the Join Server screen and populate it with the number of players online for the selected server.

Actually how to do that I'm less sure about being straight forward, so not marking this bite-sized. It may be of interest for any GSOC students

[2017-03-27 04:07] Cervator commented on #1099
Finally closing this old issue. I think everything has pretty much been done by now, I submitted #2864 to cover the player count entry as this issue is probably hard to find & parse at this point. So closing as complete within updated scope some time ago (not directly associating with a specific release)

[2017-03-27 04:07] #1099 closed

[2017-03-27 15:42] arthurdeschamps commented on #2831
Same issue on MacOS.
I'll try to fix this (first contribution for the record, I hope this one is not too tricky).

[2017-03-27 17:29] Malanius commented on #2831
I can confirm on Windows too.
Also, if you try to unbind the second one, the OK buttons seems to be pressed, leave with Cancel and try to edit another key binding, the OK button in still pressed and remains like this until used to confirm any other binding screen.

[2017-03-27 17:30] ianbrobin commented on #2775
@Cervator I'm not really sure if this is what you had in mind for an exploration world, but I was thinking of creating a puzzle pack with several levels and mechanics.
I am going to include:
Blocks that break when the player passes over them.
Ice blocks(if they don't exist already).
Slideable/Pushable blocks(slides until it hits a wall)
Door and key mechanics
Kill blocks
Spawn points
Ability to ch

[2017-03-27 17:46] arthurdeschamps commented on #2831
So, I've modified the method `isBound(Input newInput)` to return `false` when `newInput` is `null`, because it was returning `true`, and thus in a condition a method on `newInput` was called, causing the `nullPointerException`.

I think the problem is solved, at least I tried to unbind and bind multiple keys (for example moving forward and backward) and it worked.

What should I do now?

[2017-03-27 18:22] gianluca-nitti commented on #2864
I think sending and getting the data should be quite simple, I think it could be done by adding an additional field to the the `ServerInfo`-related source files (interface, implementation class and protobuf schema), similar to what I done in #2856 for MOTD.
Not sure how to get the number of online players in the server (to send it to the client) and how to adapt the UI layout on the Join screen.
I

[2017-03-27 23:56] iojw commented on #2831
@arthurdeschamps Hey there. If you look above you'll see that PR #2840 has already been submitted to fix this issue. It contains the fix you mention and does appear to fix the issue, just waiting for a merge.

Maybe you would like to take a look at one of the other issues? If there has already been a PR submitted for an issue, it might be better to suggest changes rather than opening a new one.

[2017-03-28 06:55] arthurdeschamps commented on #2831
@iojw oops my bad I did not realise it was a fix. Well, I'll try to find something else, thank you.

[2017-03-28 20:09] qwc opened #2865 "Improving packaging of the whole game"
Due to the recent talk at slack about packaging I thought about writing down my thoughts on packaging of terasology.

# Terasology Variants

First of all I would see 3 package variants of terasology for linux distributions.
1. The Launcher - the universal desktop approach, easiest for beginners too
2. Latest Stable
3. Latest Unstable

2/3 Would be best for setting up servers without docker or just

[2017-03-28 21:40] xrtariq2594 commented on #2835
Good work @Vizaxo!

[2017-03-28 21:40] #2835 closed

[2017-03-30 03:18] Cervator commented on #2307
Slight bump just to link http://forum.terasology.org/threads/config-context-and-security.1761 to this issue. Also to mention gestalt-entity is somewhat extracted at this point and there's interest in NUI maybe being reviewed for use in DestSol one day.

[2017-03-30 07:36] ar0ne commented on #2864
I'm on it.

[2017-03-30 08:10] SurajGoel commented on #2838
Can I have a look at this ?

[2017-03-30 20:49] ar0ne commented on #2864
I finished the story, but before I send PR could someone confirm that we don't have any limitations on server side for clients (max count of clients)?

[2017-03-30 21:19] gianluca-nitti commented on #2865
I'm a Windows and Chocolatey user and if it helps I can tell that Chocolatey packages are almost always very simple scripts which download an installer (exe or msi) from an external URL (usually from the software's official site) and execute it in "silent mode" (without displaying windows / asking for confirmation), so I'd suggest to build an installer for the launcher and publish it somewhere, pe

[2017-03-30 21:35] qwc commented on #2865
@gianluca-nitti Thanks for the clarification on Windows and Chocolatey.
And a second thanks for pointing out fpm, I can remember reading about it, but forgot it until now.

Regarding windows, I would gladly give away the task to a Windows crack, instead of setting all up from scratch just to build an installer. :)

[2017-03-30 23:39] lcalona commented on #1487
@Cervator Hello again :) I would like to work on this project and am currently working on a proposal for GSoC. I have an idea of one way this could be implemented but I am not sure if it is the most effective or feasible. My idea is instead of trying to fit in an image on the Create Game or Modules Screen or even creating an entirely new tab or detail screen which the user would have to go through

[2017-03-31 03:17] vampcat commented on #2528
@Cervator There are still *some* oddities surrounding the video setting (like having Parallax mapping + extra lighting causes weird black edges) but that's mostly coz of shaders, everything else should be fine now. That too will be fixed very soon :D

[2017-03-31 11:20] nihal111 opened #2872 "Allow image scaling in UIImage"
As of now, if the layout parameters i.e height and width are set for a UIImage object, the image does resize, but only as much as it can without breaking its aspect ratio.

That is if I have a 100x100 pixel image. I can easily scale it to say, 250x250 or 23x23. But I cannot scale it to 300x200 (i.e. stretch the image). In such a case the image would simply resize to 200x200, the maximum it can wit

[2017-04-01 00:33] Cervator commented on #693
Closing as fixed by #2871 at long last :-)

[2017-04-01 00:33] #693 closed

[2017-04-01 01:55] Cervator commented on #2864
Closing as completed by #2869 - thanks @ar0ne ! :-)

No current cap that I'm aware on. One of these days maybe we need to artificially connect a bunch of clients to a server to see if it starts struggling at some point.

[2017-04-01 01:55] #2864 closed

[2017-04-01 02:25] ar0ne opened #2873 "Protobuf updates"
I worked on issue #2864 and found that we use old version of protobuf 2.6.1. Also as I see it for generation of java code from *.proto files, we have very strange gradle tasks. Could someone explain me how does it work, because I'm pretty sure it doesn't. As I see it now for compilation we should install old version of protoc application and run it manually instead of using gradle.
The issue is to

[2017-04-01 02:37] Cervator opened #2874 "Harden against commands in a certain scenario resulting in NPE"
Scenario:

* Headless server running with JoshariasSurvival (or minimally the Hunger module?)
* Connect with a regular client
* Attempt to execute `hungerSet 10` in the game console
* Get NPE in server log only - no indication in client log nor in game console

Server log:

[code]

Does *not* occur if you run the same scenario with a server/client hosting and a regular client connected. In that ca

[2017-04-01 10:54] SurajGoel commented on #2838
@Cervator I was thinking maybe we could try few more times for finding a spawn position, before disconnecting the entity. What do you say ?

[2017-04-01 19:57] gianluca-nitti commented on #2651
For reference, here is a gif showing the bug: http://imgur.com/a/K83Jn

[2017-04-02 04:51] pollend opened #2877 "Physics Kinematic Rigidbody"
So I've been working on the rails module and I'm finding some oddities with Rigid bodies. Switching between kinematic and non-kinematic produces some odd results. I'm finding that the colliding hull will stick in one position as the cart moves away. There is some configuration with switching between kinematic and non-kinematic that prevents the colliding hull from travailing with the body. It coul

[2017-04-02 05:01] #2877 closed

[2017-04-02 07:03] Weilin1992 commented on #1710
@emanuele3d @OvermindDL1 after several days reading the code and learning opengl, I implement occlusion culling. But it seems doesn't work well....there a some problems, so I can't pull a request..
Since tomorrow is the due to submit a proposal, I want to show what I've already done.

https://github.com/Weilin1992/Terasology/tree/Occlusion
let me describe my implementation briefly
0.only do Occlus

[2017-04-02 14:59] vampcat commented on #2863
@Cervator This *should* be fixed with #2879, but only partially. The reason is, taking a screenshot temporarily overrides the current scale, and shifting from full scale to half scale or something even for a frame can give a flicker like effect (not partially rendered though).

Test that PR, and update this bug accordingly (or don't, if you feel it's not good enough).

[2017-04-03 05:55] DRAGONMANU commented on #2239
Hi I am interested to take up this topic as a GSOC project this summer(2017) .
This is [my draft for the proposal](https://docs.google.com/document/d/1dg0p3CLKulhrsq255iu7TKQJkbHV2asrL3xJR1rHto4/edit?usp=sharing). Please comment on anything I should add ?

[2017-04-03 10:48] DRAGONMANU commented on #2862
I agree that there must be a better way to export animated models from blender to Terasology. This would be really helpful when making customised animated characters which I would like to work on for GSOC.
I will try to modify the [addon ](https://www.katsbits.com/tools/#md5)in blender to give the required text file.

[2017-04-04 21:09] jellysnake opened #2883 "Fix NPE upon trying to close and altered wi"

[2017-04-04 22:10] elwe74 commented on #2742
I had the same exception. I have looked into the class TLongHash and found an error which may cause the exception:

In the super-constructor (TPrimitiveHash and THash) the method setUp(..) is called which is overridden in TLongHash to do some initialisation in class TLongHash.

This is not allowed: If TLongHash-constructor calls super(), no fields of TLongHash are existing yet and so cannot be cor

[2017-04-05 08:26] oniatus commented on #2742
Did some deeper debugging and testing, probably found the isse - at least i can't reproduce it anymore with #2884 in place. Prior to the changes i got the exception every time after excessive railgun use.

[2017-04-05 20:31] flo commented on #2862
There is already a Blender addon with some Terasology adjustments:

https://github.com/MovingBlocks/TeraMisc/tree/master/blender_addons/io_md5_exporter

[2017-04-06 07:08] arpan98 opened #2885 "HUD Inventory doesn't work on certain screens."
On some screens like the Equipment screen in the Equipment module, and the SeedMixer screen in the SimpleFarming module, the inventory in the HUD (the bottom row of 10) doesn't respond to clicks, hotkeys or Q to drop. The current workaround employed is to include that along with the main inventory to make a 10x4 inventory.

However, on other screens like the containerScreen for chests etc, it work

[2017-04-06 21:04] glasz commented on #2862
Hello flo,
I hadnt seen the work you've done on it until now. It seems to triangulate the faces, apply the modifiers and all sort of quite useful things.
But i also had in mind some blender UI stuff to ease life, like batch exporting all animations at once, including possibility to specify the frame range, the naming, etc... And also associating anims with actions and then generate the prefab file

[2017-04-06 22:28] flo commented on #2862
hi @glasz  the blender addon already supports multiple animations export and per animation start/end frame.

Prefab generation isn't there yet, but how a good prefab might look like might change.

[2017-04-07 04:55] Cervator commented on #2862
@flo can you think of any additional improvements we could use then? Does the addon cover both creature type models and block shape files?

If it is more complete than expected and at risk for dropping out of GSOC scope I'm curious what we might be able to add in :-)

[2017-04-07 18:02] pollend opened #2887 "module carts: can't break carts with current development branch."
I'm working on the rails module and I am not able to break the cart for development. I ran git-bisect and found this revision produced the bug. It could be something else unrelated but this is what I've narrowed it down to. Could require modifying the Core module, but this revision produces a regression in terms of the HealthComponent and Entities. Would have to see how this affects other modules.

[2017-04-07 18:10] pollend commented on #2887
@indianajohn

[2017-04-07 19:01] indianajohn commented on #2887
I'll take a look at this over the weekend.

[2017-04-07 19:05] flo commented on #2862
There is a separate addon for block shapes. There is still stuff that could be done for the addon, but I am not sure if it is enough for a gsoc

[2017-04-08 05:45] pollend commented on #2865
Have you looked at Appimages. An Appimage is a single file executable for linux. It basically mounts the file like a drive and executes the application. I think it would work fairly well for the launcher assuming that most people have java installed. It's possible to throw an error if java is not installed.

http://appimage.org/

[2017-04-08 09:18] skaldarnar commented on #2865
I can put homebrew somewhere on my todo list in the hope I'll find time to look into it. Brew is the only source of applications for me running my Mac, so I cannot say anything about other packaging variants (in addition, I'm new to Mac and have been using it for a few month now).
In other notes: we had the idea of bundling a JRE with the game (and/or the launcher) to make sure everything is avail

[2017-04-08 09:32] gianluca-nitti commented on #2865
+1 for this, IMHO bundling increases the size of the package without adding much real benefits. It can be done on Windows too, Chocolatey supports dependency management and we could make the Terasology package dependent on [JRE ](https://chocolatey.org/packages/javaruntime) 8+. The [installer I'm working on](https://github.com/MovingBlocks/TerasologyLauncher/compare/develop...gianluca-nitti:NSISin

[2017-04-08 10:23] qwc commented on #2865
Participation, YAY! :)

That is exactly, what I were aiming for!
I've currently the linux packaging for all major distributions on my agenda. And of course improvement of the docker image.

@pollend Thanks for adding appimage to the list! Will try to include that aswell.
@skaldarnar Yay! A Mac user, thanks for taking over at the Mac part. ;D

My goal would be to NEVER bundle the JRE, but adding al

[2017-04-08 14:10] gabrielamaral1 opened #2888 "Obrigado"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-04-08 14:11] gabrielamaral1 commented on #2888
Legal

[2017-04-08 14:11] #2888 closed

[2017-04-08 14:13] gabrielamaral1 opened #2889 "Terasology"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-04-08 14:13] gabrielamaral1 commented on #2889
Terasology

[2017-04-08 14:13] gabrielamaral1 commented on #2889
Terasology

[2017-04-08 14:13] gabrielamaral1 commented on #2889
Terasology

[2017-04-08 15:55] gianluca-nitti commented on #2865
I have another consideration, I'm not sure if I should post it here, on the forum thread or on my installer's PR. Writing here since I think this can be relevant for every platform.

As @qwc says in the opening, for desktop clients the launcher is what should be packaged for desktop clients (opposed to headless servers) since it allows to switch between versions easily. I just found out, however,

[2017-04-08 16:13] qwc commented on #2865
@gianluca-nitti Good point.
I think I would go for 1. because, as you already wrote, the package update is managed through apt/pacman/emerge/yum/yast/whatever. And for the non packagemanager variants just enabling the autoupdate method.

[2017-04-08 19:16] #2889 closed

[2017-04-09 04:50] pollend commented on #2597
That happens when you save nan to a location component.

[2017-04-09 11:00] skaldarnar commented on #862
Closing as we have a pretty solid modding API and Alpha 1.0 release which should help with staying compatible with mod interface for some time.

[2017-04-09 11:00] #862 closed

[2017-04-09 11:06] skaldarnar commented on #2766
@Cervator Alpha 7 is released, can this be closed or should it stay active for outstanding issues?

[2017-04-09 11:35] skaldarnar commented on #2531
I just merged the two threads into http://forum.terasology.org/threads/java-awt-whitelist.1741/

Anyone interested in taking on this issue. I think there is a clear line of what is needed (should be whitelisted) and what is not. Can we also do it the other way around and blacklist the potentially harmful parts of AWT?

[2017-04-09 11:47] skaldarnar commented on #2865
@gianluca-nitti That sounds sensible, although I think it is more feasible for package managers than for standard Windows installations. You usually end up with users having pretty old versions of the launcher because they think they don't need a newer release right now, and then they run into problems. We definitely should point them to the updated version on startup, if present.

@qwc The launch

[2017-04-09 16:53] pollend commented on #2887
I was testing this with the WildAnimals mod. I can't hit any of the deer.

[2017-04-09 17:17] qwc commented on #2865
My ongoing work can be found at https://github.com/qwc/terasology-packaging
These scripts need docker images I am currently providing manually, I'll include the Dockerfiles in the repo when they are stable. The images bring everything to package the game, multiple images are needed because it looks like I can't do everything with *buntu due to the background checking of rpm. That's also a reason t

[2017-04-09 20:10] indianajohn commented on #2887
I'm working on this now, I think I see a way to fix it. Shouldn't take too long.

[2017-04-09 20:53] pollend commented on #2887
I think my pull request may of fixed the issue unless you have something else in mind @indianajohn #2891

[2017-04-09 21:05] indianajohn commented on #2887
Nope, I was unaware of that PR. That is basically what I was about to end up with.

Anyway, sorry for any trouble this caused and thanks for the fix.

[2017-04-09 21:08] pollend commented on #2887
was pretty happy that I got to use git-bisect

[2017-04-10 17:19] qwc commented on #2865
Drawback on fedora(rpms): openjfx is currently not included into the standard repo, so I'll just package the game for this distro, leaving the launcher aside until this is solved somehow.

[2017-04-10 21:39] vampcat opened #2893 "Serialization of FlexibleConfig"
With PR #2757 (Flexible Config) almost being ready to merge, it's about time we start looking at the future of FlexibleConfig, and the opportunities available for it's immediate use.

The very first opportunity presents itself in the form of "Node Parameters". The rendering pipeline consists of various `Nodes`, the parameters of which can be tweaked by the user. Currently, these parameters are exp

[2017-04-10 21:39] vampcat opened #2894 "NUI Frontend for FlexibleConfig"
With PR #2757 (Flexible Config) almost being ready to merge, it's about time we start looking at the future of FlexibleConfig, and the opportunities available for it's immediate use.

The very first opportunity presents itself in the form of "Node Parameters". The rendering pipeline consists of various `Nodes`, the parameters of which can be tweaked by the user. Currently, these parameters are exp

[2017-04-11 03:51] #2887 closed

[2017-04-11 10:38] GabrielXia commented on #2317
Heya :-)

I implement an API test for interface `Context` and class `ComponenetFieldUri`,  check it out:
 [ApiTest](https://github.com/GabrielXia/ApiTest/tree/master). In short it compares the signatures of current public & protected methods (method name, modifiers, parameter, return type, exceptions) to the signatures registered. Is it what we want? Now the signature registering stuff is kind of

[2017-04-12 05:15] Cervator commented on #2863
Closing as complete - thanks for the reminder :-)

[2017-04-12 05:15] #2863 closed

[2017-04-12 13:51] jellysnake opened #2896 "Add ability to deactivate (and reactivate) components on an entity"
Currently we don't have the ability to deactivate or suppress a component from an entity temporarily. As this is a key advantage of an ECS I think it's something that should be added.

I feel that the best way to do this is to add two new methods to an entity. `deactivateComponent` and `activateComponent`. These would work in the same way as `getComponent`, taking a Class which if it exists on the

[2017-04-12 13:52] jellysnake commented on #2837
Considering it's one of the benefits of an ECS I think that we should have a method to deactivate components. Having a look at the code it doesn't seem overly hard to add in this functionality, however it will depend on how it should be implemented. I've opened a new issue (#2896) for that

[2017-04-12 14:17] OvermindDL1 commented on #2896
I'd think the best implementation would be to add a `DisabledComponentsComponent` to the entity and move the component that is being disabled to a list on the `DisabledComponentsComponent`, it can be introspected easily and it properly and fully removes the component from the entity and system processing, and to move it back you can just re-activate it.

However, if someone tried to add a componen

[2017-04-12 14:32] portokaliu commented on #2896
I think adding another component to keep disabled components is a tad overthinking it. I'm sure we can add enough stuff on an entity to have proper "has" and "get"s to suffice any need (like have a bool parameter in these methods to search either the available or unavailable ones, or enum to have it search both as well)

[2017-04-12 14:42] OvermindDL1 commented on #2896
As long as it does not leave the component 'on' the entity, that would suddenly require adding if(whateverComponentEnabled) checks everywhere, which though not hard, adds a bit of overhead that is entirely unnecessary as well as adding extra storage of at least 1 bit to hold whether a component is enabled or not unless a scan through a linear array or map or so is performed, which is even more non

[2017-04-12 14:55] portokaliu commented on #2896
That's why I mentioned the change. Having a bool or enum by which you check only for disable/enabled/both components of a certain class would mean no needing a new method. The component would have a saved bool to say if it's either enabled/disabled, and once that happens, you only need a base component method that returns that value (in case you got the component with "both" but still wanna check

[2017-04-12 15:16] OvermindDL1 commented on #2896
But does mean a lot more conditional checks where there does not need to be, the ECS style already models this, if you want to 'disable' a component, you remove it (serializing its state elsewhere), there is no persist runtime cost for this either, only cost is the action of enabling or disabling the component itself, not on potentially every-single-component-access.  Adding a `boolean` to the bas

[2017-04-12 16:03] oniatus commented on #2896
Some fictional use-cases:

1. A character has a `HealthComponent` and becomes immune. They player should not receive any damage but we could still want to count his health for global statistics.
2. A character becomes immune for a short duration by using a potion. Afterwards the character becomes immune permanent by a command. After the potion effect is elapsed, the character should still be immun

[2017-04-12 17:35] OvermindDL1 commented on #2896
The HealthComponent should only store the default health stats, say just `maxHealth`, there should also be a `DamagedComponent` that shows the amount of damage on the entity, when it is >= the HealthComponent.maxHealth then a system should run that kills the entity, when DamagedComponent hits <=0 it should be removed.

The system that applies damage should check for something like an `ImmuneToDama

[2017-04-15 09:27] emanuele3d opened #2902 "Refactor FBO class to have private GPU-side IDs"
The FBO class currently has public fields such as fboId, which is an integer storing the opengl name. They should most likely be private, although this could/should be done in the context of a bigger refactoring of the FBO class.

[2017-04-15 14:27] emanuele3d commented on #2894
New version of the description - this and other comments on the description iteself will eventually be deleted, to leave the issue clean for further discussions on the subject matter.

----
With PR #2757 almost being ready to merge, it's time we look at the future of FlexibleConfig.

The currently open PR only deals with the actual implementation of FC, and not the front-end that will be used to d

[2017-04-15 14:31] emanuele3d commented on #2894
@vampcat: have a look to the comment above. The idea is that it will eventually replace the initial description and will then be deleted, pending your comments.

[2017-04-15 14:46] vampcat commented on #2902
I feel like this is a nobel change, but since you created an issue for it, I assume you don't just want to convert fboId to private and provide an accessor for it?

If you do, I'll take care of this right after my current PR.
However, if you mean making it actually hidden from the world (no accessors), then there might be a slight problem for the BindFbo StateChange, which relies on the fboId to w

[2017-04-15 15:01] vampcat commented on #2894
"Given an engine/module color setting S with a default value "red", the user could"
Can we please revert to the SnowWhite Module with the Apple color? That was much more interesting than a generic S :P

Onto more serious matters.
"When the checkbox is ticked the input widget for a setting (i.e. a slider or a text field) is disabled and assumes the hardcoded or global default value."
Let's say we h

[2017-04-15 15:24] emanuele3d commented on #2893
What follows is a proposal for the replacement of the current description of this issue. This comment and any following related to this meta-issue will eventually be deleted as to unclutter the space for the discussion on the issue proper.

----
With PR #2757 almost ready to merge, it's time we start looking at the future of FlexibleConfig.

The currently open PR only deals with the actual impleme

[2017-04-15 15:24] emanuele3d commented on #2893
@vampcat: another description replacement for you to peruse.

[2017-04-15 15:34] emanuele3d commented on #2894
@vampcat: regarding the SnowWhite module and Apple color: sure feel free to cut, paste and customize the text. I'd be happy to see a more down to fairy-land example. :smile:

Regarding your check/uncheck scenario, I'd say to keep it simple, at least initially, I'd go for a plain reset. If we really feel there's a need for it we can implement it at a later stage.

Regarding your last paragraph: if

[2017-04-15 15:43] emanuele3d commented on #2902
Yes, private fields with read-only accessors would be enough. Depending on how we want to implement subscription to managers/regeneration (through FBO wrappers or right within the FBO class) you might want to use protected fields instead.

[2017-04-15 22:58] Cervator commented on #2317
Bit of a belated response here but yep, that seems about right :-)

At first I was thinking simply *using* each method in some test, since in that case any method signature change would cause a failure. But if there are validators like that it may be even more correct!

We still would want actual unit tests that exercise stuff too, eventually. I wonder if having the method signature validators wou

[2017-04-17 08:47] qwc commented on #2865
With the current progress (see forum thread) it's already possible to test the debian and rpm packages.
Download here: https://jenkins.mmo.to/view/Packaging/

So everyone using a debian variant (Ubuntu, Mint, etc) or Fedora may now test the packages, please report any issues to https://github.com/qwc/terasology-packaging thanks!

[2017-04-17 09:52] n4n0byte commented on #2472
Just finished removing the old font from the epuipment module, and will start on the rest of the modules soon (I need to download them). Is there a way to download all of the modules for to check? Also how would do you submit changes? (pushing gives a 503 error). Sorry for all of the questions i'm still kind of new to this.

[2017-04-17 15:11] qwc commented on #2865
Simple debian repository is up: http://terasology.mmo.to/deb/

[2017-04-17 18:11] magali-demorangies opened #2905 "Crash while loading (solo mode) world + modules"
### What you were trying to do
After first launch of the game, for my first game I chose the solo game, and there the Sample something world. To customize this world I took several modules, as nothing was warning this could cause a trouble...
### What actually happened
When the game I selected started to load, it suddenly crashed.
### How to reproduce
The problem is I don't remind exactly which mo

[2017-04-17 19:21] gianluca-nitti commented on #2905
That's an `OutOfMemoryError` so the Java Virtual Machine running the game ran out of memory while perfotming the task.
You could try to allow the JVM to use more of your machine's physical memory.

How do you run the game? If you use the launcher, go in its settings (by clicking on the gear icon) and tweak with the Max and Initial memory settings; since you have 8GB total I would set them to 6GB,

[2017-04-17 22:26] vampcat commented on #2893
I've updated this pretty much as it was, but I expect this thread will get quite busy pretty soon :)

[2017-04-18 04:24] #2668 closed

[2017-04-18 15:08] iaronaraujo commented on #2317
I just made a pull request with a tutorial about how to use EvoSuite to create unit tests!
https://github.com/MovingBlocks/Terasology/pull/2906

[2017-04-18 17:48] eviltak commented on #2893
I propose keeping unique top-level FCs, instead of storing them per save game.

The idea is that the user (UI) should be able to define _from which scope_ (of the three different Setting **scopes*, namely **global engine**, **global module** and **per save game**) _a Setting should be loaded from_ and _to which scope a modified Setting should be written_ (both preferably on a per-Setting basis), w

[2017-04-18 23:21] vampcat commented on #2893
I forsee a lot of confusion and mixing of terms for the 3 levels of the FCs, so for the purpose of this post, I'll be calling the 3 levels Global, Module and Save, although the final names will probably be slightly different.

Unless I'm mistaken, having a single top level FC won't work, since we're hoping to provide 3 different levels for each setting. Unless we're willing to hack around the sett

[2017-04-19 00:09] magali-demorangies commented on #2905
First, thank you very much for your very quick answer, I'm really impressed (there is games I paid for whose devs made me wait more than several months before they "try" to get interest in my issues... And I send reports because I think that can help them to fix troubles, not to complaint !). Second, excuse me if this was not really a game or java bug, I must say I am not at all good with Windows

[2017-04-19 02:27] Cervator commented on #2893
Posting just to comment that I read it all, and think I understand it ... but I don't have a hugely strong opinion on it so far with what's been posted. Sounds like the ideal target is being narrowed in on. Will keep an eye out for further details and maybe some initial code sample work :-)

[2017-04-19 04:41] eviltak commented on #2893
@vampcat I think you may not have fully understood my proposal (which I will elaborate further later in this post).

A major problem with your approach which contradicts my statement of keeping everything hidden from FC consumers is that there are _accessor methods_ for each setting Scope, in addition to a `getSetting` method which all consumers are _expected_ to use.

How can we ensure that consu

[2017-04-19 07:59] gianluca-nitti commented on #2905
Glad you solved!

Your report is important, because it points out the game should warn the user in some way when it's running on a 32-bit JVM on a 64-bit system, to avoid people not taking advantage of their powerful hardware. The installer I'm developing for Windows shows a warning during installation if only a 32-bit JRE is found; however an in-game warning should probably be added for people wh

[2017-04-19 13:11] vampcat commented on #2893
That explanation helps clear things out a lot.

First, to address your points:

"How can we ensure that consumers use only the getSetting method, and not any of the other accessors?"
The expected users are modules. Terasology uses the @API annotations to expose only certain methods, and making only the getSetting() an API function should take care of that.

"Which setting should a subscriber subsc

[2017-04-20 02:49] Cervator commented on #2317
Thanks @iaronaraujo for the nice write-up! And for popping up on this issue as I wanted to run something by both you and @GabrielXia :-)

Today during my day job I got into thinking about Semantic Versioning, auto-detecting the correct scope to increment, and *guaranteeing* that a pending release has bumped the version number accordingly (optionally over-scoping - such as incrementing `major` even

[2017-04-20 11:07] eviltak commented on #2893
That's the reason I mention a setting's "desired scope" everywhere. We will need to store a simple value (even an integer works) designating the setting's desired scope along with the setting (this would have been a requirement even when using another approach), which the deserializer takes into account _if specified_ or if a value is available in the desired scope. If not, the deserializer falls

[2017-04-20 11:35] magali-demorangies commented on #2905
Ok, happy I did not totally make you loose your time ! I installed the game from the zip package for Windows (I did not want to use the installer because it's not my computer, and I must be able to take off everything I added, without having to crawl through the register to erase traces...), then no warnings appear during "installation" (unzip + cut/paste folder...). Thanks for this game, and for

[2017-04-20 12:14] vampcat commented on #2893
"this would have been a requirement even when using another approach"
Not really. For instance, in your approach and in my earlier approach, we can just delete the higher priority (Save scope) value, making the system fallback on lower priority node (Module scope), eliminating the need of storing the scopeSelector (an int or whatever).
However, your approach has the added benefit of not destroying

[2017-04-20 22:48] MaxBorsch opened #2909 "Particle System Updates"
Planning and Discussion for the new Particle System #2728

- [ ] **Long-range particlesystem registry, "Chimney-problem"**
- [ ] Optimize updater to partition ParticlePool based on emissionRate of emmiters, not evenly.
- [ ] Create documentation
- [ ] Finish annotating code
- [ ] Create tests

![fireworks](https://cloud.githubusercontent.com/assets/2924585/21667495/891d00b8-d2c7-11e6-9860-0fcdc6f9

[2017-04-21 21:02] vampcat commented on #2828
Sorry for arriving late to the party :D

Let's say we have two buffers, a primary buffer (the write buffer) which is used for almost all drawing operations, and a spare buffer (the read buffer) that is used to update the contents of the primary buffer by passing it through a shader, and swapping the primary and spare buffer via a ping-pong strategy.
(Not to confuse you, but the READONLY_GBUFFER is

[2017-04-21 22:50] emanuele3d commented on #2828
Thank you for the detailed analysis @vampcat.

Regarding the read/write vs primary/spare:

The primary/spare doesn't describe the purpose of those buffers. You need to know the ping-pong aspect beforehand - although this could be explained in some javadoc or even a tutorial. Furthermore the term "primary" is a bit misleading given that eventually these gBuffers are abandoned in the "post-processin

[2017-04-22 03:06] Cervator opened #2912 "If a player has already picked a custom name don't prompt them to pick a custom name"
The first time a player enters either Host Game or Join Game they get a prompt to pick a name - but should really only get one if they *haven't already* picked a name.

At present you can start the game, go select a custom player name, then still have the game helpfully try to offer to set you up with a custom name. That's silly. Probably an easy fix :-)

[2017-04-22 03:37] Cervator opened #2913 "Problems with some types of targeting as a client in multiplayer"
When testing local multiplayer with either a client-server + client or headless + client there are problems with targeting for a pure client player. Specifically trying to break blocks with regular fists or tools doesn't seem to hit the right spot - in one case I was breaking blocks about 10 blocks away.

Amusingly if I tried to hit the hosting player with the client player *the client player woul

[2017-04-22 09:51] Malanius commented on #2912
I'll take a look onto it.

[2017-04-22 22:28] GabrielXia commented on #2317
Thanks @iaronaraujo for the cool tutorial and @Cervator for the interesting propose, I like it !!! 👍

So if I understand correct, we are going to do:
- For each API:
    - Auto-generated tests using EvoSuite for the code coverage
    - Method signature detection to API violation
    - More meaningful test
- Compare the API we have **vs** API we tested **vs** the state in `master` branch for docume

[2017-04-23 12:35] taisph commented on #2802
I had a similar issue on Linux. There's a bug handling multiple display outputs in lwjgl versions after 2.9.0 or 2.9.1. It is fixed in their 2.x master branch (PR: https://github.com/LWJGL/lwjgl/pull/116). I compiled lwjgl manually and replaced the lwjgl libraries in the latest Terasology release. After that the game runs perfectly.

[2017-04-23 17:08] iaronaraujo commented on #2317
That's a pretty nice idea! Regarding EvoSuite, I think it will fit this scope very well! It will still be necessary to check the tests generated to see if they make sense and also make some code adjustments, but after these tasks are done, the tests would be very useful to check how much a new PR would change the engine.

I also had the same doubts as @GabrielXia . I think it's easy to manually ch

[2017-04-24 19:16] Cervator commented on #2317
@GabrielXia that sounds about right yep

1. Yeah I think `protected` should be ignored since such methods wouldn't be part of the Modding API

2. That's where the PR vs `master` comes in handy:

* If you run the generated API tests from the `master` branch (likely stored somehow in Jenkins or Artifactory as of the latest release) against the *source* of a PR then if the author changed a method sig

[2017-04-26 01:48] Cervator commented on #2905
Closing as resolved :-)

Hi @magali-demorangies, thanks for the report, and I'm glad you were able to resolve it :-)

[2017-04-26 01:48] #2905 closed

[2017-04-26 01:52] Cervator opened #2915 "Game clients fail to dispose after exiting from regular connected session with a headless server"
I know we've had active disposal issues from time to time, but they tend to take some sort of unusual condition to trigger like the server itself crashing or the client failing to cleanly disconnect etc. Search for "dispose" or "disposal" here in the issues to find some related issues.

Right now I simply ran a local headless server + two regular clients from IntelliJ, connected the two clients, t

[2017-04-29 03:12] Cervator commented on #2915
Additional quick test: Running two clients with one hosting did not cause the issue. Exited with the pure client first, disposed fine, exited the host client, also exited fine. So may be specific to headless? Or higher player count?

[2017-04-29 03:14] #2354 closed

[2017-05-01 10:19] ar0ne opened #2921 "Small translation updates required"
Hi All,

This issue related PR #2920, where we decided to change part of greeting phrase ("enter-username-message")
**From**: Would you like to use a non-default username?
**To**: Would you like to update your username?

You can see it when first visit of Join/Host game menu.
At present we need small changes in our translations for next languages:

- [ ] cs (Czech)
- [ ] fa (Farsi)
- [ ] fr (Frenc

[2017-05-01 17:05] supergirl22 opened #2922 "Minecraf"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-05-01 18:36] nihal111 commented on #2922
Closing this as spam.

[2017-05-01 18:36] #2922 closed

[2017-05-01 18:40] Translator5 opened #2923 "Rename view-distance "titles". [SUGGESTION] [TRANSLATION]"
What's about to name the View distance using Animals?
[code]
I think this is more suitable for this kind of game.

[2017-05-01 18:45] nihal111 opened #2924 "NUI Editor vs in-game display discrepancy"
The NUI-Editor (F10) displays something while the exact same UI appears differently in-game.

Discovered when playing around with `WorldlyTooltip.ui`
[Link to exact commit](https://github.com/nihal111/WorldlyTooltip/blob/c3d0f25064d6e8dd9d61449d5e7a0be4e5bdd236/assets/ui/WorldlyTooltip.ui)

What was displayed inside the NUI Editor:
![screenshot from 2017-05-01 23-23-55](https://cloud.githubusercon

[2017-05-01 18:51] nihal111 opened #2925 "NUI Editor changes not reflected"
After making changes using the NUI Editor (F10) and hitting Save, I get a console message like:
[code]
However, the said changes do not reflect in game. The associated .ui file does get changed, though.

[2017-05-01 19:32] emanuele3d commented on #2923
It's a creative idea but it obfuscates something that should be quite unambiguous in my opinion.

I wouldn't mind if an external Module did it though. I'm just not sure modules have access to those strings at all. Perhaps in the context of working on internationalization support this could become possible.

[2017-05-01 19:43] Translator5 commented on #2921
I now fully re-translated the German translation manually.
(With open Terasology on the one desk and Weblate on the other one.)
Now there are much more context-related phrases!
*As soon as GitHub will recognize them, I will create a new Pull request!

Based on the German translation I will try to do the Russian translation soon.
The current Russian translation is full of false-context translations

[2017-05-01 20:48] nihal111 opened #2926 "NUI bug with min-height"
I tried adding a box around for the WorldlyTooltip.

The specific commit is here- [WorldlyTooltip.ui](https://github.com/nihal111/WorldlyTooltip/blob/39f1c1b244d9dce8704d82295989734fccfa8cd8/assets/ui/WorldlyTooltip.ui)

The ui file clearly has `"height":50` set for the ItemIcon. Also, `"min-height":50` is set for the `tooltipContainer` (columnLayout). Both of these are children of UIBox. However

[2017-05-01 21:06] Translator5 opened #2927 "Consistent UI screen styles"
I would like to see a menu using a uniform!
Actually there are PopUps and Message boxes used in the main menu, as well as in-game.
This looks horrible if one screen is transparent and the second one is using a strict gray-tone!

change the background to **transparent** and **center the titles** as well as possible to **underline** them;
[code]

change the background to **strict gray**;
[code]

cre

[2017-05-02 04:35] Cervator commented on #2912
Completed by #2920

[2017-05-02 04:35] #2912 closed

[2017-05-02 19:09] nihal111 opened #2928 "UIBox with relativeLayout child"
Adding a relativeLayout as a child to a UIBox and then setting
`"use-content-height": true`
for the UIBox gives weird results.

![relative](https://cloud.githubusercontent.com/assets/13916513/25634606/d834e3f4-2f98-11e7-882f-897a3fcf56b4.png)

[2017-05-02 22:06] flamontagne commented on #2928
😍XXXXXXXXXXX

On Tue, May 2, 2017 at 3:09 PM, Nihal Singh <notifications@github.com>
wrote:

[2017-05-03 15:43] nihal111 commented on #2913
Leaving my findings here-
A VR related PR creates this issue
A recent commit by indianajohn (91db417b291c95a6024b41ed22fecce0eda1f4a3) seems to cause it.
Everything works fine till the commit just before that, (5b1853841155bdff9eefc7ae0510a0d0689192ee).

An older commit (0d3ce8e3e7356e1bce80e5f271e321fde5b5f261) was also discovered to have the same issue. Although this is older than Alpha7 and was

[2017-05-03 19:58] skaldarnar commented on #2472
Hey @n4n0byte, sorry for the late answer. Quite some things to do with GSOC right at the start.

This repository is protected from arbitrary pushes, that's why you cannot push directly. Instead, you push to your _fork_ (`github.com/<username>/Terasology`), and create a Pull Request (PR) from there against this repository (`github.com/MovingBlocks/Terasology`).

Read through the [starter guide](htt

[2017-05-04 03:51] Cervator commented on #2913
Poking @indianajohn for reference if curious to check it out :-)

More info in #general on Slack - in short it seems like the local player system on the server is always used to look for targeting *even on a different connected client-only player* or something like that. So as player 2 if you walk up to player 1 and attack, you'll actually manage to attack yourself (assuming player 1 is looking at

[2017-05-05 07:08] oniatus opened #2931 "Optional dependencies: module download behavior unclear."
Taken from a recent discussion on slack, it seems that the download process for modules with optional dependencies does not work as expected.

Two cases so far:
1. The user enables a module A with an optional dependency B (and maybe a transitive second optional dependency C from B). Should the game download only A, or A-B-C or should it prompt the user if the wants to download all dependencies? Sa

[2017-05-06 04:36] Cervator commented on #2915
Cannot reproduce anymore, will close this as probably just a quirk from the small assortment of disposal issues that come up from time to time.

[2017-05-06 04:36] #2915 closed

[2017-05-06 04:40] Cervator opened #2933 "Fix likely broken motion controller functionality due to slight rollback"
Merging #2932 to fix #2913 - likely this will break part of #2793.

Details in #2913 but in short we probably need to find an alternative way to make the targeting changes required by the motion controller setup, so it doesn't break a certain kind of targeting interaction in multiplayer.

@indianajohn this might be of interest to you :-)

[2017-05-06 04:42] Cervator commented on #2913
"Fixed" by #2932 by reverting a tiny bit of #2793. Submitted #2933 as a follow-up to later find a more proper fix.

[2017-05-06 04:42] #2913 closed

[2017-05-06 08:05] oniatus opened #2934 "Incompatible test libraries, mockito-all and Junit 4.11+"
Execute the following test somewhere in the `engine-tests` project to reproduce:
[code]

Instead of
[code]
I am getting
[code]

The issue seems to be in the dependencies of the test project:
[code]

The problem here is, that `mockito-all` bundles hamcrest `1.1` but junit has a transitive dependency to hamcrest `1.3`. The IDE picks up the hamcrest version from junit but the tests get executed with

[2017-05-06 09:39] flo opened #2935 "Allow filtering out library modules from module list"
The user currently gets all modules listed by default to select from. A lot of those modules are however only intended to be used as libraries by other modules. It does not make sense for the user to select library modules manually as they do nothing by themselfs. For this reason it does not make sense to list those module in the module list by default. e.g. the Pathfinding module is such a librar

[2017-05-06 10:13] flo opened #2936 "Smoother animation transitions"
### Current situation
Currently when you change the animation of a model the new model instantly snaps to the first animation pose of the newly chosen animation. This can look bad if for example the animation got started before the other animation was able to get back to the normal "rest" position.

### target situation

The animation system creates a smooth transition between the animations:

Abo

[2017-05-06 14:49] Translator5 commented on #1911
Whats about to make a poll on the website, where the users can vote for module-lists & the top 10 or top 5 will be used in the next update? (in addition to the "custom" selection)

[2017-05-06 17:35] Cervator commented on #2590
Stiiiiiill happens

https://pastebin.com/pzjut06J

[2017-05-06 17:53] keturn opened #2938 "wavy water appears as blurred edge to objects not near water"
(during 6 May 2017 play test)

The wavy effect on water picks up things that are *visually* near adjacent to the water, even if they're nowhere near the water in space.

For example,
![the torch in my hand](https://cloud.githubusercontent.com/assets/83819/25774696/664dc130-3249-11e7-9122-600b0ec39273.jpg), or
![this platform far above the water](https://cloud.githubusercontent.com/assets/83819/257

[2017-05-06 18:22] Cervator opened #2939 "Dying with the player online UI visible makes it get stuck, player cannot work any other UI element or make it go away"

[2017-05-06 18:36] GabrielXia commented on #2939
When player dies with the `Online Player` UI visible (holding `tab`), the `Online Player`UI remains and covers other buttons. So the player can neither play nor exit.
![2017-05-06 8 01 26](https://cloud.githubusercontent.com/assets/17897358/25774993/0d6ce17a-329b-11e7-8eb9-3e2a60b49d38.png)
- code of this UI: engine/src/main/java/org/terasology/rendering/nui/layers/ingame/OnlinePlayersOverlay.java

[2017-05-06 18:48] Cervator opened #2940 "Game crash from OpenAL buffer unqueue - invalid value"
May be difficult to analyze, but maybe we can improve the logging.

Happened to @arpan98 and I *think* I've seen another OpenAL crash in the recent few months, but it seems so vague and inconsistent I'm not sure what to do with it. Maybe it relates to having a large amount of concurrent audio sources? We were in multiplayer with several players around, a ton of deer walking (triggering footstep sf

[2017-05-06 18:53] GabrielXia commented on #2939
Upload logs after drying
[code]

[2017-05-06 19:13] Cervator commented on #2940
Happened a second time, for @0shine0 this time - so probably a game issue rather than OpenAL itself.

https://pastebin.com/vVQ1nDgs

It happened after a bunch of dwarf hall requests to Gooey. That causes particle effects each time for sure, I am not sure if maybe it causes sfx? Or maybe just some heavy processing for a moment

[2017-05-06 20:06] #2923 closed

[2017-05-06 23:42] emanuele3d commented on #2893
Just a few quick notes until I find the time to respond more in depth.

1. keep in mind the lifecycle of settings. Modules settings do not exist until a game is loaded/created. Per-save settings do not exist until a game is loaded. And ideally no setting instance should exist unless it overrides a higher level scope. Granted, the last assertion depends a lot on the actual architecture.

2. FCs so

[2017-05-06 23:54] emanuele3d commented on #2938
Oh yeah. We know. The renderer is undergoing considerable refactoring - and has done for a while.

We are certainly getting to the point where we understand why issues like this one are happening. In this specific case the whole scene, including held-in-hand items, is rendered in the reflection, but as the reflection in this case is largely a 2d trick rather than proper (i.e. raytraced) reflection

[2017-05-06 23:56] emanuele3d commented on #2590
@Cervator: I'm thinking we might want to put a bounty on this one. 50-100 USD?

[2017-05-07 03:49] Cervator commented on #2590
@emanuele3d done! We had $50 sitting around in our team account so I added that onto here :-)

[2017-05-07 04:38] Cervator commented on #2893
Quick scope note (sort of re: @emanuele3d's 1st point): one of the GSOC items and/or part of what @Vizaxo might end up working on includes enhancing the world setup phases to include a preview/config stage before you fully create a world. Similar stuff could be done for saved worlds (that item didn't get a slot though - but maybe unofficial work?)

Existing world preview/details has this to a poin

[2017-05-07 04:50] Cervator opened #2941 "Module changes needed as follow-up to PR #2728 to avoid API violation"
As noted near the bottom of #2728 it breaks a few modules using particle effects, which would be an API violation if allowed into a stable release.

Usually it'll be users of `BlockParticleEffectComponent` which has been split into multiple smaller pieces (see the fix for GooeysQuests), also sometimes there are simply prefabs to update. In JS the base engine block breaking particles were delta'ed

[2017-05-07 04:54] Cervator commented on #747
Closing this as resolved / obsolete with the new particle system in #2728 merged - the new particles do not seem to cause this issue :-)

In fact they look quite pleasing IMHO as they have an apparent location in 3D space so if you squeeze really close against a block and break it some of the particles will fly over your way and only when "realistic" come between you and a held object. Usually the

[2017-05-07 04:54] #747 closed

[2017-05-07 08:04] #2836 closed

[2017-05-07 13:10] oniatus commented on #2833
Merged #2839 so the first letter does no longer move the player.

I could still walk with the console open if i hold 'ctrl' while pressing a movement key. Not sure if this is the intended behavior though.

[2017-05-07 13:39] emanuele3d commented on #2893
@Cervator: good point. In my 1st point I sort of included world gen in the concept of Module settings not existing until a game is loaded/**created**, but I can see it was too subtle a distinction.

Indeed module settings (at this stage) begin to exist as soon as a game is being configured for the first time, which includes, for example, world generation. But there is a gap between the time when t

[2017-05-07 19:48] flo opened #2943 "Torches give only light underwater on lower graphic settings"
### What you were trying to do
Diving in a cave while holding a torch

### What actually happened
Depending on graphic settings I got different results:
- Medium: Almost completely dark
- Low: Acceptable good lighting as long as you don't go to close to a wall. In that case the light radius will shrink until everything is dark.

### How to reproduce

* Dive while holding  a torch. Ideally undergro

[2017-05-08 03:24] #2742 closed

[2017-05-08 03:32] Cervator commented on #2821
I think we forgot to close this when #2849 was merged. Closing as complete.

[2017-05-08 03:32] #2821 closed

[2017-05-08 04:04] Cervator commented on #2940
Noticed this was reported during Alpha 7 testing as well (by me, no wonder it seemed familiar) as well: https://github.com/MovingBlocks/Terasology/issues/2766#issuecomment-284208798

So maybe it *is* an issue we can try to find a way to address.

[2017-05-08 04:04] Cervator opened #2944 "Alpha 8 release prep and QA"
Not expecting we'll release in the very near future but wanted to get an organizing issue started.

The Alpha 7 companion issue is #2766 and still has some open items.

Tracking play tests via an org-level GitHub project seems potentially very useful as anybody with membership in the org (any contribution gets that) can add the "notes" that aren't quite issues yet but can be reviewed after the tes

[2017-05-08 04:07] Cervator commented on #2766
Sorry for the belated reply @skaldarnar :D

I wanted to close this out by pushing forward any remaining issues to somewhere appropriate. I just submitted a similar issue for Alpha 8. We probably just need to create some follow-up issues here and there, much like we should after doing a play test and reviewing an associated project board.

Won't have time tonight but am beginning to like the extra

[2017-05-08 18:10] qwc opened #2946 "Crash on start with a laptop with two graphic cards [Linux, Bumblebee, optirun]"
### What you were trying to do
Starting the stable release from the Launcher
### What actually happened
Loading screen, some things happening -> Crash
### How to reproduce

* Have a current Laptop with two graphic cards, in my case its a
Dell XPS 15 9560, Intel i7-7700HQ and a Nvidia 1050
* Install bumblebee[d] and optirun/primusrun for proper using both cards.
* Start the Launcher with optirun Te

[2017-05-11 03:40] #2527 closed

[2017-05-11 03:45] Cervator commented on #2364
Closing as possibly obsolete or fixed by #2945 - we can always reopen later. Likely some needed context/environment tweaks will effectively reset this anyway sooner or later.

[2017-05-11 03:45] #2364 closed

[2017-05-11 04:21] Cervator commented on #2921
Bump - merged the first PR and Weblate has refreshed now.

@Translator5 could you please double check on Russian? I had to resolve some conflicts manually and a few might have gone with a worse option. Hard for me to tell which is better :-)

There are other known issues where some languages aren't showing up in Weblate right. Not sure at present how to fix, need somebody able to spend some time p

[2017-05-11 11:57] #2831 closed

[2017-05-11 15:14] Translator5 commented on #2921
Some issues, belonging to the translation;
- we need separate name-strings for the "Player-Name:"-input and the "Behaviour"- as well as the "NUI-Editors"-title-input - because of translation issues!
- we should change the Settings in the NUI-Editors from "disable XYZ" into "enable XYZ" or "toggle XYZ" cause of translation issues (it looks better if settings just take one text-line, instead of 2 li

[2017-05-12 08:23] emanuele3d commented on #2893
As we work out the bigger picture, and also noting that there is a fair amount of interest and a sense of urgency around FlexibleConfigs, I think we need make concrete progress. In this context I'd recommend a more pragmatic approach:

- we park, for the time being, the per-save config feature
- we park, for the time being, the module settings _overriding global settings_ feature

instead:

1. we

[2017-05-15 18:57] oniatus opened #2949 "Client entity polling in input system"
The current version of `InputSystem` created the list of entities for the input like this:
[code]
This method is called for *every* input, for *every* bind. With a short counter i got something like 5k calls per second, which is 5k arrays for the garbage collector and 5k component lookups inside the localPlayer to fetch the character entity.

It is probably best to cache this array in the input sy

[2017-05-16 02:56] Cervator commented on #2921
Thanks for the spam report - yeah I noticed that too a few days ago but didn't have time to figure out what to do about it. Just now I spent a bit of time digging around and found a way to bulk delete all existing suggestions (including maybe 10 or so valid ones, sadly) so Weblate is clean now.

I didn't find an obvious way to simply disallow anonymous suggestions, seems like it is either turn the

[2017-05-16 03:18] #2934 closed

[2017-05-16 03:21] Cervator commented on #2934
Left a note on the PR that oddly I get different behavior in IntelliJ - but Jenkins appears to be fine.

Also curious to hear more IDE reports from anybody else able to test. @msteiger & @skaldarnar maybe? @vampcat?

[2017-05-16 06:45] vampcat commented on #2934
I can verify that I get the same results - NoSuchMethod exception in IntelliJ.

That being said, @Cervator It is interesting to note that the problem I encountered with DestSol and guava was pretty much identical, with version mismatch leading to problems. Is there any way to prevent inclusion of old versions of library in gradle, if a newer one is already present?

[2017-05-16 16:49] Translator5 commented on #2921
I personally use them, its helpful. E.g. for other possible translations, maybe some translations do not work cause of text-field size, context, multiple-context possible translations etc.

[2017-05-16 19:29] SkySom commented on #2934
`compile("project") { exclude module: "dependency"}` I believe this is how gradle deals with such things. At least it's what I've used in projects

[2017-05-17 03:26] Cervator commented on #2921
I'd be happy to add them back in when we have some web master type capacity to maintain the system better. Like setting up a sensible user permissions setup that'll still make it really easy to start translating but harder to spam :-)

[2017-05-17 03:30] Cervator opened #2951 "Unit test issues in IntelliJ - follow-up to #2934"
After merging #2934 a handful of unit tests are showing strange errors in IntelliJ, while working fine in Jenkins (via Gradle) and probably also fine in Eclipse?

Possibly of interest to @oniatus @vampcat @SkySom @kaen @iaronaraujo

See #2934 for further details.

[2017-05-17 05:00] vampcat commented on #2951
For the record, the unit tests run fine in my IntelliJ workspace.

[2017-05-17 06:45] oniatus commented on #2951
Found no way to reproduce the exception from https://github.com/MovingBlocks/Terasology/pull/2942#issuecomment-301664443 in my Eclipse workspace. Weird that this behaves so different  :confused:

[2017-05-17 07:49] gianluca-nitti commented on #2951
I had problems too when I pulled the upstream to my fork and to my local repository yesterday, IntelliJ was showing compilation errors (don't remember exactly where). I did the following:
- Close IntelliJ
- Run the tests from Gradle: `gradlew test`; I saw it downloaded some jars during the process, so I suppose the problem was IntelliJ not finding these dependencies; took a while, but all the test

[2017-05-18 05:17] Cervator commented on #2951
I thought maybe I had to do a thorough workspace cleanup and recompile, but so far no luck. Tried the `gradlew test` but it runs into problems with a few of my modules for unrelated reasons (and `gradlew :engine-tests:test` is bizarrely slow - known issue)

Probably I should tidy up to where my workspace is more solid and try again. I did notice `gradlew test` started grabbing a few more dependenc

[2017-05-20 18:10] Bobondacob opened #2953 "Immediate Crash Upon Right Click On Block"
### Right click on any block in order to interact, intent to destroy block.
### Game froze and shortly after crashed immediately after right click initiated
### after long 1 by 1 addon deselection to try and detect the issue, no dice so far. Anything I'm missing here? Any suggestions as to what I should and should not do when using addons?

### Log file:
`<: https://drive.google.com/uc?id=0B5l2RT_

[2017-05-20 18:33] oniatus commented on #2953
Thanks for the report, looks like a version issue.
Lot's of errors like
[code]

and the final crash
[code]
The last one is a bit odd because the class `ParticleDataSpriteComponent` and the calling code from `BlockDamageAuthoritySystem.onPlayBlockDamageCommon(BlockDamageAuthoritySystem.java:126)` have been added in the same PR: https://github.com/MovingBlocks/Terasology/pull/2728

Which build are y

[2017-05-20 20:14] Cervator commented on #2953
Huuuuge list of modules activated might relate. Try to just run "CoreSampleGameplay" or "JoshariasSurvival" please :-)

"ALPHA TerasologyStable 2013-3-20" also worries me a bit. A stable release from 2013? We weren't even Alpha back then. Just updated modules via in-game module browser or something?

The particle stuff is #2941 and may also relate since a few affected modules have not yet been reb

[2017-05-20 20:29] nihal111 opened #2955 "An alternative to or an improved OnEnterBlockEvent"
The current [OnEnterBlockEvent](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/logic/characters/events/OnEnterBlockEvent.java) is sent multiple times depending on the height of the player. A loop defined [here](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/logic/characters/KinematicCharacterMover.java#L194)

[2017-05-21 01:35] Cervator commented on #2955
For a bit more (we had some discussion on Slack): the new `OnEnterBiomeEvent` (#2954) disregards player height while `OnEnterBlockEvent` doesn't - one event is triggered for *every* block from the player's feet to head. That stuck out as a practice that might have happened elsewhere for other cases and could use a bit of extra consideration.

Both cases are valid, but I don't know if we make it cl

[2017-05-21 03:15] Cervator commented on #2951
Update: Still no luck. Have tried a full `gradlew clean cleanIdea idea` after disabling a few problematic modules. Have tried the various dependency ordering and exclusion ideas from the links in the original issue. Have tried `gradlew test` both with the full exclusion setup and with the code as-is.

I *suspect* it relates to either IntelliJ version (my main IntelliJ is on 2016.3.3 so a little ol

[2017-05-21 03:29] Bobondacob commented on #2953
Obviously pretty new to the program. Wasn't sure how many was too much or too little, and yeah, I can see how that could cause problems now. It is the latest Omega build.
<The 2013 was a typo, fixed now.>

[2017-05-21 03:40] Cervator commented on #2953
Oh phiew then, that part really had me confused, hehe :D

Thanks for following up! Let us know if it works out better just sticking with a template. Some modules still may not work due to #2941 but so long as you stick with the latest Omega stable zip without updating modules in-game (since then you'll get modules not considered stable) you should be ok

[2017-05-21 17:56] Cervator opened #2956 "New tutorial module request: i18n"
As indicated in PR #2918 we should better highlight how to provide and use internationalization assets, including now in modules with that PR merged.

Translation still needs plenty of work (like #2433, #2677, or #2621) as well as better documentation, but we have a decent start and it would be nice to have a typical tutorial module that shows how it works.

Little trickier to have any sort of int

[2017-05-22 13:36] Wafflemon commented on #2934
This issue was moved to Wafflemon/Frothleikr#5

[2017-05-22 14:23] oniatus opened #2957 "Module bindings are not translated when accessed from menu"
Module assets are not translated when the settings are opened from the menu. Opening the settings from a game with the module enabled shows the correct translation.

To reproduce, create a module, e.g. `TestAndTryout`.
Create `assets/i18n/input.lang`:
[code]
`assets/i18n/input_en.lang`:
[code]
`org.terasology.testandtryout.binds.GreeterButton`:
[code]
`org.terasology.testandtryout.binds.package-in

[2017-05-23 05:06] Cervator commented on #2957
Similar issue: input bindings from modules can get all shuffled and problematic in the main menu. Two modules could declare the same key or use the same binding. Even if not enabled for an actual game that can still cause trouble. Also downloading a new module via in-game module browser doesn't update what's available as far as settings go.

I am skeptical of this being bite-sized since it may wel

[2017-05-23 07:11] oniatus commented on #2588
Bindings are read from all `@InputCategory` annotations like so:
[code]

The `InputSettingsScreen` use the SimpleUri from the ordering field to create the labels and controls.
So basically everything where the module property from the uri is not "engine" is resolved from a module.

We can fetch the module with this name from the `ModuleRegistry/Environment` (probably the first) to show the display

[2017-05-23 07:21] oniatus commented on #2957
I think #2309 is done, as there is i18n support for settings. Not sure about the other stuff which was discussed there.

Do we agree that we want to show all input bindings anytime? This could maybe be fixed in one change together with #2588. Maybe the fix for this one is as easy as loading the the translation assets and rendering them together with the module name for #2588. Needs a bit of resear

[2017-05-23 09:35] njbbaer commented on #2802
I am currently having this issue on Linux. Can @taisph go into greater detail about how to replace the replace the lwjgl libraries?

[2017-05-23 13:10] Cervator commented on #2896
Adding in some feedback from @immortius via Slack:

So the base support for this might best go in the new v6 of Gestalt that includes the entity system in our external library, which still needs to be adopted for the Terasology engine. Unsure if that might push this to a v2.0.0 release due to backwards incompatible reasons. Should also include some doc updates and ideally another tutorial or two -

[2017-05-23 13:16] immortius commented on #2896
I really don't think disabling health would be a good approach to invulnerability for multiple reasons (e.g. if you have a health bar above an enemy, it would disappear when the enemy is invulnerable, which is not great).

[2017-05-23 18:18] viesturz opened #2959 "Crash"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-05-24 14:43] #2959 closed

[2017-05-28 19:03] nihal111 opened #2963 "Console input sanitation before auto complete"
### How to reproduce

* Open up console
* type in `tele[` and press TAB for autocomplete
* Check error in log
* type in `tele(` and press TAB for autocomplete
* Check error in log

There is a regex error that shows up. An error log like [this](https://www.irccloud.com/pastebin/3X2Tghl3/console%20error%20log). The input should probably be sanitised of parentheses and square brackets before regex ma

[2017-05-28 21:50] taisph commented on #2802
@njbbaer Ugh. Basically you'd have to pull the master branch from https://github.com/LWJGL/lwjgl, follow their guide and build the binaries. Then you have to find the correct files in the resulting build and replace their counterparts in Terasology; in `libs` and `natives/linux` if I remember correctly. I am sorry I cannot be more specific than this but it's been awhile.

TBT, the Terasology team

[2017-05-29 02:03] Cervator commented on #2834
Closing as completed by #2847 :-)

[2017-05-29 02:03] #2834 closed

[2017-05-29 03:30] Cervator commented on #2802
Sorry for missing your earlier comment there @taisph - thanks for linking that issue :-)

I think we briefly looked at a later LWJGL quite a while back, although I think it was for some unrelated bug fix for applet support that has now been discontinued anyway. So we just put all that off to a future consideration of going LWJGL 3 or LibGDX.

But if there's a fix that tasty in the latest LWJGL nig

[2017-05-29 16:43] Cervator commented on #2963
Closing as completed by #2964 :-)

[2017-05-29 16:43] #2963 closed

[2017-06-03 20:25] Cervator commented on #2944
Some new (or just not added yet) modules:  Anatomy, AdvancedBehaviors, Inferno, InGameHelpAPI, Lost, SegmentedPaths (for Rails), WoodAndStoneCraftingJournal

[2017-06-04 11:56] #2853 closed

[2017-06-04 18:51] nihal111 opened #2971 "Rendering a wireframe box for a BoxShape Component"
BoxShaped colliders do not have a wireframe box that gets rendered around them.
@emanuele3d will add details.

[2017-06-04 18:56] nihal111 opened #2972 "Wireframe box for an moving entity does not change"
For an entity as attached below, I do get a wireframe box that houses the whole model. (appears by pointing cursor at the handle)
![image](https://cloud.githubusercontent.com/assets/13916513/26764490/517cca50-4985-11e7-96a1-5f665fd1dc31.png)

However, when the model moves, in this case, rotates, the wireframe box does not follow. That is, the wireframe box remains static or fixed at the initial po

[2017-06-10 12:42] gianluca-nitti commented on #2436
For reference, if anyone is interested, I'm working on the features proposed in this issue as my GSoC 2017 project. Here are some relevant links:
- Main repository: FacadeServer ([MovingBlocks upstream](https://github.com/MovingBlocks/FacadeServer) - [fork with my branches](https://github.com/gianluca-nitti/FacadeServer/branches))
- [Project board](https://github.com/orgs/MovingBlocks/projects/5)

[2017-06-10 12:57] TheFlash98 commented on #2956
Hey, I would like to work on this issue!

[2017-06-11 19:13] skaldarnar commented on #2956
Hi @TheFlash98,

just go ahead 😄 Did you already familiarize with the code base and i18n in particular? Also have a look at the other tutorial modules to get an idea of what we are aiming for here.

You can start your work in a repo called `TutorialI18n` which can later be transferred to the Terasology organization. An alternative might be to include a section about i18n in the [TutorialAssetSyste

[2017-06-11 20:09] TheFlash98 commented on #2956
Actually I am completely new to Terasology. Could you guide me a bit further? I have the project locally running. I have not familiarised myself with i18n? Could use your help @skaldarnar

[2017-06-11 20:31] skaldarnar commented on #2956
Then be welcome (and say "hi" in our [forum] sometime). 😃

Issue #2918 linked above briefly explains how to use the i18n in Terasology. PR #2732 demonstrates how to change hardcoded string in english to use the translation system instead. A couple of new languages were added during GCI, for instance in PR #2737.

For a start, you could try to create a new module with a simple command and two langu

[2017-06-12 16:58] oniatus commented on #2956
And here is a guide derived from #2918 : https://oniatus.github.io/developing/translation.html

[2017-06-14 19:04] Vizaxo opened #2976 "[Discussion] Sectors Implemenation/API"
Sectors are a concept I am implementing into Terasology as part of my GSoC project. They have been described before ([forum](http://forum.terasology.org/threads/new-conceptual-layer-sector-plus-musings-on-multi-world-node.1420/), [github](https://github.com/MovingBlocks/Terasology/issues/2774)), but here's a basic rundown.

### Basic explanation

The current entity system stores entities in a glob

[2017-06-14 21:28] skaldarnar commented on #2976
Also consider https://github.com/MovingBlocks/Terasology/pull/2975 for this discussion.

Some of my comments on your PR address some of the questions here. If the user has the responsibility (or at least possibility) to create and assign sectors the interfaces might become easier/more accessible. However, this goes against the idea of having sectors automatically split (depending on some propertie

[2017-06-15 00:45] Germs2004 opened #2977 "Crash on first launch - stable release build alpha71"
Run launcher, downloaded latest Release, ran game, clicked Single Player.  As world was loading, crash.  never got to world.

log:
https://pastebin.com/TNdJ4WFa

[2017-06-15 00:54] Germs2004 opened #2978 "crash on first launch - development build alpha2001"
Since I could not run the latest release build, I tried the latest dev build.  I ran the launcher, downloaded the dev version, and as soon as I click the Play icon, it crashes.  The game never loads, not even to the main menu.

log: https://pastebin.com/cmm1UmLt

The release build's log had a nice stack trace.  This dev build log looks pretty unhelpful.  In the crash popup window, it has this tidb

[2017-06-15 20:58] skaldarnar commented on #2977
Hi @Germs2004 and thank you for the report(s). For the one above, something went wrong with our reflection handling (which should not happen).
Pinging @Josharias since it occurred in JS game mode.

@Germs2004 could you try to download older versions of the stable game (through the launcher) and see if the same problem occurs?

[2017-06-15 21:02] skaldarnar commented on #2978
This is indeed not very helpful. What kind of PC are you using? Can you please share the specifications (in particular the GPU/graphics card).
I'm not sure this is graphics related, just in case pinging @emanuele3d

[2017-06-15 21:03] skaldarnar commented on #2978
Related to #2977

[2017-06-16 02:51] Germs2004 commented on #2978
Windows 10 Pro 64
Intel i5-3570 CPU
ASRock H77M motherboard
16GB RAM
NVidia GeForce GTX 1070
Running as regular user, not local admin account

[2017-06-16 03:07] Germs2004 commented on #2977
Yesterday, I got the error on the latest stable, which was alpha 71.  Today, I tried alpha 70, and it worked.  I was able to load the map and see my surroundings, though it was super slow to load the textures (I gave up after 15 seconds of mostly gray screen).  The slow loading in v70 might be my weird software RAID setup.  I then exited and tried to load Alpha 71 again, and got the same error as

[2017-06-16 08:30] nihal111 opened #2980 "Wireframe box does not move with moving entities when targetted"
The wireframe box that appears around an entity seems to stay stationary even when the entity is moving.

I've created an entity with a Box Shape and Rigid Body attributes. The entity gets an impulse when I hit it. The following GIF shows the bug in detail. When I have my crosshair on the moving entity, the wireframe box that gets rendered stays in its initial position even though the entity moves

[2017-06-16 17:14] Vizaxo commented on #2976
@skaldarnar (this reply will cover both the comment above and the PR review [here](https://github.com/MovingBlocks/Terasology/pull/2975#pullrequestreview-44138941))

<hr>

The current implementation only has one sector-level entity cache, and I agree that that might not provide many benefits. The plan is for the sector manager to allow handling of multiple caches, so there can be many sectors in a

[2017-06-17 20:24] TheFlash98 commented on #2956
@skaldarnar and @oniatus thanks for your help. I had a look at the tutorials and issue #2918 and PR #2732
The guide https://oniatus.github.io/developing/translation.html gave me a good idea as to how i18n and i10n work. I fetched the module [TutorialAssetSystem](https://github.com/Terasology/TutorialAssetSystem/). How should I go about making a tutorial?

[2017-06-17 20:41] emanuele3d commented on #2980
Thank you for the report @nihal111. It might get automagically fixed in the context of the Rendering Overhaul project or it might get debugged separately, hard to say when though, at this stage. =(

[2017-06-17 20:42] emanuele3d commented on #2980
@vampcat, tagging you just in case you stumble in the vicious piece of code causing this while you go through the rendering engine for other reasons.

[2017-06-17 20:46] emanuele3d commented on #2978
Doesn't seem graphics related: usually the log is a bit longer if there is a compatibility issue with the GPU and it would give a better hint about graphics being the issue. Never say never though...

[2017-06-18 09:13] skaldarnar commented on #2978
Well, the stats are definitely fine, from a hardware perspective there should be now problem running the game... We'll try to find someone who can test it out on a similar system.

[2017-06-18 21:18] skaldarnar commented on #2956
I'll try to give you a (very brief) overview of the next steps here. Please make sure to double check all the commands and names I typed in (no guarantee for 100% correct syntax or absence of typos) :wink:

You can create your own new module using gradlew by typing
`./gradlew createModule<moduleName>`, in your case it might be `./gradlew createModuleTutorialI18n`.

This will create a new, empty mo

[2017-06-20 08:06] TheFlash98 commented on #2956
Thank you so much for your help. I'll post link as soon as I set it all up.

[2017-06-20 08:20] TheFlash98 commented on #2956
Here's the link https://github.com/TheFlash98/TutorialI18n

[2017-06-20 19:17] TheFlash98 commented on #2956
Correct me if I'm wrong, you want something like this for i18n?
https://github.com/Terasology/TutorialWorldGeneration
From what I understood by looking at the repo, that this a tutorial on How to Generate Worlds in the game. It has some code samples and a wiki guide.

[2017-06-22 09:58] oniatus opened #2984 "BlockManager returns Air block instead of null for block family if no side is defined"
To test,
inject a BlockManager in a test system, activate the core module and inspect
`blockManager.getBlock("core:BirchTrunk:engine:stair")`. This call is missing the side parameter for the family rotation, e.g. `blockManager.getBlock("core:BirchTrunk:engine:stair.LEFT")` gives a correct rotated stair.
But instead of logging an error or returning null, this silently returns an Air block 😒 .

Tow

[2017-06-24 12:52] TheFlash98 commented on #2956
@skaldarnar have a look! 😄
https://github.com/TheFlash98/TutorialI18n/wiki

[2017-06-24 13:22] Vizaxo commented on #2976
I've written up some notes on the current API of the entity manager ([here](https://gist.github.com/Vizaxo/020947b50c00c6a7575c61c36dc804d6)). I've copied the notes section here, which outlines some of the weird/inconsistent methods that are probably worth renaming/consolidating.

## Creation<a id="sec-1-1" name="sec-1-1"></a>

-   long createEntity()

        The name isn't immediately obvious (i

[2017-06-24 14:05] vampcat commented on #2956
It's too bad that git does not allow comments, like Google Docs.. (or does it?)

Based on a first reading, the tutorial seems like a pretty good starting point.

My nitpicks:
- `Logger.info` isn't exactly a pop-up :P
- A bit more editing and proof reading would be awesome (For instance, `You wouldn't want a Spanish player to see this, he/she was would may be prefer seeing "Hola nuevo jugador"`)

A

[2017-06-24 19:16] TheFlash98 commented on #2956
@vampcat thanks a lot! What should I replace pop-up with? Message may be? 😛

[2017-06-24 23:12] Cervator commented on #2927
Hi @Translator5 thanks for the detailed suggestion :-)

Just to be totally sure, what you're saying here is to make the various UI screens look more _consistent_ right? So uniform in appearance.

Marking this bite-sized since it seems like some pieces would be easy to tweak at :-)

[2017-06-24 23:24] Cervator opened #2990 "When typing a chat message and another player sends chat two chat screens are open"
When in a multiplayer session you are typing you have a fairly large chat window with many lines available visible. When you *receive* a message a smaller less intrusive window shows up to let you see new messages at a glance.

If both happen at the same time you get *both* windows:

![2017-06-24 19_19_43-terasology - c__dev_terasology_git_terasology - terasology - _config_grad](https://user-image

[2017-06-24 23:58] Cervator commented on #2978
Heya @Germs2004 - thanks again for the two reports :-)

Both of them point to the same cause: an issue with JNA, the way Java handles access to native files. That you mention an odd RAID setup in your other issue makes me wonder if that's the only peculiar part about your setup? Have you tried replicating the issue on an admin account just to see?

JoshariasSurvival loads OK on my system just now,

[2017-06-25 00:01] Cervator commented on #2977
I put some more details in #2978 so lets use that one for the more complicated issue you face :-)

The bit where stable 71 failed but 70 worked is because we broke JoshariasSurvival, which is what you were trying to play, I believe. That's since been fixed and should be good again next stable build.

It is odd though that you could run the game at all with the JNA issue I describe a bit in #2978,

[2017-06-25 00:01] #2977 closed

[2017-06-25 00:42] Cervator commented on #2976
Alright, finally had some time to look at this, and we talked a few days ago. Feels like we're slowly narrowing in on something here :-)

Some comments:

* Sectors should be *very ghostly* - extremely transparent and flexible, only relevant in the deep back-end of the game engine. Sectors don't get stored to disk or anything like that - they are just virtual containers useful at runtime.
* IMHO no

[2017-06-25 12:33] Translator5 commented on #2927
You got it!

[2017-06-25 15:02] RepComm commented on #2663
In the mean time it may be useful to add a try-catch at the point in code that it fails (where expecting a chunk, but getting null) and simply cancel that loading attempt. I may have a look later.

[2017-06-26 10:45] TheFlash98 commented on #2956
For some reason whenever I am not able access the webplate. Could you help me? I need to add it to the tutorial.
http://translate.terasology.org/

[2017-06-26 11:02] TheFlash98 commented on #2535
Hey, I'd like to contribute to this issue @nihal111 😄

[2017-06-26 12:18] nihal111 commented on #2535
@TheFlash98 the crouch feature is buggy (not multiplayer ready) at this point. That needs to be changed first.
https://github.com/MovingBlocks/Terasology/pull/2961 has some discussion.
Maybe you could start with that. But that would require you to learn how character prediction and other things work in multiplayer mode.

[2017-06-26 13:55] vampcat commented on #2976
@Cervator In Gestalt-ES 6.0, `createEntity` returns an `EntityRef` :D
That being said, changing the way this works in current Terasology-ES might be too large, and it might be better to wait till we can integrate Gestalt-ES into Terasology (hopefully sometime soon after GSoC, once we've run some stress tests on the library in DestSol and optimized it).

As for the sectors in Gestalt - this is just

[2017-06-27 02:04] Vizaxo commented on #2976
@Cervator:

Noted; that's what I'm going for at the moment. I am currently working on storing the scope of the entity to disk, but as mentioned below, that's a distinct concept from the actual cache the entity is in.

Yeah, I think so. Currently I'm using 'Cache' for a collection of entities. So all of the global-scoped entities are in one cache, and all of the sector-scoped entities are in anothe

[2017-06-27 13:42] TheFlash98 commented on #2535
Any help on where I could learn that?

[2017-06-29 20:14] skaldarnar commented on #2956
Weblate is accessible for me. You won't find your module there (or any other module) - that has to be configured manually. We tend to use it only for the larger/more solid projects (yet), probably we should consider enabling it (or something like that) for modules as well.

I really like what you have so far, stating the motivation for i18n and all that!

[2017-06-30 18:13] TheFlash98 commented on #2956
Alright. What else do you want me to add? Should I talk about the webplate yet?

[2017-07-01 22:53] AWebb3701 opened #2995 "Crash when rendering."
### What you were trying to do
Getting a good picture of a huge hillside. I bumped my movespeed up to 3x and turned on extreme view distance, then reached a shoreline.

### What actually happened
Crashed as soon as the shoreline started to render.

### How to reproduce

* Step 1
set player speed to 3x
* Step 2
set view distance to Extreme
* Step 3
render a shoreline.

### Log details and game vers

[2017-07-01 23:08] AWebb3701 commented on #2995
Whoops, I thought the pastebin was included. This is a pretty useless ticket then >.>

[2017-07-02 04:12] Cervator commented on #2995
Yeah the log would've let us confirm it, but the crash was probably from #2590 - that's typically what causes non-obvious client crashes during play tests, and I suspect would've been aggrevated by the rapid chunk generation. So will close this on that assumption, just keep an eye out :-)

I re-enabled some pastebin alerts so we should be able to catch missed log links easier in the future, until

[2017-07-02 04:12] #2995 closed

[2017-07-02 04:42] Cervator opened #2996 "If the game window is held (mouse drag) for a few seconds game music stops"
Odd one discovered by chance earlier today. It *feels* like it is somehow connected with the context/environment of the game like how the music can reset at certain places when the environment refreshes itself. I had not expected it to happen on a simple mouse drag, however.

### What you were trying to do

Drag the game window to another monitor

### What actually happened

Window move worked fin

[2017-07-03 19:16] OvermindDL1 commented on #2996
Does not seem to happen on linux, everything keeps rendering and music works fine as I drag and flip the window around in KDE.

[2017-07-04 08:39] TheFlash98 commented on #2956
@skaldarnar ? 😄

[2017-07-04 21:31] PurityLake commented on #2984
I'll take a look

[2017-07-05 21:22] skaldarnar commented on #2941
https://github.com/Terasology/CopperAndBronze/commit/06b10feaa40be1aa1a8e9d45a1db76fc9c158a51

[2017-07-06 17:59] nihal111 opened #2998 "Close screen if entity interacted-with is destroyed"
A UI Screen or a BaseInteractionScreen opens when some items like chests are interacted with using `E`. An item is can only be interacted with, from a close distance. The screen, however, once opened stays open, even when the block/entity interacted with is destroyed or if the player goes out of range.

### How to reproduce

* Open a `headless + client 1 + client 2` or `server/client 1 + client 2`

[2017-07-06 20:31] Cervator commented on #2996
Thanks! Maybe it is a Windows specific issue. I just noticed it happens on my system with Destination Sol as well, although there the music doesn't restart, it just pauses while I'm dragging the window.

[2017-07-07 01:31] Germs2004 commented on #2978
I did a clean reinstall of Windows a couple days ago and I'm still crashing when trying to load the latest Development version (#2,014 alpha 2017-07-06T05:18:05Z) using the launcher.  I browsed into the DEVELOP folder and executed Terasology.x64.exe manually, and a popup says "Could not launch the game."  I then executed Terasology.x86.exe, and it worked, though it was super slow once the world lo

[2017-07-07 04:08] Cervator commented on #2941
Checking off Light & Shadow + Rails - looks like some of the recent modifications to Rails removed the particle use in the first place.

I think that would be sufficient to cover the "Blocker" parts of this issue :-)

[2017-07-08 04:00] Cervator commented on #2941
I've gone ahead and deleted the 3 particle effect prefabs in JS as the new default particle effects are working fine there and I cannot remember why we had those in the first place - maybe for some reason that wasn't needed anymore anyway? Maybe @Josharias remembers and could let us know sometime.

I also deleted the `LavaSplash.prefab` from the Sample module as it is a sample of the old system so