[2018-05-07 22:35] Cervator opened #3355 "Make module category checkboxes generate dynamically"
See https://github.com/MovingBlocks/Terasology/pull/3347/files#diff-059ce3ab46f9e05f0a9e91e188d69952R659 - essentially we have the categories coded twice, when really we should be able to generate the checkboxes off the existing definitions dynamically.

See the remainder of the PR for related code, https://github.com/Terasology/TutorialNui/wiki for general intro to our UI, and potentially check o

[2018-05-07 22:37] Cervator commented on #3342
Thanks for the report :-)

This might be a good fit for @TheFlash98's GSOC project as he aims to rework some of the UI flow in that area. As part of that module environment setup may change to more cleanly swap back and forth, avoiding this memory issue. At least we should re-check this with the new setup to make sure it doesn't occur anymore.

[2018-05-10 16:57] Cervator commented on #2984
Slight bump to this: As part of finalizing v2 I'm pushing this out to v3 - although really the fundamental issue here could probably be quickly addressed in a minor or patch release at some point. But it grew into a bigger issue as visible in the comments here, getting into how to handle the return (`null` vs `Optional`) rather than just changing from Air to `null` real quick.

The block family ov

[2018-05-11 04:19] devibri opened #3356 "AdvancedFilter options on module page selected but not filtered on startup"
Related to the new advanced filter system (https://github.com/MovingBlocks/Terasology/pull/3347) for modules. When starting up the game and going to the module selection page, any advanced filter checkboxes that were selected in your last session are still selected, but the list of modules does not reflect the filters that are selected. Advanced filters should either start off as all unchecked on

[2018-05-11 20:54] ar0ne opened #3358 "Got NPE during testing SelectModules game screen"
How to reproduce:
1. Open create new game screen
2. Open SelectModules screen and close it.
3. Open Details game screen and close it.
4. Try to open SelectModules again.
==> NPE

logs: https://pastebin.com/jYTnn37m

[2018-05-11 20:57] mkienenb commented on #3358
Thanks for the report.   I was planning on taking a look at this code in a couple of hours and I'll add your item to my list.

[2018-05-11 21:08] Cervator commented on #3358
FYI see #2509 and related issues, this sounds quite related. Specifically opening "Details" then closing it again leaves the module environment or something in a bad state (unless the next thing you do is start the game)

I believe this will be sorted out with @TheFlash98's GSOC item as it involves reordering these menu screens. Not that I'd turn out a quick and easy shorter term fix :-)

[2018-05-12 05:14] Om-Pandey opened #3360 "Lava land crashed on Core Gameplay"
### What you were trying to do
Trying to start the same with World Generation choosing Lava Land with Core Gameplay
### What actually happened
I was trying to load the Core Gameplay with Lava Land and it crashed while installing files
### How to reproduce

* Run The Game
* Create a new Game in SinglePlayer
* Load a module called Additional Worlds from the Advanced Modules
* Activate Module and sel

[2018-05-12 15:04] mkienenb commented on #3358
This is a pretty weird one.   It's NPE'ing on sortedModules.
But sortedModules is set on initialise() and should not be able to revert back to null once set.

The only thing I can think of is that the SelectModulesScreen has been reconstructed and we're not using the one which was previously-initialized.   Maybe this is due to the clearing of the environment (reloaded the modules?) and this cleari

[2018-05-12 16:35] oekonomi commented on #3266
Sorry for the late response.  I haven't had too much time to work on this issue. I've had to set it aside so if anyone wants to take it feel free.

[2018-05-12 16:53] oekonomi commented on #2378
Hey, I spent some time digging in PlaySoundAction and other related classes. I was looking into changing the priority level for the sound based on location from the instigator. As I've been busy with exams, I haven't had much time to make further progress. I'm not sure when or if I'll be able to get back to working on this.

[2018-05-14 23:35] TheFlash98 commented on #3356
PR #3105 added a new `onScreenOpened` which runs every time a screen is opened. That might just fix this :-)

[2018-05-15 14:50] mkienenb commented on #3356
Pretty sure this is fixed with the two trivial changes in PR #3359 (synchronize modules with advanced filters on window open. )

Maybe someone could review it so I can merge it... :)

[2018-05-18 01:18] Cervator commented on #2569
@dacharya64 - belated response here, but if you still want to look at that sometime (even after GSOC) then I'm pretty sure we can simply hook you up with access to our Youtube channel so you can publish it there, even as a draft for review before publishing :-)

We also have a little few-second intro that could be added in front and we usually add the music from one of the soundtrack pieces. Proba

[2018-05-19 10:25] #3356 closed, assigned to nobody

[2018-05-19 10:29] jellysnake opened #3362 "Add Error Prone to the engine"
@vorburger suggested adding http://errorprone.info/ to the engine.

It's something to consider adding, maybe related to oniatus's suggestions of enforcing stricter code quality

[2018-05-19 10:36] jellysnake commented on #3360
This is an issue specific to the Lava Land generator in the Additional Worlds module. This isn't very surprising as that module is primarily a parking group for the world generators added from GCI.
I think we should possibly consider adding a disclaimer to the module that not all generators in it will work.

[2018-05-19 10:41] jellysnake commented on #3338
Apologies on the delay in responding to this.

Hmm. This is odd, there's nothing I can see in the log that indicates the cause of the crash. Is this log from the server or from the client?
Additionally can you try and load a new world with no modules except Core enabled.

[2018-05-19 22:09] TheFlash98 commented on #1296
There are three exit points which use `System.exit(code);` to shutdown:
- One occurs when there is an issue finding the path to the static libraries, uses exit code: 1.
- Another occurs when there is an exception in getting the `homepath` for the game, use exit code: 0.
- When the user asks for help or uses any other usage flags. The program prints the usage uses exit code: 0.

**Note**: `System.e

[2018-05-20 18:35] rzats opened #3363 "No world generator when building from source"
### What you were trying to do

Run the game from source via `./gradlew game` and then start a new game.

### What actually happened

I couldn't start a new game due to missing default world generators.

### How to reproduce

* Step 1

Run the game from source.

* Step 2

_Singleplayer → Create_ and notice a distinct lack of world generators. (Screenshot is with the world generator menu expanded i

[2018-05-21 02:33] Cervator opened #3364 "Add small guide for using whitelists + blacklists on a server"
With #3332 merged #1608 is complete and servers can now configure whitelists & blacklists. But we don't have a small section for that yet in https://github.com/MovingBlocks/Terasology/blob/develop/docs/Playing.md - goal of this easy issue is to test out the new functionality and add the instructions :-)

Additionally `Playing.md`'s multiplayer section has only grown over time to where it takes som

[2018-05-21 02:34] Cervator commented on #1608
Closing as completed by #3332 :-)

Still could use a bit of documentation so I submitted #3364 for that

[2018-05-21 02:34] #1608 closed

[2018-05-21 03:49] Cervator commented on #3363
Good to have a formal write-up for this, thanks :-)

### Background

The engine scans for available modules on startup, there's no code dependency on them being _ready_ as you run from source. The "TerasologyPC" run config just needs the PC facade and thus the engine to be ready, not the modules. Unbuilt modules == no compiled world generators.

Two things also broke over time related to project s

[2018-05-21 08:49] Jakob-S opened #3365 "Game crashes after installation from AUR"
### What you were trying to do
Start the game after installation
### What actually happened
Game loading extensions/libraries/etc. and crashed
### How to reproduce
Install Terasology from Arch User Repository (yaourt terasology)
Start terasology

### Log details and game version
Version: 1.6.0 ?
Crash report:
USER-GIVEN INFO:
Just tried to start Terasology (the first time).

ERROR STACK TRACE:
10:

[2018-05-21 14:59] jellysnake commented on #3354
Closing as fixed in #3354

[2018-05-21 14:59] #3354 closed

[2018-05-21 15:10] #3307 closed

[2018-05-21 15:21] Cervator commented on #3364
Another tiny related doc item we might as well do as part of this: add the new `toggleSunHalting` command from #3312 to the sample list of commands since it is pretty useful to know about.

[2018-05-21 20:04] Cervator opened #3366 "Allow modules limited API access to files"
## Overview

_edit: @asiekierka is working on this as of August 2018_

This is a more narrow approach than something like #1703, specifically focused on giving modules limited access to files, still without allowing modules access to  `java.io.File` etc. Feedback appreciated on the concept, consider this an initial proposal. This would be in high demand for some projects like @asiekierka's GSOC it

[2018-05-21 20:05] Cervator commented on #3366
![](https://github.trello.services/images/mini-trello-icon.png) [Safe module file spaces](https://trello.com/c/s5tnUCZs/51-safe-module-file-spaces)

[2018-05-21 20:11] Cervator commented on #3338
One potential clue: Java 9. We haven't done a lot of testing on it. Alternatively the ~princess could be in another castle~ error could be in another log file

[2018-05-22 08:00] jellysnake commented on #2472
Was going though and testing all the PR's related to this issue before I merged them as well as making fixes to other modules.

Is there actually a particular reason why we don't name the new fonts `engine:default`, `engine:medium`, `engine:large` and `engine:title`.
The NotoSans font `NotoSans-Regular` is the same size as the existing `engine:default` and `NotoSans-Regular-Title` is the same as `

[2018-05-27 03:26] Cervator opened #3374 "Final block family tweaks needed before v2.0.0 release"
Follow-up to #3343 to cover just the remaining problems to resolve before we can release v2.0.0, making this issue a Blocker, yay!

- [x] A chest block places normally, facing the player who placed it. However a stair block (a stack exists inside the starting goodie chest) *always* faces in the same direction regardless of how placed. Maybe there's something wrong with the direction handling for t

[2018-05-27 18:29] Jakob-S commented on #3365
Output of "lspci -v":
00:02.0 VGA compatible controller: Intel Corporation 3rd Gen Core processor Graphics Controller (rev 09) (prog-if 00 [VGA controller])
	Subsystem: Lenovo 3rd Gen Core processor Graphics Controller
	Flags: bus master, fast devsel, latency 0, IRQ 27
	Memory at d8000000 (64-bit, non-prefetchable) [size=4M]
	Memory at c0000000 (64-bit, prefetchable) [size=256M]
	I/O ports at 4000

[2018-05-30 13:50] AdamAboudi commented on #3364
Hi!

I've been looking into this issue and the whitelist / blacklist functionality, and I may have found a small bug.

When running Terasology on the latest build, the whitelist and blacklist JSON files do not generate. What I eventually found was that only headless servers generate them, and normal clients will not. Once they're generated everything works fine, but I wasn't sure if this was inten

[2018-05-30 14:46] heLomaN opened #3375 "A doubt about entity hierarchy and entity cache."
### What you were trying to do
Find some suggestion for implementing entity hierarchy and entity cache.

I'm struggling about ECS framework, and find this great project. So want get some help here.

Sometimes, we need create and destroy some kinds of entity, and the performance must be concerned, while a possible solution is enable/disable these entities other than destroy. But a lot of entities h

[2018-05-30 23:53] Cervator commented on #3375
Hi @heLomaN - could you let us know a bit more about what you're trying to do? Say what sort of gameplay you're trying to implement, what piece of system logic you're implementing, etc. Often it helps to know what your goal is so we can suggest if your approach to get there sounds right or if some better way exists.

If you're more trying to just investigate ECS as a concept then that's fine too,

[2018-05-30 23:59] Cervator commented on #3365
Generally the Intel chips work poorly, especially the lower end ones. Rarely doing some experimenting with the driver setup may help - but at the moment there isn't really much we can do, sorry about that :-(

Occasionally a two GPU system (one embedded chip + a dedicated one) end up using the weaker chip. Finding a way to switch to the dedicated usually helps.

Longer term we expect to optimize o

[2018-05-31 00:26] mkienenb commented on #3365
I've gotten it to work with my integrated intel chipset under linux, although I have to change the screen resolution to 25% to be playable.   Yours looks newer.

00:02.0 VGA compatible controller: Intel Corporation 2nd Generation Core Processor Family Integrated Graphics Controller (rev 09) (prog-if 00 [VGA controller])
	Subsystem: Dell Device 04d8
	Flags: bus master, fast devsel, latency 0, IRQ 2

[2018-05-31 00:31] mkienenb commented on #3365
output of "glxinfo"

name of display: :0
display: :0  screen: 0
direct rendering: Yes
server glx vendor string: SGI
server glx version string: 1.4
server glx extensions:
    GLX_ARB_create_context, GLX_ARB_create_context_profile,
    GLX_ARB_create_context_robustness, GLX_ARB_fbconfig_float,
    GLX_ARB_framebuffer_sRGB, GLX_ARB_multisample,
    GLX_EXT_create_context_es2_profile, GLX_EXT_create_c

[2018-05-31 02:38] heLomaN commented on #3375
@Cervator Thank you! I have read some document about ECS, including Terasology's. I found parent-child relationship should be very common in a game. For example, a character in a car, and a gun in the character's hand.

Actually I am trying to implement a mobile engine which take face data as input, and will spawn some decorations for each face. For example, we need a 3d ear ring model and a glass

[2018-05-31 18:29] AdamAboudi commented on #3364
Hey @Inei1,

Thanks for the explanation, that makes a lot more sense!

 I'll take a look at creating the lists when hosting a game from a non headless server, and check out if ServerConnectListManager needs to be changed at all.

[2018-06-01 23:17] AdamAboudi commented on #3364
As an aside, should the code changes be part of a different issue/PR? This issue is about the changes to Playing.md (which are pretty much done).

I'm new to GitHub and open source in general, so I'm not exactly sure how the process goes, and would definitely appreciate any advice.

[2018-06-02 00:52] Cervator commented on #3375
Nice link - T-Machine was also one of our inspirations :-)

The first item in there does cover the family/child scenario, and I'll have to agree:

We don't use parent-child approaches like that commonly if at all. Sure, it is a common concept in gaming, but somewhat goes against the spirit of ECS. One possible case where we use it might be for a player and their client instance or character avatar

[2018-06-02 03:26] Cervator commented on #3364
Hey @AdamAboudi welcome to open source :-)

In this specific case it doesn't really matter. Technically yes you can submit one doc-only PR and later on a separate code PR that doesn't address a specific issue unlike the doc tweak. But if you imagine both can be ready in short order they can be handled in a single PR since they're small and related :-)

We do generally suggest multiple PRs for _big

[2018-06-02 19:49] Cervator opened #3378 "Preview screenshot to decorate a save causes stacktrace when leaving a multiplayer session"
### What you were trying to do

Leave the game after being connected to a headless server multiplayer session

### What actually happened

Saw a stacktrace in the log about a preview screenshot.

Since there is no local save for a hosted game probably the game exit should skip trying to take a preview screenshot for joining the game next time. The failure appears to be due to the save dir not exis

[2018-06-03 15:41] pollend commented on #3374
For Rails I need to check diagnol block but the : https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/world/block/entity/neighbourUpdate/NeighbourBlockFamilyUpdateSystem.java

only checks in the 4 cardinal directions. What could be done to extend this. I was thinking of either adding more to: https://github.com/MovingBlocks/Terasology/blob/develop/engine/src

[2018-06-03 19:00] PS-Soundwave commented on #3374
Changing current functionality could both cause unforeseen bugs and performance issues, I think its most appropriate to create a custom extended system.

[2018-06-04 19:12] AdamAboudi commented on #3364
Hey @Cervator, and thanks for the advice!

I thought the changes were small enough to go together, but just wanted to make sure since one was a doc issue and the other a coding issue.

Thanks again!

[2018-06-05 11:49] pollend commented on #3374
I'm not sure what you mean specifically. I see a couple options I could go from here. I could add an additional getter function that denotes which blocks to update or just remove the implementation from multi-connect. The implementation could also be denoted in block.java. Something that also occurred to me is implement this as a component.

The main problem is that block updates don't at the mome

[2018-06-08 15:33] ar0ne opened #3384 "Highlight possibility active buttons of UITabBox widget"
### What you were trying to do
I've used UITabBox widget on my new screen GameDetailsScreen (#3382). And realized that we need to redo this widget, because we can't highlight active buttons.

Actually, I've spent few days on that, and, unfortunately, looks like I don't have nice solution yet...
I'd like just to track this issue further, add to my GSoC board and fix it when I will have good solutio

[2018-06-09 17:20] #3318 closed

[2018-06-10 01:57] Cervator commented on #3326
Closing as completed by #3327

[2018-06-10 01:57] #3326 closed

[2018-06-11 03:46] Cervator opened #3390 "Failure to fully create some StructureTemplates for dwarf halls in GooeysQuests"
### What you were trying to do

Test out dwarf halls in GooeysQuests. Regular dungeon StructureTemplates (STs) are OK, as is the initial entrance to a dwarf hall. OKish I guess, the stair blocks themselves are still somewhat off.

### What actually happened

After I asked Gooey for a dwarf hall a pile of errors got printed to the log. Oddly I didn't notice that when I manually placed a dwarf hall

[2018-06-11 03:51] Cervator commented on #3374
Removing Blocker from this issue as a pile of fixes have been done. special thanks to @pollend and @Josharias for most of them! :-)

The short-term fix for Rails is in place, then we can start another iteration on block family overhaul after Alpha 10 is merged to master shortly

Closing this as _mostly_ done, splitting out / moving the remaining issues

[2018-06-11 03:51] #3374 closed

[2018-06-11 16:35] Cervator commented on #2468
I suspect this issue might be out of date with the BT overhaul merged as part of engine v2. If @kaen here or anybody else can confirm/deny please do so we can find out whether it is safe to close this issue :-)

[2018-06-11 16:51] Cervator commented on #3143
Closing this with some items addressed and on-going examination of the `ExtendedBehaviorsComponent` possibility by @Naman-sopho over in the GSOC 2018 Oreon project. There's also a [Trello Roadmap Card](https://trello.com/c/OfK8P8Xy) to help cover some future improvements that could need some additional consideration before making further issues.

Thanks again to @dkambersky, @oniatus, @kaen, and e

[2018-06-11 16:51] #3143 closed

[2018-06-13 03:15] Cervator opened #3392 "Ambiguity in UI naming can lead to NPEs despite proper namespacing"
Found while testing L&S, fixed by renaming a UI in Dialogs to give it a unique name: https://github.com/Terasology/Dialogs/pull/7

I can't dig in deeper right now for details or even get the stacktraces, but real short:

* Grab LightAndShadow + Dialogs
* Undo the naming fix
* Run the game, starting a Light & Shadow game (or even just run with Dialogs, maybe)
* During game initialization two NPEs t

[2018-06-17 04:34] Cervator commented on #3310
Closing this as complete. The button was just removed _technically_ after v2.0.0 but still the crash etc was fixed then so leaving this issue in that milestone still.

[2018-06-17 04:34] #3310 closed

[2018-06-18 02:20] Cervator opened #3400 "Follow-ups for create game overhaul"
In response to #3399 being merged. While testing and checking it out I noticed a few issues we should address:

- [x] Some old code hasn't been deleted yet, such as `CreateGameScreen` (a replacement `NewGameScreen` took over but the old class still exists)
- [x] Some minor changes were made while the create game ovehaul topic branch was pending, for instance there was a module checkbox filter rese

[2018-06-18 02:32] Cervator commented on #3358
Closing this as rendered obsolete by #3399 being merged - UI overhaul of involved screens :-)

[2018-06-18 02:32] #3358 closed

[2018-06-18 15:56] ar0ne commented on #3400
Hey @TheFlash98,
JFYI, Got NPE when try to "Configure" new world with "Island World" generator (PolyWorld module should be active).

[2018-06-18 16:07] ar0ne opened #3402 "Got NPE when tried to "Configure" world with Island World generator"
### What you were trying to do

Tried to "Configure" new world with "Island World" generator. This generator is from [PolyWorld](http://github.com/Terasology/PolyWorld/) module.

### What actually happened
Got NPE.

### How to reproduce

Single Player -> Create -> Advanced -> Activate PolyWorld module -> Continue -> Choose IslandWorld generator -> Add -> Configure

To be honest, I tried it few tim

[2018-06-19 02:02] Cervator commented on #3400
Another potential suggestion that just came to mind: Should we include "Play now" buttons on some of the pages in the _middle_ so to say? If you just want to enable some modules but accept whatever default world generator you don't really need to go through each additional screen.

The phases should still happen, but the user input part could be skipped.

[2018-06-19 02:38] Cervator commented on #3390
Reopening as this isn't *quite* fully fixed, but mostly! The stair blocks are still not turned the right way in some orientations, which may be an easy fix.

While testing https://github.com/Terasology/GooeysQuests/pull/23 I also got some really weird results with templates not lining up. That may be entirely due to the size of the new dwarf arena, however.

I think @Naman-sopho has also encounter

[2018-06-21 14:05] iaronaraujo commented on #3400
I've done some refactoring in the SelectGameScreen to remove the duplications from it, RecordScreen and ReplayScreen.
https://github.com/MovingBlocks/Terasology/pull/3376/commits/665825b3dd7e483f27d326d627788a8823c7e28e

[2018-06-23 08:33] jellysnake commented on #3170
Closing as solved

[2018-06-23 08:33] #3170 closed

[2018-06-23 16:41] Cervator commented on #3400
@iaronaraujo go ahead and stick it in a PR sometime instead, easier :-) If you haven't already and I just missed it :D

Follow-up idea: The "Select Game" screen has 4 active buttons plus a "Back" button in a second row. I forgot where it came up but if you then click "Create" the "New Game" screen has the "Back" button first in a single row of 3 buttons (lined up with where "Create" was on the pre

[2018-06-23 16:52] Cervator commented on #3402
Can confirm. Both the config issue and the world generator being a bit hard to get to show up. Usually it is because the module holding the generator isn't fully built but this persisted even after I rebuilt PolyWorld. However after I also made sure its dependency CommonWorld was built then it showed up normally.

I suspect the issue has something to do with world plugins and configurable properti

[2018-06-24 15:14] Cervator opened #3407 "Better Java version handling especially for Java 10"
Report in from Twitter, see https://twitter.com/Samuel3744/status/1010657742833537024

In short: A user has only Java 10 installed. Prompt is appearing that indicates no suitable *Java 8* installation is available.

- [ ] Will the game actually run with Java 10? I haven't tried, am unsure if anybody did. It wasn't even that long ago we looked at Java 9 a bit
- [ ] Speaking of Java 9: Did we actual

[2018-06-25 15:22] mkienenb commented on #3407
Don't bother?

http://www.oracle.com/technetwork/java/javase/eol-135779.html

Java 9 was EOL as of March (2018)
Java 10 will be EOL as of September (2018)

Probably better to skip straight to Java 11.

[2018-06-27 03:38] Cervator commented on #3407
Slight clarification then: I'm looking for *compatibility* with Java 9 and 10. Not at all saying we should start requiring either or begin using their fancy features. We're still aiming to build things with Java 8 and so on :-)

[2018-06-27 17:05] mkienenb commented on #3407
I completely get what you are saying, but targetting Java 11 is a better approach.   Java 9 has already been replaced by anyone who is keeping up-to-date.   java 10 will be gone by September.

[2018-06-28 21:11] Cervator commented on #3407
Eh? I mean the idea is to support Java 8, 9, and 10, all at the same time. 11 too when it comes out. We have users right now needing that. Including me on my Mac for that sake, I can't dev without PR #3409 :-)

Oooor I could try to downgrade Java. On a Mac. On my second week ever using one. Eehhh. And I'm a dev. Imagine the amount of regular users that are *not* maintaining their Java and have no

[2018-06-30 12:46] niansa opened #3412 "Crash on ARM plateform"
### What you were trying to do

I tried to start the game.

### What actually happened

The game closed during start and a crash-reporter appeared

### How to reproduce

* Start the game
* Wait some time

### Log details and game version

https://pastebin.com/4gma9XTU

### Computer details

Rasberry Pi 3 (Ubuntu Mate)

[2018-07-01 02:36] jellysnake opened #3413 "Label changes and discussion"
I'm trying to standardise all of our labels and edit the descriptions to help identify when to use them.
To this end I've got a master list of all our labels, their short descriptions and their use cases.
I aim to leave this issue open for about a week and integrate feedback from people into it. Then I'll close it and apply the changes.

Obviously however, more than just me is going to use these s

[2018-07-01 02:39] jellysnake commented on #3412
That log looks a little short. How far into loading the game did you get?
Additionally are you running the game as a server or regularly? (I only ask because I noticed the hardware you've listed is a Pi)

[2018-07-01 02:48] jellysnake commented on #3413
_Copying across an initial comment from @Cervator on a draft of this issue_

Initial brain dump follows to get some stuff out of my head that may relate per-label (some may be obvious but thus "dump"):

### Both

* Google Code-In: Should we shorten it to GCI? It would probably be used mostly in searches/links
* GSOC: I've considered if we should merge this with mentor-size, or rather, discontinue

[2018-07-01 09:05] Adrijaned commented on #3413
There is an `Undergoing discussion` label in DS, marking issues/PRs to which there has been additional discussions or important decisions done outside of GH, that has not yet been written there, and thus the opinions written do not reflect the current ones. Such PRs are often due to be converted to issues and closed. That might however be only an issue in DS, where you can count maintainers on fin

[2018-07-01 17:20] Cervator commented on #3400
Bump - merged one set of tweaks, more needed, updated initial issue description with checkboxes and more items :-)

[2018-07-01 17:37] Cervator opened #3414 "Add memory for confirmed "safe" URLs to let the game open in a browser"
With #3405 we have a UI widget `UIButtonWebBrowser` that when clicked can open a URL in a browser. It requires confirmation from the user before doing so to avoid malicious modules sending a user off to some dubious site unknowingly.

At present that confirmation will be required every time. The purpose of this issue is to add a list of remembered safe sites so the user can OK a given URL and not

[2018-07-01 21:39] Cervator commented on #3407
Bump - I've done some initial validation in my poor Java 8 workspace that now looks woefully out of date and merged #3409 to see if everything will also be fine in Jenkins. Which it should since that's also still compiling with Java 8, now we just have a newer Gradle to go with it.

To my surprise two things had been fixed with the newer Gradle, so I'm quite happy with that. Still curious to have

[2018-07-01 22:08] Cervator opened #3415 "Better isolate involvement of OpenVR regarding FirstPersonHeldItemMountPointComponent"
This in a way is a follow-up to #2611 which has far more todo items. But an issue that has come up lately is that if the game is run in an unusual context (environment-based unit tests in Jenkins, the server facade, etc) initialization of natives can be problematic and in some cases nonsensical such as supporting VR while running a headless testing client.

Specifically `FirstPersonHeldItemMountPo

[2018-07-03 06:22] pollend opened #3418 "Family Registry Handling"
### What you were trying to do

Something I noticed looking through the source is that block family relations are handled in two different ways. BlockFamilyRegistry contains a mapping from string to class implementation of a block family and BlockManagerImpl.java. The one problem is that the module type is not carried when it's parsed from the json. The BlockFamilyDefinitionFormat needs to be reco

[2018-07-03 17:09] awells111 commented on #3414
Would [this](https://github.com/awells111/Terasology/commit/71236ecff0cee454d098f695d2bede9d8da09e76) be the correct way to go about it? I created a WebBrowserConfig class and added it to RootConfig and Config. The config will be called in the way that [JoinGameSceen calls EnterUsernamePopup](https://github.com/awells111/Terasology/blob/0a9e8313358f1f403a09309d856d6a895213d527/engine/src/main/java

[2018-07-04 19:18] qwc opened #3423 "PathManager quirk: Game cannot be started from any directory"
### What you were trying to do
Starting terasology in my docker image from another directory than the binaries.

### What actually happened
[code]

### How to reproduce

* Start terasology with:
[code]

### Log details and game version
All lastest 2.x
### Computer details

### Temporary fix
Go into the directory and start terasology with `./libs/Terasology.jar [etc.etc.]`

### What should happen
T

[2018-07-04 20:34] Cervator commented on #3423
Thanks :-)

Potentially related: #3371

Seemingly before that change the _pathless_ approach in Docker *did* function for some reason, but other cases like environment-based unit tests in Jenkins would end up with a working dir set inside the Gradle cache. To my knowledge other pathless approaches have failed both before and after that change, you *must* launch the game from within the install dir

[2018-07-07 19:27] keturn opened #3431 "client freeze during 2018-07-07 playtest"
The game was pretty stable for hours, then stopped responding almost entirely, only occasionally playing a bit of sound track and updating once every minute or two.

[Terasology-.log](https://github.com/MovingBlocks/Terasology/files/2173017/Terasology-.log)
[Terasology-init.log](https://github.com/MovingBlocks/Terasology/files/2173018/Terasology-init.log)
[Terasology-menu.log](https://github.com/M

[2018-07-08 03:31] Cervator commented on #3414
Oh hey @awells111 ! Cool to hear from you, sorry for not spotting your comment for a few days :-)

That looks about right, yep. Maybe @vampcat or @eviltak could give a bit more confirmation on the configuration part of things

Feel free to open a PR any time, even if you're not done yet, that's a bit more visible than issue comments and a great way to get early feedback :-)

[2018-07-08 18:30] pollend opened #3433 "Audio Scroll is Sticky"
### What you were trying to do
Adjusting the audio in the settings menu
### What actually happened

The audio scroll handle is sticky and throws a lot of internal errors from the engine. Not sure why its calling code for WorldPreGeneration. I don't think tweaking the audio should affect this.

### Log details and game version
[code]

### Computer details

[2018-07-09 03:29] matt100000 opened #3435 "cant play multiplayer on terasology"
when I go into multiplayer and click join game then click on one of the rooms it says failed to connect. cant figure out why, any ideas?

thanks.

[2018-07-14 21:47] Cervator commented on #3400
Bumping after merging #3426 - that checked off a few things and made me think of a few more. Also found one regression (a skip selection bug is back)

[2018-07-14 22:02] Cervator commented on #3384
Closing as completed by #3429 - thanks @ar0ne ! :-)

[2018-07-14 22:02] #3384 closed

[2018-07-15 03:46] Cervator commented on #3418
Closing as completed by #3421

[2018-07-15 03:46] #3418 closed

[2018-07-15 03:47] Cervator commented on #3433
Closing as fixed by #3434

[2018-07-15 03:47] #3433 closed

[2018-07-15 03:49] Cervator commented on #3412
Closing from lack of info / follow-up. I'm not really sure we're Pi compatible yet :-)

@niansa if you have more information available feel free to reopen. Otherwise here's for hoping you can find other systems to run the game on!

[2018-07-15 03:49] #3412 closed

[2018-07-15 03:50] Cervator commented on #3435
Closing from lack of follow-up - @matt100000 feel free to re-open if needed, otherwise good luck!

[2018-07-15 03:50] #3435 closed

[2018-07-21 21:37] Cervator opened #3444 "Command line toggle for the module sandbox"
At present to disable the module sandbox for testing you need to edit `ModuleManagerImpl.java` like so: https://gist.github.com/Cervator/85da99b3400d880f6eae4ac3ca992676 (diff it against a normal version locally to see the 4 changed lines)

To ease testing it would nice to have a command line flag (`-permissiveSecurity` ?) and potentially an IntelliJ run config that enables it. See `Terasology.jav

[2018-07-22 10:58] starlord1311 commented on #3444
can i take up this issue? @Cervator

[2018-07-22 11:07] starlord1311 commented on #3414
@Cervator can i take up this issue?

[2018-07-22 13:42] awells111 commented on #3414
Sorry I didn't finish this. I had two interviews come up that I had to prioritize. I don't mind if you finish it or else I can finish it this week.

[2018-07-22 17:35] Cervator commented on #3414
Hey both. Sounds like you're clear to try it out @starlord1311. If either of you makes progress just add a comment here so it is visible to others :-)

[2018-07-22 17:36] Cervator commented on #3444
Sure @starlord1311 - you don't need to ask, although posting a comment that you're going to try it out can be helpful if others are interested as well. Just coordinate via the issue :-)

And welcome!

[2018-07-22 18:46] starlord1311 commented on #3444
@Cervator can you tell me what i am supposed to do?

[2018-07-22 18:53] starlord1311 commented on #3414
@Cervator can you tell me what i am supposed to do?

[2018-07-22 21:39] Cervator commented on #3444
@starlord1311 so in these kinds of issues marked with Good First Issue we should already have put a decent amount of the details in the initial description, but it is up to you to dig deeper and figure out exactly what to implement :-)

In this case I pointed to a couple key places in the code that already do similar things, and where to put the new stuff. So you'll want to look at those places an

[2018-07-22 21:40] Cervator commented on #3414
@starlord1311 same story here as I suggested with https://github.com/MovingBlocks/Terasology/issues/3444#issuecomment-406898853 :-)

In this case @awells111 already provided some additional implementation tips

[2018-07-24 18:06] iaronaraujo commented on #3400
I noticed that when creating a new game the game title is always "null" unless you create the game through the "advanced" steps.

[2018-08-04 04:11] Cervator commented on #3400
@iaronaraujo

Try out latest develop now with #3451 merged - we might be able to confirm that one as fixed :-)

I encountered a new case, I think:

* Start after deleting `config.cfg` or in one case I had just picked MasterOfOreon from quick start giving me its default Perlin world
* Go back to create game, select BuilderSampleGameplay (making it change the default world to BSG)
* Select MasterOfO

[2018-08-04 15:25] Cervator commented on #3444
I've added in a quick hack version of this via https://github.com/MovingBlocks/Terasology/commit/37c4dbf242aeeb5df6afafb9805ad0427ce6b555 for testing. This issue now includes undoing that with a clean solution and as such now counts as a blocker for v2.1.0

[2018-08-04 16:28] Cervator opened #3464 "Module details when a module exists with unresolved dependencies causes crash"
### What you were trying to do

View module details for GooeyDefence to figure out its dependencies and what might be missing

### What actually happened

Game crashed when I clicked "FlexiblePathfinding" (the missing dependency)

### How to reproduce

* Grab Omega zip 977 or comparable source dir. Or just remove any dependency
* Run the game and go to module details under advanced game setup
* Cl

[2018-08-05 11:52] ar0ne commented on #3464
I can't reproduce the issue, but probably it was resolved [here](https://github.com/MovingBlocks/Terasology/pull/3460/commits/b7e028c1ae91109fb6c65388f740fc4df35e88af).

[2018-08-06 17:06] iaronaraujo opened #3465 "Add Screen to select Recording Name"
## The Problem

Right now when the user records a game, the recording has the same name as the world that was recorded. Because of this, recording the same world twice overrides the first recording, unless the user manually changes the name of the recording or create a backup for it.

## Suggestion

To solve this problem, there should be a new screen that asks for the name of the recording when th

[2018-08-06 17:17] iaronaraujo opened #3466 "Improve Record and Replay Serialization"
### The Problem

Right now, to add a new event type to Record and Replay (RR), It is necessary to add code to the `EventCopier` and `RecordedEventSerializer` that copies every attribute of the event and transforms it into JSON. This makes the addition of new event types time consuming and makes those two classes even bigger, which may cause its reading to be confusing and tiresome.

### Suggestion

[2018-08-06 17:26] iaronaraujo opened #3467 "Add more Record and Replay support for Modules"
### The Problem

Right now, it is not possible to record events from modules, besides instances of `BindButtonEvent` or `BindAxisEvent`, making Record and Replay (RR) not very useful for testing modules.

### Suggestion

Once the #3466 is solved, this support should be added for modules, making it possible to select which events from the module should be recorded.

[2018-08-06 17:29] iaronaraujo commented on #3466
Another thing I just thought about. Once this is done, it is possible that RR will need a way to make sure the Entity IDs do not change from the recording to the replay. This may include chunks IDs.

[2018-08-07 13:00] iaronaraujo opened #3468 "Move Record and Replay UI elements (and more?) into a sub-menu"
### Suggestion

Since Record and Replay is not relevant most part of the time, their buttons should be moved from the main menu to somewhere else.

[2018-08-09 07:54] niansa commented on #3338
It's the log from the crash reporter...

[2018-08-10 04:27] burtojae commented on #3266
So I've actually been working on this for a few days just locally on my machine and I do have a solution that places the item back in the player's inventory if there's space and drops it otherwise when the screen is closed. I haven't touched autosaving yet. I'm not sure where to look for autosave behavior.

[2018-08-10 05:55] jellysnake commented on #3266
Neat, feel free to open a PR before you're finished for discussion and feedback like this.

For autosaving, the method `preSave` is called on a system before the game saves, and there is an equivalent for automatic saves (I want to say it's called `preAutoSave`). That may be what you are after in order to handle saving.
There is also an equivalent set of methods called just after a save is made.

[2018-08-10 20:34] burtojae commented on #3266
Ok, thanks I'll look into that.

[2018-08-13 01:05] hullmo commented on #3465
A potential quick fix for this would be to add a timestamp to the filename, which I feel is a pretty common practice for automatically generated files like this. I think the idea of allowing users to choose the name makes sense, but having a unique default could also be beneficial.

The downside to either of these fixes is that the current state works as a bit of an automatic clean-up of files. An

[2018-08-13 13:36] iaronaraujo commented on #3465
That makes sense. It is a nice idea to have the game world as the default name, and then if the folder already exists, a new screen appears asking if the player wants to proceed with the overwriting.

[2018-08-13 15:40] Cervator commented on #2078
Closing as completed by @Naman-sopho's GSOC 2018 project :-)

https://forum.terasology.org/threads/gsoc-2018-renovation-of-masteroforeon.2171/

[2018-08-13 15:40] #2078 closed

[2018-08-20 19:57] ThePreviousOne opened #3471 "Dropped item/Block entities causing large framerate drop"
When Dropping entities in a pile, entities not touching ground continue to move indefinitely

in my case this caused a framerate drop of 0.1 fps per block

### How to reproduce

* Step 1
Have a reasonably large stack of blocks (didn't test with items)
* Step 2
drop them individually into a pile

### Log details and game version
v2.0.0 - Alpha 10

### Computer details
uname -a Linux localhost 4.17.

[2018-08-22 04:25] Cervator commented on #3471
Thanks for the report :-)

There is a PR #3432 with an experimental physics replacement that would majorly affect the area, although I'm sure we'll still need further optimizations. There are a few other similar issue like #3194 and #1680 for the railgun specifically.

[2018-08-23 11:03] fioresarro commented on #2436
@gianluca-nitti is it possible send me a private message? Thank you in advance.

[2018-08-23 23:56] gianluca-nitti commented on #2436
@fioresarro yes okay, I just sent you an email.

[2018-08-30 17:07] ThePreviousOne commented on #3471
Forgot to mention this was using just the base game, not that is important.

[2018-08-30 22:17] 4Denthusiast opened #3472 "Underwater rendering starting at incorrect height"
Some bits of the rendering (in particular, the water's surface's appearance) change depending on whether or not the camera is under-water. This is calculated as whether the block at the camera location is a liquid block. This doesn't actually correspond to the location of the liquid mesh in some cases, leading to under-water style rendering when the camera is within 0.1 of the water's surface.

It

[2018-09-01 10:32] 4Denthusiast commented on #1914
The logic for deciding which bits of the mesh to render is all in [BlockMeshGeneratorSingleShape](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/rendering/primitives/BlockMeshGeneratorSingleShape.java). The lowered-cube shape used for this is attached in [BlockBuilder](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/tera

[2018-09-01 10:48] 4Denthusiast opened #3474 "Boundaries between liquids not rendering"
When liquid blocks of different types are adjacent, the faces at the boundary don't render.

There are some cases where the boundaries rendering would be obviously desirable, e.g. a body of one liquid entirely submerged in another (which should be visible, but isn't), and when looking from a transparent to an opaque liquid, in which case it shouldn't be possible to see better than when submerged i

[2018-09-06 23:36] mweekr16 opened #3478 "hello"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-09-07 01:40] jellysnake commented on #3478
Hello there.
Issues should only be for either bug reporting, feature suggestion/discussion and a few other cases.
If you want to chat to us then feel free to use our forum or discord. Links to both can be found on our website terasology.org

[2018-09-07 01:40] #3478 closed

[2018-09-07 15:56] 4Denthusiast commented on #114
The picture in the initial post is no longer accessible, so I can't check the exact situation, but this seems to not be happening now so it might as well get closed. @Cervator?

[2018-09-07 20:17] 4Denthusiast opened #3480 "Gravity direction changes"
This is based on how I intended to implement #3161, but as it's only part of that and has other uses, and other ways of doing that were discussed, it seems worth having a separate issue.

It would be interesting to have the direction of gravity change at different locations in the world. This would cause blocks to be rotated (e.g. plants could be supported by the block adjacent in the +x direction

[2018-09-11 17:32] 4Denthusiast commented on #3305
For a summary of why this is hard to do right, see https://www.khronos.org/opengl/wiki/Transparency_Sorting. It would be possible to do somewhat better than the current implementation by having, for each chunk, 6 copies of the vertex-index buffer, one sorted in each cardinal direction, and switching between them depending on in what direction the player is facing. There may be more efficient ways

[2018-09-13 14:51] aditmehta9 opened #3482 "Crash caused by UI in the select modules screen"
### What you were trying to do
When I clicked on the single player  for playing it asked for selecting world but I couldn't select and when i clicked on modules following happened:

### What actually happened

It crashed and showed me this:
https://pastebin.com/gGyQZiHe

### How to reproduce

* click on single player
* click on modules
* in windows

### Log details and game version
It crashed and

[2018-09-14 00:48] Cervator commented on #3482
Hi there. What version of the game did you try? What did you download? The very latest developer build is pretty unstable.

[2018-09-14 17:03] aditmehta9 commented on #3482
Yes, I just downloaded the very latest master branch.
What should I do know?

[2018-09-14 23:57] jellysnake commented on #3482
Looking through the log this is a crash from the UI, namely the module filter code.

For now I'd recommend downloading one of the official releases. They can be found on the Releases page of this github repository

[2018-09-16 10:38] wispoffates opened #3483 "Crash when loading prefabs for many modules."
### What you were trying to do
Create Single player world with Josharias Survival and dependencies enabled.

### What actually happened
Crashed.
### How to reproduce

Enable modes Josharias Survival.
Click Play.

### Log details and game version
Version: latest development branch.

[code]

### Computer details
Gentoo Linux - Ryzen 7 1800 - Amd 580RX

It appears to affect to loading of Prefabs in a

[2018-09-16 17:43] 4Denthusiast commented on #3480
An additional suggestion based on something @LadySerenaKitty said: make the gravitational field accessible as an arbitrary vector (for non-block things to use) in addition to a cardinal direction.

[2018-09-21 09:42] 4Denthusiast commented on #2113
As it currently works, there seems to be no delay for eye adaptation. I think this is fine, as I've found that a bit jarring in other games as the screen brightness is gradually changing but I'm not getting feedback from my eyes at the same time that they're making the adjustment.

I do think that the eye adaptation effect is currently far too small, however. From my own experience of real life, a

[2018-09-21 14:44] LinusVanElswijk opened #3486 "Region3i.EMPTY bug"
There is a serious flaw in the way Region3i deals with empty regions.

For some reason (optimization?) Region3i has a public and static instance Region3i.EMPTY.
There is nothing that prevents users from accidentally changing the empty region.
What makes it even worse is that the factory functions sometimes just return Region3i.EMPTY, to save the costs of a copy constructor.

This code snippet can

[2018-09-21 14:47] LinusVanElswijk commented on #3486
I would like this issue to be assign to myself. :)

[2018-09-22 09:06] mccannryan opened #3488 "Memory leak"
### What you were trying to do
Run the game.

### What actually happened
I've just been leaving the game paused with task manager open, and the Java binary memory usage will climb rather quickly until windows has had enough and it either kills the game, or the game freezes and I have to restart.

### How to reproduce

* Step 1
Start the game. Josharias Survival, Perlin generator.
* Step 2
Play for

[2018-09-23 01:57] Cervator opened #3490 "Recover and finish parked serialization / type handling overhaul"
See #3489 for background information. @eviltak is behind the parked code related to this and may be interested in continuing with it, but is low on time as of this writing. If anybody else is hugely interested in serialization and type handling feel free to look at this but be warned that it is a large piece of work and a complex topic :-)

Goal for this issue is to work with branch https://github

[2018-09-23 02:05] Cervator commented on #3490
See also the assorted linked issues in module repos with confirmed (or possible) incompatibilities pending fixes before we can merge the new serialization.

[2018-09-23 16:29] Cervator commented on #2553
I just dusted off the Climbables module and made some minor updates to make it compile with the latest engine. Works fine after that so I'm going to add it to the lineup and consider this complete, although I'm sure it can still be enhanced. Work can continue within its own repo https://github.com/Terasology/Climbables

[2018-09-23 16:29] #2553 closed

[2018-09-23 19:44] 4Denthusiast opened #3491 "Client unable to trigger block-family registration."
Block families are registered on-demand by `BlockManager`, i.e. they are only assigned ids once they are requested by URI. On multiplayer servers, the server is in charge of assigning block ids (it has `generateNewIds` set to true in `BlockManagerImpl`), so if a client attempts to retrieve a block by `BlockManager.getBlock` before the first time the server does, it will fail (and return air). This

[2018-09-23 19:50] Cervator commented on #3483
This fix for this is now in place - closing as completed by #3489

[2018-09-23 19:50] #3483 closed

[2018-09-24 00:13] #2450 closed

[2018-09-24 01:05] Cervator commented on #3488
Hey there, thanks for the report. Yeah there are some known memory leaks. Although - what do you mean by "Version 76" ? Where did you download the game from?

Current stable release is Alpha 10, about to be Alpha 11. Unstable release is Omega 986.

[2018-09-24 01:07] Cervator commented on #3486
A useful bug report *and* claiming it too? My favorite kind! :D

[2018-09-24 03:58] Cervator commented on #3488
Ooooh I see. Alright, thanks. `#76` there is the build number for the engine job in our Jenkins instance, while the custom name we put on it is "Alpha 10" .... but that doesn't show up in the launcher. Doh. We need to figure that out :-)

We're getting very close to Alpha 11 and it is always good to confirm if something is still problematic in a newer release, so maybe we can retest this soon. Alt

[2018-09-24 14:37] stellargo commented on #3345
Hey so can I get assigned to this issue? I would have to go through probot docs so better to confirm nobody is already working on this :)

[2018-09-24 23:41] jellysnake commented on #3345
Done. If anything comes up whilst you're writing on this feel free to ask us on the discord or slack

[2018-09-25 04:30] #3444 closed

[2018-09-25 04:30] #3486 closed

[2018-09-26 09:42] 4Denthusiast commented on #3491
Related to this, but probably having the same solution, is the fact that if something requests a list of all the blocks (`BlockManager.listRegisteredBlocks`), at no point is it actually guaranteed that all the blocks are already registered. While I assume that this is intended so that updated versions of modules can add new blocks to an existing world, it also seems very likely to lead to addition

[2018-09-30 21:34] llvieira commented on #3414
Guys, as this issue is still open, I'm going to to take it up if you don't mind. :smiley:

[2018-10-01 18:55] stellargo commented on #3345
I have pretty much achieved the first subtask under issues (https://github.com/stellargo/meseek/issues/47). The best way to use this would probably to have a new repo for say gooey bot, and then host it on a server (aws or heroku i guess). As of now I could continue working on my app or if you could make a repo I could work on that too so it leads to easier code reviews :P

[2018-10-03 03:36] Cervator commented on #3280
Missed closing this earlier. Complete :-)

[2018-10-03 03:36] #3280 closed

[2018-10-03 04:07] #3414 closed

[2018-10-03 11:52] LinusVanElswijk commented on #3491
We had a discussion about how the engine currently deals with block registrations and if this is desirable.
The engine currently seems to assing ids to block lazily. No block id is assigned until the block is request via `BlockManager.getBlock`. Because of this modules could add new block ids to the engine at any time. This complicates things, because you can never be sure if the list of registere

[2018-10-03 19:28] Joseph5610 commented on #2927
Hi, @Cervator , is this issue still valid? If so, i would like to look into it

[2018-10-03 21:18] Cervator commented on #3491
@LinusVanElswijk - bit of a clarification request here: do you mean requiring modules to provide a list of block *types* / families (like "This module provides MyBlock, you could request it in all possible shapes") or _all_ possible block permutations, meaning no more lazy id assignments at all?

I'm thinking the first one, but it is a little unclear to me from just reading your comment :-)

Shoul

[2018-10-03 21:53] jellysnake commented on #2927
As far as I'm aware it is still valid. If a screen here still exists and still has the problems, then fixing it is indeed still something that needs to be done.

[2018-10-04 03:49] #2012 closed

[2018-10-05 03:17] Cervator commented on #3390
Closing this as completed via several rounds of related fixes, woohoo! :-)

[2018-10-05 03:17] #3390 closed

[2018-10-05 10:50] 4Denthusiast commented on #3491
Block tiles seem to already be loaded in the way Cervator was suggesting: getting a list of every asset file of that type, then processing them all in `WorldAtlasImpl`. I'm pretty sure that that should be possible for blocks, too, as all block registered with the `BlockManager` come from either block-family assets or auto-tiles (blocks with no special properties, specified only by their textures).

[2018-10-06 18:47] keturn commented on #2940
Fixed or otherwise no longer relevant, you say?

https://drive.google.com/uc?id=1tfnO7-fKyFVoKDmIb7_7AOwBPpwP8nqv&export=download

[2018-10-06 22:33] brylie opened #3500 "Crash report for CoreSampleGameplay after multiple play sessions in one game launch"
### What you were trying to do
Try out the CoreSampleGameplay

### What actually happened
Got a NullPointerException

### How to reproduce

1. Start Terasology
2. Start new CoreSampleGameplay single player game

### Log details and game version
https://pastebin.com/vSbG7efe

Game version: Omega

### Computer details
Kubuntu 18.04

[2018-10-10 17:01] Joseph5610 commented on #2927
Hi all,

I added transparent background  and centered titles to following screens:
- engine:videoMenuScreen
- engine:inputSettingsScreen
- in-game inventory/backpack screen

I changed background to strict grey to:
- engine:addServerPopup

engine:enterTextPopup has already been bordered, now it has also a strict grey background.

I didn’t change other screens because it seems like they look fine no

[2018-10-11 05:06] Cervator commented on #2927
Hey @Joseph5610 - could you go ahead and submit your changes as a PR? That way we can add line comments and merge it when ready. It sounds like it might already be there :-)

Some of the affected screens have been changed since this issue. Anything you can't find or think is no longer valid is probably correct. My reading of the OP here seems to suggest underlining would be a possible nicety, but

[2018-10-12 18:19] brylie commented on #2492
Here are a couple of screen grabs that I got

![peek 2018-10-12 21-13](https://user-images.githubusercontent.com/17307/46886772-80567000-ce64-11e8-934d-0dcd0ea9ca47.gif)
![peek 2018-10-12 21-16](https://user-images.githubusercontent.com/17307/46886773-80567000-ce64-11e8-926c-14df4c1ea911.gif)

[2018-10-14 16:09] niansa commented on #3338
Closed because I fixed it a long time ago by redownloading Terasology.

[2018-10-14 16:09] #3338 closed

[2018-10-14 19:36] keturn commented on #2099
At some point, when we reach The Year of Linux On The Desktop, a current version of LWJGL may be beneficial in order to get support for running under [Wayland](https://wayland.freedesktop.org/).

[2018-10-16 04:55] Cervator commented on #3345
Heya @stellargo sorry for taking a bit to get back to you. Out of town, still am.

Heroku might be good for testing. Did we talk about the repo approach recently? Seems like it rings a bell. Would we have one tiny little repo for each bot type, each its own little Heroku app (or maybe later a Kubernetes pod?)

I don't mind adding a repo for it, just unsure what we'd name it and how we'd organize t

[2018-10-16 12:31] stellargo commented on #3345
@Cervator No problem at all :) By each bot type you mean the pre existing ones like gooey right? I guess it's better to have a separate repo for each owing to the fact that deploying would be easier. We had that name discussion i don't think we came to a conclusion lol :D Imo keeping it named as gooey is best whilst keeping the repo named anything like say along the lines of gooey-probot :P

[2018-10-17 15:32] PS-Soundwave commented on #3474
It's worse than this: translucent objects must be rendered in the correct order, which requires CPU side ordering. iirc from my diving, there's some limited support for common cases, but a full solution would require some restructuring. For performance reasons we may however wish to find a compromise.

Will consider in my upcoming work.

[2018-10-17 17:40] 4Denthusiast commented on #3474
That's a mostly separate issue, and is discussed at #3305. It should certainly be possible to resolve this without doing any transparency sorting.

[2018-10-17 17:44] PS-Soundwave commented on #3474
They could be separated true, but the blending of more than 2 translucent layers will not be correct without sorting; This happens in basically every case of multiple liquids.

[2018-10-18 20:29] 4Denthusiast commented on #3474
I was more thinking of the case where you're inside one liquid looking at another. If you have DamagingBlocks (or any of many potential other modules) enabled, for example, it's quite important to know whether you're going to swim into some lava. Also, some liquids aren't even transparent.

[2018-10-18 20:46] 4Denthusiast commented on #3095
I haven't tried reproducing this, but it seems likely to be related to #3491: if some blocks aren't used by the time the client connects (e.g. they're only used in dwarf halls, none of which exist yet), it may be failing to register properly on the client. There seems to already be a system for dealing with this case (`BlockManagerImpl.receiveFamilyRegistration`), so perhaps that's not working cor

[2018-10-18 20:52] 4Denthusiast commented on #2516
This is possibly the same as #3095.

[2018-10-20 19:56] Cervator commented on #1942
Addition: add NORTH, EAST ... directions to the debug text. See https://github.com/Terasology/Compass how how it could be done

[2018-10-20 20:07] Cervator opened #3505 "Add resolution picker"
It has been 7 years and we have somehow managed so far without adding an actual option for picking the resolution to run the game at! Weird and recent realization. Destination Sol does have a resolution picker so it might have some related code for inspiration - although it uses LibGDX so maybe not.

For Terasology usually the game just runs in windowed mode, but it is a plenty valid use case to s

[2018-10-20 20:17] Cervator commented on #3468
Updated title. My recommended approach would be to make a new main menu button named "Extras" then move the following buttons in there: "Record", "Replay", "Credits", "Metrics Menu", "Issue Reporter"

Maybe the identity storage should be cleared out to but ... we really need a better way to make some thing visible on the main menu, like little notification icons or something off to the side that m

[2018-10-20 23:32] Cervator commented on #3464
Re-validated - can still trigger :-)

Grabbed the Alpha 11 RC build, moved FlexiblePathfinding out of the module dir, ran the game, went to advanced game, found GooeyDefence in red, clicked module details for it, clicked the FlexiblePathfinding entry -> boom

[code]

[2018-10-20 23:41] Cervator commented on #3500
Thanks again for submitting :-)

This one is a little tricky as it seems like the log file has several rounds of action in it, meaning you might have hit an issue that wouldn't get hit if doing it as the sole action when starting the game fresh.

Specifically `00:30:51.772 [New I/O worker #3] INFO  o.t.n.i.ClientConnectionHandler - Downloading core:2.0.0 (1.92 MB,1 modules remain)` sticks out. The

[2018-10-21 02:48] Cervator opened #3507 "Module details button fails when no module is selected"
### What you were trying to do

Click the "Module Details" button on the advanced game setup screen _before_ actually having a module selected. More or less by random chance, really.

### What actually happened

UI broke without a module selected to get details on. Button probably just needs a check that there's a valid value and if not then return early. Easy!

### How to reproduce

* Run the gam

[2018-10-21 02:59] Cervator opened #3508 "Input settings screen does not handle some window sizes gracefully"
### What you were trying to do

Look at the input settings menu to gaze at its sheer awesomeness

### What actually happened

It looked ... less awesome than expected, as it seems like the margins are messed up somehow when the overall window size is of a certain size or less

<img width="338" alt="2018-10-20 22_51_41-terasology _ alpha" src="https://user-images.githubusercontent.com/1063833/47262

[2018-10-21 03:04] #2927 closed

[2018-10-21 03:39] Cervator opened #3509 "Remove the "terasology" title/logo UI element from vertically challenged UI screens"
It is nice to have on the clean and tidy front page of the main menu, but it is just kinda silly elsewhere:

<img width="491" alt="2018-10-20 23_34_48-terasology _ alpha" src="https://user-images.githubusercontent.com/1063833/47262837-dfe5f880-d4c0-11e8-9323-0dc844ad2f47.png">

Hunt down the UI screens on which this UI element is present and remove it if it makes sense. I'm not sure it is really n

[2018-10-21 03:44] #3355 closed

[2018-10-21 04:38] Cervator commented on #3345
@stellargo throwing another bit of chaos into the proceedings is that now https://github.com/features/actions is a thing - and they support Probot actions as steps ... 😁

I'm not sure what to do next / how to organize, but it would probably be the easiest to discuss on chat sometime now that I'm back home :-)

[2018-10-21 05:18] llvieira commented on #3366
Working on it... :-)

[2018-10-21 05:56] asiekierka commented on #3366
@llvieira Could you please get in touch about its design?

[2018-10-21 12:45] jellysnake opened #3510 "Fix up LGTM errors"
So we've recently just enabled [LGTM](https://lgtm.com/projects/g/MovingBlocks/Terasology) to this project and there is a number of alerts coming popping up.
We should probably try and fix most of these, barring false positives of course.

I've tried to group them into different types and detail my thoughts on them.

## Errors
| Error Type | LGTM rule | Details | Fixed? |
| --- | --- | --- | --- |

[2018-10-21 13:44] mwvdev commented on #3510
I'll give this a crack.

[2018-10-21 15:18] llvieira commented on #3366
@asiekierka yes, I can. I'm going to open a pull request so maybe it's better to discuss. I'm trying to keep it as simple as possible just to see if it would work, but I'm having some problems and I think you could help with. Let's transfer the discussion to my pull request so that you can analyse my code. :smiley:

[2018-10-21 15:19] Cervator commented on #3510
Nice write-up @jellysnake - thanks!

On the "Unused format argument" what stuck out to me was when it is a `logger.error` instance since I think that method has a variant that takes an argument to pass an error into, while `logger.info` indeed should really match between the number of `{}` bits present vs arg count. That part does look super useful with some log statements out of whack :-)

[2018-10-21 16:34] mwvdev commented on #3510
I'm going to start work on "Array index out of bounds".

[2018-10-21 18:37] Edvinas01 commented on #3507
I'd like to try - create a PR! Taking a look at Saved game details screen there seems to already be a check in place which should prevent this NPE:
https://github.com/MovingBlocks/Terasology/blob/405d90d93e2ad714bc5f3a8b1a454e8fffe9357f/engine/src/main/java/org/terasology/rendering/nui/layers/mainMenu/gameDetailsScreen/GameDetailsScreen.java#L551-L556

[2018-10-21 18:55] Edvinas01 commented on #3509
I would like to have a go at this. One more question though - maybe its worth keeping the title in the credits screen as well?

[2018-10-21 20:57] andrasveto commented on #3508
This appears to happen when vertical screen height is below a certain amount (horizontal resizing doesn't affect it). This is present in Player Settings, Input Settings, and Metrics Menu, but not in Video Settings.

[2018-10-22 18:20] mwvdev commented on #3510
Fixes has currently been submitted for the following errors:

- Command line is built with string concatenation.
- Array index out of bounds
- Container contents are never accessed
- Container contents are never initialized

Everything else is still up for grabs.

[2018-10-22 20:20] Edvinas01 commented on #3509
One thing that caught my attention was that some of the UI screens have inconsistent layouts. For example the "Game details" screen has a panel which takes up the entire view-port:
![image](https://user-images.githubusercontent.com/8227320/47316724-74329580-d650-11e8-9b79-388acd8f0e29.png)

Then if you navigate to other screens, for example "Player Settings" screen, it contains a panel which sits

[2018-10-22 20:43] mwvdev commented on #3510
I'm going to start work on "Inconsistent equals and hashCode". Even though it might seem a bit overzealous, I think it's a worthwhile investment to reduce the noise in the alerts from LGTM.

[2018-10-23 18:17] mwvdev commented on #3510
I'll start working on the logger errors and warnings:

- Missing format argument
- Unused format argument

[2018-10-24 02:08] Graviton48 opened #3521 "Disappearing blocks at the periphery/edge of player vision."
### What you were trying to do
Testing out latest version of Terasology with new R&R features.
Jumped into a world and the rendering engine issue was encountered
### What actually happened
Certain block/s at the periphery of the player's vision would disappear from a certain position around  the buggy area.
Here are some screenshots taken while playing around the bug...
![bug task](https://user-im

[2018-10-24 05:06] #3010 closed

[2018-10-24 05:06] #3468 closed

[2018-10-24 17:36] dkienenb opened #3523 "No world generator when building from source (Eclipse)"
### What you were trying to do
Run Terasology from eclipse, create a new world
### What actually happened
World generator wasn't avaible
### How to reproduce

* Git clone Terasology into Eclipse
* Run gradlew
* Import as new Gradle project
* Run Terasology via Run Configurations

### Log details and game version
https://paste.ee/p/TuGCu
Game Version: Latest, as of 10/23/2018
### Computer details
O

[2018-10-24 18:56] pollend commented on #3523
try running `./gradlew jar game`.

[2018-10-24 22:44] #3507 closed

[2018-10-25 01:15] dkienenb commented on #3523
Tried that, it doesn't do anything other than normal. Also, I'm trying to run it from Eclipse, not from the terminal.

[2018-10-25 01:53] #3509 closed

[2018-10-25 01:53] #3508 closed

[2018-10-25 01:57] Cervator commented on #3508
Thanks for the detective work @andrasveto and the fix @JustPRV!

[2018-10-25 13:59] dkienenb commented on #3523
Never mind, after I ran that, I had those classes, and the game ran fine. However, it is odd that it didn't build from Eclipse, does that mean that I will have to run that every time I want to build?

[2018-10-25 13:59] #3523 closed

[2018-10-25 21:11] mwvdev commented on #3510
I'm taking a look at "Type mismatch on container modification".

[2018-10-26 19:52] mwvdev commented on #3510
Digging into "Useless comparison test".

[2018-10-31 04:11] Cervator opened #3538 "Mockito support issues on Java 10 & 11"
### What you were trying to do

Run all unit tests in the `engine-tests` project with Java 10 on a Mac

### What actually happened

About 200 tests failed, seemingly with well-known Mockito compatibility issues on newer Javas. See for instance https://github.com/mockito/mockito/issues/1419

I suspect we might just have to keep an eye on this but in the meantime could probably try to update to the

[2018-11-06 22:32] iaronaraujo commented on #3467
Alright! I am going to tag @llvieira since he may also be interested in this!

[2018-11-10 23:01] dwumpus opened #3542 "Game crashes using Lost template"
Just started the game, looked around at settings, then came back, started a single player game selected the "Lost" template, and the game crashed.
https://pastebin.com/E3NrgHbi

[2018-11-10 23:01] dwumpus commented on #3542
Just started the game, looked around at settings, then came back, started a single player game selected the "Lost" template, and the game crashed.
https://pastebin.com/E3NrgHbi

[2018-11-13 22:46] jmryan64 opened #3544 "After you break a block (such as grass or dirt) and pick it up then proceed to destroy and pick up another block, the current block you are holding will turn invisible"
### What you were trying to do
I was trying to destroy a block of grass and pick it up, then destroy another block of grass.

### What actually happened
After i picked up the block of grass and then tried to destroy another block, the current block of grass i was holding disappeared

### How to reproduce

* Step 1) Use your fists and break a block of grass, then pick it up and equip it
* Step 2) D

[2018-11-15 05:00] jellysnake opened #3547 "Error on attempting to delete saves"
When trying to delete a save the game will error. This is because the world preview image is located in the save directory and the reader that opens the file is not closed. Hence when the game tries to delete the game folder it can't because the folder is in use.

This can then also bleed over into trying to save a game later, if that game has the same name as the attempted-deleted save.

This can

[2018-11-15 05:03] jellysnake commented on #3544
I can't replicate this on the latest built of Terasology. Do you mind checking if it is still happening for you?

Did you have any modules enabled? It looks like you did from the UI in that screenshot.

[2018-11-15 05:07] jellysnake commented on #3542
So, looking through the log, the line `java.lang.OutOfMemoryError: Java heap space` indicates that this crash was caused by running out of memory.

If you try reducing settings like view distance as well as launching with more memory available it should fix your problem.
If you still get this crash even with this then please re-open the issue as there is a possibility there could be a memory leak

[2018-11-15 05:07] #3542 closed

[2018-11-15 05:09] jellysnake commented on #3521
So as Graviton said, we need some more testing to determine how to replicate this issue. If anyone can replicate this please add information to this issue

[2018-11-15 18:46] jmryan64 commented on #3544
I just tried creating a new game with the same modules active (all that potions is dependent on) and i was unable to reproduce it as well. I think it is safe to close this issue since it was most likely a local issue with that specific save. I'll keep an eye out for it occurring again when i use the game later tonight.

[2018-11-15 18:46] #3544 closed

[2018-11-17 15:07] pardovot commented on #3547
No solution yet, but a few things meanwhile:
The problem is coming from 2 sources combined, the first one is ```takeGamePreview``` method in ```ScreenGrabber``` class, which saves the preview image.
The line: ```this.savedGamePath = GamePreviewImageProvider.getNextGamePreviewImagePath(saveDirPath);```

Which really leads to ```getNextGamePreviewImagePath``` in ```GamePreviewImageProvider``` Class.

[2018-11-17 20:39] pardovot commented on #3547
The problem is the following method:
[code]

[2018-11-18 16:56] #3465 closed

[2018-11-19 01:56] Cervator commented on #3547
Closing as fixed by #3549 - thanks @pardovot !

[2018-11-19 01:56] #3547 closed

[2018-11-23 06:39] Graviton48 opened #3553 "Can't go back after enabling Animated Menus option in Video Settings"
### What you were trying to do
Just saw the `Animated Menus` option in Video settings while in-game and checked/ticked it to try it out.

### What actually happened
After Animated Menus option was enabled , the back button didn't seem to respond...It was not taking me to the Settings Screen (Audio settings, video settings , etc.)

### How to reproduce

* Step 1 Go to Video Settings in-game
* Step

[2018-11-24 17:55] Cervator commented on #3400
Update - have been thinking more about some ideas on how to clarify the overall process. Here's a proposed mockup with three variants. The first two use the side margins to essentially show a list of screens to come (or screens you've passed) while the third just reworks the buttons at the bottom. I'm not really sure what would look nicer or fit better so it will likely take some experimenting.

!

[2018-11-24 22:43] Konfuz opened #3556 "Unplugging joystick leads to crash"
### What you were trying to do
* I tried unplugging my joystick by pulling the cord

### What actually happened

* My joystick got unplugged as planned
* Terasology crashed in a way not planned at all

### How to reproduce

* Step 1: Use a joystick
* Step 2: Pull the cord
* Step 3: No profit

### Log details and game version

https://pastebin.com/vKT69jL3

### Computer details

* In the logfile. M

[2018-11-26 04:53] ebackhaus opened #3557 "Fence floats when block below it is destroyed"
### What you were trying to do
Destroy block below fence, assumed fence would be destroyed too

### What actually happened
Block below fence is destroyed, but fence floats

### How to reproduce

* Place fence
* Destroy block below fence

![fence floats when block below it is destroyed](https://user-images.githubusercontent.com/42822402/48992565-f99ce000-f0fd-11e8-9b08-e3dea481bd40.gif)

### Log de

[2018-11-26 15:30] Alohacajun commented on #3557
I don't believe this is a bug, I actually use floating fences in my builds sometimes :P

[2018-11-26 15:46] Alohacajun commented on #3556
I'm still new to dev stuff in general, but what happens if you try this in a vanilla environment? I don't have a controller handy atm, maybe a module is conflicting with something?

[2018-11-27 01:05] jellysnake commented on #3557
Thanks for the testing :) Seen your issues around on a number of modules lately.
This one isn't actually a bug, rather it's intended behaviour, so I'm going to mark this as such and close it.

If this type of behaviour is something that interests you then it could be implemented through a module. You could even go further and disallow all floating blocks if you wanted or even implement a pseudo-gr

[2018-11-27 01:05] #3557 closed

[2018-11-27 23:40] ebackhaus opened #3559 "Game crashes when block next to stacked fences is destroyed"
### What you were trying to do
Place fence below floating fence then destroy a connected block to place another fence.

### What actually happened
Game crashes when the block connected to the stacked fence is destroyed.

### How to reproduce

* Place fence
* Destroy block below fence
* Place fence below floating fence
* Destroy block connected to the stacked fence

![game crashes when block next t

[2018-11-29 01:58] AndyTechGuy commented on #3400
Hey all! I'm doing the GCI task to improve the presentation for the create game UI.

To see what works best, I'm starting by making samples of button position based on the suggestions above:

- This is based almost entirely off the second mockup, with the buttons on the side with disconnected labels. I found that in this screen, it was very difficult to fit the three columns and the two buttons on

[2018-12-02 04:33] #3505 closed

[2018-12-02 18:36] Cervator opened #3566 "Attempt to handle unexpected (old or weird) OSes that may not support our directory detection"
### What you were trying to do

A user attempted to run the game on a Windows XP system. Yes, WinXP still exists. No, it isn't likely to run the game well even if it didn't instantly crash :-)

It made me think though that there might be other current (or future) OSes we might encounter and maybe we can harden the process for a second chance at being able to run the game.

### What actually happen

[2018-12-02 20:33] Cervator opened #3567 "Extract biome-per-block to a module"
With #3476 merged we can now add per-block data fields in a module. Previously we implemented biome-per-block in #1242 which @Adrijaned then included in a [nice wiki page on biomes](https://github.com/Terasology/TutorialWorldGeneration/wiki/Biomes)

However, biome-per-block isn't necessarily needed in every case, leaving to that field being unused per-block. Things like the new `BiomeChangeEvent`

[2018-12-02 20:46] Adrijaned commented on #3567
Oh, didn't know about the existence of the other event... but mine will be easier to extract into the module :grin:. I'll try to tackle this after I finish some other work, if no one has by then

[2018-12-02 21:05] Cervator commented on #3567
Great :-) Let me know if you want to have a GCI task created for it when you're ready.

[2018-12-03 08:31] josuaspane opened #3568 "error https://pastebin.com/mdkV5mdh"
### What you were trying to do
run game with cmd
### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-12-03 08:32] josuaspane commented on #3568
https://pastebin.com/mdkV5mdh

[2018-12-03 12:15] jellysnake commented on #3568
Hey, so unfortunately this is not a bug. It's caused by not having up to date drivers/openGL.
Do you have an GPU or just integrated graphics?

[2018-12-03 18:36] iHDeveloper opened #3569 "Weird error happens when I start the headless server for the second time"
### What you were trying to do

I was trying to start the headless server again via `./gradlew server` after it stopped.

### What actually happened

It throws an error and ends the process.

### How to reproduce
- I cloned the server from [Terasology Repo](https://github.com/MovingBlocks/Terasology)
- Run the headless server via `./gradlew server`
- Shutdown the server with `Ctrl + C`
- Start the

[2018-12-05 06:52] kaen commented on #3569
Confirmed on develop, commit 948676050a7827dac5e04927087832ffc462da41

`worldInfo` is null here (because the GameManifest from the previous lines contains an empty `worlds` list). This only happens when trying to load a saved game (rather than create a new one) during `StateHeadlessSetup`.
[code]

This even happens when Terasology reports a smooth game save. Deleting `terasology-server` lets you a

[2018-12-09 00:58] Cervator opened #3572 "Tutorial: Performance profiling setup and how to hunt improvements"
We need to make the process of finding and implementing performance improvements more approachable. We already have support for YourKit and the Java FlightRecorder - search around in issues and the wikis. For instance see #3469 and #3475

I _think_ some notes were added somewhere, but I forgot where. @theobisproject do you recall?

This area seems worthy enough to dedicate a tutorial repository fo

[2018-12-09 01:00] Cervator commented on #3572
![](https://github.trello.services/images/mini-trello-icon.png) [Profile some code to improve performance and plug leaks - focus on JoshariasSurvival](https://trello.com/c/8wizDc6Z/84-profile-some-code-to-improve-performance-and-plug-leaks-focus-on-joshariassurvival)

[2018-12-13 23:09] bpas247 commented on #3510
What else should be done for this issue? I just checked and looks like we still have '46' alerts, are we aiming to try and get this down to 0?

[2018-12-14 07:06] jellysnake commented on #3510
Over the long term yes, I should go through and edit the issue to better reflect the current status. The LGTM errors are also good jumping in points for new contributors so even though we don't _need_ them fixed at all they're a good start

[2018-12-14 07:12] bpas247 commented on #3510
Okay cool, I think I'll open a PR to fix some of the alerts :+1:

[2018-12-18 04:48] Cervator opened #3577 "Follow-ups to #3561 - UI improvements / fixes"
After merging and testing #3561 I noticed some issues, although I'm not 100% sure they're all coming in via that PR. Would like to get them fixed and some more found as I expect quirks - pretty substantial new feature :-)

- [ ] Sliders didn't work for me on the audio menu
- [ ] Pressing `ESC` seemed to break further attempts to tab around on a page (due to losing focus somehow?)
- [ ] The server

[2018-12-18 04:55] Cervator commented on #483
Closing this as completed at long last by #3561 - woohoo!

[2018-12-18 04:55] #483 closed

[2018-12-20 04:33] Cervator opened #3578 "Vignette effect moves along with the motion blur effect"
### What you were trying to do

Test some unrelated UI issues, poking at graphic settings in the process. Noticed that with both motion blur and vignette enabled if you shake the screen rapidly to trigger the motion blur the vignette frame itself moves as if it is part of the blur - which it surely shouldn't.

### How to reproduce

* Enable both motion blur and vignette in the graphic settings
* T

[2018-12-21 15:42] Cervator commented on #3095
Linking this to #2467 just for reference on a bunch of thoughts on related renovation in the block-space - that PR is old and now closed but might be good to review when considering improvements that may help resolve this issue.

[2018-12-21 18:45] RatMoleRat commented on #3577
Sliders are not currently able to be tabbed to at all, which is why they don't work. Adding support for them (and input boxes, so that they could be tabbed to and then typed in) would be nice.

Another issue (though sort of another personal preference) is that it is hard to tell when the UIList is tabbed to and able to be selected from. Adding some kind of visual indication that the list is what's

[2018-12-23 21:36] Cervator commented on #3577
Thanks! Updated the list :-)

[2018-12-23 21:57] Cervator opened #3582 "On restarting a headless server with an existing world no world is retrieved from the game manifest"
### What you were trying to do

Test something unrelated, by which I ended up restarting a headless server.

### What actually happened

The restart failed to bring the game server back up

### How to reproduce

* Start a headless server with any config (like just starting the headless run config in IntelliJ)
* Stop the server (can potentially skip steps 1 & 2 if you can reproduce with an existing

[2018-12-23 22:02] Cervator commented on #2780
Closing this as completed during GSOC 2018 :-)

Still plenty of improvements possible but the foundation has been built out!

[2018-12-23 22:02] #2780 closed

[2018-12-23 23:22] Cervator opened #3583 "Use the new explicit world name on the Game Details page, allow custom name?"
_Edit: partially completed, just the custom name textbox is left - see #3591 for what's been implemented so far_

With the partially completed multi-world functionality individual worlds can now have names (defaulted to "WorldGenName-#", in addition to the overall _game_ name (defaulted to "Game #")

<img width="415" alt="2018-12-23 18_13_10-terasology _ alpha" src="https://user-images.githubuserc

[2018-12-24 00:06] Cervator commented on #3582
Never mind! Looks like this is already fixed via #3534! Thank you @fishfred! :-)

[2018-12-24 00:10] #3582 closed

[2018-12-24 01:58] Cervator opened #3584 "Screenshots shown in-game seem oddly narrow?"
Might have been an odd UI alignment issue that snuck in recently. A picture is worth a thousand words:

<img width="567" alt="2018-12-23 20_55_00-terasology _ alpha" src="https://user-images.githubusercontent.com/1063833/50389192-2fc98180-06f5-11e9-9d25-b4fcd5a54ecb.png">

Considering that the game window is rather wide it makes no sense to me that a screenshot should end up being displayed that n

[2018-12-24 05:35] Cervator opened #3585 "Better handle game environment reloads with a progress bar of some sort"
At present there is a warning on the advanced game setup screen that if you continue down the advanced path there may be a substantial wait in trying to load the next screen. We should really be able to do better and show a progress bar and not simply lock the screen to where it seems like the game has frozen.

Actual handling of the game / module environment is somewhat tricky, as @TheFlash98 lea

[2018-12-24 05:37] Cervator commented on #3482
Closing as obsolete / possibly fixed. The affected part of the UI has been majorly changed over the last few months. @aditmehta9 if you end up trying the latest develop build sometime and can still reproduce please reopen, but hopefully it'll work! :-)

[2018-12-24 05:37] #3482 closed

[2018-12-24 05:40] Cervator commented on #3402
Retested and still valid (even after forcibly compoling CommonWorld + PolyWorld first):

[code]

[2018-12-24 05:49] Cervator opened #3586 "Investigate improper selection of default world when quick starting"
### What you were trying to do

Various scenarios where you expect either a default world generator selection of Perlin or that a given gameplay template is providing a new default. If you switch the selected gameplay template any previously hand-selected world from later in the advanced game setup process should also be reset, usually to Perlin (if Core is enabled, which is usually the case) or a

[2018-12-24 05:50] Cervator commented on #3400
Thanks for the latest round of fixes @AndyTechGuy and everybody else that have been involved in moving these issues forward. With almost all of them addressed I've split out a final few to their own issues and am closing this as done :-)

[2018-12-24 05:50] #3400 closed

[2018-12-24 10:14] aditmehta9 commented on #3482
Ok, sir

[2018-12-24 14:14] Snooober commented on #3583
Hi, I'm a beginner so let me know if I'm mis-understanding something with my question:

The StoragePathProvider class currently depends on TerasologyConstants.MAIN_WORLD for file paths. This depends on the main world being saved in folder "main". Is this something that would be changed in the future? Will each world get saved in a folder with it's own custom name as the folder name?

I believe thi

[2018-12-25 01:56] #2472 closed

[2018-12-25 20:15] Cervator opened #3587 "Game behaves poorly on interacting with the windowed/fullscreen option"
### What you were trying to do

Change from windowed to fullscreen mode. Expected that interacting with (clicking/activating) the display mode drop-down would show all the available options on one interaction then let me choose with a second interaction

### What actually happened

Game window disappeared (as if about to change display mode) but game kept running and the whole OS started mildly fr

[2018-12-26 01:03] Snooober commented on #3583
I made a new String member variable in WorldInfo() called "customTitle" which holds the world name rather than TerosologyConstants.MAIN_WORLD ("main"). I preserved the "Title" variable in WorldInfo() as the StoragePathProvider() class is dependent on it.

I added an ItemRenderer() to the "gameWorlds" UIList in the GameDetailsScreen() which draws the "customTitle" text to each widget in the "gameWo

[2018-12-26 04:49] Cervator commented on #3583
Hi @Snooober and welcome! :-)

Yes I believe when multi-world matures further there'll be a world directory for each. So your approach sounds solid. Please proceed with a PR! No need to ask either PRs are always welcome 👍 They're also great for discussing if any further tweaks to an approach seem warranted

[2018-12-26 04:52] Cervator commented on #3569
I missed this issue when I hit the same problem. And even by then there was already a fix ready in #3534 !

That was merged two days ago so this issue should now also be resolved. Closing as complete :-)

[2018-12-26 04:52] #3569 closed

[2018-12-26 04:53] Cervator commented on #3572
Belated heya again @theobisproject :-)

Yeah I wasn't sure if there was any more docs to look for. Thanks for clarifying! I don't think I'm actually failing to find something, we just haven't written a lot on the topic yet.

[2018-12-26 05:06] #3587 closed

[2018-12-26 05:31] Cervator opened #3590 "Support expanding / collapsing the items in a drop-down with left and right keyboard arrow"
As a follow-up to #3588: If you click the expander part of a drop-down with the mouse cursor you can expand or collapse the list of options. Now that we can use `tab` to move between widgets you can work a drop-down without the mouse. However, currently up & down arrow just switch and immediately activate the new option. I believe it is more traditional to also have the left and right arrow keys e

[2018-12-27 00:40] RatMoleRat commented on #3590
This is already somewhat in place - `Enter` when a dropdown in selected by tabbing currently opens the dropdown if it was closed at which point the up and down arrows can be used to navigate through choices. `Enter` also closes and selects the currently selected option if it was already open.

[2019-01-01 13:56] e-aakash commented on #3584
Can I work on this issue?

[2019-01-01 21:43] jellysnake commented on #3584
Yup, just submit a pull request when you have enough progress and we can review it.

Use the links in the issue as a good place to get started but feel free to also [join our Discord](https://discord.gg/Terasology) if you get stuck

[2019-01-03 05:02] Cervator commented on #3583
Re-opening as this is only partially complete: we can still hook up a customization field to change the world names during world setup. Building on top of merged PR #3591 this should now be pretty easy :-)

[2019-01-03 05:32] Cervator commented on #3583
Addendum: if you "quick start" a game then there is no world name yet (as there is no selected world - I'm guessing that picks some defaults later). I fixed a null pointer exception real quick (see #3591) but that results in a world entry with a blank name.

Probably we can figure out a way to improve that a bit further, such as setting the world name in an additional place where it is deduced via

[2019-01-03 05:33] Cervator commented on #3590
Closing as fixed by #3592!

[2019-01-03 05:33] #3590 closed

[2019-01-03 05:37] Cervator opened #3593 "Activating the display mode widget causes a need for a second activation"
Follow-up to #3592 which @RatMoleRat may be working on and figuring out:

On a semi-related note I noticed shift-tab doesn't reverse the tabbing order - was that working at some point or am I just imagining things?

[2019-01-03 22:42] jellysnake commented on #3593
Shift tabbing was indeed working when the pain PR was merged. We should probably add investigating and fixing it to this issue

[2019-01-05 21:19] Cervator commented on #2940
Heya @keturn - yeah the "no longer relevant" part within the context of notable Alpha 9 issues, yes :-)

Good part is that this seems relatively rare, but is a definite issue. Hoping a later upgrade of underlying libraries will make it go away.

Just hit it once more myself. Had two different games running and Terasology with music active on a multiplayer session.

[code]

[2019-01-07 00:09] RatMoleRat commented on #3593
I found that this message is logged (twice):
`18:49:23.202 [main] WARN  o.t.e.s.config.BindsSubsystem - Input KEY_LSHIFT is already registered, can not use it as default for event class org.terasology.input.binds.general.TabbingModifierButton`. I'm still not sure why shift is broken, but that might be a hint.

[2019-01-07 04:19] Cervator commented on #3593
Hmm, shift is also actively used to modify run/walk while in-game, that might be it. Might be one of those semi-rare cases where it is legit to overload a modifier key.

Odd though that it worked at all then since the old usage of shift isn't exactly new. Some combination of messing with the inputs might have resulted in a period where the old usage was suppressed so the new one worked?

Maybe tha

[2019-01-07 11:05] FDU-SE-LAB opened #3594 "Your project MovingBlocks/Terasology is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-01-09 09:21] Vishwaak commented on #3584
Can I also work on this issue ?

[2019-01-11 04:51] Cervator commented on #3584
Closing as completed by #3595 - sorry if anybody else has put in work on the same topic and didn't get it merged first :-)

[2019-01-11 04:51] #3584 closed

[2019-01-19 00:03] jtrent238 opened #3596 "Game crash on new world"
### What you were trying to do
I just started the game and tried to load a world.
### What actually happened
crashed
### How to reproduce

Start a world

### Log details and game version
[code]
[terasology_2019-01-18_18-38-39.449.logc](https://gist.githubusercontent.com/jtrent238/60dc90b4319adf32ae6e1fc495b5015c/raw/857d84345f2f309919e345a70149c57fe0e85442/terasology_2019-01-18_18-38-39.449.log)
#

[2019-01-20 03:12] PS-Soundwave opened #3598 "UIImage scaling improvements"
#3595 needed to be reverted due to widespread effects on UIImage scaling. However, it demonstrated that the current options for UIImage scaling, fitting and stretching, may not be sufficient for all use cases, and that other scaling modes (like filling) should be available.

Additionally, Cervator proposed that the decision between stretching and filling should be able to be made based on setting

[2019-01-20 09:10] Vishwaak commented on #3598
Will a if condition to select the two different modes to fill in the image be helpful?

[2019-02-02 13:35] DmitryMoiseev opened #3605 "е"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2019-02-02 13:38] DmitryMoiseev opened #3606 "олигшжмшпгмшжлмрмршжшпршпшпмшжгмшжгмжгшмжшмжрш"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2019-02-02 17:34] #3606 closed

[2019-02-02 17:34] #3605 closed

[2019-02-02 17:57] Cervator opened #3607 "Opening the BT editor with F5 in multiplayer after spawning a few deer then trying to open the drop-down meant to hold BT entities crashes the game"
To replicate: Run or join a multiplayer game with WildAnimals enabled. Press F5 and click the drop down in the top left.

To troubleshoot: Follow the stacktrace or consider running in debug mode with a breakpoint close to where the NPE happens. Figure out what the null is and harden the code so the game won't crash - just log a useful error instead :-)

Results in the following crash log on the cl

[2019-02-02 18:42] Cervator opened #3608 "Pull some extra menu items from the pause menu into an Extras sub-menu"
Much like #3468 (fixed in #3506) did for the main menu, we can do something similar on the pause menu. Observe:

<img width="490" alt="2019-02-02 13_39_20-c__windows_system32_cmd exe" src="https://user-images.githubusercontent.com/1063833/52167879-fde20c80-26ef-11e9-8537-75e11bd62177.png">

The three buttons along the button should be moved into an "Extras" button in the main lineup of buttons jus

[2019-02-03 11:51] brylie commented on #3064
Here are a few more screenshots of the light shafts, from recent play testing.

Shafts underground in Dwarf Hall really bright white from floor tiles
![screenshot from 2019-02-03 13-37-12](https://user-images.githubusercontent.com/17307/52176375-8927d480-27ba-11e9-818b-ad79e0eeee15.png)

Shafts from stone in a mine, causing the stone to look like it is emitting light:
![screenshot from 2019-02-02

[2019-02-04 04:17] shaunakdixit commented on #3608
I would like to work on this.
I have gone through the docs of Terasology do I need to study more or I can start.
Its my first time in  open source so help me out a little

[2019-02-04 08:34] shaunakdixit commented on #3608
@Cervator would you please tell me that I'm on right track
![20190204_140149](https://user-images.githubusercontent.com/22188087/52197408-75957000-2885-11e9-8c6d-092701c3a5dc.jpg)
This is what I have to do to create a new button which includes "Metrics Menu ", "Issue Reporter", "Developer Tools" along with "Back" Button.

[2019-02-04 20:33] jellysnake commented on #3608
Yup, that's correct. When this new button is pressed just change the ui from being

[code]
To
[code]
And obviously move back to the pause menu when **Back** is pressed.

[2019-02-05 03:15] jellysnake commented on #3596
Hey there, apologies for the delay in responding

It appears that the crash is due to AdditionalWorlds, and more specifically that a world generation plugin is broken. This is a known issue with the module, and if you try again without it enabled you should be fine.

I'm going to close the issue but if you still crash even with AdditionalWorlds removed, then please re-open or make a new issue

[2019-02-05 03:15] #3596 closed

[2019-02-05 10:09] TimVerhaegen opened #3610 "Worldgen seed not unique"
### What you were trying to do
I was using noise to generate my world based on the seed provided to my world generator. I assumed this was the seed shown in the world-setup screen.

### What actually happened
Instead of the seed shown in the world-setup screen, the method `BaseFacetedWorldGenerator .setWorldSeed()` got called with parameter `LOTR World-00`. This is supposed to be unique according

[2019-02-05 12:33] TimVerhaegen commented on #3610
More info: only happens when explicitly selecting your world-generator ("universe" screen). Pressing play before the universe screen does give you the seed.

[2019-02-05 20:52] shaunakdixit commented on #3608
hello @jellysnake I completed the task
![image](https://user-images.githubusercontent.com/22188087/52303328-b7bdcf00-29b5-11e9-83d1-dd330f104f71.png)
as u can see in image but I'm not able to remove those **'?'** in **"extra"** button
please help me out

[2019-02-05 22:34] jellysnake commented on #3608
Without seeing the code I'm not going to be able to help very well. If you make a Pull Request I can help much easier.

If you are new to GitHub and unsure how to do that, hop onto out discord (https://discord.gg/terasology) and we can help you out. (We also have an IRC if you're more old skool inclined :) )

[2019-02-06 15:50] portokaliu commented on #3559
I just tried this on version 78, and it seems fences break all physics in the game when you destroy a block adjacent to a fence which has an item near it.

Repro: Dig a hole in between other blocks, don't pick up the dropped block, place fence in dug out area, dig any adjacent area on the sides.

Result: No block will have a rigidbody _except_ for the block you just placed.

Observations: It does

[2019-02-06 21:03] jellysnake commented on #3559
@pollend could this be caused by some interactions in the Block Family code?
I suppose testing to see if any blocks using a similar family definition also break it.

[2019-02-07 02:06] pollend commented on #3559
potentially but I can't really think of a situation where this would happen. you can try using git-bisect.

[2019-02-07 04:04] shaunakdixit commented on #3583
hy @Cervator I would like to work on this issue.
So what I understood from above conversation is **2 tasks** are still **remaining**
1- We need a customization field to change world name during a world setup
2- and to solve a issue during **"quick start"** in which world name is not getting printed on screen.

please let me know if I'm wrong and can you tell me what are the changes made by @Snooob

[2019-02-07 04:22] shaunakdixit commented on #3608
hy @jellysnake can you please look into my code and can you suggest me a way to resolve that error of **'?'**
thanks

[2019-02-07 05:28] Cervator commented on #3608
Heya @shaunakdixit - I see the PR and it looks pretty good! :-)

I'm not sure why you're getting `?`s - I thought maybe that was just a placeholder for you. UI strings like that are defined in `menu_en.lang` (well technically `menu.lang` but the EN file contains the default English label) and in this case `extras-label` already contains the right label so that should work here too

[2019-02-07 08:27] shaunakdixit commented on #3608
Ok @Cervator  thanks a lot for your help I think I got my answer why I'm getting **'?'** I'll make changes in my PR.
but I'm having one doubt that i need to change menu.lang also along with menu_en.lang

[2019-02-07 08:46] shaunakdixit commented on #3608
I made some changes in menu_en.lang and menu.lang in which I included my new keywords like **"extra-menu"** and **"extra-menu-title"** but my system is not with me so I have not tested it on my own.
Please have a look @Cervator and if I will be able to find some error l'll try to resolve it.
thanks :-)

[2019-02-10 18:45] Cervator commented on #3510
Going to close this as we're just about out of alerts, down to just 14 right now :-) Down from a peak of ... a lot.

The rest can probably just be poked at organically over time, some that remain may be controversial.

[2019-02-10 18:45] #3510 closed

[2019-02-10 18:47] Cervator commented on #3583
Belated heya @shaunakdixit - yeah that sounds about right, and you don't necessarily need to confirm before starting, especially on a relatively recent issue. For related work just check out the links, such as PR #3591's diff showing what was changed for that set and the PR itself describing what was changed.

If you have short term pressing questions it is better to come ask on Discord as GitHub

[2019-02-11 03:06] AndyTechGuy opened #3616 "Enabling Animated Menus breaks widget tabbing"
When animated menus are enabled, the widget tabbing will show strange activity in the main menu:

- On the main menu, the widget tabbing works.
- When an animation forward to any menu occurs the first time, widget tabbing doesn't work and returns an error in console.
- Any other forward animation after that will result in the tabbing not working without an error in console.
- But, when a backwards

[2019-02-17 18:14] Cervator commented on #3608
Closing as completed by #3617 ! :-)

[2019-02-17 18:14] #3608 closed

[2019-02-17 19:01] Cervator commented on #3553
Closing as fixed by #3615 ! Thanks all :-)

[2019-02-17 19:01] #3553 closed

[2019-02-17 19:16] Cervator opened #3618 "Make menu animations (and any other UI stuff?) not related to the game world independent from game time"
As a follow-up to #3614 the fix there is a bit of a hack - the menu animation was going through its frames based on the in-world game loop which could be paused, meaning suddenly the menu couldn't proceed if animations were enabled.

The hack fix is just pretending time passes at a static pace when it comes to menu animation, regardless of what FPS the game is actually running at, which works but

[2019-02-25 02:25] SoniEx2 opened #3620 "Add missing support for OggPCM and OggFLAC (or rename Ogg* classes to OggVorbis*)"
Currently the OggReader doesn't support OggPCM or OggFLAC formats. It should either support them or be renamed to make it obvious that they aren't supported.

(At least OggPCM.)

[2019-02-26 11:16] Aizen93 commented on #2837
Hello, every one
So i'm new to Terasology and i'm trying to solve one of the "Good first issue" to get started, and i was wondering if this topic is closed or not yet(I see some issues here are closed but not the entire issue 2837)? so what kind of commands you still need precisely, can i have some more details please? I would love to try this one and share with you :)

[2019-03-02 03:30] #3583 closed

[2019-03-02 04:16] #3610 closed

[2019-03-02 17:23] Cervator commented on #3407
Had a second user hit this with the game itself, so it is confirmed and fairly high priority since this could easily become a blocker for a typical player.

[2019-03-02 22:09] Cervator opened #3623 "Server crash seemingly related to death of a deer not halting AI processing of the entity"
Noticed in the server log for the March play test just now. I was not online but my theory is somebody killed a deer then something about cleanup or parallel processing led to a server crash:

[code]

Specifically the server was running Alpha 12 with JS + ShatteredPlanes + WildAnimalsGenome and I had previously activated deer mating once to make a baby deer. Crash occurred way later.

[2019-03-02 22:57] costinvisan commented on #3618
I think we should use the same time/tick but different loops. When the time is set paused we have two posibilities:
- **SinglePlayer** Some property we create for time should be set such that we know we gotta run the loop for InWorld mode.
![drawing](https://user-images.githubusercontent.com/45972193/53688581-b4b4c500-3d4e-11e9-801a-99171fa240a2.jpeg)
- **MultiPlayer** Both loops should run
![draw

[2019-03-03 05:44] Cervator commented on #2837
Hi @Aizen93 ! Sorry for the delayed greeting :-)

We were just brainstorming something related to this topic earlier, but on the other side of things: causing healing or blocking it under certain circumstances. Fun diagram! https://sketchboard.me/xBtKY4tnIqzo#/

I wonder if rather than worry about all this component deactivating or not we can simply go and capture then cancel the damage equivalent

[2019-03-03 06:52] majordwarf commented on #1059
I guess the issue should now be considered closed or any changer are needed?

[2019-03-03 16:50] Cervator opened #3625 "Resized game window resets to default after a game restart"
### What you were trying to do

Stuff! Unrelated to the bug. Had resized my game window and expected the game to re-open with the window in the same position at the same size as before.

### What actually happened

Settings related to the size (and maybe position?) reset to default so I had to re-resize it.

Should be a fairly easy bug fix. Search around in the code base for "resize" or look at th

[2019-03-04 05:03] PS-Soundwave opened #3629 "Allow UI text to be specified in an array"
Presently, multiline text has to be written in ui files on a single line, potentially resulting in absurdly long lines. The common work around to this is to specify text as an array of strings to be joined by newlines. This should be implemented for UIText, and potentially other widgets.

[2019-03-04 08:53] shaunakdixit commented on #3629
can you specify any particular file so that I can look into

[2019-03-04 08:54] shaunakdixit commented on #3629
what I know is we create a keyword then we specify text for that keyword in menu_en files

[2019-03-05 17:16] Aizen93 commented on #2837
Thank you for your answer, I will introduce my self on the forum and i'll try coming to discord to learn more.
As for the issue i think this is a good start i just need to understand the architecture of the code first and the diagram is very helpful, thanks a lot.

[2019-03-06 02:17] mayant15 commented on #3577
Larger menus (like video settings) should scroll as we tab. The widget in focus should always be visible.

[2019-03-06 04:02] #3625 closed

[2019-03-06 04:11] Cervator commented on #1059
Yep we can consider this sufficiently worked - I'm sure we can think of more improvements if we try hard enough but that can be for another day :-)

Thanks again!

[2019-03-06 04:11] #1059 closed

[2019-03-08 21:39] jellysnake commented on #3598
Closing as resolved through the PR.
If anyone has additional input on this issue then please reopen it and comment

[2019-03-08 21:39] #3598 closed

[2019-03-10 12:53] qwc commented on #3407
Just as a sidenote, I upgraded the docker images to java jre11 and it works flawlessly so far, starting of the server and joining in multiplayer. Stable version also runs with various plugins.

If some got more spare time than me, they're welcomed to join the stable/unstable server for testing around, send me a note if something goes sideways and might relate to the jre11. :)

[2019-03-10 19:24] SanchitUke commented on #3566
Hi!
I would like to work on this issue. I have not done any exception handling before. Can you direct me where to start? Thank you

[2019-03-13 03:14] Cervator opened #3636 "Better custom world name validation"
Follow-up to #3632 which lets you enter a custom world name. Ideally we should attach more validation to such a custom name. Right now if you submit an empty value the name simply won't change, but there's no indication for that unless the user looks. Ideal setup would instead validate the value of the field looking for a few potential issues:

* Blank world name: Tell user to enter a name
* World

[2019-03-15 12:59] darshan3 commented on #3629
Can you point out an example ui file where this issue occurs?

[2019-03-15 13:02] shaunakdixit commented on #3629
Yup In universeSetupScreen.ui there is a warning printed which is quite long.

[2019-03-15 13:05] shaunakdixit commented on #3629
And better idea to find more is go to menu_en file then look for long strings in that file. Search their identity in whole project by ctrl+shift+f and you will get ui files :-)

[2019-03-15 15:35] darshan3 opened #3639 "Trees not falling down after cutting the trunk"
### What you were trying to do

I was trying to cut/destroy a tree in Core Gameplay. I removed an entire layer of wood from the trunk once using an axe and once using dynamite. I expected the rest of the tree to fall down.

### What actually happened

Nothing happens to the remaining section of the tree. It stays where it is and appears to be floating.

[2019-03-15 15:43] pollend commented on #3639
not technically an issue with the core game module. if you would like you can create a module that does just that.

https://github.com/MovingBlocks/Terasology/wiki/Developing-Modules

[2019-03-15 18:28] #3639 closed

[2019-03-15 18:29] pollend commented on #3639
The base core module should be fairly bare and additional functionality is added from module space.

[2019-03-16 00:52] Cervator commented on #3639
To add: this functionality exists/existed in the Throughout the Ages gameplay template, where whole trees fell down if you cut the bottom block in the trunk. That's how the game is structured - more advanced modules add more advanced functionality :-)

Unfortunately it is also a whole lot of code to maintain so some modules are more well maintained than others. TTA has sadly been inactive a long t

[2019-03-16 03:42] Cervator commented on #3636
Closing as complete (enough) with #3637 !

[2019-03-16 03:42] #3636 closed

[2019-03-16 21:46] #3464 closed

[2019-03-16 22:52] jellysnake commented on #3639
I also want to comment that simple farming would be an ideal place to have this, if it isn't already contained in there

[2019-03-19 03:37] Cervator commented on #2753
Closing as fixed by #3645 !

[2019-03-19 03:37] #2753 closed

[2019-03-21 12:15] gustavosizilio opened #3646 "[QUESTION] Where I can find the CI service?"
Is this project using continuous integration services (e.g., Travis-CI or Jenkings)? Or has it used at any point of its lifetime?

[2019-03-21 16:43] Cervator commented on #3646
Hi @gustavosizilio - yes, we've had https://jenkins.terasology.org/ in use for years and years.

PRs in this repo and a few others get auto-tested with links to build info etc :-)

Any follow-up question or something you're interested in changing / working on?

[2019-03-22 03:52] Cervator opened #3648 "Add new "Controller Settings" page"
At present the game has a single "Input Settings" sub-menu for things like hot keys. The entries on that specific page are dynamically generated based on an annotation scan for things like `@RegisterBindButton` - each such button and its bindings are put into the Input Settings and the user is able to remap as desired. For an example look at the `FrobButton` class, which by default is the `e` key

[2019-03-22 12:53] gustavosizilio commented on #3646
Thank you very much! I just want to study the builds. closing this issue. I appreciate your time!

[2019-03-22 12:53] #3646 closed

[2019-03-29 14:52] cheongsiuhong opened #3649 "lwjgl NullPointerException when finding display due to xrandr config problem"
_Admin Edit: This issue documents a problem we can't do anything about beyond upgrading to LWJGL and is here for troubleshooting issues in case anybody else hits it. We'll upgrade eventually then this will no longer be an issue :-)_

### What you were trying to do

Just trying to run the game on Ubuntu 18.04.

### What actually happened

The Terasology Engine's calls to lwjgl's XRandr class - find

[2019-03-31 23:39] 4Denthusiast commented on #656
This is probably because the player-held lights are applied to the opaque geometry with the DeferredPointLightsNode, which is before the ChunksRefractiveReflectiveNode where the water is rendered.

[2019-04-01 16:01] TheHxn commented on #3649
Sorry but how to reproduce again?

[2019-04-01 21:59] Cervator commented on #3649
Responded on Discord earlier: in short this is an issue just to document the problem, there's nothing else to really troubleshoot or fix, we need to close this out when we manage to upgrade to LWJGL 3 which is supposed to resolve this :-)

Thanks again @cheongsiuhong for hunting down the details! It is also noted in the wiki at https://github.com/MovingBlocks/Terasology/wiki/Common-Issues#linux

[2019-04-03 12:04] TheHxn commented on #1942
In the scripts, I think the Runtime.getRuntime() function runs on the server, while time.getFPS() runs on client. I tested this by using GPU 0 and GPU 1, I got 60 fps on GPU 1 while 25 fps on GPU 0. And about the mem usage stats, I think it shows for the server because the max memory exceeds on my task manager for the game (max mem is 1365 MB but it gets over 1500 MB). So by doing these tests I be

[2019-04-03 12:28] Haxsen opened #3652 "Game build doesn't detect Dedicated GPU (even if you force it)"
### What you were trying to do
Running terasology latest build on my laptop with dual GPUs (Intel HD:0 , Nvidia GTX970M:1).
### What actually happened
Starting the game doesn't auto detect the dedicated card, GPU 1. If you force it in Nvidia Control Panel (by selecting Terasology.x64.exe and setting it to High performance GTX970M GPU) or in Win10 Graphics Settings (by selecting Terasology.x64.exe

[2019-04-03 12:40] TheHxn commented on #3652
Possible Solution from this [forum](http://www.java-gaming.org/topics/lwjgl-uses-wrong-graphics-card/37938/view.html):
Making the game automatically use the dedicated graphics card by writing a custom javaw.exe/java.exe launcher using the [JNI Invocation API](https://docs.oracle.com/javase/8/docs/technotes/guides/jni/spec/invocation.html) .
When this process exports a symbol called "NvOptimusEnabl

[2019-04-04 04:42] #3366 closed

[2019-04-04 04:55] syntaxi opened #3654 "Documentation followups to File IO (#3511)"
With the merge of #3511, modules now how access to a, limited, file IO api. This is a PR a long time in the making an a feature that a bunch of modules would probably love to use, (methinks a revamped Structure Templates).

However, it doesn't matter how great a feature is if nobody knows it exists or how to use it. This is a followup issue to #3366 to _document_ the new system and how to use it.

[2019-04-05 05:03] desempare opened #3656 "Cannot start headless server on FReeBSD"
### What you were trying to do
I'm try to run headless dedicated server on FreeBSD, use OpenJDK 1.8 64 bit.
### What actually happened
Server running, listen network, run client, add my server, got his info, latency, etc.. connect...fail. Server failing, shutdown. That it.
### How to reproduce
pkg install openkdk8
wget terasology.zip
unzip
run
java -jar libs/Terasology.jar -headless
from another p

[2019-04-05 05:14] desempare commented on #3656
I'm really really  sorry, run server with parameter -homedir and all works.
Thank you !!!

[2019-04-05 05:14] #3656 closed

[2019-04-05 17:54] SuperRoboWizard opened #3657 "LWJGLException: Could not init GLX"
### What you were trying to do
Start the game

### What actually happened
Game crashed while loading

### How to reproduce

* Start the game

### Log details and game version
https://pastebin.com/3Sq2W5AT
1:2.2.0alpha12-1, installed from AUR

### Computer details
Surface Pro 4, i7-6650U, Manjaro Linux

[2019-04-06 03:36] Loonride opened #3660 "Water reflection only works at sea level (y=32)"
I wanted to get this problem documented, as it could potentially be improved after shader refactoring.

### What you were trying to do

See proper reflections in water at any height.

### What actually happened

Water reflections rely on the water being at sea level. When it is not, the fbo is drawn to from the wrong camera perspective. Here's an image of what it looks like at around y=64, with al

[2019-04-07 18:57] llvieira commented on #3654
Hey @jellysnake, I've just written a simple Wiki on how to use it, you can check it here: https://github.com/MovingBlocks/Terasology/wiki/IO-API-for-Modules

I hope that I or someone else can improve it soon. :smiley:

[2019-04-08 20:12] #2603 closed

[2019-04-08 20:22] skaldarnar commented on #3336
Likely related to #3064

[2019-04-08 20:27] skaldarnar commented on #1527
Fixed - torches held in hand emit light.

[2019-04-08 20:27] #1527 closed

[2019-04-08 20:57] jdrueckert commented on #3064
Hi,
I perceived that the light shafts of torches planted on the ground only shine into one direction. On all other sides it stays rather "dark":

Dark side: 🍪
![190408_Torch-Issue_dark-side](https://user-images.githubusercontent.com/29981695/55755711-10f6bd00-5a50-11e9-9d00-cf81c38f6de0.png)

Bright side: 🐍
![190408_Torch-Issue_bright-side](https://user-images.githubusercontent.com/29981695/557557

[2019-04-12 10:09] PS-Soundwave commented on #628
Resolved by #3481.

[2019-04-12 10:09] #628 closed

[2019-04-13 05:36] jellysnake commented on #3654
Nice, looks like a good description of the features.
Only thing I'd note is, i recall discussion about directories not being supported? Ie, you can't make directories and you access in directories. This would be good to add a a warning about.

Also, seems like the snippets for Read and Write consumers are around the wrong way?

[2019-04-20 17:50] Cervator opened #3661 "Enhance the `update-all` groovyw utility script further with better logging and resume capability"
Essentially three small separate enhancements but maybe not separate issues:

1) Make `groovyw module update-all` log what actually gets updated per module - right now there's no actual indication if _anything_ got updated, it would be nice to see a summary with "x new files added, y files updated, z files deleted" or something. Ideally log it to the screen, but if for some reason a log file is be

[2019-04-20 18:04] Cervator commented on #3661
Here's an example of the output from a routine `git pull` for a module:

[code]

While the file-by-file details are going to be too much it would be nice to get the other stuff including git hash, that it is a fast-forward (imho any non-ff operation should halt - too unpredictable), and the summary of changes

A potential added issue: some modules show "dirty" as per the script (and thus JGit I gu

[2019-04-21 14:03] fortiseven commented on #2921
Hello there, I've been recently tempted to translate the game in Albanian, I finished my translation, but I've got a problem. I want to test the translation I've made, but for some unknown reason, the game doesn't detect the language I've added in the game's settings. I've put the .lang file here engine/src/main/resources/assets/i18n and the flag png here  engine/src/main/resources/assets/textures

[2019-04-22 07:17] skaldarnar opened #3663 "Clean up Modules related to Plants/Growing/Farming"
@jellysnake @cervator Can you please shed some light on the whole plant/flora/growing area? (GitHub issue is probably better for discussion…)

- https://github.com/Terasology/SimpleFarming uses EdibleFlora
- https://github.com/Terasology/EdibleFlora
- https://github.com/Terasology/AdditionalVegetables and https://github.com/Terasology/AdditionalFruits are of the “AdditionalXYZ” naming scheme and o

[2019-04-27 17:17] PAndaContron opened #3665 "OpenGL Line Width Warning"
When hovering over anything that creates a hitbox outline, the following error gets printed out every tick:

`[main] WARN  OpenGL - [api] [deprecated] API_ID_LINE_WIDTH deprecated behavior warning has been generated. Wide lines have been deprecated. glLineWidth set to 2.000000. glLineWidth with width greater than 1.0 will generate GL_INVALID_VALUE error in future versions`

This is due to several

[2019-04-27 22:01] Cervator commented on #3663
So I think we talked about this a bit on chat. Some summary bits:

* I just moved Crops out from the Terasology org to GooeyTests - we could probably do that as a sort of deprecation method. Links should still work and we could clearly mark the repos as retired/archived etc then opt to fully delete later.
* GrowingFlora and AnotherWorldPlants come from the TTA days, then later partly revived with

[2019-04-28 17:50] Cervator commented on #3663
Adding link to https://github.com/Terasology/JoshariasSurvival/issues/22 - there are some similar issues floating around related to "modernizing" or cleaning up this area in other ways.

[2019-04-28 19:42] Cervator commented on #3225
Bump - long belated hey again @LaysDragon :-) Sorry for missing this for ages, whenever something cool and new comes up feel free to just go straight to the PR level and/or catch up on chat. So many GitHub notifications, very easy to miss

[2019-04-28 21:13] Qwertygiy opened #3667 "Crash at launch on Ubuntu with AMD Radeon graphics"
### What you were trying to do
Launching Terasology 2.2.0 from run_linux.sh

### What actually happened
The loading bar appears and loads modules and worldbuilding and Discord and the like, albeit the loading bar window flashes black for a tenth of a second every half a second. After reaching the end, the loading bar window vanishes and the process quits.

### How to reproduce

* Step 1 Download T

[2019-04-29 00:23] Qwertygiy commented on #3667
I have found a fix. Trying to use the Terasology Launcher resulted in a new Gradle install; which resulted in Java being updated; and from there on out, defaulting to OpenJDK 11.

Setting my primary Java installation back to OpenJDK 8 allowed Terasology to launch.

For anyone else with this issue, run the following commands:
`sudo  update-java-alternatives --list`
This command will show you the in

[2019-04-29 00:23] #3667 closed

[2019-04-29 00:38] Cervator commented on #3667
Thanks for the good research! :-)

[2019-04-29 00:40] Cervator commented on #3657
Thanks for the report + figuring it out! I'm going to inline a snippet from your pastebin here in case searching for something similar might help out other users at a later date :-)

[code]

[2019-04-29 00:43] Cervator commented on #3656
Thanks for the report! I added a bit of formatting to your post in case others might find it handy in the future :-)

[2019-04-29 01:02] Qwertygiy opened #3668 "Gameplay Template scrollbar exits to main menu when clicked, instead of being able to drag and scroll"
### What you were trying to do
Clicking the knob beside the Gameplay Template options in the main menu to drag it and scroll it up and down between choices.

### What actually happened
The list of options closed as soon as the knob was clicked, rather than allowing itself to be dragged.

### How to reproduce

* Step 1 Click singleplayer game.
* Step 2 Open Gameplay Template list with the [v] butto

[2019-04-29 02:08] Qwertygiy commented on #3668
Further information:

- The NUI Editor dropdown has the same issue.
![image](https://user-images.githubusercontent.com/2421117/56873633-ae1a9500-6a01-11e9-9e00-9107f352cf2c.png)

- The Video Settings scrollbar does *not* have the same issue.
![image](https://user-images.githubusercontent.com/2421117/56873641-c5598280-6a01-11e9-91ee-a97e484de894.png)

My initial guess with this information is that

[2019-04-29 05:30] jellysnake commented on #3663
Ok, so this is likely to be a bit of a wall of text:
I've been using SimpleFarming with a couple of secondary goals. Notably one of these is testing out "content" structure where it applies for large systems and trying to modularise where possible. This means that the SimpleFarming "group" can seem to be structured oddly/differently to other modules but this is my attempt at detailing how it works

[2019-04-29 16:14] Josharias commented on #3663
Something like this, right? (where the lines are module dependencies, and the dotted are optional deps)

![image](https://user-images.githubusercontent.com/5922109/56906440-16479600-6a57-11e9-824a-011687434b03.png)

Another thing to consider is how interaction would work if an expansion module supports 2 different content modules.   But I suppose this may be a case of just having to know how the d

[2019-04-30 18:51] skaldarnar commented on #3663
Thank you for the explanations and general information. Highly appreciated and provided great insights! Let me try to collect a bunch of actionable items:

- [ ] move deprecated/discontinued modules to https://github.com/GooeyTests
  - [ ] Crops
  - [ ] GrowingFlora
  - [ ] AnotherWorldPlants (❓ along with other TTA modules)
- [ ] rename SimpleFarming (❓ naming suggestions)
- [ ] salvage usable as

[2019-05-01 08:35] brylie commented on #3064
The game Equilinox has a Devlog video where the main developer explains how they implemented light shafts.

[2019-05-01 18:36] mayant15 opened #3670 "Time out of sync for players in multiplayer"
### What you were trying to do
Hosted a game locally and connected to it with another client.

### What actually happened
The player that connected later did not have the same time as the host.

### How to reproduce
* Start a multiplayer game locally
* Start up another client
* Wait 5-10 minutes before connecting

![day-night](https://user-images.githubusercontent.com/32035777/57034699-e0c8c580-6c

[2019-05-03 23:40] Qwertygiy opened #3672 "Lighting error at chunk boundaries from incorrect sunlight values"
### What you were trying to do
Lighting should be smooth across chunk boundaries.

### What actually happened
Lighting is not smooth across chunk boundaries when the chunks loaded at different times.

### How to reproduce

* Step 1 Load a world and find a chunk boundary. Use of "showPosition" cheat may be helpful.
* Step 2 The chunk that loaded first will have a darkened border facing the chunk th

[2019-05-09 21:24] mayant15 opened #3673 "Log a warning if module defined in override.cfg doesn't exist"
The `override.cfg` file holds settings for the headless server. These are applied over the ones in `config.cfg`. Modules to be activated by the headless server are also defined here.

Right now, if a module that doesn't exist is defined in the override file, the server just ignores it and moves on. It would be better if an error or at least a warning is thrown in these cases.

The `StateHeadlessSe

[2019-05-11 12:00] profgrammer commented on #3668
The universe setup screen in the advanced setup also has the same problem. Clicking a location on the scroll bar makes the menu disappear, but on reopening it we can see that the knob is at the position we clicked on before.
![worldgen](https://user-images.githubusercontent.com/25369498/57569422-6ee14080-7412-11e9-9ea4-fba17d4e3f74.png)

[2019-05-11 13:45] AlexandrSunLight commented on #3668
Same in the languge select menu.
![2019-05-11_16-30-44](https://user-images.githubusercontent.com/25091003/57570545-ebbcec00-740b-11e9-9cc3-7a2225f02a01.png)
I think the answer somewhere in UIDropdownScrollable class, because all of thouse are dropdownscrollables, and "video settings" menu is not.

[2019-05-12 02:27] profgrammer commented on #3668
[code]

Code snippet from the UIDropdownScrollable class. On click, `opened` is just getting flipped. That explains why the scrollbar is closing on clicking anywhere inside it, including the vertical bar. How can I check whether the click position is on the options, or the scrollbar?

[2019-05-16 03:24] #3668 closed

[2019-05-16 03:39] Cervator commented on #3673
For more details about the override file see https://github.com/MovingBlocks/Terasology/blob/develop/docs/Playing.md#configuring-a-server :-)

`ModuleManagerImpl` might also be a good class to check on

Hopefully a Good First Issue, hop on our Discord for more questions, easy to miss notifications from GitHub 👍

[2019-05-26 09:48] theobisproject commented on #3412
I tried this for fun.

**Running regularly**
Command used: `gradlew game`
The game crashes after the splashscreen. The logfile does not provide any useful information but the crash reporter screen does. The problem is the `liblwjgl.so` binary which is compiled for the x86 architecture and not for arm. Error message is: `can't load IA 32-bit .so on a ARM-bit platform`.
There are some ways to get LW

[2019-06-01 00:01] AlexandrSunLight commented on #3616
I can say, that it's not a NullPointerException problem. When animation is on TabbingManager gets wrong information about menu screen (in case of forward animation only). After first transition (from main menu to anything else) TabbingManager gets NewGameScreen, and MainMenuScreen after second.

[2019-06-05 05:16] eviltak commented on #3629
The same result can be achieved in a different (and IMO more convenient) manner: if the extra text array attribute is not going to be used programmatically (which I don't think it should anyway) and is purely for convenience when describing UITexts in JSON, another alternative can be to simply add a new type handler for the `String` type to the JSON serializer that simply joins the string array to

[2019-06-05 05:21] profgrammer commented on #3629
Hi @eviltak, I will be more than happy to try out your version of the solution. Can you help me understand what changes need to be made to the serializer? Thanks

[2019-06-05 12:18] jellysnake commented on #3629
Undoing the github autoclose as there is ongoing discussion. See my comment on the PR about what to do in terms of alternative implementations

[2019-06-06 07:00] jellysnake commented on #3064
This is half fixed as of #3682. They no longer emit from the sun when that is underground.
This fixes a large chunk of the visible issues with the shafts, but doesn't tackle points 1,2 or 4. Those are still open for fixes.

[2019-06-08 19:27] Cervator opened #3683 "Enhance the `dumpEntities` command"
In `CoreCommands` there is a simple `dumpEntities` command that'll write all entities in the world to a debug file. That's great! But you don't always need _all_ the entities, but something more specific.

The objective of this Good First Issue is to make a variant of that command that takes a parameter (or a ... list of parameters) for a specific Component to filter by then only write out those e

[2019-06-09 19:34] brylie commented on #3064
Here is how the CRYENGINE implements sun shafts:
https://github.com/CRYTEK/CRYENGINE/blob/main/Engine/Shaders/HWScripts/CryFX/Sunshafts.cfx

[2019-06-11 14:43] dave2s opened #3684 "To leave or not to leave rendering.dag package as an API"
So far the whole rendering.dag package is annotated as an API.
We need to discuss (on a weekly meeting preferably) whether this is something we leave as is, or whether we leave only some parts of the dag package APIfied.

- [ ] ?

[2019-06-11 14:48] dave2s commented on #3684
I have not yet made up my mind. I don't see a reason why you would not leave it as is in terms of security. In terms of easy usage in module development however - you definitely want it to be friendly, hence use 1 extra API-like layer. Leaving the rest APIfied too can easily lead to confusion and is prone to error. Hence once I make my renderer tampering module working I'll update this with some s

[2019-06-12 12:18] darshan3 opened #3685 "VisualCharacter Entity is being set for local character too for clients"
Player entities have a `VisualCharacter` Component which holds the `visualCharacter` entity. This entity should be set only for characters not belonging to local player. Character belonging to local player should have `visualCharacter` set to `EntityRef.NULL`. However, this is not happening currently.

### How to reproduce:
Start two instances of game. Host a Core Gameplay game on one and join it

[2019-06-13 23:50] #3685 closed

[2019-06-14 00:14] Cervator opened #3688 "Terrible things happen when starting a _second_ game without a game restart"
### What you were trying to do

Test unrelated things! Which sometimes involve jumping into more than one world.

### What actually happened

Inconsistently would get warped worlds with messed up data, from broken chunks to entirely messed up block data (hills of torches, pure water world, etc)

### How to reproduce

This is the minimal use case I could consistently reproduce real quick

* Step 0:

[2019-06-14 08:02] darshan3 commented on #3688
I tried to test this, turns out that it also occurs on restart.
### How to reproduce:
1. Start from a clean game with no saves.
2. Start the game from source, create a new game, pick Core, quick start.
3. I tried both exit methods:
  a. Exit to Main Menu -> Exit Terasology from Main Menu
  b. Exit Terasology from Pause Menu
4. Start the game again from source, create a new game, pick Core, quick s

[2019-06-14 13:02] eviltak commented on #3629
@profgrammer here is the alternative solution (as discussed on Discord):

Given that most if not all long pieces of text will be defined in a translation (`.lang`) file, the addition of a simple `JsonDeserializer<String>` implementation to the `Gson` object (via `GsonBuilder.registerTypeAdapter`) in `TranslationFormat` should suffice. The implementation will read a `JsonElement` as a `String` if i

[2019-06-14 17:31] dave2s opened #3691 "Split engine nodes to BasicRenderingModule and AdvancedRenderingModule"
BasicRenderingModule contains all the essential nodes
AdvancedRenderingModule contains advanced effects

[2019-06-15 10:44] qais12wv opened #3692 "qafss"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2019-06-15 10:44] qais12wv commented on #3692
waaaaaaawaswaw

[2019-06-15 14:40] jellysnake commented on #3692
Closing as spam

[2019-06-15 14:40] #3692 closed

[2019-06-15 16:35] #3688 closed

[2019-06-16 07:18] darshan3 opened #3693 "'entityManager.getEntitiesWith(ClientComponent.class)' not working on Remote Clients"
### What you were trying to do
I was trying to access all the entities with ClientComponent present.

### What actually happened
The command `entityManager.getEntitiesWith(ClientComponent.class)` returns an empty list, but `entityManager.getCountOfEntitiesWith(ClientComponent.class)` correctly returns the number of such entities. This method works correctly for other components.

### How to reprod

[2019-06-23 15:59] fluffynuts opened #3694 "Game crashes with Master of Oreon"
This is the first time I'm trying to run the game, so I'm not sure if I'm just doing something wrong -- tried to start up a new game with the type "master of {something}". The crash reporter offered to file a GitHub issue, but clicking that button didn't do anything, so I'm reporting manually in case it's something of interest.

log file here: https://pastebin.com/417RDRky

OS: Linux (Gentoo)

[2019-06-27 02:54] NWc0de commented on #3683
Is this still up for grabs?

[2019-06-27 14:41] OvermindDL1 commented on #3683
Remember that github has the ability to assign an issue to someone who's commented on the issue even when they are not a contributor now @Cervator.  :-)

[2019-06-28 16:40] #3684 closed

[2019-06-28 16:45] dave2s opened #3696 "for PR #3680 enable BufferPairs passing"
A BufferPair class extending DependencyConnections for swappable buffer pairs passing throughout graph shall be provided.

[2019-06-29 13:59] jellysnake commented on #3696
Linking this to #3680 and labelling

[2019-06-29 17:25] Cervator commented on #3694
Update: two others were unable to reproduce and after cleaning up my local source workspace I couldn't either. I rebuilt some associated modules and made sure there was a new game zip for the launcher, tested it out there as well and it worked :-)

@fluffynuts could you try again please? Either latest develop build via launcher or http://jenkins.terasology.org/job/DistroOmega/1040/artifact/distros

[2019-06-29 17:25] #3694 closed

[2019-07-02 03:22] eviltak commented on #2949
Closed via #3697.

[2019-07-02 03:22] #2949 closed

[2019-07-02 04:15] AahzBrut commented on #3693
I will take it, if nobody objects

[2019-07-02 04:25] AahzBrut commented on #3683
This issue can be closed

[2019-07-02 04:37] #3665 closed

[2019-07-02 16:24] AahzBrut commented on #3693
@darshan3
Can't reproduce, `displayClientCount` returns 2, `displayClients` returns:
`EntityRef{id = 193, netId = 764, prefab = 'engine:player'}EntityRef{id = 187, netId = 760, prefab = 'engine:player'}`

[2019-07-02 18:18] AahzBrut commented on #3360
I repeated all the steps but could not reproduce the error.

[2019-07-04 14:18] #3683 closed

[2019-07-04 14:20] jellysnake commented on #2949
@eviltak I think you're referencing the wrong issue or PR here? #3697 adds component filtering to the dump entities command. I'm unsure how that fixes this?

[2019-07-04 16:22] eviltak commented on #2949
The PR also includes commit 6517dc9, which fixes this issue. It wasn't mentioned in the PR description, but I have edited the description to reflect this as well for future documentation!

[2019-07-14 05:42] darshan3 opened #3700 "MultiWorld not working when I load a save game"
### What you were trying to do
I was trying to run the `getUniverseInfo` command after loading a save game.

### What actually happened
The console shows a null pointer error.

### How to reproduce
1. Start a new game. Try the `getUniverseInfo` command. It should correctly show the number of worlds and entities.
2. Exit to the main menu and load the saved game. The command stops working.

[2019-07-14 05:45] darshan3 commented on #3700
Some inspection showed that the `worldManager` in `PojoEntityManager.java` is not getting initialized.

[2019-07-14 05:54] askneller commented on #3673
I'll take this one.

[2019-07-14 07:43] askneller commented on #3673
I have created a pull request for this. https://github.com/MovingBlocks/Terasology/pull/3702

[2019-07-14 18:07] #3629 closed

[2019-07-15 09:37] askneller commented on #3648
I'll take a look at this one.

[2019-07-15 19:17] jellysnake commented on #3670
This should be easily fixable by sending the world time (and dilation) when the player is connected and using that rather than starting from zero

[2019-07-15 19:26] #3673 closed

[2019-07-15 21:55] jellysnake opened #3703 "Allow Blocks to have layered tiles"
# Feature Description
At the moment, thanks to #3481 we now have animated tiles. This issue is for adding a new enhancement to block tiles, _layering_.

For this to be complete, a dev should be able specify a number of sprites and have them layered atop each other on a block face. For example, given the following two images:
![ore](https://user-images.githubusercontent.com/6791585/61249707-4b7f9c8

[2019-07-15 22:10] #3696 closed

[2019-07-30 09:58] godfather2 commented on #3648
Hi,
I'm new to Terasology and am eager to contribute to it.Would anyone be kind enough to help me get started...

[2019-07-30 10:37] godfather2 commented on #2406
is this still open?can i work on  it?

[2019-07-30 16:55] pollend opened #3714 "Biome Loading Error"
Just loading up the game on a defaul work sometimes will crash. The game can't find the biome world which was moved to a separate module under BiomeAPI. I think this might be a loading step problem where Biome's are loaded too early with the game booting up. @jellysnake

[code]

[2019-07-31 06:23] skaldarnar commented on #3714
I was finally able to solve this with the following steps:

- do a full `git clean -fdx` to remove all untracked files, directories, and build products. I think this also includes save games and configs...
- remove all additional modules (I luckily just had a few). I tried to just update my modules to latest commits on `master`/`develop`, but that apparently did not help
- run the _magic build com

[2019-08-01 08:13] askneller commented on #3648
Hi @godfather2, the way I started was looking through the issues labelled Good First Issue, finding one I thought I could do, and then mentioning on the Discord server that I'd like to take a look at it.

[2019-08-10 21:31] #3490 closed

[2019-08-13 07:56] redder225555 opened #3722 "crash upon startup"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2019-08-13 07:56] #3722 closed

[2019-08-16 13:25] eviltak opened #3725 "External API Whitelist Review"
The external API whitelist (defined in the `ExternalApiWhitelist` class) has a number of inclusions and exclusions that require more discussion. This issue aims to consolidate the few isolated issues and conversations that have been made on the topic.

## Pressing concerns (usually involving reflection)
- Removal of `MethodAccess` (#3060)
- Removal of the `jdk.internal.reflect` package
- Removal o

[2019-08-20 12:46] Adrijaned opened #3728 "Add Teraology Twitch Listing"
As is discussed in MovingBlocks/DestinationSol#419, Destination Sol has its own Twitch entry, although not much in there. But Terasology, as it turns out, doesn't have one at all!

So, your task will be to:
 * Create a twitch entry for Terasology
 * Create/find a nice box art for Terasology
 * Get the box art associated with the twitch entry

Quest hints:
 * You can view the requirements for a gam

[2019-08-20 12:46] SoniEx2 opened #3729 "Rename ExternalApiWhitelist to ExternalApiAllowlist"
We should rename `ExternalApiWhitelist` to `ExternalApiAllowlist`. This shouldn't really break anything.

[2019-08-20 12:59] jellysnake commented on #3729
Whitelist is a well known term. It indicates things that are allowed, hence it fits here. Can you please elaborate as to why allowlist would be better than whitelist?

[2019-08-20 13:08] SoniEx2 commented on #3729
Some ppl argue "whitelist" is racist. I don't know.

On the other hand "allowlist" is actually clearer for non-english-speaking ppl.

[2019-08-20 13:51] jellysnake commented on #3729
I understand the concerns about allowlist being clearer but I disagree. Whitelist is a term used _throughout_ technology, with a very consistent meaning. I will accept that "allowlist" might be more intuitive, it's a list of things to allow. I think that the fact that whitelist is so widely used however overcomes this.

[2019-08-20 14:02] SoniEx2 commented on #3729
And we should still change it and encourage others to do the same.

[2019-08-20 14:26] jellysnake commented on #3729
I think we're going to need more widespread agreement before this is a reasonable change. Either through a number of projects changing it or alternatively, a decent number of people in this org agreeing. Until then I wouldn't regard this as a required change

[2019-08-23 02:42] dave2s opened #3731 "Feature: Save per-game rendering config. PR #3680 followup"
- [ ] Explore utilizing of7 AutoConfig

PR #3680 followup

[2019-08-24 17:35] Cervator commented on #3728
Just to add: our official Twitch is http://www.twitch.tv/terasology

[2019-09-04 16:24] Cervator commented on #3729
No.

[2019-09-04 16:24] #3729 closed

[2019-09-05 13:26] yuvalif opened #3736 "javafx.fxml.LoadException crash on startup"
### What you were trying to do
trying to launch the game

### What actually happened
launcher crashed

### How to reproduce
just call: ``$ bin/TerasologyLauncher``

### Log details and game version
log: https://pastebin.com/sDUztme7
stack trace: https://pastebin.com/89JJaf7Y

### Computer details
Fedora30
[code]

[2019-09-07 19:53] Cervator opened #3737 "The Great Module Audit!"
With GSOC ending and us having merged _a lot_ of fundamental / API breaking things lately I'd like for us to do a round of module testing to catch our breath and make sure all the things are working - or at least compiling and running :-)

Planning to merge #3704 later today or tomorrow _without_ updating all the modules ahead of time and have it be part of this process, so not checking off anythi

[2019-09-07 23:34] mayant15 opened #3738 "Shutdown halts while shutting down subsystems"
Game shutdown halts while shutting down engine subsystems. The problem occurs at shutdown and not pre-shutdown, maybe somewhere in this loop [here](https://github.com/MovingBlocks/Terasology/blob/70bf0aa4a21fde2c15bd67bd7e76eb0274106218/engine/src/main/java/org/terasology/engine/TerasologyEngine.java#L501).

### How to reproduce

* Start the game
* Exit the game
* The window closes but shutdown ha

[2019-09-08 14:35] Cervator opened #3739 "StackOverflow on certain combination of modules - Shattered Planes & Serialization involved?"
### What you were trying to do

Put together a complex set of modules for play testing. With testing eventually cut it down to the following list to still trigger

* CoreSampleGameplay
* CombatSystem
* ShatteredPlanes

### What actually happened

Crashed during initial world loading

### How to reproduce

* Retrieve the above set of modules
* Start a new game with said list of modules.
* Be sure t

[2019-09-08 14:45] Cervator commented on #3738
Can also confirm this seems to happen even solely with SampleBuilderGameplay which is the absolute minimal amount of stuff to run the engine with. So it doesn't seem tied to any module content.

I tried to look at my own thread dumps, but the target a bunch of threads are waiting on doesn't appear to exist in the output ... which is either weird to me or a symptom of a wait target having vanished

[2019-09-08 14:48] Cervator commented on #3736
Hi @yuvalif - this is an issue specific to our launcher, primarily tracked via https://github.com/MovingBlocks/TerasologyLauncher/issues/413 :-)

We've solved it in a pending release of the launcher by embedding a JRE that includes JavaFX. Said version of the launcher should be released Soon ™️ !

[2019-09-08 16:06] Cervator opened #3740 "Trees in JoshariasSurvival are broken, yet same worldgen in plain Core is fine. BiomesAPI quirk?"
Also happens if you use the Shattered Planes worldgen. Trees just have trunk pieces, no leaf blocks.

Happened relatively recently, the closest guess I have is that it happened with the BiomesAPI thing where we also lost the hue on leaf/grass blocks temporarily until a better redo later?

[2019-09-08 17:06] Cervator opened #3741 "Harden 'search' command against malformed assets"
### What you were trying to do

Search for stuff in the in-game console, like `search stone`

### What actually happened

Got a one-line error in the game console. Turned out an asset was misconfigured (was pointing to a template asset in the wrong module). After fixing that another similar case hit where the JSON in another asset was malformed, yet the error didn't give any clue _which _ asset.

[2019-09-08 19:34] RastaManKing opened #3742 "Game does not launch"
Launch the game

Game splash screen flashed then game crashed

Step 1 - Install game (im using Arch Linux)
Step 2 - Launch game
Step 3 - Watch it not start

[rastamanking@GreenGoblin ~]$ terasology
PathManager being initialized. Initial code location is /usr/share/terasology/libs/engine-2.2.0.jar
Switched it to expected working dir: /usr/share/terasology
installPath was null, running from IDE or h

[2019-09-20 03:46] Cervator commented on #3742
Heya @RastaManKing - so you're running the game here with Java 12, while we've only really tested for sure that Java 8 works well. We know of a few issues on Javas 10-11, and are still digging around for more. Changes are this is from Java 12 somehow - although `Couldn't link static libraries.
java.lang.NoSuchFieldException: usr_paths` _could_ be some other sort of OS-specific issue.

If you're ju

[2019-09-20 14:30] OvermindDL1 commented on #3742
Really should update to at least Java11.  Java8 is no longer accessible in most repositories because Oracle changed it's license in a highly questionable way, thus it probably shouldn't be bundled either.

[2019-09-20 23:17] Cervator commented on #3742
Hi @OvermindDL1 ! Good to see you pop up on occasion. Absolutely agreed - the sooner we can vet out Java upgrades till 11 the better. We also have an embedded OpenJDK 11 + OpenFX 11 in our sights for the launcher as well :-)

[2019-09-21 06:26] makicombi opened #3744 "Launcher failed to start"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2019-09-22 14:34] #3744 closed

[2019-09-22 14:34] pollend commented on #3744
not enough details

[2019-09-28 19:14] PavelAplevich opened #3745 "Can't run game with "./gradlew game""
I create local repo on my machine. Follow instructions, but if I try do **./gradlew game** i see this:

**java.lang.RuntimeException: java.util.concurrent.ExecutionException: org.reflections.ReflectionsException: could not create Vfs.Dir from url, no matching UrlType was found [file:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib/ext/libatk-wrapper.so]
either use fromURL(final URL url, final List<UrlTyp

[2019-09-29 00:49] Cervator commented on #3742
Just noticed this also got posted in the forum, at least I assume so based on the identical avatar pic :-)

https://forum.terasology.org/threads/problem-launching-in-linux.2276/

@Avalancs found a search hit for the same issue elsewhere, and reinstalling Java fixed it - although of course if that included a downgrade from 12 to 8 then yeah, that'll do it for sure :-)

Going to close this as resolv

[2019-09-29 00:49] #3742 closed

[2019-09-29 16:40] Qwertygiy commented on #3737
Here's a list of compatibility PRs for Terasology/CoreBlocks in the various modules. They should all be ready for a quick review and merge by anyone who would like to give it a shot:

- https://github.com/Terasology/AdditionalWorlds/pull/31
- https://github.com/Terasology/Behaviors/pull/25
- https://github.com/Terasology/DynamicCities/pull/54
- https://github.com/Terasology/Economy/pull/12
- https

[2019-10-01 00:10] Qwertygiy opened #3746 "Improper stair collision; cannot climb stair without full block underneath it"
### What you were trying to do
Climb up a staircase using blocks that utilize the "engine:stair" shape.

### What actually happened
When attempting to climb from one stair block onto another stair block, in which the second stair block does not have a solid block beneath it, the character will become stuck and unable to climb without jumping.

### How to reproduce
You will need 4 blocks using the

[2019-10-01 05:59] sherrif10 commented on #3737
What could be the creteria of making a nice pull request that best your needs, could it be fixing bug or any other. we would like to give us more light about terasology

[2019-10-01 06:09] sherrif10 commented on #2724
Hi @jellysnake  i think the button close without saving should bear the link that directs to close

[2019-10-02 03:51] StripedMonkey commented on #3745
Can't replicate on Arch Linux,
[code]

[2019-10-02 04:13] NicholasBatesNZ commented on #3745
I ran into the same issue myself on Ubuntu 18.04.3 LTS. This was after freshly cloning the game.
[code]

Using this same setup I am able to compile and run Destination Sol without issue.
Some limited googling suggests that the issue may have something to do with reflections..

[2019-10-02 04:47] NicholasBatesNZ commented on #3745
UPDATE:
Removing line 113 from TypeRegistry.java (`.useParallelExecutor()`) fixes the issue. Just one thing... I don't know why and I don't know what other repercussions there could be.. :P

[2019-10-02 05:09] NicholasBatesNZ opened #3750 "TypeRegistry `.useParallelExecutor()`"
#3749 removes the line `.useParallelExecutor()` from TypeRegistry which I suspect, from my very limited research, was there to get reflections to run on multiple threads. It had to go to fix the crash #3745 so what we need is a) investigation from clever people to see if I'm right and 2) an alternative that does *not* crash the game for some users.

[2019-10-02 05:11] NicholasBatesNZ commented on #3745
This should be fixed if/when #3750 is merged

[2019-10-02 15:38] StripedMonkey commented on #3745
Out of curiosity what CPU do you have? I've got the 8750H on this laptop and don't have any issues with it.

[2019-10-05 08:35] PavelAplevich commented on #3745
Intel core I5-7500  3.40x4

[2019-10-05 08:37] NicholasBatesNZ commented on #3745
And mine:
CPU: `Intel® Core™ i5-8400 CPU @ 2.80GHz × 6`
Graphics: `Intel® UHD Graphics 630 (Coffeelake 3x8 GT2)`
GNOME: `3.28.2`

[2019-10-06 15:54] monique1087 commented on #3737
Hello! My name is Monique and I want to contribute. How could I proceed? Have a nice day!

[2019-10-06 17:08] #3746 closed

[2019-10-06 17:08] #3745 closed

[2019-10-06 17:10] Cervator commented on #3745
Merged the associated PR that in theory fixes this. @PavelAplevich could you try again with the very latest develop branch?

[2019-10-06 17:48] PavelAplevich commented on #3745
I can run the game. I think, all work's.

[2019-10-07 02:03] Cervator commented on #3737
Hi @sherrif10 and @monique1087 - I've just updated the original description with some more details, including a parallel contest we're running with actual giftcard prizes now! :-)

Dig around in our project documentation for more, like starting with https://github.com/MovingBlocks/Terasology/wiki/Dev-Setup and hop on our Discord to ask further questions if needed! https://discord.gg/terasology

[2019-10-07 04:47] sherrif10 commented on #3737
Thanks @monique1087 , Contributing is very easy , just fork the repo then
clone it into your local machine, create a branch and make commit changes
then push them to the github, remember your original repository should be
updated for pull request to be successful. Any help please am here to help
you thanks. Am sorry for late reply

On Sun, Oct 6, 2019 at 8:55 AM monique1087 <notifications@github.c

[2019-10-07 22:16] LGTM-badger opened #3753 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-09 12:58] monique1087 commented on #3737
Ok! Thank you all very much!

[2019-10-10 16:27] Qwertygiy opened #3756 "Improve Game Details screen, such as BiomesAPI compatibility"
With the separation of Biomes from the engine, the Game Details screen for information about singleplayer worlds has lost some of its functionality. #3755 prevents it from erroring, but the Biomes list is no longer functional.

The best method of allowing the Details screen to access the Biome information of a world needs to be determined, without making the engine dependent upon the BiomeAPI -- t

[2019-10-12 04:48] EaguaireSama opened #3758 "Game Crashed(Survival)"
I was trying to play the survival mode while the game crashed
### How to reproduce

* Step 1 Get the latest Dev Build
* Step 2 and play the survival mode...

link to log file: https://drive.google.com/uc?id=1sK0YsaMcAnrUWP-d8TGtQfS16ftiHUkj&export=download
i have the latest Dev build

### Computer details

[2019-10-14 01:37] NicholasBatesNZ commented on #3753
The GitHub app has been added. Issue can be closed when it is confirmed that the analyses do work (likely a new commit on a PR will do the trick)

[2019-10-14 16:22] Qwertygiy opened #3759 "Non-fatal error in BlockFamily when registering "engine:unloaded""
When loading a world, the following error occurs before block registration: https://pastebin.com/MwcmnF7v

Through breakpoints, I have found that the problem is that line 330 in BlockFamilyDefinitionFormat is returning null when attempting to load the "symmetric" family for asset "engine:unloaded":

`BlockFamilyLibrary library = CoreRegistry.get(BlockFamilyLibrary.class);`

[2019-10-14 18:07] shweta-singh7 commented on #3341
Hi @Cervator , I am an outreachy applicant, may I work on this issue?

[2019-10-14 18:08] sudoshweta commented on #3341
Hi @Cervator , I am an outreachy applicant, may I work on this issue?

[2019-10-14 19:48] Adrijaned commented on #3341
Hi @sudoshweta, feel free to start working on this. As far as I know, no one else should be doing this yet. Also, please consider joining our chat on `#terasology` on freenode or at discord.gg/Terasology

[2019-10-14 22:32] NicholasBatesNZ commented on #3753
New commit confirms that this is working! :)

[2019-10-14 22:32] #3753 closed

[2019-10-15 04:30] Cervator commented on #3758
Hi there :)

This is a know issue in the dev build, we're doing a big module overhaul, see #3737. We need to apply more fixes then get a new good build out.

For reference in general this is for JoshariasSurvival - we could keep this issue to track when JS is stable again

[2019-10-16 07:19] eviltak commented on #3739
Looks like a recursive Asset/Prefab dependency (A component in prefab A refers to prefab B, and a component in prefab B refers to prefab A, or a longer loop). We could either modify the asset to remove the recursion, or we could add lazy or late loading of prefabs where we resolve the prefab using an `Asset.get` call only after all prefabs have been loaded.

[2019-10-16 08:30] skaldarnar commented on #3248
#### References

- **Adding `scala-lib` to whitelist** #3155
- **ScalaLib module**: https://github.com/Terasology/ScalaLib
- **KotlinLib module**: https://github.com/Terasology/KotlinLib

[2019-10-16 12:33] qwc opened #3760 "Feature: Possibility to search for LAN games"
It should be possible to search for local area network games automatically.
Some extra button in the server list.

(Might refine that issue later)

[2019-10-16 21:12] jdrueckert opened #3762 "Reverse default video setting <-> preset interaction"
### What I was trying to do

I was trying to change the default (preset) video settings to medium.

### What went wrong

I saw that there are "manual" entries in `engine\src\main\resources\default.cfg` which are checked in `engine\src\main\java\org\terasology\rendering\nui\layers\mainMenu\videoSettings\PresetBinding.java` to determine the preset that is used.

### What I would've expected

I would

[2019-10-16 21:17] jdrueckert commented on #2058
Preset setting has been made more visible (although the presets don't yet change all the underlying settings to a sensible value yet - tracked in #3762 ). Also, we do have an arabic translation now (although not all of the entries have been translated yet). Furthermore, this issue was last updated in 2016.

[2019-10-16 21:17] #2058 closed

[2019-10-17 02:29] #3740 closed

[2019-10-17 02:31] Cervator commented on #3740
Fixed by forcing better block id registration during world gen - bit of a workaround, but it lets JS work reliably again!

[2019-10-18 15:27] Qwertygiy commented on #3737
All of the pull requests for the CoreAssets & CoreBlocks refactor have been merged!

[2019-10-18 21:54] skaldarnar opened #3767 "Understand block families, shapes, and collision"
This is what @jellysnake and I figured out:

- `symmetric` block family won't rotate
- `horizontal` and `freeform` will rotate
- default block shape is `engine:cube`
- default block family is `freeform` **or** `horizontal`
  - except if the shape has no `collision` field, thenb the family seems to be `symmetric`
- thus, collision defines the rotation properties

[2019-10-19 09:44] jdrueckert opened #3768 "Error Dialog cannot be closed"
# What you were trying to do
Close the error dialog coming up on starting a game whilst having dependency issues underneath.

### What actually happened
The "Ok" button is not clickable. It's also not greyed out or anything, but if I click on it, simply nothing happens.

### How to reproduce
* Create and save a game and exit Terasology (e.g. LaS)
* Enforce a dependency issue for some module used i

[2019-10-19 17:35] skaldarnar commented on #3767
Another thing noticed with regard to **StructureTemplates**:

- when the block family is `horizontal` a rotation has to be specified when referencing the block, it won't show up without it (see https://github.com/Terasology/HjerlHede)

[2019-10-21 16:38] #3323 closed

[2019-10-25 17:05] #3567 closed

[2019-10-25 17:50] Qwertygiy opened #3773 "The Big Biome Blast"
It's about time to add some more diversity to Terasology's general world generation options!

There are [about 900 ecoregions](https://en.wikipedia.org/wiki/List_of_terrestrial_ecoregions_(WWF\)) of the world, officially. That's a lot, isn't it? But these can be categorized into anywhere from 14 to 38 different bioregions, or biomes. Much simpler to handle!

Currently, Terasology's 7 Core Biomes a

[2019-10-26 21:18] Cervator commented on #3758
Closing this as complete - JS works fine now in build http://jenkins.terasology.org/job/DistroOmega/1061/artifact/distros/omega/build/distributions/TerasologyOmega.zip and hopefully will keep working normally 👍

[2019-10-26 21:18] #3758 closed

[2019-10-30 09:19] Adrijaned commented on #3773
IMO, the new "list of biome's" module should be able to provide whatver biomes you need for any and all of the world generators, to promote intermodule compatibility and stuff. It should also be able to provide biomes in several scales in granularity, and eventually incorporate/replace Core biomes.
This would also help managing intermodule Biome ID conflicts. Biome ID's 0..49 would be reserved for

[2019-10-30 18:48] rajiv-thorat commented on #1975
Fixing some errors found in JavaDocs.

[2019-10-31 17:08] rajiv-thorat opened #3780 "CheckStyle error - TreeWalker is not allowed as a parent of LineLength"
### What you were trying to do
Attempting to analyse the engine-tests project (well, a specifc file that I was working on).
### What actually happened
Idea refuses to run the analysis because of an error.
### How to reproduce
Steps I followed were the ones from the wiki page to install the CheckStyle plugin in Idea.
I could see the plugin tab with an option in the drop-down menu 'Terasology CheckS

[2019-11-02 16:19] skaldarnar commented on #2512
Still an issue as reported by @jdrueckert for 2019-10-02 play test:

![image](https://user-images.githubusercontent.com/1448874/68073797-35bbd480-fd94-11e9-8480-38e16a93399c.png)

<details>
<summary><b>DistroOmega 1016</b> - module list (log)</summary>

[code]

</details>

[2019-11-02 17:13] skaldarnar commented on #3006
Still an issue as reported by @jdrueckert and others for 2019-10-02 play test:

![image](https://user-images.githubusercontent.com/1448874/68074543-699af800-fd9c-11e9-9d9f-9f2252024154.png)

<details>
<summary><b>DistroOmega 1016</b> - module list (log)</summary>

[code]

</details>

[2019-11-03 03:26] Cervator opened #3781 "AccessControlException on triggering game SFX in multiplayer"
### What you were trying to do

Playtest! Break stuff. As in, physically breaking blocks and things in-game

### What actually happened

No breakage :( Various consequences like blocks not breaking yet dropping stuff

Turns out several different paths that lead to sound triggering events in multiplayer cause an access exception. That was ending handling of block breaking because the SFX step faile

[2019-11-03 03:52] Cervator commented on #3737
Update: All modules have been built (or fail to build) in the new Jenkins' mega module build job. I've checked off most of them with a few remaining that need a closer look. They're either failing for legitimate compile issues (like Alchemy seemingly is) or possibly need some more poking in Jenkins.

The failing modules of interest as of right now are:

* Alchemy
* Apiculture
* GrowingFlora
* Lost

[2019-11-03 18:31] Cervator commented on #3760
Since this is a fairly well understood topic I think I'd just go search for and ~steal~ draw inspiration from any sort of similar implementation we can find :-) There might even be some useful snippets in Java somewhere already!

This might be easy enough to do if such a search finds a good example and we can just plug in another tab or button on the join game screen

[2019-11-03 18:35] Cervator commented on #3670
On a related note the time changing shortcuts (like the arrow keys in debug mode) also exclusively change the time on the client who does it. Time should be synchronized from the server to the clients and if some modification is done to time that request should be sent to the server to enact and broadcast.

[2019-11-03 22:21] skaldarnar commented on #2512
I'm not sure whether this is directly related, but *Lakes* defines a [`LakeHeightFacet`](https://github.com/Terasology/Lakes/blob/master/src/main/java/org/terasology/Lakes/LakeHeightFacet.java) to clear space above the lake's water surface. Maybe something similar could be used to clear the space over cave entries touching the surface...

[2019-11-04 12:20] #3736 closed

[2019-11-04 18:36] AfterRebelion opened #3782 "Support for OpenJDK on Windows"
### What you were trying to do
Trying to launch Terasology with OpenJDK 8 on Windows will result on the next message being displayed instead.
Launched directly from the exe, didn't use TerasologyLauncher.

Could not find a suitable Java 8 installation on your computer.

![imagen](https://user-images.githubusercontent.com/559819/68147225-eadbc180-ff39-11e9-8966-0e9cba7d51f9.png)

OpenJDK binaries a

[2019-11-04 20:52] aloeankh commented on #2569
I'd be pleased to cover this topic, and can link a sample of what my first steps would be in a short video clip, if still relevant. I noticed this issue was last opened in 2018, but it seems to be a quick fix.

[2019-11-05 10:12] skaldarnar commented on #3782
Thanks for reporting! I'm not absolutely sure, but the runtime detection is probably done in:

https://github.com/MovingBlocks/TerasologyJavaLauncher/blob/master/terasology.cpp#L43-L50

[code]

It migth be looking for `JAVA_HOME` or `JavaHome` in your environment.

Are there any other logging outputs when starting the game from the `.exe`?

[2019-11-05 13:14] AfterRebelion commented on #3782
As I said, JAVA_HOME and Path are correctly set:
![imagen](https://user-images.githubusercontent.com/559819/68209652-22974780-ffd4-11e9-99f1-1843154b3909.png)
The installer for OpenJDK takes care of it during installation.

And from what I can tell, no log seems to be created.
Where the exe is located, no log can be found, and %AppData%/Terasology does not exist on my system.

[2019-11-05 21:51] skaldarnar commented on #3782
This definitely does not behave as it should... maybe we are checking against some Oracle-specific names which are not met by the AdoptOpenJDK distribution 🤔
I'm not sure how the lookup in `CRegKey` deals with case sensitivity and underscores, but this line defines a string constant to `"JavaHome"`: https://github.com/MovingBlocks/TerasologyJavaLauncher/blob/master/jredetector_win.cpp#L14

I'll tr

[2019-11-05 22:07] skaldarnar commented on #3782
I can confirm (not with AdoptOpenJDK, though) that the `exe` is not working 😕 I used the Powershell to run it, not more luck with logging, either.
Starting the game from Powershell via `java -jar ./libs/Terasology.jar` works fine...

[2019-11-05 22:31] AfterRebelion commented on #3782
I can confirm that it works launching it directly, the `exe` is the thing that fails.
Running through PowerShell made me aware that it saves data to the `saved games` directory, so now I have a log to show:
[Terasology-init.log](https://github.com/MovingBlocks/Terasology/files/3811579/Terasology-init.log)

[2019-11-06 09:03] skaldarnar commented on #3782
Brief update on the way forward:

- Whoever feels tempted to try their hands on fixing the `.exe`s have a look at this repository: https://github.com/MovingBlocks/TerasologyJavaLauncher

- Meanwhile, we want to bundle the JRE with the launcher and use that to run the game: https://github.com/MovingBlocks/TerasologyLauncher/issues/259
  We should still provide a plain `.bat` file to run the game ea

[2019-11-07 13:29] 4Denthusiast commented on #114
The image @Qwertygiy posted shows one layer of water in each location, not none as Cervator described. If that's the issue, it's a duplicate of #3305 .

[2019-11-07 22:17] aloeankh commented on #2569
I actually found [this](https://www.youtube.com/watch?v=cCMQ5VaKnfw&t=132s) YouTube tutorial on the very concept this thread aimed to solve! Should this issue be closed and the video added to Wiki and Dev Setup doc?

[2019-11-08 13:49] EaguaireSama commented on #2837
Hey, I'm a Beginner too and I'm looking for something easy to fix. Can anyone tell me if this issue is still open? Because it seems like @Aizen93 is working on it.If that's not the case then I'd like to have a shot at fixing it.

[2019-11-08 14:37] Aizen93 commented on #2837
@EaguaireSama you can work on it. I'm currently on the blender addon issue. Sorry for not mentionning it. I learned the code trying to solve it, but ended up doing other things :)
Good luck.

[2019-11-10 16:06] Cervator commented on #2569
Oh hey @aloeankh ! Sorry for missing your comments, hard to keep track of all the GitHub thing, partly why we spend so much time coordinating on Discord/Slack :-)

Yeah there are existing videos, but since they're hard to keep current a new one would still be useful. The one you linked is nearly 3 years old and some users also use different tools and so on. Having a few different ones can be helpf

[2019-11-10 20:12] rogersachan commented on #3728
Getting a 600x800 boxart for Terasology is important. I can help make one if I find the time later.

[2019-11-11 06:57] EaguaireSama commented on #2837
Oh great. And thanks a lot for the tip.

[2019-11-13 17:54] Qwertygiy commented on #3773
Those features are all things that should definitely be an option, but I feel like most are better suited for more advanced modules.

Things like magic or utility biomes are of a different nature than generic Earth biomes. Basically, there are a lot of thematic and gameplay reasons why a player might not want to include a Haunted Forest of magic alongside their normal deserts and plains, but there

[2019-11-22 06:14] AAbhishek1234 commented on #1354
Hi guys , Any way to make it run on 32 bit PC ?

[2019-11-22 15:16] TBBYT opened #3787 "Strange rendering on Windows 10"
### What you were trying to do
I loaded in a game (also happens when making a new game)

### What actually happened
It loaded fine, but it had really wierd rendering

### How to reproduce

* Step 1
Create a new game or Load a saved game
* Step 2
This happens
![Terasology-191122163545-1152x720](https://user-images.githubusercontent.com/54937991/69435396-29e68100-0d48-11ea-832f-0c8c414e68fb.png)

##

[2019-11-24 12:02] Gokul1204 commented on #3768
This is the first Open source issue for me. Please tell me what module i should look into..

[2019-12-03 20:16] DarkWeird commented on #3768
I found a place of error.
This problem is with InputSystem:
When the application state changes in StateLoading - InputSystem is not cleared.
When the state of the application has changed back to StateMainMenu - the InputSystem is already filled [inputEntities](https://github.com/MovingBlocks/Terasology/blob/53ce8468365619b26258bc37bb50b2921afece9b/engine/src/main/java/org/terasology/input/InputSys

[2019-12-05 14:11] DarkWeird commented on #3781
Method org.terasology.module.ModuleEnvironment#getModuleProviding at (ModuleEnvironment.java:297) was rewrite in gestalt's develop branch by PR: https://github.com/MovingBlocks/gestalt/pull/68

And cannot throw access denied.
Can we update gestalt?

[2019-12-05 21:04] BenjaminAmos commented on #3782
I think that I can add a bit of information here regarding why I think that this is happening.

The Java JDK, which is the default option for "AdoptOpenJDK" downloads, defines a different Windows registry path to the JRE.

The Terasology launcher used on Windows searches for the JRE by querying the registry key:
```HKEY_LOCAL_MACHINE\SOFTWARE\JavaSoft\Java Runtime Environment\1.8\JavaHome```
(as f

[2019-12-06 02:03] #3768 closed

[2019-12-07 01:33] Cervator opened #3793 "Seemingly benign NPE from initializing InputSystem for a headless server"
### What you were trying to do

Test stuff! Clear logs are happy logs

### What actually happened

A `NullPointerException` got logged breaking the perfect zen moment of staring at the logs :-( Actually, not really new, been seeing this for months if not longer.

Chances are some code gets initialized that makes no sense in a headless situation. May also want to check the [ModuleTestingEnvironment

[2019-12-07 02:01] Cervator opened #3794 "Seemingly benign stacktrace on selecting a server entry in a client"
### What you were trying to do

Test things! By joining a server, the first step of which is selecting an item in the server browser list. This should happen nice and gracefully with no angry errors in the logs.

### What actually happened

Angry errors in the log! That don't seem to actually matter as a working server will connect just fine. Likely either overzealous logging or we aren't graceful

[2019-12-07 02:48] Cervator commented on #3781
Closing as fixed by #3791 :-)

[2019-12-07 02:48] #3781 closed

[2019-12-07 06:04] Cervator opened #3795 "Highlight module dependency issues on Module Details page"
### What you were trying to do

Test a new Omega zip that ended up having some funny versions. Noticed some modules in red within the Gameplay Template drop-down as well as on the Advanced Game Setup page. Would have been nice to also see that after pressing the "Module Details" button while highlighting one of the red modules in the list.

### What actually happened

No highlighting at all on the

[2019-12-07 07:39] DarkWeird commented on #3781
@Cervator it's possible fix! :(

[2019-12-07 18:29] Cervator commented on #2940
Still happens - usual play test today

[code]

[2019-12-09 11:21] DarkWeird commented on #2444
https://github.com/progwml6/ironchest (https://github.com/cpw/ironchest)

As a source, we can use the MC Iron Chest mod.
It was introduced as a reference implementation in early Forge(aka Minecraft ModLoader) by Forge developer.
this will demonstrate the difference in side-by-side style.

[2019-12-11 07:00] #3538 closed

[2019-12-11 10:52] DarkWeird opened #3800 "Revise PMD's rules before PMD 7.0.0"
Almost  all PMD rules used now marked as deprecated.
All rules moving to other rulesets.

[2019-12-11 23:18] kahing opened #3801 "Using URL as key to Map is unsafe"
https://github.com/MovingBlocks/Terasology/blob/dbfe54ea07bcecabe90a1fae5bdd67e1e0380b38/engine/src/main/java/org/terasology/utilities/download/MultiFileDownloader.java#L33

https://news.ycombinator.com/item?id=21765788

[2019-12-12 00:59] Cervator commented on #3801
Interesting! Thanks for the report :-)

I guess it might not take much effort to switch to a URI if anybody wants to try it - marking Good First Issue. May be more than one usage so anybody trying this should dig around a bit. May also want to check TerasologyLauncher

[2019-12-14 02:29] #2477 closed

[2019-12-14 02:29] #3006 closed

[2019-12-14 02:32] Cervator commented on #2477
So while #3792 was only a _possible_ fix for this issue the GitHub auto-close thing just saw "fix for" ;-)

During testing of that PR I did still provoke `Multiple loads of chunk (0, 0, 0)` it didn't result in a crash, and I haven't noticed this outright crash for some time. Going to leave this closed and 🤞 that it is gone.

[2019-12-14 15:52] DarkWeird commented on #3793
This is bad "Good First Issue".

I looked into this place....

You need remove or replace on stub: NuiManager/InputSystem in headless context.

NuiManager is used almost everywhere. (via CoreRegistry too)
Сlose your eyes to 1 NPE, easier than refactoring the entire engine and major systems

[2019-12-17 04:13] EaguaireSama commented on #2535
This seems to be an old issue ,can I work on this?

[2019-12-17 04:18] Cervator commented on #2535
Hi @EaguaireSama - sure! Although just earlier today a user named Prince on Discord showed interest in it as well, unless that's just you under another name? In any case there are probably enough items here for several users, and some of them may take some digging first. Some items are fairly straight forward, others less so, may be ideal to discuss on chat and sort of (re)learn the current state

[2019-12-18 19:32] casals commented on #3742
Message to the people of the future: got the exact same problem when running AdoptOpenJDK 8, but over a OpenJ9 JVM. Replacing it with a different JDK (v8) and completely cleaning the workspace solved the problem.

[2019-12-21 10:39] BenjaminAmos commented on #3782
I have issued a pull request for the changes I mentioned before, located at https://github.com/MovingBlocks/TerasologyJavaLauncher/pull/1. The changes made should fix this issue, although it will need further testing to be certain.

[2019-12-29 00:29] Cervator commented on #114
Oh boy this is an old issue! Saw it by chance having been updated while looking for something else.

I think @Qwertygiy's example is subtle but may be showing staggered water blocks in two different places - hard to see and yeah it is a different issue.

I dug up the old image from my ancient webhost, which I guess must have broken the way its URLs work. Here it is again (look at that old school l

[2019-12-29 00:29] #114 closed

[2019-12-31 13:10] Torpedo99 opened #3816 "Cannot close UI after reloading it in-game"
### What you were trying to do
I was trying to edit a few .ui files while they were opened in terasology.
 I changed a parameter in a .ui file and saved it (the game should hot reload the file), closed the ui and reopened it again (the new changes were there). Then tried to exit the UI by pressing the escape button.
### What actually happened
The UI did not close.
### How to reproduce

* **Step 1*

[2019-12-31 19:35] Torpedo99 opened #3818 "Double clicking an un-downloaded module messes up UI."
### What I did
You can activate a module by either clicking the Activate button or by double clicking the module name. Generally modules cannot be activated if they haven't been downloaded, since the activate button is grayed out, **but** you can still double click them (**if** you haven't activated/deactivated a module from the list yet). This broke quite some features of the UI
### What happened

[2020-01-02 01:32] HannahGuo opened #3820 "In-game Back Button Crash"
### What you were trying to do
Er... trying to find a bug to see if something would break.
### What actually happened
I succeeded and something broke (game crashed).
### How to reproduce

* Step 1 - Press Esc, then Tab on an in-game screen (highlight Back)
* Step 2 - Click/Press enter to use the highlighted Back button

Followed by a game crash + crash report pop-up.

(Might be related to this iss

[2020-01-04 03:38] Cervator commented on #3801
Closing as fixed by #3805 :-)

[2020-01-04 03:38] #3801 closed

[2020-01-09 06:57] sladyn98 commented on #3566
@Cervator Looks like a good beginner issue to work on. Can I start working on this

[2020-01-09 09:02] Adrijaned commented on #3566
Hi @sladyn98, feel free to start working on this, as as far as I know noone else is yet.

[2020-01-09 13:58] sladyn98 commented on #3566
https://github.com/MovingBlocks/Terasology/blob/4e95d495f21d5a687a48d1edb0f389fb66d7e1cc/facades/PC/src/main/java/org/terasology/engine/Terasology.java#L365

My plan was to add a FileChooser to the above point and instead of catching an IO Exception would catch a general Exception, thereby catching the OS error.This would give the user a chance to select the file path and thus proceed normally.
``

[2020-01-10 05:24] DarkWeird commented on #3566
@sladyn98 its will be problem in headless server

[2020-01-10 05:34] sladyn98 commented on #3566
@DarkWeird So in that case we could use the fallback path that has been defined for the operating system.

[2020-01-10 06:03] DarkWeird commented on #3566
@sladyn98
I don't think what use homedir - pretty idea.
Looks like game files directly in homedir.
I think problem must be  resolved in PathManager (looks like problem with detect default OS directory)

[2020-01-10 06:30] sladyn98 commented on #3566
Oh okay so could we add a try block around that code and in the catch block we prompt the user to enter the file path using FileChooser, for headless servers we just use the current directory.

[2020-01-12 12:06] BenjaminAmos commented on #2307
I've done some work on analysing the dependencies that need to be resolved. The actual data on this can be found [here](https://gist.github.com/BenjaminAmos/846005f427b54bb0b36b30a5073ebca2) but in summary I think (in my opinion) that the following dependencies will need to be resolved (I have also left some suggestions about where to move the classes to):

### Terasology-only packages (these pack

[2020-01-14 18:23] AnujAgrawal30 commented on #3795
Hey, I would like to work on this issue.
I'm new to the codebase but on initial analysis was able to change the text color on the Modules List on the left column to red on any dependency issue.
Also, I guess the module Dependencies list was already showing red color to problematic dependencies.
However, I'm not sure how can I change the text of the Installed version text. Do I've to define a new C

[2020-01-15 21:22] SoniEx2 commented on #3794
please attach client configs

[2020-01-17 22:33] #3556 closed

[2020-01-19 13:36] BenjaminAmos opened #3826 "Game crash when adding certain widgets using the NUI Screen Editor"
### What you were trying to do
I was attempting to use the NUI Screen Editor to edit a screen.

### What actually happened
The game crashed when certain widgets were added.

### How to reproduce
 - Open Terasology and start a new game.
 - Open the NUI Screen editor through the `In-Game Menu->Extras->Developer Tools->NUI Screen Editor` option.
 - Try adding one of the following widgets to a UI Scre

[2020-01-19 15:08] casals commented on #3826
I was able to replicate the scenario using both newly created games and pre-existing games. However, I observed that the error only started presenting itself when I tried to add the `engine:HudToolbar` widget.

Before that, I was able to add `engine:UIRadialSection` and `engine:BehaviorEditor` to both newly created and pre-existing games without any errors whatsoever. This promped me to start test

[2020-01-20 04:43] Cervator commented on #3794
@SoniEx2: Thanks for trying. It might be OS specific? Not sure which client configs you mean. I can reproduce thusly:

1) Start a headless server via headless run config in IntelliJ
2) Start a game client via run config in IntelliJ
3) Go to join a multiplayer server and click the localhost entry then check the _server_ console for the stacktrace (important - the stacktrace doesn't appear client si

[2020-01-20 04:56] SoniEx2 commented on #3794
can't reproduce. OS info?

[2020-01-20 05:00] Cervator commented on #3794
Windows 10, so that's probably it.

[2020-01-21 16:17] sladyn98 commented on #1309
Hey, I would like to contribute to this issue and would like to propose the following solution
In the function `makeChunksAvailable()`  we could add a further check to see if the `region.checkIfChunkIsRelevant(chunkInfo)` and if not remove it from the queue thereby removing irrelevant chunks
Am I heading in the right direction ?

[2020-01-21 16:35] DarkWeird commented on #1309
@sladyn98 Yea, Its looks like right.
Can you check the relevance of this issue?
I think :
run game with debugger
enable "hspeed"
Move far away
Stop game by debugger and check queue is valid

[2020-01-21 17:44] sladyn98 commented on #1309
@DarkWeird thanks for the comment, how do I enable "hspeed" ?

[2020-01-21 17:51] DarkWeird commented on #1309
@sladyn98
Open ingame console(~) and type "hspeed"

If you receive some error like "you haven't permission " then install module "CheatsForAll"

Maybe you will need play with  view distance ( more task to world generation)

[2020-01-21 18:10] sladyn98 commented on #1309
@DarkWeird The queue seems to be valid and its continually not increasing though its constant at around 1058 chunks in the queue at any given time.

[2020-01-21 18:57] DarkWeird commented on #1309
@sladyn98
What about sortedReadyChunk and readyChunk fields? non relevant chunks removed from it?
Looks like it fixed already.
See chunkForUnload and unloadChunkInternal methods.

[2020-01-21 19:19] sladyn98 commented on #1309
@DarkWeird yeah the irrelevant chunks are being removed. Looks like this issue can be closed

[2020-01-21 20:43] Qwertygiy commented on #1309
Good to hear!

[2020-01-21 20:43] #1309 closed

[2020-01-22 15:48] sladyn98 commented on #3760
I would like to work on this issue
https://www.baeldung.com/java-broadcast-multicast This looks like a decent implementation for broadcasting.

[2020-01-22 20:24] pollend commented on #3760
go ahead, we always like new PR's :P.

[2020-01-23 12:35] sladyn98 commented on #3760
I thought of the following approach for this.
We could add a `broadCastServer.java` class which would broadcast the game on the local area network, along with the port and the modules available. This list of servers would then show up in the join game server. This could be supported by a button that says `Find local area games` and a button to activate/deactivate the broadcast.
cc @DarkWeird

[2020-01-23 15:39] DarkWeird commented on #3760
@sladyn98 yeah. Sounds nice.
What about ipv4/v6, headless server and broadcast ip (nitpick, ICANN determinate some ip addresses for broadcast)?

[2020-01-23 16:06] sladyn98 commented on #3760
IPV4 supports broadcasting, In IPv6, multicast support has been made mandatory, and there is no explicit concept of broadcasting,in multicasting unfortunately we have to make the recipients get added to the group to be able to receive the messages so we might have to stick with just broadcasting.
For headless servers the code for stays the same with the `ip.getHostAddress()` becoming the host IP

[2020-01-23 16:17] DarkWeird commented on #3760
@sladyn98 wait your PR :3

[2020-01-23 17:14] DarkWeird commented on #3407
Java 11 works for running game.
Breaking changes has been for java 9 only. It is using javax.* packages (often javax.ws), it's removed.
But we don't use any xml and soap :3

Tests didn't work, because mockito's version didn't support java 11.(special reflections). fixed already.

Next blocker for compiling - already genereted classes for protobuf(annotation @ Generated in new package). You cannot

[2020-01-30 16:07] CriDos opened #3829 "Broken "Join Game" to the local server."
Broken "Join Game" to the local server.
Client side logs:
[Terasology-menu.log](https://github.com/MovingBlocks/Terasology/files/4134572/Terasology-menu.log)
[Terasology-.log](https://github.com/MovingBlocks/Terasology/files/4134573/Terasology-.log)
[Terasology-init.log](https://github.com/MovingBlocks/Terasology/files/4134574/Terasology-init.log)
Latest version: https://github.com/MovingBlocks/Te

[2020-02-04 06:46] comradekingu opened #3830 "Unreachable translation platform"
translate.terasology.org seems to be down.
It is also not easy to find on https://terasology.org/

[2020-02-06 17:50] sin3point14 opened #3831 "No damage after thirst reduced to zero on JS"
### What you were trying to do
Playing a JS game mode and thirst went down to zero

### What actually happened
Had no kind of damage dealt to the player

### How to reproduce

* Create a new JS world
* Wait for thirst to drop to zero

Relevant- https://discordapp.com/channels/270264625419911192/270264625419911192/675014354176835585

### Log details and game version
Logs said no errors
Alpha Stable

[2020-02-06 18:23] #3831 closed

[2020-02-11 12:40] EaguaireSama commented on #2837
https://github.com/Terasology/Health/pull/32

[2020-02-11 12:41] EaguaireSama commented on #2837
solved?

[2020-02-11 13:27] Cervator commented on #2837
Yep! Good catch. Closing as complete :-)

[2020-02-11 13:27] #2837 closed

[2020-02-16 03:05] Cervator commented on #3829
Thanks for the report @CriDos - can confirm, and this is a high priority fix then :-)

[2020-02-16 03:10] Cervator opened #3832 "Follow-ups after JOML adoption"
With #3811 we embark on the journey to adopt JOML instead of our aging TeraMath library. It won't be without bruises for such a major change, however! Creating this issue to capture some future todos to follow back up on, either when somebody is able to dig in or after the final engine PR finishes the journey (and likely rolls into module land). I'm just noting a few impressions here, @pollend wou

[2020-02-17 04:28] fisik-yum opened #3834 "Crash when creating world."
### What you were trying to do
create a new world
### What actually happened
created world, loaded world, then immediately crashed
### How to reproduce

* Step 1-Create world(using core gameplay template.)
* Step 2That's all.
* Step 3

### Log details and game version
https://pastebin.com/Sx4x2LCv
### Computer details
Windows 10 home 64-bit, Core i5-7200U clocked at 2.5 GHz and 8 Gigabytes of RAM

[2020-02-17 05:22] Cervator commented on #3834
Hi @fisik-yum and thanks for the log! What _version_ of the game did you work with though? Latest stable release? Local source workspace? Did you update any modules?

The errors in the log are odd - lava hasn't changed for a while, I think 🤔 Did you make any local modifications?

[code]

[2020-02-17 15:28] fisik-yum commented on #3834
Okay, sure.
I was using the latest stable release of the game, and my installation directory was C:\terasology and my saves were located in C:\terasology\saves
and no local modifications and I did not update any modules.

[2020-02-19 13:16] #3566 closed

[2020-02-22 21:20] Cervator commented on #3834
Thanks for the update @fisik-yum ! Glad you got it working. Will close this as resolved then :-)

Interesting note about the thumb drive! Not sure that's been tried much.

[2020-02-22 21:20] #3834 closed

[2020-02-22 21:23] Cervator commented on #3830
Hey @comradekingu and thanks for the report. Yeah our poor old Weblate instance is hard to keep online. Rather than go through the hassle of trying to salvage it then update and keep running I'm wondering if we could use Crowdin instead then not have to host anything at all. That's probably a bit of a project on its own and we need somebody to volunteer to help with that process. Should happen soo

[2020-02-22 21:30] Cervator commented on #3787
Hi @TBBYT and thanks for the detailed report!

We regularly hear of issues with those integrated Intel chips, but it is a little hard to tell if you're simply not getting parts of the world rendered or even simply spawned underground. First screenshot looks much like you'd see just from seeing the "back" of the world surface so to say (and a bunch of dark caves from JS). Yet in other spots clearly

[2020-02-22 21:33] comradekingu commented on #3830
@Cervator Use https://hosted.weblate.org/ by clicking contact us at https://weblate.org/en/hosting
Crowdin is closed-source.

[2020-02-24 14:57] EdvinArdo commented on #3648
Hi, I've had a look at PR #3705 which looks like a good start. I'd like to add to this, for example a setting for rotation speed, similar to mouse sensitivity. I'll see what I can do.

[2020-02-26 04:23] sladyn98 commented on #3491
I can see a few issues referenced here, wanted to confirm the validity of this issue @4Denthusiast @Cervator before working on it

[2020-02-27 02:17] Cervator commented on #3491
@sladyn98 still valid, although I'm not sure if any of the related code has changed since the prior comments. It may be a tricky fix but a high priority one due to the impact in multiplayer.

Another option is a new game initialization phase proposed as part of the multi-world GSOC project, see for instance [this flow sketch](https://s3-eu-west-1.amazonaws.com/pub.sketchboard.io/images/b49ae6c6-f8

[2020-02-27 07:33] TBBYT commented on #3787
@Cervator No, I don't have a dedicated graphics card, I didn't know how graphic cards worked when I bought my PC... :/
I just tried playing with a new world in Alpha 78, and I still have the same problem.

[2020-02-27 10:21] DarkWeird commented on #3787
It is looks like a problem with chunk loading... Some chunks stuck in pre-final stage(generated or loaded, but not ready for rendering). at this stage done light processing.
@TBBYT can you make some screenshot with chunk wireframes?
@Cervator alpha 78 contains dag rendering? I see it in log.

[2020-02-27 12:34] TBBYT commented on #3787
@DarkWeird I couldn't figure out how to enable chunk wireframes...
I also found an upside-down flower, mushroom & some tall grass:
![Terasology-200227132157-1152x720](https://user-images.githubusercontent.com/54937991/75440582-b4043e00-5964-11ea-8d06-e289ea5d70b4.png)
The terrain seems to be rendered upside-down in the background, too.
Here's my log file:
[Terasology-Josh_Survival_Alpha_78.log](ht

[2020-02-27 23:24] sin3point14 commented on #3829
Some research i tried to do :-)
https://discordapp.com/channels/270264625419911192/270264625419911192/682401210392772622

[2020-02-28 05:53] DarkWeird commented on #3787
Chunks wireframe - of F* button.
Irrc, f3 or f4 debug info, there prints key for debug help.

Which video driver in windows you use?
Have you directx installed?

Make init log for windows... There prints video driver information.

[2020-03-01 10:24] sladyn98 commented on #3491
@Cervator Is the gsoc project idea in draft state because I cannot seem to find it on the trello board.
If not I would like to maybe make a proposal on it and this could be used as a starter or POC if you like.

[2020-03-07 19:57] Cervator opened #3846 "New Gradle approach seems to accept newer than max version module dependencies"
### What you were trying to do

Build modules in the Jenkins after the big Gradle upgrade in #3835. I figured a bunch would fail as the version bump from v2 to v3 in the engine plus its embedded modules should mean a bunch of modules should fail - by default we don't accept a new major version bump to satisfy a minimum requirement on the prior major version.

### What actually happened

Mostly eve

[2020-03-07 20:29] Cervator commented on #3780
Okay I *believe* this has been fixed now with #3835, at least I recognized the issue or a very similar one and was able to validate it went away after that PR :-)

Going to close this as fixed, but if you still see it @rajiv-thorat please let us know! And thanks for the report 👍

[2020-03-07 20:29] #3780 closed

[2020-03-07 20:42] #3829 closed

[2020-03-07 21:20] Cervator commented on #3829
Thanks for the report @CriDos and the research @sin3point14 - this should now be resolved! :-)

[2020-03-07 21:24] Cervator commented on #3773
Linking to #3844 just so we don't forget there was some potentially useful stuff reverted we might want to visit in the future. Not _totally_ related but kinda, this is the closest issue I could find real quick to attach it to :-)

Bring on the biomes!

[2020-03-08 02:19] #2791 closed

[2020-03-08 03:26] Cervator commented on #3741
I think I hit a different variant of this or just didn't record a more full log snippet. This one is hair-pulling levels of frustration as it points out _exactly where in a file the error is_ .... but not in _which_ file / prefab 😛

This is with the entirety of JoshariasSurvival enabled as of this writing, but maybe I'll find it and fix it before long ...

[code]

[2020-03-08 19:44] Cervator commented on #3607
Still present as per the March 2020 play test

[2020-03-08 19:56] Cervator commented on #3623
Just happened again, coincidentally almost exactly a year later. JoshariasSurvival in ShatteredPlanes with WildAnimalsGenome active. Oddly: nobody else was online, so I'm not even sure how a deer could have died?

[2020-03-08 20:16] Cervator opened #3850 "Server connection test updates actively selected server not the origin server"
### What you were trying to do

Look at servers accurately on the Join Game screen showing multiple servers

### What actually happened

Clicked a bad server (offline) first by accident, then selected a working server. When the failed ping test came back from the bad server it showed the result (being unable to connect to the server) on the good server, despite the other stats showing online and a

[2020-03-09 22:17] raisinrand commented on #3850
I will try taking a look at this as a first PR.

[2020-03-10 02:16] Cervator commented on #3850
@raisinrand great, good luck!

[2020-03-11 16:00] #3795 closed