[2016-09-21 05:38] qwc commented on #2486
Okay, now there's a big "WTF" moment.

The only thing I can recall in my mind was that, I've seen a engine 1.0.0 there which would be quite old. Core and CoreSampleGameplay were green in the join server window, only engine was red, but currently can't tell which version at the time of failing.
Maybe there was an error setting up the docker image with alpha4 which did not catch my attention, what's

[2016-09-21 08:01] emanuele3d commented on #2402
This might be a drivers issue as suggested by some posts in forums, but this post

http://forum.wurmonline.com/index.php?/topic/106192-crash-at-startup/

suggests disabling Catalyst AI solve the problem. You might want to give it a try if it is reproducible.

It does look like something beyond our control though. That "ngl" prefix in front of the DrawElements call in particular looks like some kin

[2016-09-21 17:55] Cervator commented on #2402
Only ever happened once, so I figured we shouldn't worry. But in case it starts happening more frequently for some reason at least this issue might show up in our searches.

My system setup is somewhat quirky anyway with dual mid-range / older kinda crappy GPUs. Occasionally I'd try tweaking at the ATI software, like using the Eyefinity multi-display or Crossfire. Maybe I still had something weird

[2016-09-21 19:21] qwc commented on #2486
I take everything back and assert the opposite.

Damn, how embarrassing, I really started the OLD latest image (alpha1), don't really know how that could happen. Well but it happened, so the fault was on my side. ;)

With the real latest image 1.2.1-alpha everything works as expected. Sorry to have wasted your time. ;)

[2016-09-21 19:21] #2486 closed

[2016-09-23 08:25] Cervator commented on #2486
No worries at all! Happens :-)

[2016-09-23 13:11] snowyu commented on #2111
FYI: The open source [ViveCraft](http://www.vivecraft.org/) is a mod that turns Minecraft into a full-featured VR room-scale experience.

[2016-09-23 13:20] snowyu opened #2488 "crash on Alpha4"
### What you were trying to do

### What actually happened

### How to reproduce

1. create a new DynaCity for single play.
2. enter the game
3. move around and crash.

### Log details and game version

https://docs.google.com/uc?id=0B5l2RT_UOCXRYzBYMzIxQ3MySmM&export=download

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38003815-

[2016-09-23 20:01] Cervator commented on #2488
Hi @snowyu and thanks for the report :-)

This is a known issue that should be fixed soon. The DynamicCities template is missing a module that contains a valid culture to create buildings for. Try enabling the MedievalCities module manually in addition to the DynamicCities template - that should provide a culture to spawn buildings for and avoid the crash.

[2016-09-23 23:10] emanuele3d opened #2489 "VideoSettings Bug: "Back" button != Esc key"
### What you were trying to do
Switch between disabled shadows, On shadows and On (pcr) shadows.

### What actually happened
Starting with shadows "On (pcr)", depending on the order of operations shadows would stay soft (pcr) even if "On" shadows are selected OR the shadows move with the camera when shadows are supposed to be disabled.

### How to reproduce
* Load a game with shadows set to "On (p

[2016-09-24 12:09] snowyu commented on #2488
comfirmed. It do not crash after enabling the MedievalCities module.

[2016-09-24 12:18] snowyu commented on #2436
FYI:

* [OpenAPI Standard - Swagger Specification](https://openapis.org/)
* [Swagger UI](http://swagger.io/swagger-ui/): dynamically generate beautiful API documentation and sandbox from a Swagger-compliant API.

[2016-09-24 22:58] Cervator commented on #2436
I've seen Swagger before and have been very curious about it, just haven't gotten much deeper. I guess it is just for a server RESTful API, not so much the internal modding API (just straight up java calls / javadoc). Unless there's some clever way to (ab)use it for that somehow :-)

@snowyu are you familiar with it any? Interested in investigating it and comparable tools a bit further?

[2016-09-25 14:59] SoniEx2 commented on #2445
If using custom build.gradle (as a third party module, without using the official jenkins) I can just fix the build.gradle myself right?

[2016-09-25 15:00] SoniEx2 commented on #2445
What would happen if instead of doing

[code]

you did

[code]

i.e. use the main output classes dir as the input files?

[2016-09-26 13:30] #2261 closed

[2016-09-26 17:48] emanuele3d commented on #2261
I just noticed this issue. You are correct that texture slot assignment is all a bit insecure. I'm currently working on the render nodes and therefore at a higher conceptual level, but I will eventually look deeper, at the materials and in particular at the shader parameter classes which is often where texture assignment occurs. So: I'm aware of the issue, it will get more robust, bear with us.

[2016-09-26 19:33] modmuss50 opened #2490 "SkyBox rendering issues"
### What you were trying to do

I was trying to play the game
### What actually happened

I noticed very quickly that something wasnt right with the skybox, best to see in the following screen shot and video:

![alt text](https://modmuss50.me/shots/2016-09-26_20-06-17.jpg)
![alt text](https://modmuss50.me/shots/2016-09-26_20-28-19.png)

The video can be watched here:
https://modmuss50.me/shots/201

[2016-09-26 22:29] emanuele3d commented on #2490
@modmuss50 : thank you for the report.

I was able to reproduce the problem at least once, although for some reason the same steps didn't produce the same problem again, even restarting the application from scratch.

I will be working on the parts of the rendering engine dealing with the sky over the next week or so if all goes according to plan. A quick inspection of the relevant code already rev

[2016-09-27 05:56] Cervator commented on #1895
Going to consider this kinda-sorta resolved via https://github.com/MovingBlocks/Terasology/commit/4e0c6b0d9b0b77e4572de3decc18338bbfc2b48f - at least we have a note in the readme (and badges for both code and art!) along with a space for an exceptions list in the credit (at present just because a few icons are under CC BY 3.0 rather than 4.0)

There's more work to do for *individual* assets (and m

[2016-09-27 05:56] #1895 closed

[2016-09-27 06:50] modmuss50 commented on #2490
Ok, I will go through some stages:

* Open game, load world, all is fine.
* Maximize window while world is loaded, all is fine.
* Enter fullscreen, all is fine
* Exit fullscreen and the world to main menu - **Window is no longer resizeable**
* Restart game, maximize at main menu, all is fine the world.

So I cannot get it to do it again for some reason, only thing to note is the window cannot be r

[2016-09-28 00:24] snowyu commented on #2436
There are other available frameworks that have gained some popularity, such as RAML, APIBlueprint, etc to describe your API using a common language that everyone can understand. . But Swagger(now the "Open API Initiative"...) provides more benefits than just helping create clear documentation.

There are two main ways to take advantage of Swagger:

* design-first: This means you're using Swagger t

[2016-09-28 01:56] Cervator commented on #2285
Closing this as complete - almost all the translations have trickled in and the PR putting them to use was merged a while ago.

[2016-09-28 01:56] #2285 closed

[2016-09-28 02:04] Cervator commented on #2028
Bump - clarified the updated purpose of this issue to be just the chunk dimensions (naming has been changed) with a couple optional items.

@MottaTheHutt - poke! You already got that working but then we drifted away from the topic. Still got the code handy or want to redo it real quick? :-)

[2016-09-28 02:10] Cervator commented on #587
Zombie bump - I know we've come a long way since this ancient issue. @flo and @glasz think either of you could grab the latest instructions we have (likely from the forum) and add it to a new page in the [engine wiki](https://github.com/MovingBlocks/Terasology/wiki) with a link to it in the sidebar under Art?

Probably link back to the relevant pages in the forum.

[2016-09-28 02:14] Cervator commented on #581
We have a bit about dice blocks now at https://github.com/Terasology/TutorialAssetSystem/wiki/Add-A-Dice - maybe we could add that to LAS/LASR using the assets there - https://github.com/Terasology/LightAndShadowResources/tree/master/assets/textures

[2016-09-28 03:34] Cervator commented on #2436
Oh I certainly don't doubt it for the *server API* and I think it would be cool to do design-first then generate some code and simply hook up the stubs to the correct code in the game server.

I was curious if it might be somehow possible to use it to generate *internal API* docs on anything exposed in the Modding API (which would be vastly more than we'd expose via REST from the game server). Lik

[2016-09-28 04:52] snowyu commented on #2436
I think the most internal API should be organized via the resource(REST) way. if so you can write your customized codegen to do such thing. but the interactive document feature(sandbox) is lost, or write an interactive document mod to it. That's great.

[2016-09-28 11:58] msteiger commented on #2436
Yes, this is plan - also swagger is being used. We're starting with code and create a swagger doc. from it. This has not yet been done. Basically there's two options: create the swagger.yml during the build/deployment process and to serve it live from the running instance.

Maybe you want to dig into the server facade? https://github.com/MovingBlocks/FacadeServer

[2016-10-01 20:44] Cervator opened #2492 "Quirks related to swimming in shallow water (with or without jump/crouch)"
We seem to have arrived at some odd behavior when swimming, possibly distinct but related issues.

* You can jump in some cases when "grounded" under water (use `ctrl` to descend and force yourself to make contact with the ground underwater) - the resulting jump is substantially higher than a regular jump, maybe somehow connected to the "helper jump" that allows the player to more easily get out o

[2016-10-02 15:03] nitram509 commented on #2430
Hi,

I'm trying to reproduce this issue, but unfortunately it behaves differently than described.
After activating the cheating mode, only the player who exec 'giveBlock stone' receives the stone, but nobody else.

What's the expected behavior?

### Background Information

I'm starting the processes like this:

1. start "TerasologyPC (headless)" run configuration in IntelliJ
2. start "TerasologyPC

[2016-10-02 19:07] Cervator commented on #2430
Hi @nitram509 and thanks for checking into this, was really curious if somebody else could replicate :-)

To be clear `giveblock stone` *should* only give the player who executes the command the stone blocks, nobody else. Same with the quantity version. But the oddity came about when `giveblock stone 99` solely worked as a host player (client+server). If a secondary connected client attempted it t

[2016-10-03 20:22] Cervator commented on #2472
Linking to https://github.com/Terasology/Equipment/pull/2 which catches the two hits there.

`deathScreen.skin` in the engine ~~appears~~ appeared to be the only other usage of the old font. I tried a RegEx search for `"font.*title"` but am still not entirely confident in my RegEx skills ...

Actually without quotes that found a few more candidates outside of prefabs:

![find in path_2016-10-03_16

[2016-10-05 02:38] Cervator commented on #2452
@nihal111 reported this does not appear to happen in the behavior tree editor for some reason:

https://usercontent.irccloud-cdn.com/file/JmYCWs6S/%232453

Yet I retried with potions and after `giveitem doublejumppotion` placed a potion in the right-most tool slot at default resolution and it still sort of blinks in and out:

![terasology - j__dev_terasology_git_integrate_terasology - pc - intelli

[2016-10-05 10:02] SoniEx2 opened #2499 "Static components"
Inspired by #1736 I think Terasology should have "static components" - components with a fixed set of values which are only loaded once. These would be added like ordinary components, but a prefab composed solely of static components would not produce an entity (unless forced to).

Those components can be reused between entities, instead of being re-instantiated for each entity. This should save s

[2016-10-05 19:59] Cervator commented on #2383
Closing as completed pretty thoroughly by first #2495 then #2500 :-)

[2016-10-05 19:59] #2383 closed

[2016-10-05 20:49] #2321 closed

[2016-10-06 04:11] #2489 closed

[2016-10-06 08:59] nihal111 commented on #2342
@kartikey0303 are you working on this or can I take it up?

[2016-10-06 18:22] Cervator commented on #2382
Completed by #2501 - closing!

[2016-10-06 18:22] #2382 closed

[2016-10-06 19:00] kartikey0303 commented on #2342
The method I mentioned seemed to work. Cervator told me that he will look into it. Removing that line actually fixed everything..

[2016-10-07 03:25] Cervator commented on #2342
Oh, right, let me clarify.

Removing `moduleConfig.clear();` *did* correct the issue stated, but it then introduces a different bug: modules can no longer be de-selected (they never get cleared)

We need to figure out and maybe split apart some module-holding collection(s) of some sort. So you *can* filter in that textbox, but without having its state affect what the main create game screen thinks

[2016-10-07 21:11] Cervator commented on #1988
Here's a bit of a copy paste from earlier additional thoughts on IRC:

[2016-10-07 22:06] segfault802 commented on #2424
I've made this change and will submit a PR shortly.

[2016-10-07 23:47] Cervator commented on #1969
Going to close this finally as hopefully fixed. We have *not* seen this for a while now, and there have been changes in the area.

[2016-10-07 23:47] #1969 closed

[2016-10-08 01:41] Cervator opened #2506 "Update the Windows executables with 1.5 GB memory max"
Split out from #2424 which covers the background further.

The exes are compiled out of https://github.com/MovingBlocks/TerasologyJavaLauncher but the process isn't super well documented (might not be hard even without docs). @shartte would know but is probably still busy elsewhere.

Everything else is now set to `-Xmx1536m` so that should be the max memory by default for the EXEs as well.

[2016-10-08 01:50] Cervator commented on #2424
Closing as complete with #2506 having been split out into a separate issue for later. Thanks! :-)

[2016-10-08 01:50] #2424 closed

[2016-10-08 02:16] Cervator opened #2507 "Add option to clear the filter textbox on the Select Modules... screen"
At present during game creation you can customize modules, and while picking modules you can filter them by name using the filter textbox at the top. However, you have to manually erase the text if you want to clear the filter.

While that isn't particular laborious it is pretty standard for filter boxes to have a simple clear option of some sort. Two ways to solve this one:

* Easy: Simply add a

[2016-10-08 02:19] Cervator opened #2508 "Fix offset causing excess space at the bottom of the modules list"
With the current Omega module lineup present the module list becomes *way* long too. Probably the calculated length of the scrollable field is out of whack with the scrollbar somehow. This has been tweaked a time or two in past issues, guess it is easy to disturb :-)

Example screenie:

![terasology _ alpha_2016-10-07_22-17-34](https://cloud.githubusercontent.com/assets/1063833/19209616/0b6a2780-8

[2016-10-08 02:25] #2342 closed

[2016-10-08 02:28] #849 closed

[2016-10-08 03:38] Cervator commented on #2067
Closing this as likely obsolete (linked issue was closed as no longer reproducible)

[2016-10-08 03:38] #2067 closed

[2016-10-08 03:39] Cervator opened #2509 "Details (world preview) screen causes environment/context corruption"
The "Details" button (which lists world config options and allows previewing the world) is at present somewhat problematic. It involves module environment / context switches to be able to activate additional modules (to be able to preview a world gen in a module) which isn't quite solid yet. Some problems:
- The screen stalls the game for a moment as (I believe) it is scanning/enabling the selecte

[2016-10-08 04:36] Cervator commented on #2488
Fixed / rearranged by https://github.com/Terasology/DynamicCities/pull/24 and related changes to the MedievalCities module. The gameplay template that shows up in-game now is MedievalCities so a culture is present for sure :-)

[2016-10-08 04:36] #2488 closed

[2016-10-08 05:57] #2322 closed

[2016-10-08 06:02] Cervator commented on #2244
Deleted all remaining Contributor Friendly labels when I recently created the new Hacktoberfest label. Closing this as complete :-)

In visiting up-for-grabs.net a minute ago Terasology was right near the top, woo!

[2016-10-08 06:02] #2244 closed

[2016-10-08 06:46] Cervator commented on #1741
Closing this as complete as part of Alpha 4 and GSOC 2016 :-)

@emanuele3d and @tdgunes feel free to open new smaller issues if it makes sense to get some going for future work.

[2016-10-08 06:46] #1741 closed

[2016-10-08 06:47] Cervator commented on #849
Hey @rzats if you can think of some new follow-up issues to this that we should aim to complete feel free to submit some. Ideally with some of them being bite-sized if possible :D

Closing as completed by GSOC 2016 and made part of Alpha 4 :-)

[2016-10-08 06:49] Cervator commented on #944
Closing as completed by GSOC 2016 and released as part of Alpha 4!

@CptCrispyCrunchy @msteiger and others if you can think of follow-up issues to submit here or in one of the relevant module repos please do! Especially if we can get some bite-sized easy issues going to help new contributors to get started :)

[2016-10-08 06:49] #944 closed

[2016-10-08 13:08] Avalancs opened #2512 "Grass/Stones/etc floating above cave"
I joined the meetup for alpha 5 a bit early, and noticed this.
![grass_above_caves](https://cloud.githubusercontent.com/assets/18668703/19213302/df984eb0-8d68-11e6-92df-ec28571c1cf7.jpg)
It was dark, and seeing grass I started in that direction, and fell into a cave! Later on I added the dirt blocks I'm standing on to be able to make a screenshot, but under me is a cave system made of stone, and a

[2016-10-08 15:52] emanuele3d commented on #1741
I'm sorry but I disagree. This is in progress. The dag is currently just a list, not a graph. We are going in the right direction but if it was up to me I'd keep it open. Perhaps we should turn it into the main item of an epic?

[2016-10-08 16:47] Cervator commented on #2477
Still seems to be happening, reported by @Rulasmur just now from the Alpha 5 multiplayer test event

http://pastebin.com/nxZJVzjU

[2016-10-08 17:09] Cervator commented on #1741
@emanuele3d absolutely fair point :-) I wanted to close this out since it isn't a fresh new GSOC candidate issue anymore, but we could submit a new issue to be a non-GSOC container issue of sorts for the longer DAG pipeline implementation, make that an epic, add this completed issue to it, and submit a few other related ones to add to the same epic?

[2016-10-08 19:25] emanuele3d commented on #1741
Look, you seem to be decided about this, so I won't insist. But what this means is that I'll simply cut and past the description of the issue into a container/epic issue and slowly add issues to it if I can. Ideally we'd leave this issue open and make the it starting point of an epic. I really don't know how epics work though, so it might be unfeasible that way.

[2016-10-08 19:32] Cervator opened #2516 "Having certain modules (with substantial item/block count?) causes invisible blocks in multiplayer"
During Alpha 5 play testing I enabled a few more modules than usual, for variety and birthday fun.
- _CakeLie_
- CheatsForAll
- ChrisVolume1OST
- JoshariasSurvival
- _Potions_
- ShatteredPlanes
- StructureTemplates

However, after minimal playing and requesting blocks via console chests and TNT would place in an invisible way. The blocks clearly existed on the server - you could walk into their bl

[2016-10-08 19:44] Cervator opened #2517 "Windowed / borderless fullscreen mode"
Feature request that came in from today's play test. At present we only support regular windowed mode and regular fullscreen. Plenty of games have a nice hybrid where you can run a borderless windowed mode you can still move the mouse out of. Similar to maximizing the windowed game but that leaves in place the menu bar + task bar.

*Probably* this just involves switching the fullscreen checkbox un

[2016-10-08 22:23] Cervator commented on #2516
A somewhat related thought comes to mind: when you break blocks in some cases the particle effects that come off them do not always match the actual block (often you get diamond ore block particles even when breaking dirt or something). *Somewhere* there are still bugs in connecting blocks with different systems.

[2016-10-09 06:27] Cervator opened #2518 "Bulk version of giveBlock"
We have a `search` console command that is great at finding stuff related to a particular topic, like "cake" with the CakeLie module enabled. However, you then have to type out or copy paste each block if you want to eat *all* the cake!

Probably it wouldn't be hard to combine the two, create a `bulkGiveBlock` command that takes a search term, feeds that to `search`, filters out only the block hit

[2016-10-09 07:01] Cervator commented on #1741
@emanuele3d yep the copy paste thing would be fine and expected. The main reason I'd like to close this rather than use it as the epic is that it has been "used" in relation to GSOC - but really we could just re-open it and reuse it, not a big deal :-)

To me one way or the other I think we should have a few issues, one of them could be upgraded to a ZenHub epic and serve as a container for the in

[2016-10-09 10:28] kartikey0303 commented on #2517
I can try this. In involves adding an additional dropdown for borderless fullscreen and implementing the same in LWJGL/OpenGL. Right?

[2016-10-09 15:32] kholyphoenix1 opened #2520 "Question - How can I install on Suse?"
Hello,

How can I install on openSuse 42.1?
1. I extract the package.
2. Terminal: chmod + x run_linux.sh
3. Terminal: .\run_linux.sh

Message:

For more details, see the log files in /root/.local/share/terasology/logs/2016-10-09_12-29-35

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38242491-question-how-can-i-install-on-suse?utm_

[2016-10-09 18:00] coty91 commented on #2517
Already took care of it.

[2016-10-09 18:51] #2499 closed

[2016-10-09 19:06] Cervator commented on #2520
Hi there. It seems like there's a bit of the log missing :-)

You should have 1-3 files at that path, could you please attach them as full files or paste into something like a GitHub Gist or pastebin?

I take it you have a Java 8 JRE installed.

[2016-10-09 20:05] kholyphoenix1 commented on #2520
Hello, install JDK 8 Update 101 both versions. (X86) and (x64).

`linux-5vsz:/home/linux # cd /home/linux/Downloads/TerasologyOmega
linux-5vsz:/home/linux/Downloads/TerasologyOmega # chmod +x run_linux.sh
linux-5vsz:/home/linux/Downloads/TerasologyOmega #
linux-5vsz:/home/linux/Downloads/TerasologyOmega # clear
linux-5vsz:/home/linux/Downloads/TerasologyOmega # ./run_linux.sh
codeLocation: /home/l

[2016-10-09 22:39] SoniEx2 opened #2521 "APNG support"
Can I get APNG?
##

[2016-10-09 22:44] Cervator commented on #2520
I'm afraid that last line there is pretty clear :(

`17:05:27.091 [main] INFO o.t.e.subsystem.lwjgl.LwjglGraphics - Initializing display (if last line in log then likely the game crashed from an issue with your video card)`

What's your video card? Anything unusual about its driver?

[2016-10-09 23:52] SoniEx2 commented on #628
Options:

1. Do it the classic way. Stream texture changes, like MC does, like pre-2000s games do, etc. This is easy. This works on everything from ancient to modern hardware.
2. UV shaders. With this, you stream frame number and the shader calculates the correct UVs and stuff. I don't do shaders, someone else would have to do this. You could animate the whole game and assuming around 1024 block t

[2016-10-09 23:55] OvermindDL1 commented on #628
Re @SoniEx2 option 2:

You can pass the current time in a uniform to the shader then calculate which frame should be used based on a small amount of encoded data about the frames such as framerate and such.  You could even have per block animations by encoding with their data an offset of the time frame or if it is paused or so (time multiplier).  It is pretty easy to do over all.

[2016-10-09 23:56] SoniEx2 commented on #628
@OvermindDL1 per-block is overkill. find me a good use-case if you disagree.

[2016-10-09 23:59] OvermindDL1 commented on #628
Absolutely is overkill, but it could be baked into certain animation types, useful for, say, an animated texture on a machine, have it slow down if under powered, have it paused (0 multiplier + whatever offset) if no work, etc...  The information passed would be based on a pass and what information each pass should encode, so such things would render few and far between and as such would use littl

[2016-10-10 01:16] SoniEx2 commented on #628
@OvermindDL1 Per-block is overkill. Use a special renderer. You're not supposed to have a chunk full of machines anyway.

And you don't want to update a massive VBO just to change a single machine's animation speed. You also don't wanna depend on OpenGL 4.4+, and this isn't Dolphin where you can just use vertex streaming hack.

[2016-10-10 06:33] nihal111 opened #2524 "`giveBlock air` crashes the game"
### How to reproduce
- Start a game
- Type `giveBlock air` in console

Game should crash and loading the saved game should crash the game again.

Perhaps an easy fix. There is a need to filter out the "engine:air" block in console command `giveBlock` as suggested by @Cervator.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/382509

[2016-10-10 06:38] #2518 closed

[2016-10-10 07:20] MercuryHunter commented on #2524
Hi, I was unable to reproduce the issue, could it be platform specific? I'm running this on Mac OS Sierra.

When I tried giveBlock air, it just responded with "You received 16 blocks of Air" and continued but with an empty hand.

[2016-10-10 11:02] kholyphoenix1 commented on #2520
I understand the error. I put the error here so I could help others.
My video card is GeForce.
Thanks!

[2016-10-10 16:25] OvermindDL1 commented on #628
Heh, you've never played a gregtech server I guess.  ^.^

And you would not need to update a massive vbo, encode the tile state information as a texture and interpolate based on the time values, you'd only need to update the 'pixel' state data for a tile when a machine state changes (and the VBO/VBA/rawWhatever does not change at all), this is a fairly fast operation and certainly does not require

[2016-10-10 16:47] SoniEx2 commented on #628
Uh I was kinda hoping you'd google "dolphin vertex streaming hack"...

But maybe I should just leave this to you, as you seem to know shaders...

[2016-10-10 17:06] OvermindDL1 commented on #628
I'm at work so minimizing my time doing non-work things, hence my terse responses (I do apologize if they ever come off badly, it is not intended ^.^).

They are actually not very hard, just like assembly programming but with different multi-data using instructions, you should learn it, it is fascinating.  :-)

[2016-10-10 22:19] nihal111 opened #2526 "game number not refreshing in CreateGameScreen"
### How to reproduce
- Create a couple of games under Single Player
- Choose default names so they are called: `Game 1` and `Game 2`
- Open the Create game dialog for the third game. But do not click Play. Game name should be: `Game 3`
- Instead hit Back and delete the previous two created games i.e `Game 1` and `Game 2`.
- Open Create game again, Game name still remains `Game 3` and is not refres

[2016-10-10 22:21] nihal111 opened #2527 "Main menu background track not looping"
### How to reproduce
- Open game
- Turn up the audio and find some work to do :stuck_out_tongue:
- Wait

The background track should play once and not loop back. That is the game goes silent after a while, once the song finishes.

Probably an easy fix.
##

[2016-10-10 23:30] rzats commented on #2527
#2364 is slightly different but related. That one actually occurs on my machine almost immediately after the game is loaded and can be reliably reproduced.

[2016-10-11 00:21] nihal111 commented on #2527
@rzats Yup, I have seen that too. Always get that after a `Delta too great..`, isn't it the game trying to minimize load by stopping the track?

[2016-10-11 19:55] emanuele3d opened #2528 "Water stops being rendered when resizing the window"
### What you were trying to do

Resize Terasology's window to verify the rendering engine performs correctly
### What actually happened

The water stops being rendered, leaving a big ugly hole in the ground.
### How to reproduce
- Either start Terasology in window mode or toggle the Fullscreen OFF before loading a game
- Create/Load up a game and find a lake/sea
- Resize the window by dragging one

[2016-10-11 20:57] pollend commented on #2524
It happens when you pick up an air block. #2466

[2016-10-11 21:14] emanuele3d commented on #2528
The plot thickens.

Simply going to the Video Settings menu and changing a setting such as Fog or Water Reflections trigger the water to show up again. Interestingly, after this operation the water stays visible even if the window is resized.

Very peculiar.

[2016-10-12 01:51] AWebb3701 commented on #2492
Tap ctrl to descend normally, Hold to do a "dive" that quickly reaches normal descent speed?

[2016-10-12 03:43] Cervator commented on #2520
That's a [brand / line of cards](https://en.wikipedia.org/wiki/GeForce) - bit unspecific :-)

Appreciate the report, but it is unlikely we can act on it. Unless for some reason you're hitting this with a *newer* video card, like a GTX 980 or something. I am guessing you have an older edition, maybe a mobile card of some sort?

[2016-10-12 03:49] Cervator commented on #2492
Kinda-sorta works like that since you can tap/hold however long you like. Actually gaining speed over time ... hmm, dunno! That could be an interesting mechanic both for swimming and sprinting, but isn't something we have or that I usually see. Could be cool but some effort and kinda niche :-)

[2016-10-12 04:57] Cervator commented on #2528
Peculiar indeed! I can confirm the issue, although "Film Grain" and "Cloud Shadows" didn't restore the water, "Fog" did though. And then yep, no further breaking on resize. Fun with states :-)

[2016-10-12 05:00] Cervator commented on #2527
Yeah these two issues are related but distinct. This one is much more of a "Huh, I guess nobody just ever thought to put the track on repeat" while the other one is a weird bug. That one works perfectly fine when running the game from a binary, making it even weirder.

[2016-10-12 05:24] Cervator opened #2530 "Game fails to dispose if server disrupted during client connection"
### What you were trying to do

Run headless locally + one client to connect to it

### What actually happened

Configured the server wrong, decided to kill it while the server was still connecting. Client window gracefully noted the connection error, but on exiting the game the process didn't terminate.

### How to reproduce

* Start headless server
* Start game client
* Begin connecting the clie

[2016-10-12 05:30] Cervator opened #2531 "Whitelist review: Java AWT"
As noted in #2494 whitelisting the entire `java.awt` package may be overkill and sneaky things could exist in there that could be a security risk for the module sandbox. We also probably don't need most of it. Packages `java.awt.geom` and `java.awt.image` are also whitelisted but might be less trouble.

Two ways to approach:

1. Go through the `java.awt` package and look for scary classes (anythin

[2016-10-12 05:38] Cervator commented on #1690
Bump - just for reference this issue is still valid. I tried the Light & Shadow scenario after merging #1988 since that one dealt with module prefixing of assets too, but no change (expected, since that change was specific to "auto" blocks). But maybe there is something similar at work here.

[2016-10-12 05:41] #1988 closed

[2016-10-12 05:50] nihal111 commented on #1690
@Cervator Will look into this. Could you write down the steps to reproduce this?

[2016-10-12 05:58] Cervator opened #2532 "After changing windowed/fullscreen mode the window can no longer be resized"
When back in windowed mode, naturally.

So in other words: Change the game to fullscreen, switch back to windowed, try to resize the window (the maximize button also goes inactive). Works fine _before_ switching the mode.

Discovered while testing #2519 but not caused by it, just coincidentally was an obvious test case there.

As per research by @coty91 this appears to be an LWJGL issue that is fi

[2016-10-12 06:07] Cervator commented on #2524
Thanks for chiming in @MercuryHunter and appreciate the reminder @pollend - I do remember that issue coming up.

We could treat this issue as just covering the ability to get an air block via console, and still approach a better fix for #2466 - maybe we can catch that one where it attempts to use a mesh for any air block or perhaps other weird/meshless things?

[2016-10-12 12:09] kholyphoenix1 commented on #2520
Solved. Thanks!!

[2016-10-12 19:31] Cervator opened #2534 "More teleport commands"
We currently have `teleport` which ports the player to a given `x`, `y`, `z` coordinate, but we do not have player to player teleport variants. We should add:

* `teleportMeToPlayer <String>`
* `teleportPlayerToMe <String>`
* `teleportPlayerToPlayer <String> <String>`

The `<String>` parameter should be both usable with player names or a player id (in case of unusual characters). I think `kick` ma

[2016-10-12 20:48] coty91 commented on #2492
I have most of this ticket finished. Detecting collisions with objects while fully submerged, so the character can jump out if the block is at water level, is my last bit.

[2016-10-12 20:54] AfterRebelion commented on #2532
Did some testing, and the problem seems to only show if you change from windowed mode to fullscreen, and then again to windowed. If you launch the game in fullscreen, and then go to windowed, it lets you resize the window just fine.

After some searching, the only site I found that list this error is [the Minecraft Bugtracker](https://bugs.mojang.com/browse/MC-68754)
On the [LWJGL bugtracker](http

[2016-10-12 22:56] nihal111 opened #2535 "Height change extras"
With #2511 that enables change in Height and eyeHeight. There are a few bugs and extras that need to be dealt with:
- [x] Increase/Decrease jump speed according to size. Giants should be able to jump higher and dwarfs lower.
- [x] Define a function or maybe just a proportionality constant (w.r.t height) for this.
- [ ] Increase/Decrease damage from fall. (30m giant should not die of a 15m fall). D

[2016-10-12 23:39] Cervator commented on #2520
Great! What fixed it? Video card driver update? Good to hear in any case, will close this then :-)

[2016-10-12 23:39] #2520 closed

[2016-10-13 00:01] Cervator commented on #1690
@nihal111 easiest is simply try Light & Shadow

1. Start a game client, host a multiplayer game with the Light & Shadow gameplay template. Use seed "donthurtme" (some seeds in L&S can lead to the player spawning outside the dome, usually resulting in an infinite death loop)
1. Connect to the server with a different game client

You may want to also activate CheatsForAll so you can experiment with

[2016-10-13 01:28] Cervator commented on #2532
Thanks for the extra note @AfterRebelion  :-)

@coty91 just mentioned having done the research, but am unsure what he found via Google where.

Keep in mind LWJGL 3 switched to a new repo / issue tracker, so there's no guarantee it'll be tracked in the legacy version. And yeah I wouldn't expect the latest from 2 to make a difference, yet hooking up 3 would likely be some serious work.

[2016-10-13 01:32] Cervator commented on #2535
Throwing a bunch of assorted labels on this since it has multiple sub-items, and assigning @nihal111 to indicate work may be going on. It may be possible for additional contributors to work some of the items. Just be sure to coordinate if anybody else is interested as well :-)

[2016-10-13 11:54] kholyphoenix1 commented on #2520
08:51:44.197 [main] INFO  o.t.audio.openAL.OpenALManager - OpenAL 1.1 ALSOFT 1.15.1 initialized!
08:51:44.197 [main] INFO  o.t.audio.openAL.OpenALManager - Using OpenAL: OpenAL Soft by OpenAL Community
08:51:44.198 [main] INFO  o.t.audio.openAL.OpenALManager - Using device: OpenAL Soft
08:51:44.198 [main] INFO  o.t.audio.openAL.OpenALManager - Available AL extensions: AL_EXT_ALAW AL_EXT_DOUBLE AL_

[2016-10-13 11:55] kholyphoenix1 commented on #2520
I installed **NVIDIA-Linux-x86_64-340.98.run**.
The same error continues...'

[2016-10-13 11:56] kholyphoenix1 commented on #2520
Before placing the Video Card.
I was using Intel HD Graphics 2000 and the game opened normally.

[2016-10-13 16:41] Cervator opened #2539 "Add Arabic language file to support translations"
Request came in via IRC. Technically requests can be submitted via Weblate that may also create a placeholder language file, but I think we end up usually creating the language file here manually.

Could also do it for the CrashReporter and Launcher while we're at it.

_Note:_ there are translation changes in develop (and maybe in pending PRs) that haven't been pushed to Weblate yet, and I haven't

[2016-10-13 23:08] arpan98 commented on #2508
I would like to work on this issue. However I am unable to figure out the source of this issue. Tweaking the values [here](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/rendering/nui/layouts/ScrollableArea.java#L143) works in some cases, but a concrete solution can be found only if the underlying cause is identified.

[2016-10-14 02:06] Cervator commented on #2508
Sure. While I don't have any useful knowledge directly related to scrolling in the UI, I remember some past fixes, maybe looking at discussion and code fixes there will help :-)

Check out [this search](https://github.com/MovingBlocks/Terasology/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20scroll) that covers closed issues with "scroll" in them, maybe especially #2185 which was fixed by #220

[2016-10-14 02:08] Cervator commented on #2520
Both of those sadly are pretty old :(

[2016-10-14 02:37] segfault802 commented on #2508
I'm currently looking into this...

[2016-10-14 11:09] kholyphoenix1 commented on #2520
Ahhh, thanks!! Solved...

[2016-10-14 12:05] arpan98 commented on #2507
I'm working on this.
My approach - Create a class `ResettableUIText` which inherits all it's data members and functions from UIText (Had to change some members from `private` to `protected`). Override the `onDraw` method and split the canvas 80-20 (or some fraction) into text-box and cross button. Subscribe a listener (?) to the button and then trigger the relevant events.
Does this look okay?

[2016-10-14 14:30] rafajaques commented on #2309
How is that going? Is it possible to translate the application?

[2016-10-14 17:30] SkySom commented on #2309
@rafajaques A lot of portions of the Terasology already support translations. You can take a look at [http://translate.terasology.org/](http://translate.terasology.org/)

[2016-10-15 01:56] Cervator commented on #1145
This was completed by @nihal111! With some follow-ups tracked in #2535 :-)

[2016-10-15 01:56] #1145 closed

[2016-10-15 03:16] portokaliu commented on #1697
Would it be alright if we just checked for the center of the falling item/block is currently inside the lava (or whatever) blocks? This could be made relatively easily and wouldn't cost much in terms of performance (except checking for each item if the block they're in is damaging or not). Either that or the damaging block could be the one sending events every so often to items that are inside it

[2016-10-15 03:48] portokaliu commented on #1661
Looking into this a bit. It seems quite a bit could be done. Might I suggest the following :

[] Have the command be more like a paint tool. Once activated, it draws blocks within a max range. It could be deactivated by typing the command with no parameters in the console.

[] Have the command take a certain block from a certain slot in your inventory. This way, you'd only need to specify the maxD

[2016-10-15 03:58] #2526 closed

[2016-10-15 05:06] Cervator commented on #1661
@Josharias has some similar in-game tools in JS. "Powertools" that can multi-place blocks. Probably worth looking at since most/all this stuff could be in-game instead of console. To some degree this issue may actually be obsolete thanks to @Josharias

[2016-10-15 06:36] portokaliu commented on #2524
Interesting bit of information : I tried the command while having the hotbar full, it just gave me 16 blocks of air. I tried to look in the inventory to look at them and only then did it crash.

[2016-10-15 07:10] segfault802 commented on #2508
I can fix this by eliminating the style margins from the scroll list height calculation, but I don't think this is the right solution.  For some reason the canvas style reports having 4px top and bottom margins when calculating the scrollbar height but 0px when drawing it.  I still need to determine why this is happening.

(Also, didn't mean to steal this from someone else, I had done some prelimi

[2016-10-15 08:41] arpan98 commented on #2508
Not at all @segfault802. I was and still am very clueless about this issue! :smile:

[2016-10-15 15:18] #2507 closed

[2016-10-15 22:06] segfault802 commented on #2508
The ended up being pretty trivial.  The UIList drawing code was getting a reference to the style margins before setting the correct part.

[2016-10-16 22:19] emanuele3d opened #2547 "Rendering Engine Overhaul"
Note: the following description is a cut&paste of now closed issue #1741. We reopen it here to create an Epic, a container for a number of related issues.
### Introduction

The current renderer is largely an hardcoded implementation. It features a number of features that can be toggled on/off, i.e. light shafts, or enabled to some pre-defined level, i.e. Depth of Field blur levels. But it is infle

[2016-10-16 23:01] emanuele3d commented on #2547
**Update**
From the time the description in #1741 was written an important thing happened: our organization was accepted in the Google Summer of Code (GSOC) initiative.

This in turn had a number of consequences:
- A number of issues, including #1741, were listed as potential GSOC projects for students to evaluate.
- @tdgunes jumped aboard and eventually wrote a proposal GSOC project.
- @tdgunes a

[2016-10-17 03:48] segfault802 commented on #2452
I'd like to try tackling this.  An interesting observation I made while testing: Hovering the mouse in the empty space below the 2nd line of text causes the flickering to stop.  After seeing that multi-line tooltips are stored in a UIList I tried running it with my fix for issue #2508 (pending PR #2546) and this "safe zone" disappears.

I also noticed that the tooltip doesn't have any problems whe

[2016-10-17 19:22] oniatus opened #2548 "OwnerEvent gets send to host + owning client"
The [UniqueServerNames](https://github.com/oniatus/UniqueServerNames) module sends an `@OwnerEvent` to a client after it connects to ask the client to enter a new name.

When hosting a game with another client, the event gets replicated to the remote client and also triggeres the hosting player, opening up the renaming dialog on the host, each time a player connects.

Switching the event filter on

[2016-10-17 19:58] Cervator commented on #2452
@segfault802 great! Go for it

Would assign to you but you'll need to accept our org invite at https://github.com/MovingBlocks first - please let me know when you do :-)

[2016-10-19 17:39] Cervator opened #2551 "Add support for modifier keys to input mappings"
At present all our input mappings are single key only - no `ALT-C` or anything of the sort. We need to change that!

The actual change popup for when you're modifying a mapping is pretty nice already, but it locks in the first key you enter. Either we need to add logic to accept but not finish if the player clicks a modifier key (CTRL, ALT, SHIFT) or maybe add checkboxes so the modifier keys can b

[2016-10-19 18:19] Cervator opened #2552 "Warn user if mapping a key already in use elsewhere"
Currently when you have the nice input mapping screen up you get to pick a mapping, then separately click OK to confirm the choice. However, there is no warning at all if the key or whatever is already in use.

As a user I would like to see a warning pop up with a red label indicating "Mapping [x] is already in use for function [y]" so I can think about that for a moment before confirming or rever

[2016-10-20 01:31] Cervator opened #2553 "Feature request: rope ladders"
Another fairly easy one here inspired by Hacktoberfest and a recent IRC mention - could go in a module but since ladders are in Core I think we should add this there as well, until a later full piecing out of Core.

The difference between a regular ladder and a rope ladder should be the ability to place a ladder segment _below_ the actively targeted existing rope ladder block, if the spot below is

[2016-10-20 04:55] #2508 closed

[2016-10-20 05:01] Cervator opened #2554 "Game controller input still being consumed with the game window inactive"
## Description

If you de-focus the game window (switch to some other window) while having a game controller of some sort hooked up, input from the controller still affects the game (unlike mouse or keyboard). This is _probably_ not a hard bug to solve.
## Definition of 'Done'
- [ ] de-focusing the game window will ignore all input (especially from attached controllers)
## Requirements
- you will

[2016-10-20 05:18] #2139 closed

[2016-10-20 06:05] nihal111 opened #2555 "Crouch follow-ups"
As a follow up to #2544:
- [ ] Add falling off ledge prevention.
- [ ] Change key mappings as per discussion [here](http://forum.terasology.org/threads/crouch-and-prone-controls.1622/)
##

[2016-10-20 06:08] nihal111 opened #2556 "Add PRONE Mode"
#2544 adds the crouch mode.
The prone mode needs to be added, similarly.
Key-mapping and other relevant discussion can be found [here](http://forum.terasology.org/threads/crouch-and-prone-controls.1622/).

[2016-10-20 06:37] nihal111 commented on #2556
I would like to work on this. However I need to know how I could create a capsule collider that has its axis along the ground. As shown in the image:
![stance](https://cloud.githubusercontent.com/assets/13916513/19548718/c9a9d70a-96bd-11e6-9781-9ed7e607e988.png)

[2016-10-20 12:30] emanuele3d commented on #2556
From your graphics it appear that in crouching position not only the height but also the width and (presumably) depth of the capsule are shrunk proportionally. Is that the case currently?

[2016-10-20 12:56] nihal111 commented on #2556
@emanuele3d No. Only height changes as of now. Pardon my lack of image-editing skills :stuck_out_tongue:

[2016-10-20 13:48] emanuele3d commented on #2556
I thought so. I just wanted to make sure. :smile:

[2016-10-21 06:36] Cervator opened #2557 "Improve auto move support (autorun)"
Edit: Initially implemented by #2647 - list below updated to cover improvements

Came up while thinking about crouching functionality (see http://forum.terasology.org/threads/crouch-and-prone-controls.1622/#post-14015) and seems to generally be an appreciated feature.

At present we have switch default walk/run ("change speed permanently") on caps lock, which isn't great. We don't have auto-move.

[2016-10-21 06:49] Cervator commented on #2555
Some more:

- [ ] Switch back out of the temporary `x` key (covered by the key mapping note above but just to get an explicit reminder)
- [ ] Tiny / general: Clear out any empty javadoc headers when making changes anyway (like `/** */` leftover from a script removing author tags)

[2016-10-21 12:35] skaldarnar commented on #2499
I might be slow catching up, but why was this closed again? Did you discuss this on Slack, IRC, or in the forum?

[2016-10-21 13:37] SoniEx2 commented on #2499
The idea here is partially bad. A better idea would be to make the .block file similar to the .prefab file as in it contains a list of entities and each entry is a separate block ID, like [this](http://forum.terasology.org/threads/move-fields-in-block-onto-components.1625/).

[2016-10-22 03:28] Cervator opened #2558 "Player name case sensitivity issues (in particular for console commands with a player target)"
This one might already be tied up with @oniatus and his work on unique player naming, but could likely also be done separately by just adding case insensitivity to certain commands. In general I suspect we should simply not consider case sensitivity in player names at all (if `MyName` and `myname` are players only one such player could be in the same game)

The specific problem: if you use command

[2016-10-22 03:58] #2534 closed

[2016-10-23 13:44] zeokav commented on #2552
Hi! I'm new to this project but this looks like a good entry point. Where exactly int the project files do I look for this?

[2016-10-23 14:03] skaldarnar commented on #2552
@zeokav you could start at `org.terasology.config.BindsConfig` and work through `setBinds`, `hasBinds` etc. This should be a good start. Scan for usages of these methods and/or set some breakpoints to find out how the things work.

[2016-10-23 15:33] zeokav commented on #2552
Okay I figured out where the check happens. What we need is a popup dialog if it's already taken, asking for confirmation, right? I will look for the popup dialog similar to what's being used when a button for input rebinding is clicked.

[2016-10-23 18:44] #2517 closed

[2016-10-23 19:24] kdrewanted opened #2561 "the game crash and dont even start"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38610504-the-game-crash-and-dont-even-start?utm_campaign=plugin&utm_content=tracker%2F5279&utm_medium=issues&utm_source=gi

[2016-10-23 21:16] skaldarnar commented on #2561
@kdrewanted hi there! If you're trying to report an issue, can you fill in the report template with some details on the problem?

[2016-10-24 03:00] segfault802 commented on #2452
I fixed this by adding a flag to UIList that can be used to make it non-interactive.  This way tooltips can be rendered without drawing creating an interactive area.  I could have probably just piggybacked the existing selectable flag but wasn't if there was (or will be) something else that requires a non-selectable but still interactive list.

[2016-10-24 12:57] nihal111 opened #2565 "Crouch mode change bugs"
## Mode change from Crouch -> Swimming -> Walking leaves playerHeight altered.
### How to reproduce

*crouch
*Go for a swim while crouching
*Come out and find your height is reduced to half
Hint: Look into `updateMode` method inside KinematicCharacterMover. Probably changing mode to walking before changing to swimming would work.

## Saving while crouched and loading saved game gives player with h

[2016-10-24 13:48] zeokav commented on #2552
@Cervator @skaldarnar Sorry for bugging you guys with such newbie doubts (I will get a hang of it soon), but where do I set screens? I was trying to mirror something like the ChangeBindingPopup (calling it ConfirmChangePopup) and instantiating the ASSET_URI with "engine: confirmChangePopup" but the console raises a message saying that it can't find screen 'confirmChangePopup'.

[2016-10-24 14:32] skaldarnar commented on #2552
@zeokav did you create `confirmChangePopup.ui` file similar to [changeBindingPopup.ui](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/resources/assets/ui/menu/changeBindingPopup.ui)? That's needed for displaying something. You should be able to use our NUI editor to create the ui file easily.

[2016-10-24 18:15] rzats opened #2566 "Display active savegame path in the main menu"
### Description

Terasology's savegame files can end up in several different locations depending on the player's OS (and the optional -homedir command line parameter). While the savegame path can be viewed and changed in the [Terasology Launcher](https://github.com/MovingBlocks/TerasologyLauncher), displaying it in the Create/Load World screens would be a welcome addition.

### Definition of 'Done

[2016-10-24 18:16] rzats commented on #520
Closing in favour of #2566.

[2016-10-24 18:16] #520 closed

[2016-10-24 21:02] rzats opened #2569 "Create a video tutorial for setting up the game environment"
### Description

While setting up the game from source is fairly easy due to the gradle build system handling most of the boring and complicated parts, it can be a little overwhelming for new contributors. A modder, texture artist, playtesting enthusiast, or other individual who hasn't done much - if any - coding before might get a lot out of seeing a basic video that covers installing the game fr

[2016-10-24 21:03] rzats commented on #217
Closing in favor of #2569 - most of the discussion was brought over to the DoD 🙂

[2016-10-24 21:03] #217 closed

[2016-10-25 10:38] rzats commented on #135
AFAICT this has been covered by

- https://github.com/MovingBlocks/Terasology/wiki/Unit-Testing
- https://github.com/MovingBlocks/Terasology/wiki/JavaDoc

for a while now. Do these articles need more improvement or should I close as complete?

[2016-10-25 10:45] rzats commented on #551
Couldn't replicate this on Win10/Ubuntu VM and it sounds like an OS-specific issue that might have been fixed _looooooooooooooong_ ago. Closing for now - if someone experiences a similar issue in the future it can be handled separately.

[2016-10-25 10:45] #551 closed

[2016-10-25 11:19] rzats opened #2570 "Implement a crossbow or similar ranged item"
### Description

Terasology has a railgun item that allows players to destroy the environment in a series of over-the-top explosions! The goal of this issue is to create a smaller-scale version of the railgun potentially allowing players to destroy environmental objects as well as NPCs.
### Definition of 'Done'

A crossbow item is added to the game's Core module, building off the existing railgun

[2016-10-25 11:24] rzats commented on #664
Closing in favor of #2570.

[2016-10-25 11:24] #664 closed

[2016-10-25 11:37] rzats commented on #227
Closing as (most likely) obsolete.

[2016-10-25 11:37] #227 closed

[2016-10-25 11:49] rzats commented on #541
This issue was moved to Terasology/LightAndShadow#9

[2016-10-25 11:49] #541 closed

[2016-10-25 11:51] rzats commented on #542
This issue was moved to Terasology/LightAndShadow#10

[2016-10-25 11:51] #542 closed

[2016-10-25 11:51] rzats commented on #543
This issue was moved to Terasology/LightAndShadow#11

[2016-10-25 11:51] #543 closed

[2016-10-25 11:52] rzats commented on #544
This issue was moved to Terasology/LightAndShadow#12

[2016-10-25 11:52] #544 closed

[2016-10-25 12:12] rzats commented on #546
Moved to https://github.com/Terasology/LightAndShadow/issues/13.

[2016-10-25 12:12] #546 closed

[2016-10-25 12:13] rzats commented on #547
Moved to https://github.com/Terasology/LightAndShadow/issues/14.

[2016-10-25 12:13] #547 closed

[2016-10-25 12:14] rzats commented on #552
Moved to https://github.com/Terasology/LightAndShadow/issues/15.

[2016-10-25 12:14] #552 closed

[2016-10-25 12:15] rzats commented on #553
Moved to https://github.com/Terasology/LightAndShadow/issues/16.

[2016-10-25 12:15] #553 closed

[2016-10-25 12:16] rzats commented on #554
Moved to https://github.com/Terasology/LightAndShadow/issues/17.

[2016-10-25 12:16] #554 closed

[2016-10-25 12:17] rzats commented on #555
Moved to https://github.com/Terasology/LightAndShadow/issues/18.

[2016-10-25 12:17] #555 closed

[2016-10-25 12:18] rzats commented on #556
Moved to https://github.com/Terasology/LightAndShadow/issues/19.

[2016-10-25 12:18] #556 closed

[2016-10-25 12:19] rzats commented on #557
Moved to https://github.com/Terasology/LightAndShadow/issues/20.

[2016-10-25 12:19] #557 closed

[2016-10-25 12:20] rzats commented on #558
Moved to https://github.com/Terasology/LightAndShadow/issues/21.

[2016-10-25 12:20] #558 closed

[2016-10-25 12:21] rzats commented on #560
Moved to https://github.com/Terasology/LightAndShadow/issues/22.

[2016-10-25 12:21] #560 closed

[2016-10-25 12:22] rzats commented on #561
Moved to https://github.com/Terasology/LightAndShadow/issues/23.

[2016-10-25 12:22] #561 closed

[2016-10-25 12:23] Barteks2x opened #2571 "Sunlight shadow never propagates into parts of the world that aren't loaded when placing blocks that cause the shadow"
I was trying to figure out how Terasology handles sunlight propagation in some hard cases. I first read the code but it wasn't obvious at all how something like that would be handled. So just to verify that the game really handles these possibilities I tested it.

I built a platform 500 blocks above the ground. The shadow never reached the surface. This isn't visible in most of normal gameplay, bu

[2016-10-25 12:23] rzats commented on #563
Moved to https://github.com/Terasology/LightAndShadow/issues/24.

[2016-10-25 12:23] #563 closed

[2016-10-25 12:24] rzats commented on #564
Moved to https://github.com/Terasology/LightAndShadow/issues/25.

[2016-10-25 12:24] #564 closed

[2016-10-25 12:26] rzats commented on #568
Moved to https://github.com/Terasology/LightAndShadow/issues/26.

[2016-10-25 12:26] #568 closed

[2016-10-25 12:28] rzats commented on #569
Moved to https://github.com/Terasology/LightAndShadow/issues/27.

[2016-10-25 12:28] #569 closed

[2016-10-25 12:28] skaldarnar commented on #2571
Hi @Barteks2x and thank you for your investigation!

@emanuele3d may know the details of the code best, let's see what he has to say about it. I guess we have a hard limit for calculating shadows over a specific range, so I don't know whether we should consider this a bug or a known limitation of sorts.

[2016-10-25 12:29] rzats commented on #570
Moved to https://github.com/Terasology/LightAndShadow/issues/28.

[2016-10-25 12:29] #570 closed

[2016-10-25 12:32] rzats commented on #571
Moved to https://github.com/Terasology/LightAndShadow/issues/29.

[2016-10-25 12:32] #571 closed

[2016-10-25 12:33] Barteks2x commented on #2571
I will do some more tests, but it seemed to me like it depends on render distance.

[2016-10-25 12:34] rzats commented on #572
Moved to https://github.com/Terasology/LightAndShadow/issues/30.

[2016-10-25 12:34] #572 closed

[2016-10-25 12:52] rzats commented on #573
Moved to https://github.com/Terasology/LightAndShadow/issues/31.

[2016-10-25 12:52] #573 closed

[2016-10-25 12:59] rzats commented on #574
Moved to https://github.com/Terasology/LightAndShadow/issues/32.

[2016-10-25 12:59] #574 closed

[2016-10-25 13:05] rzats commented on #575
Moved to https://github.com/Terasology/LightAndShadow/issues/33.

[2016-10-25 13:05] #575 closed

[2016-10-25 13:06] rzats commented on #576
Moved to https://github.com/Terasology/LightAndShadow/issues/34.

[2016-10-25 13:06] #576 closed

[2016-10-25 13:09] Barteks2x commented on #2571
I tested it again with different view distance, and yes - there is a hard limit. But a hard limit has it's own issues. For example it's possible to make completely closed structure that still has full sunlight inside:
![image](https://dl.dropboxusercontent.com/u/54602353/Terasology-161025150500-1920x1080.png)

[2016-10-25 13:12] rzats commented on #577
Moved to https://github.com/Terasology/LightAndShadow/issues/35.

[2016-10-25 13:12] #577 closed

[2016-10-25 13:12] rzats commented on #578
Moved to https://github.com/Terasology/LightAndShadow/issues/36.

[2016-10-25 13:12] #578 closed

[2016-10-25 13:13] rzats commented on #579
Moved to https://github.com/Terasology/LightAndShadow/issues/37.

[2016-10-25 13:13] #579 closed

[2016-10-25 13:21] rzats commented on #581
Moved to https://github.com/Terasology/LightAndShadow/issues/38.

[2016-10-25 13:21] #581 closed

[2016-10-25 13:30] rzats commented on #583
Moved to https://github.com/Terasology/LightAndShadow/issues/39.

[2016-10-25 13:30] #583 closed

[2016-10-25 13:34] rzats commented on #584
Moved to https://github.com/Terasology/LightAndShadow/issues/40.

[2016-10-25 13:34] #584 closed

[2016-10-25 13:37] rzats commented on #585
Moved to https://github.com/Terasology/LightAndShadow/issues/41.

[2016-10-25 13:37] #585 closed

[2016-10-25 13:38] rzats commented on #586
Moved to https://github.com/Terasology/LightAndShadow/issues/42.

[2016-10-25 13:38] #586 closed

[2016-10-25 13:39] rzats commented on #748
Moved to https://github.com/Terasology/LightAndShadow/issues/43.

[2016-10-25 13:39] #748 closed

[2016-10-25 13:44] rzats commented on #589
Moved to https://github.com/Terasology/LightAndShadow/issues/44.

[2016-10-25 13:44] #589 closed

[2016-10-25 13:45] rzats commented on #591
Moved to https://github.com/Terasology/LightAndShadow/issues/45.

[2016-10-25 13:45] #591 closed

[2016-10-25 13:47] rzats commented on #592
Moved to https://github.com/Terasology/LightAndShadow/issues/46.

[2016-10-25 13:47] #592 closed

[2016-10-25 13:48] rzats commented on #596
Moved to https://github.com/Terasology/LightAndShadow/issues/47.

[2016-10-25 13:48] #596 closed

[2016-10-25 13:51] rzats commented on #597
Moved to https://github.com/Terasology/LightAndShadow/issues/48.

[2016-10-25 13:51] #597 closed

[2016-10-25 13:52] rzats commented on #603
Moved to https://github.com/Terasology/LightAndShadow/issues/49. Engine tracker should now be L&S-free!

[2016-10-25 13:52] #603 closed

[2016-10-25 14:24] OvermindDL1 commented on #2571
Why not a 2d matrix of the surface that details when the sun 'stops' (first opaque block)?  Easy to test for, easy to pass to the GPU shaders if encoded well.  You could potentially even have different 'stops' for different colors so a red skylight block blue/green but lets red continue until it hits lower, if you do not mind using 3x the memory for it (it will not be big regardless).

[2016-10-25 14:26] emanuele3d commented on #2571
Dear @Barteks2x, unfortunately I can only be partially of help.

Lights and shadows in Terasology (probably) have two components. On one hand some lighting is done in a traditional way using a deferred renderer taking advantage of a single shadow map rendered from the point of view of the main light (sun/moon). On the other hand _I think_ there is some light propagation happening with a cellular-a

[2016-10-25 14:40] emanuele3d commented on #2571
@OvermindDL1 : Your suggestion (a static depth map effectively, if I'm not mistaken), would only really work for straight up light sources, i.e. taking in account only overall sky luminosity. Shadows cast by the sun move (quite visibly in Terasology), and the bottom of a deep, narrow shaft should be lit only if the sun is straight above it. Conversely, the light at sunset should get deep into a we

[2016-10-25 14:56] Barteks2x commented on #2571
I'm almost sure that there is some light values calculated using what was described here as cellular automata algorithm, and this is I think that main part large scale shadows, and this is most likely the issue. I didn't know there are things that also depend on sun position. I haven't see the effect in the game, but that may be because I reduced graphics settings to minimum to make it work on int

[2016-10-25 15:24] #135 closed

[2016-10-25 18:17] skaldarnar opened #2573 "Movement Refactoring"
This issue will be updated with further information on how the movement-related code should be refactored.

[2016-10-25 18:28] Cervator commented on #958
Closing as obsolete. The instructions above are outdated and I'm not sure the current charcoal oven even works. We also know smoke particles work elsewhere.

[2016-10-25 18:28] #958 closed

[2016-10-25 18:33] Cervator commented on #508
Removing from the old v1 milestone and linking to https://github.com/Terasology/Sample/issues/1 which would be a similar cool extension to the *auto block* system that works now.

May also relate a bit to #1487 and #1402

[2016-10-25 18:40] #2561 closed

[2016-10-25 19:16] OvermindDL1 commented on #2571
Actually think of it as a heightmap, you can access it within the shader to do an occlusion of the light based on the heightmap data and your projecting through it, not just down.  You will still need the normal shadow casting for nearby things, but combining that with such a projected 'heightmap' of distance is a quick and easy way to fake it.

[2016-10-25 20:03] emanuele3d commented on #2571
@Barteks2x: to see the effect of the shadows cast by the main light, press F3 to go in stats/debug mode and then use the arrow keys to go backward and forward in time. You'll see very clearly the effects of the shadowmap on the landscape. That been said, it only works if you have Shadows On in the video settings.

Regarding the scenario you mention, platforms at y=1K and y=2K, indeed the game does

[2016-10-25 20:09] Barteks2x commented on #2571
I first need to figure out why it works now. And implementing working sunlight for one thing is hard enough. Implementing it twice for 2 entirely different platforms... that's quite a challenge.

As for the heightmap and not detecting the platform at y=1000 after breaking the one at y=2000, my solution is to have a variation on [run-length encoded list of opaque/transparent flags](https://github.c

[2016-10-25 20:33] emanuele3d commented on #2571
@Barteks2x: take your time and fair enough about implementing things on two platforms: it's though. That's why you should work exclusively on Terasology. :laughing:

Regarding the suggested change, I'd recommend you get in touch with @flo and @msteiger as they know more about chunks, their data structures and how they are handled. I "just" receive the chunks and render them. :wink:

[2016-10-25 20:39] Barteks2x commented on #2571
I saw the game has irc channel, is it the right place to ask more questions? Or is it mostly dead channel?

[2016-10-25 21:11] emanuele3d commented on #2571
@Barteks2x: the irc is fairly active and our project leader, Cervator, is often online. Flo and Martin (msteiger) are rarely there but you can ping them and sometimes they will come online. Another place where to ask questions is the forum, in particular the development area. Again ping Flo and Martin using the @ sign and their username as it's done here in github. Good luck! :smiley:

[2016-10-26 09:12] skaldarnar commented on #2539
Hm, I've created a new translation using Weblate which reported some strange error. The file was created nonetheless (`menu_ar.lang`) but does not show up in Weblate.

https://github.com/MovingBlocks/Terasology/commit/5a011afe0a909f1c774ca5bf0c0771ea5e3242a0

`develop` and `weblate` have been synched before adding the new language.

[2016-10-26 13:10] nickdex commented on #2570
Hey, I would love to work on this. This is my first time contributing to a project so I might fumble with things a bit.
For the issue please check the checklist below
- Fork the repository to local machine.
- Follow steps from this [link][1] to add a new item.
- Base its charecterstics on [Railgun][2].
- Create a crafting recipe for it.
- Do the optional steps.

Any links to helpful pages are appr

[2016-10-26 13:22] skaldarnar commented on #2570
Hi @nickdex the checklist looks good for a start. With the tutorial on creating a new item and the railgun prefab at hand you pretty much have everything you need.

You can start working on it in your fork and open a PR whenever the first steps are done, e.g., you've created a new item based on railgun. Look at other assets for items and tinker around with it. You can update a PR whenever you want

[2016-10-26 16:03] nickdex commented on #2570
That would be pretty good, I didn't know that I could update PR later. Thanks for the info :)

[2016-10-26 17:16] segfault802 commented on #2566
I'd like to implement this.  I'm already familiar with the UI code from working on previous issues and you've made the requirements pretty clear.

[2016-10-26 17:19] rzats commented on #2566
@segfault802: this was actually implemented by #2572 - I just didn't get to closing the issue yet. Sorry for the confusion 🙂

Some similar issues you might find interesting are #2028, #2376 and #2377.

[2016-10-26 17:19] #2566 closed

[2016-10-26 18:45] rzats opened #2575 "Light & Shadow - Implement art assets"
### Description

Light & Shadow (L&S) is one of Terasology's major gameplay modules - a CTF PvE gamemode that has red and black chess pieces waging war against each other in a quirky, Alice in Wonderland-inspired setting, with the player being an independent swashbuckling chesspiece that can choose to join one of the factions or operate independently.

![world map](http://forum.terasology.org/atta

[2016-10-26 19:03] rzats opened #2576 "Light&Shadow - Implement gameplay features"
### Description

Light & Shadow (L&S) is one of Terasology's major gameplay modules - a CTF PvE gamemode that has red and black chess pieces waging war against each other in a quirky, Alice in Wonderland-inspired setting, with the player being an independent swashbuckling chesspiece that can choose to join one of the factions or operate independently.

![world map](http://forum.terasology.org/atta

[2016-10-27 10:46] rzats opened #2577 "Add a button to display the CrashReporter in the main menu"
### Description

When Terasology encounters a fatal exception, a lightweight Crash Reporter application is launched, allowing users to report the error using various methods - upload the crash log to Pastebin or Google Drive, file a GitHub issue and so on.

![Crash Reporter screenshot](https://raw.githubusercontent.com/MovingBlocks/CrashReporter/develop/images/2015-02-05-wizard-page1.png)

However

[2016-10-27 10:46] rzats commented on #1120
Closing in favour of https://github.com/MovingBlocks/Terasology/issues/2577.

[2016-10-27 10:46] #1120 closed

[2016-10-27 11:58] rzats commented on #2552
Closed as completed by #2574.

[2016-10-27 11:58] #2552 closed

[2016-10-27 13:57] rzats opened #2578 "Develop an in-game credits screen"
### Description

Terasology has a long list of contributors and credits, located at [docs/Credits.md](https://github.com/MovingBlocks/Terasology/blob/develop/docs/Credits.md). It would be really cool to have the credits viewable ingame as a typical [closing credits](https://en.wikipedia.org/wiki/Closing_credits) screen.

### Definition of 'Done'
- A new NUI widget, `UIScrollingText`, is created. I

[2016-10-27 20:04] rzats commented on #2558
Fixed by #2568!

[2016-10-27 20:04] #2558 closed

[2016-10-27 23:13] portokaliu commented on #1697
Alright, I don't know how to do this properly apparently, but I added a PR on the module's side https://github.com/Terasology/DamagingBlocks/pull/1 . I'm not exactly sure how to make it seem linked to this one though.

[2016-10-27 23:52] Josharias commented on #2565
Also,  I am not sure if it is just me...  when I am joined to a headless server,  I hit [ctrl] my character starts to vibrate up and down.

[2016-10-28 00:02] Josharias opened #2581 "Switching hotbar item while holding attack button causes an extra attack"
### What you were trying to do

I was trying to switch to a better tool to break dirt while joined to a headless server.
### What actually happened

The game instantly attacked extra each time I switched to a different hotbar item,  not regarding the cooldown time.
### How to reproduce
1. Hold the attack button while breaking a block
2. Mash the 1-9 keys to switch between hotbar items
3. Much exci

[2016-10-28 04:02] segfault802 commented on #2577
I'd like to work on this over the weekend, seems pretty straightforward.

[2016-10-28 08:02] zeokav commented on #2557
Hi! I'd like to work on this. Where do I start implementing this idea?
Also, about the opening UI and continuing to move issue, can't we just drop the auto move state of the character when an interaction screen connected to a block is opened? I have used auto move in a game that I used to play and as far as I remember, opening a menu used to stop the movement.

[2016-10-28 11:27] rzats commented on #2557
@zeokav: you can look into https://github.com/MovingBlocks/Terasology/pull/2544/files which is a PR in a fairly similar area 🙂

You'll need to have a new `BindButtonEvent` bound to `r`, then add a new event to `LocalPlayerSystem` that will start periodically sending move forward events when the button is pressed (and stop when it's pressed again).

[2016-10-29 23:57] segfault802 commented on #2577
I've got the main part of this working.  I put the button to the left of the dev tools button on the pause menu.  Should I add a button to the main menu also?  That was the original goal of #1120 before it was closed in favor of this one.

I did run into an issue with the dependencies which I'd appreciate some input on.  Adding the crash reporter dependency (back) to the engine using the same stan

[2016-11-01 13:13] skaldarnar opened #2585 "Usability of menus on small screens"
### Description

Navigating the menus can become tricky on devices with smaller screens/resolutions. The snippet below shows the create game screen on my laptop. As can be seen, I cannot select the world generator type properly (the game windows hits the bottom end of the screen).

![out](https://cloud.githubusercontent.com/assets/1448874/19890581/f998efe6-a03b-11e6-8d25-c3f3a908639d.gif)

### Def

[2016-11-01 20:22] SoniEx2 commented on #1703
I can make a TODO list for this.

- [ ] Remove CoreRegistry.

[2016-11-03 04:15] Cervator commented on #2585
Old similar issue over at #1627 with some more comments.

We may be looking at two different things here:

* The Create Game screen is getting cluttered. Not *everything* necessarily needs to go inside the framed box and/or we could make it wider (then labels could go on the same line as their interactive widget in at least some cases). Like the sneaky developer tools button hiding in the bottom r

[2016-11-03 21:19] Cervator opened #2588 "Add note on input mappings that are originating from a module"
To help clarify when an input mapping is actually active it would help to mark those coming from a module. This doesn't directly address the problems of issues like #2384 but at least we can try to make people wonder less when they see something on the input screen that doesn't "work" (as the relevant module may not be enabled)

Suggested approach: add a UI element by the name of the input mapping

[2016-11-05 03:54] #2452 closed

[2016-11-05 03:59] Cervator commented on #2578
For a fun little side-comment our adopted project Destination Sol actually has this! Although I'm not sure I would necessarily copy code from there, it was originally written somewhat rushed and is based on LibGDX :-)

[2016-11-05 04:21] Taose opened #2589 "RAM abuse"
**What I was trying to do**

Build an small stone mine

**What actually happened**

After about an hour it causes my system to freeze, the Gnome GUI to reinit and other problems associated with memory theft. Basically, from loading the game onwards there appears to be a continuous albeit steady increase to the actual memory load, even though the internal (F3) says a maximum of 1300MB, the actual u

[2016-11-05 04:21] Cervator commented on #2571
I'm back from some time away and am catching up. Hi @Barteks2x! You may need some feedback from @immortius here as he's the one who added the "regenerating sunlight" *feature* you've encountered here :-)

I believe the reasoning was not wanting to forever need to store details / calculate light sourced from the sun when we added infinite world height. So only keep track over a certain vertical dis

[2016-11-05 04:30] Cervator commented on #2589
Thanks for the detailed report! Seems like a few good leads to go after. I'm particularly curious if SimpleLiquids might be involved, could be interesting to see if the issues recur in a world without it. But at that play length it could be multiple things.

(For easier coordination on IRC @Feralmouse == Enfaru on there for anybody with time to help troubleshoot)

[2016-11-05 12:55] qwc opened #2590 "Crash in multiplayer - chunk loading / rendering null issue, maybe related to dupe chunk loading [$50]"
### What you were trying to do
Running around and harvesting some sand.

### What actually happened
Crash.
### How to reproduce

Goood question, I will update WHEN I am able to reproduce this.

### Log details and game version

Logfile: http://pastebin.com/9z7FQ7UK

Latest unstable locally and on server.

### Computer details
Arch Linux Client, Ubuntu docker image on server.

[2016-11-05 16:29] Cervator commented on #2528
Possible addendum or *very* similar/related issue: the window resizing (now?) also seems to cut out block rendering in the areas the window resized to. Sample screenie (also showing the missing water again):

![terasology-161105122245-1268x776](https://cloud.githubusercontent.com/assets/1063833/20031738/b2d564ee-a352-11e6-95df-aeb04cc756e7.jpg)

Going to the graphic settings and tweaking stuff fix

[2016-11-05 16:32] Cervator commented on #2477
Still happening - Alpha 5 and a half testing and @qwc separately on the same server earlier (noted in #2590)

[code]

[2016-11-05 16:36] Cervator commented on #2590
Renamed the title a bit, this is probably our biggest known crash issue at the moment, although narrowing down the details or reproducing reliably is problematic. It seems to have something to do with duplicate chunk loading feeding into a problem when then trying to render a newly loaded chunk. Documented some more over in #2477

[2016-11-05 16:51] Halamix2 opened #2591 "Resizing not working properly"
### What you were trying to do
Resize window

### What actually happened
window resized but not the "rendering area" (something like #2490 but for blocks)
Skybox and water are rendered as expected
outline is visible on line between rendered zone and empty one (when outline is enabled in options)

### How to reproduce

* Step 1 turn on outilne in graphic settings
* Step 2 resize window before joini

[2016-11-05 16:58] Cervator commented on #2590
Interestingly it may have just happened for the first time *without* a reference to dupe chunk loading, but timed superbly to another player joining the server (another way to cause more chunk loads?)

Oddly the log file got cut at one point a few minutes before the crash, started with a `Terasology-.log` then continued in `Terasology-mmo.to-188.68.52.110-25778.log`

[code]

[2016-11-05 21:10] Cervator opened #2592 "Add engine version to timestamped log directory"
Feature request from @Feralmouse

At present the game stores logs in timestamped directories, one per game execution. If using the same homedir for multiple instances of the game there isn't a super easy way to tell which logs went with which version. Solution: add the engine version (and maybe a build number from Jenkins if present) to the timestamped directory.

## Definition of done

* Rather t

[2016-11-05 22:26] emanuele3d commented on #2591
Thank you @Halamix2 for reporting this. I managed to reproduce it. I'll see what I can do about it.

[2016-11-05 23:39] emanuele3d commented on #2591
While I did manage to reproduce it, it took me a while to reproduce it reliably. For posterity, the steps I found most reliable are:

- Start Terasology in Windowed Mode with Outline OFF
- Go to the Video Settings and turn it ON
- Go to the Main Menu
- Resize the window to nearly full screen
- Load  up a game (everything will be normal)
- Bring up the In-game menu
- Resize the window back down
- E

[2016-11-06 00:12] emanuele3d commented on #2591
This _should_ be fixed in #2593. Can you verify @Halamix2? Or do you need to wait for the change to be merged before you can test it?

[2016-11-06 03:46] Cervator commented on #2591
Hey @Halamix2 could you confirm with the latest build or the `develop` branch and reopen this if not fixed?

Keep in mind #2528 and #2490 are separate issues and still valid, just concerned about the outline shader here (and any incremental improvements to resizing in general)

[2016-11-06 03:54] Cervator opened #2594 "Crash on 'e' clicking an assembly table in JoshariasSurvival as a client only game"
Noted during multiplayer testing. Harvest some wooden trunk blocks, craft an assembly table, place it, attempt to `e` click it.

Works fine as a server/client instance run locally (and in single player). Works fine if the client-only instance opens an assembly table crafted and placed by the host. Crashes if the client-only instance is the one to craft, place, and open the table.

Might be a modul

[2016-11-06 16:24] emanuele3d commented on #2591
Shut. I think #2593 actually fixed #2490 rather than this one. Sorry for the mix up.

I did notice some problem with the outline shader (aka Sobel) but I have not investigated it.

[2016-11-07 06:23] Cervator opened #2597 "Certain kinds of explosive/railgun spam can cause math errors (and need a cooldown anyway)"
At first I thought this might be a consequence of #2582 but it *may* just have changed the cooldown mechanics slightly to make it easier to replicate. Or it didn't at all and probabilities just made it appear as such. I was able to replicate with a binary Omega 583 (two days old) after several rounds of effort.

I can cause this issue with either the explode tool or the railgun, but the exact cond

[2016-11-07 06:29] Cervator commented on #2581
Closing as fixed by #2582

[2016-11-07 06:29] #2581 closed

[2016-11-07 06:32] Cervator commented on #2548
Hey @oniatus - seeing the second commit to #2582 made me think about this one, specifically the [second commit](https://github.com/MovingBlocks/Terasology/pull/2582/commits/74cb144fd6bee0ed070959a7cff05bb10965bc1d) by @Josharias where he reacts differently based on authority status. Does that help?

[2016-11-07 07:53] oniatus commented on #2548
Not sure if this helps because it need to distinguish if the event target is the local client or a remote one.

In case one player hosts the game, he should still get the renaming popup for himself because he would be the authority too.

[2016-11-09 09:50] kartikey0303 commented on #2585
![screenshot 149](https://cloud.githubusercontent.com/assets/14962635/20134081/1027e0dc-a690-11e6-82bb-2053aed5f512.png)
![screenshot 150](https://cloud.githubusercontent.com/assets/14962635/20134082/102b2af8-a690-11e6-9748-0c622799019a.png)

[2016-11-09 11:04] skaldarnar commented on #2585
@kartikey0303 The scrollable area adds a lot of value to it. If the "dropup" thing is a bit tricky, I'd be happy to merge it with the applied changes right now and leave a note for later.

[2016-11-09 11:51] portokaliu commented on #2524
Alright, I've managed to find the reason for this specific block having problems.

The block itself can't get a mesh event though the game tries to give it one because the block family doesn't have a meshGenerator, and that in turn is because the it's "invisible". I mean, it makes sense for the "invisible" value to be there ( could be used for other purposes as well [maybe AI?] ), but preventing i

[2016-11-09 12:14] portokaliu commented on #2430
I've discovered the issue with this one.

When processing the client's command on the server, in the `ConsoleSystem` (through which all commands that have "`runOnServer = true`" go), if the command doesn't meet the specific number of parameters `requiredParameterCount` (default 1), the command will not be run at all.

My opinion would be that we should have a min and max number of parameters for o

[2016-11-09 12:41] portokaliu commented on #1619
I've tried separating the commands to a separate HealthCommands class and use that one in a way aking to BlockCommands and everything worked out just fine. (on client as well as host)

I saw the issue is still present, so I'd like to know if you guys think that's a good way to do it or should we find another way? I for one consider it pretty straightforward.

[2016-11-10 06:17] kartikey0303 commented on #2585
@skaldarnar i have made an extra class for UIDropupScrollable and added it to the last drop down of world generator. Currently it is not smart to detect if it should open up or down. How do we calculate the distance from the edge? If i can figure that out maybe we can add the same functionality without a new class. Currently the dropdown in case of World generator always open up because if it open

[2016-11-11 05:45] #2524 closed

[2016-11-11 05:47] Cervator commented on #2430
Closed as fixed by #2600 :-)

[2016-11-11 05:47] #2430 closed

[2016-11-11 05:48] Cervator commented on #1619
Closing as fixed by #2600 :-)

[2016-11-11 05:48] #1619 closed

[2016-11-11 10:42] emanuele3d opened #2601 "Integration of entity-based LightComponents with Light Propagation / Voxel Lighting"
Currently Terasology handle point-like lights in two separate ways, the output of which is combined via shaders.

The first method is somewhat more traditional (fully shader-based) and handles the lighting produced by entity with a LightComponent attached to them. An example of this is the held-in-hand torch of a player.

The second method handles lights placed in the landscape, i.e. torches place

[2016-11-12 21:51] Taose opened #2603 "Chunk (30,0,0) refuses to load"
### What you were trying to do

Effectively I copied the following seed: PZMCjQ4G2JaE2ZNTvVoYs1yX4CuvorhT launched into a new world and headed east towards the islands. Just carried a torch, jumped through the forest. No special speed/ghost or whatever and just carried on. (View Distance is Far, frame rate around 40-60).

Using the minimap I could already see that the chunk failed to load on appro

[2016-11-12 22:48] Feralmouse commented on #2603
**Work Around**

While this won't restore a dead world because the chunks won't reload.... you can mitigate against these events by limiting yourself to View Distance: Moderate/Near until all the chunks you want are loaded.

[2016-11-13 17:41] Feralmouse opened #2604 "Height Map screws up with too large a file"
### What you were trying to do

Basically, I wanted to create a world from my own height map, except, I do thinks on a stupidly large scale, but Cerv says file it, so here we are.

My file is 40,000px wide and 20,000px tall, comprising of over 100MB of data in true PNG format.

Unfortunately, when trying to load a world or game, it causes the entire game to crash even when heightmap is not selecte

[2016-11-13 23:30] engiValk commented on #2531
So, AWT has a huge amount of files and also calls the use of A LOT of different .jar files. Notably the security ones. While from what I've seen it does look fairly safe, its probably not worth the risk, it uses over 2000 files alone. Its very likely something we don't want can slip through the cracks.

I am still working through it to find any holes that I can but it will take a long time, I'd pe

[2016-11-14 11:46] portokaliu opened #2605 "Host Items at (0,0,0)"
What you were trying to do:
I was investigating physics on a client.

What actually happened:
While working on said physics (and items going through the ground), I saw an entity really low in the ground (with the client). After getting there, I saw it was an axe that I tried to collect and couldn't. I changed the item on the host to a torch to also go down and investigate, and now the client saw a

[2016-11-14 19:06] OvermindDL1 commented on #2601
While still having a method to get the light level of a given block?

[2016-11-14 21:55] emanuele3d commented on #2601
Dear @OvermindDL1, your question is obviously very clever but my smallmind just cannot make sense of it in the context of the description of this issue. Would you care to elaborate and give a chance to individuals with lesser intellects  to understand your concern?

[2016-11-14 21:58] portokaliu commented on #2601
I think he might be referring to the method in "WorldProvider"
/**
     * Returns the light value at the given position.
     *
     * @param pos The position
     * @return The block value at the given position
     */
    byte getLight(Vector3f pos);

[2016-11-14 22:14] OvermindDL1 commented on #2601
Precisely, yes, sorry.  Busy day.  :-)

What is that about?

[2016-11-15 00:09] emanuele3d commented on #2601
smallmind: self-deprecating flunked humor - nevermind :smile:

Thank you both for clarifying the concern.

If all lighting goes through the voxel lighting method per-block light levels should still be very easy to obtain: the per-block data will still be there but it will also take in account the input of dynamic lights, which right now I don't makes it into the per-block light levels.

No need to

[2016-11-15 14:51] skaldarnar commented on #2577
You can use `./gradlew dependencies` to get a dependency tree, e.g., `./gradlew :facades:PC:dependencies`. Maybe that helps to find out where the second lib comes into play.

[2016-11-15 21:23] portokaliu opened #2607 "give more than 127 blocks in one command (use multiple stacks?)"
What you were trying to do:
Give myself more than 99 blocks with the giveBlock command with a single command.

What actually happened
The sound of collecting items played, no error was returned and the 999 blocks I asked for were nowhere in sight.

How to reproduce:
* Open console and type "give stone 999"
* Observe no stone has been given.

---
Want to back this issue? **[Post a bounty on it!](ht

[2016-11-16 05:44] Cervator commented on #2377
Related: #2602 was merged so there is a ping command in-game now. Maybe that could be put to use for the latency meter too?

[2016-11-16 05:47] Cervator commented on #2597
Found another way to provoke this, not sure if easier or harder to reproduce. Joined the unstable Docker server (which seems to get sort of server-side laggy so actions take a bit longer) and simply started jumping up at a tree while bashing leaf blocks. After several jumps and maybe ten blocks broken boom:

[code]

[2016-11-16 05:53] Cervator commented on #2585
Bump - hey @kartikey0303 thanks for the work on this, got it online somewhere yet? I would love to get this merged in soon since it would look pretty bad to do a stable release with UI elements jumbled up right on the Create Game screen. Way better if we can fix this first :-)

@skaldarnar Any other thoughts on this one? And dragging in @rzats as well because UI :-)

[2016-11-16 06:55] Cervator opened #2608 "Starting game with wireframe mode left enabled causes a crash"
Didn't notice this while testing #2595 but exited the game with wireframe still active (`F3` then `F9`) then the next time I tried to load the game / start a new world I crashed. That's a pretty rare scenario to encounter anyway - those alternative modes rarely get used and even more rarely are left active when leaving the game then restarting.

One for @emanuele3d to look at I expect :-) I don't

[2016-11-16 10:06] rzats commented on #2585
@Cervator: I left some feedback on this in Slack earlier.

tl;dr: needs some margins (especially on the left), dropup/dropdown switching should be implemented for `UIDropdownScrollable` and, if it doesn't take too much effort, `UIDropdown` as well.

[2016-11-16 10:16] emanuele3d commented on #2608
Was able to reproduce. Hopefully fixed in #2609.

[2016-11-16 10:24] emanuele3d opened #2610 "Refactor Refreshing of Rendering TaskList"
Currently the renderer goes through the list of nodes in the render graph and generates a task list. The task list is iterated every frame and the content of the .execute() method in each task object is what renders the 3D world on screen.

When something changes, i.e. a video setting, one or more  nodes can trigger the refresh of the task list. In some cases the same video setting change can prom

[2016-11-16 21:28] kartikey0303 commented on #2585
Yeah I did the left margin thing. There was less margin because an extra scroll bar was added. Just needed to increase the width of the box. I will also make a semi-transparent like it was earlier. I think the opaque property is because of the scrollable area. Considering the smart dropup and down, it may take some time as I have my exams going on and I am not getting time to fix anything. I will

[2016-11-17 05:18] #2608 closed

[2016-11-17 06:18] Cervator commented on #2531
Thanks for the initial look @engiValk :-)

I would definitely start looking at just whatever Terasology actually uses (project search for `java.awt` ?) then consider whether whatever usage could be whitelisted on its own or has a superior replacement. Then take the big AWT item off the whitelist entirely rather than worry about all that stuff.

[2016-11-17 09:39] skaldarnar commented on #2531
I quickly `grep`ed the occurrences of `java.awt` in the main project (no additional modules). Here's a sorted list of the inputs. If it is not too much hassle, the start import could be removed alongside the whitelist changes.

[code]

[2016-11-17 14:41] skaldarnar commented on #2589
SimpleLiquids is a very *unstable* state so to say. It was an ad-hoc implementation to test water propagation out, but there were no serious attempts on restricting memory usage, etc.
Nevertheless, it's a bit alarming that the memory consumption can escape the game metrics… not good :exclamation:

@Feralmouse if you get the chance to play-test without SimpleLiquids (and/or _only_ SimpleLiquids) th

[2016-11-17 14:55] Feralmouse commented on #2589
Hi @Skaldarnar, that particular world was flat with no water anywhere insight. Does SimpleLiquids get called even if no water exists? That said, Simple Liquids works relatively well, I've had no issues with it.

I have tested the game... in various worlds both with and without the SimpleLiquids mod enabled and I can definitely say that the problem continues. The more I play the more native memory

[2016-11-17 15:09] skaldarnar commented on #2589
@Feralmouse thanks for the report! On the one hand, it's good that SimpleLiquids seems to work fine. On the other hand, that means we have to search for the leak elsewhere....

[2016-11-18 02:19] Cervator opened #2611 "VR support follow-ups and potential extraction of the VR Provider eventually"
There is no rush on this but I wanted to record it all as future reminders.

@IndianaJohn did a great amount of work in #2479 adding support for OpenVR, and embedded it into Terasology for the time being. It could live as an external library with some pros and cons.

He's got a repo over at https://github.com/indianajohn/jopenvrwrapper

* `OpenVRProvider.java` uses `com.sun` packages which is disc

[2016-11-18 09:02] tdgunes commented on #2611
Thanks to a friend who came to visit me, I received my OSVR kit. I spent two nights to make it working 😱, however still experiencing some issues with SteamVR(OpenVR) support (screen is upside down, extended mode only, wrong feedback and orientation). It might be because of my poor GT650m's performance is not enough for direct mode. (Minimum expected GPU for HDK 2 I suppose is GTX970.)

As far as I

[2016-11-18 16:28] Cervator commented on #2611
Hey @tdgunes good to hear from you and that the headset got to you at last! Have you let our OSVR rep know? He might be able to help with those issues as well :-)

From playing with the Oculus early on those issues sound very familiar. Lots of experimenting with direct and extended mode, per app, to figure out what worked with the correct orientation. Early on it was mostly extended mode that work

[2016-11-18 23:07] MaxBorsch commented on #2293
@Cervator If they were to be completely unified, in which Commands.java file should the new `give` command be? ItemCommands, CoreCommands?

[2016-11-18 23:21] skaldarnar commented on #2293
@MaxBorsch I think `ItemCommands` fits the purpose better. Maybe we'll find a better name for it, the `giveItem` command seems to be the only thing implemented there. One could argue that the hand-held blocks are items of sort, so that should be fine.
There's always the option to change things later 😉

[2016-11-20 03:13] indianajohn commented on #2611
Just replying to state that I've read the above and have them in mind. I plan on staggering functionality-improving updates with cleanup-style updates.

I just played Doom 3 VR for 30 minutes, and had to stop due to motion sickness. This got me thinking about locomotion in VR. I have some ideas I might play with over the weekend in addition to maybe looking at some of these issues.

[2016-11-20 04:14] Feralmouse opened #2614 "Game Save System Request"
Technically not a bug, but it'd probably a) help with replicating bugs and b) prevent people from rage quitting every time some bug destroys their world.

I propose that, instead of automatically overwriting the autosave, that after x time, such a save is copy archived into the users local save directory (wherever that is). Allowing multiple saves to exist. Such that, in the event of a bug happeni

[2016-11-20 05:15] Cervator commented on #2611
One thought, even if not very novel at this point, would be linking this to the Rails mod to handle locomotion quite literally via locomotive :D Since the steady vantage point of being in a vehicle typically seems to help. Whether it is a full roller coaster (which can lead to some other discomfort!) or just a simple bit of playing with trains just for the simple experience.

(Pinging @SkySom @pol

[2016-11-20 11:29] DJspy109 opened #2615 "Crash on launch"
Log at http://pastebin.com/8CzSHUsh

I run Arch Linux x64, the crash occurs on the latest builds of both stable and development, whether installed via the AUR or the official launcher.

My GPU is an RX480, running the AMDGPU driver, with the additional proprietary blob (AMDGPU-PRO). If it matters, I use i3wm as my window manager. I appear to be using OpenJDK8 as the Java VM, with OpenJFX installed

[2016-11-20 11:37] skaldarnar commented on #2615
Hey @DJspy109, thanks for the report.

Unfortunately, I cannot view the log file on pastebin (has been removed). Could you re-upload it please or post it as code snippet in this issue?
In the meantime I'll check it out on my Arch Linux 😉

[2016-11-20 11:51] DJspy109 commented on #2615
http://pastebin.com/yR41F9Jp

Here you go, think I might have gotten flagged for spam by pastebin and forgot to do the captcha.

[2016-11-20 12:18] skaldarnar commented on #2615
As the log states, this is an issue with GPU - although that used to appear on integrated graphics on laptops... Your system should be able to run the game without a hassle, so we should investigate it more.

I have to ask if your GPU drivers are up to date, just to make sure. Java 64-bit is newest, and the game starts nicely on my own Arch machine with OpenJDK.

Pinging @emanuele3d @immortius @ms

[2016-11-20 13:23] emanuele3d commented on #2615
@DJspy109: the log ending as it does on that line really hints to some kind of problem with the GPU or its drivers. I confirm making sure the drivers are up to date has helped in some circumstances, as skaldarnar suggested, but not always.

Are you sure your system is using the RX480 instead of an integrated GPU? If an integrated GPU exists on your motherboard Terasology might be trying to use tha

[2016-11-20 13:42] DJspy109 commented on #2615
I'm certain I'm running from the discrete GPU; the onboard graphics are disabled from the BIOS, as well as the display being plugged into the RX480. Uninstalling AMDGPU-PRO appears to change nothing, the game is still not launching.

The drivers are definitely up to date now, I just reinstalled to check as well.

The relevant output of `lspci -v` is at this link: http://pastebin.com/xYKT8JJk

This

[2016-11-20 13:58] emanuele3d commented on #2615
Sure, if you have time and will, please do.

From my perspective the problem is that we have no error message to go with. The line where the log stops is the line where the OpenGL context is created. When the context is created we do some GPU/drivers checks to identify potential issues before we start the game proper, but without the context it's like trying to find something in the dark. So, righ

[2016-11-20 17:47] Xadrax opened #2616 "Mirel"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39398520-mirel?utm_campaign=plugin&utm_content=tracker%2F5279&utm_medium=issues&utm_source=github)** We accept bounties vi

[2016-11-20 17:48] Xadrax commented on #2616
Good

[2016-11-20 17:48] Xadrax opened #2617 "Mirel"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39398541-mirel?utm_campaign=plugin&utm_content=tracker%2F5279&utm_medium=issues&utm_source=github)** We accept bounties vi

[2016-11-20 17:48] Xadrax commented on #2617
Good game

[2016-11-20 17:48] #2617 closed

[2016-11-20 17:49] Xadrax commented on #2617
,

[2016-11-20 17:58] DJspy109 commented on #2615
Reinstalled Arch in a separate partition, and the issue occurs. Still using AMDGPU, and it fails in both i3 and KDE, so I don't think there's an issue there. This is the only log in the logs directory under ~/.local/share/terasology/logs. Running from the terminal produces the same logs, but inside the terminal itself. `lspci -v` produces the same output as before.

It also appears that AMDGPU is

[2016-11-20 18:55] #2616 closed

[2016-11-21 01:24] MaxBorsch commented on #2208
Could I get this assigned to me please?
Animated Particles 👍
![text](https://media.giphy.com/media/3o6ZsXiuktbeJIJI6A/source.gif)

[2016-11-21 07:15] msteiger commented on #2208
Hi Max,
apprarently I cannot assign you until your first contribution. Go ahead and start - we will do that later.

[2016-11-21 10:07] Feralmouse commented on #2615
@emanuele3d would it be worth going through the code and adding in more relevant checks and outputs for the errors, submitting it to the dev version and then rapid testing that? It's not as though we need the game up and running, just getting through the basics.

Speaking of which...does the dev version have the same error?

[2016-11-21 13:19] emanuele3d commented on #2615
@Feralmouse: the problem lies in what "relevant checks and output for errors" means. If you look at LwjglGraphics.initDisplay() there are plenty of opportunities/checks for the code to generate an exception and report it in the output. The problem is: it fails silently and I don't know why.

I will double-check what would be the next line of output to see if there is any other part of the code tha

[2016-11-21 17:40] DJspy109 commented on #2615
Yep, can confirm. Both stable and development builds crash on load, through the official launcher or via the AUR. Looking at the code, it appears (to my very basic Java skills) that the failure occurs at line 221 in [LwjglGraphics.java](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/engine/subsystem/lwjgl/LwjglGraphics.java), as XTitle doesn't report th

[2016-11-21 20:52] emanuele3d commented on #2615
Thank you for suggesting an area for further debugging @DJspy109. That area however is within a try/catch block, so I don't understand why something in there can fail without triggering an output-producing exception.

Pinging @immortius, @flo and @msteiger for ideas.

Meanwhile (but this would be going the extra-lightyear rather than the extra-mile) one thing you could do is to get our [developer

[2016-11-22 05:01] Cervator opened #2619 "Alpha 6 release - QA and module changes"
Trying something new: an issue specific for releasing a new stable build, configured as a ZenHub Epic, so we might have a way to link to all issues/PRs in the module ecosystem, which has been a lot harder to document for releases.

An additional thing to start doing is formal QA for releases, which also has a potential tie-in with Google Code-In, but more on that later.

Marking as "Blocker" since

[2016-11-22 06:14] Cervator commented on #1697
PR in DamagingBlocks is now merged! Technically this issue is now complete :-)

I might drag this into Alpha 6 and close it, but suspect we have some loose threads to make follow-up issues or suggestion threads for.

Hi everybody!

[2016-11-22 11:30] tdgunes commented on #2611
@Cervator How about doing a top-down creative mod? Drawing rivers, mountains and etc. That would be really interesting, think about combination of [Tilt Brush](https://www.tiltbrush.com/) and Terasology. (Sorry but it'd probably work best with HTC Vive's controllers.)

For giving you an idea about what I am thinking, please check this [red alert remake for HTC Vive](https://www.youtube.com/watch?v

[2016-11-22 12:25] skaldarnar commented on #2615
@emanuele3d indeed, that's interesting. [`setDisplayModeSettings(…)`][1] again contains a try-catch block which, at least, show the occuring error. It seems like there is some hard crash escaping Java, thus, the catch blocks ar never reached.

@DJspy109 If you could check out the issue when run from source as suggested that is highly appreciated. Don't hesitate to ask questions here (or on IRC, Fo

[2016-11-22 13:08] emanuele3d commented on #2208
I'm thinking we should probably make an Epic of particle improvements.

[2016-11-22 15:02] skaldarnar commented on #2611
Side note: we have "smooth" movement modes which turn of the bobbing. The cinematic mode was originally intended for smooth camera motion, but maybe that also helps with VR…

[2016-11-22 15:04] skaldarnar commented on #2539
Arabic is addad, although not translated yet. Closing.

[2016-11-22 15:04] #2539 closed

[2016-11-22 15:13] skaldarnar opened #2621 "Improve Weblate translation"
As pointed out by @tdgunes the English _placeholder_ strings copied over from the default language files suggest a finished translation to weblate. Even if all strings are marked as **fuzzy** it is presented as a complete, but fuzzy translation.

### Definition of Done

- A newly added language shows up as 0% translated in Weblate
- Adding a language should be possible through the weblate interfac

[2016-11-22 18:38] Cervator commented on #2621
This might be great timing for http://weblate-testing.terasology.net/ to be floating around, since we can test in a different branch and on a different Weblate, just so we don't bowl anything over or get any sort of mess in the main history :-)

@qwc might be playing with that server at times, but he's usually around on IRC or Slack to coordinate with.

[2016-11-23 01:52] Taose opened #2622 "Block scrambling - something causes blocks to change shape/texture and function"
### What you were trying to do
Play.

### What actually happened
Blocks became different shapes...

### How to reproduce

I can't replicate it reliably and I have no idea what's causing it, but it happens often about every ten hours of gameplay or so. I've booted numerous worlds and it's not always shapes that cause it. Sometimes hitting the wrong thing can cause the scramble...and it usually affe

[2016-11-23 08:22] qwc commented on #2621
"might be playing". Yep, currently down. :P

[2016-11-23 09:25] portokaliu commented on #2622
I can confirm this happens. Did get the issue a couple of times while trying to get a module going. The blocks that change don't just have the shape or texture changed, but their function as well (had blocks of lava turned into ladders, and climbing them was possible. Placing lava blocks after it happened was just placing ladders.

[2016-11-24 06:22] Cervator commented on #2622
Thanks for getting an issue on this started @Feralmouse

Now that's interesting. IIRC past issues like this have been purely texture related (scrambled block tile atlas / interactions somehow?) - I have seen the sea turn into all TNT, but none of it would `e` click. Same with stuff turning into torches which murdered the framerate but didn't affect lighting. Both of those were long ago though.

[2016-11-24 06:27] Cervator commented on #2615
Thanks for the report and keeping at it @DJspy109 :-)

FYI the `debugEnabled` you found in `config.cfg` is a debug overlay rendered in-game that provides a bunch of extra info about the running game. Doesn't affect logging and doesn't help you much since you can't get to that point.

Log *level* is changed elsewhere but indeed would rely on there being something more to log in the first place.

[2016-11-24 13:58] skaldarnar commented on #2208
There you go @MaxBorsch 😃

We are waiting in suspense for your work on this! Btw, head over to our [forums](http://forum.terasology.org/) and leave an introduction there :wink:

[2016-11-24 18:14] MaxBorsch commented on #2208
So I'm trying to salvage and revive all of Linus's work on this, because the way he did it is pretty much what I was aiming to do, and so I have a question on prefabs:
How can I spawn two entities with one prefab, and have one of the entities reference the other in a field? Is there a way to make the entities separate prefabs and have one prefab reference the other?
Here is what I need (emitter fi

[2016-11-25 00:20] MaxBorsch commented on #2208
**referring to the above post**
I figured the best way to handle the above problem was to merge system and emitter, since the system implementation could only have one emitter, so it might as well **be** the emitter and simplify the whole thing down for developers using particles. Essentially it's a change from Unreal E's method to Unity's method for particles. It's more important for particles to

[2016-11-25 09:23] emanuele3d commented on #2208
Hmmmm... there is a balance to be struck here.

On one hand you intend to work on this issue. We are grateful for this and even just simplifying the code to make more explicit what is a de-facto the way it currently works, such as particle systems being compatible with only one emitter anyway, makes sense.

On the other hand there's the longer term view. Architecturally particles have three main a

[2016-11-25 10:10] portokaliu commented on #2208
If I may add a request for improvement we have been running into some log spam issues when hosting a server with one or more clients on them. This spam was due to the particle entities being sent across the network so that the other side could interpret them as well.

Regarding this, changing the way the particles are sent would be a great improvement. Emitters would be the only ones that should b

[2016-11-25 10:58] Cervator commented on #2208
And finally (Hi @MaxBorsch!) the idea of multiple entities per prefab has come up before, even if it may not be needed here anymore. I am unsure if it is included in @immortius' current work on extracting out the game's entity system into the standalone library Gestalt.

Welcome to the project and let me/us know if you'd like a Slack invite sometime, particles were flying around in there just earl

[2016-11-25 13:45] emanuele3d commented on #2208
@portokaliu: thank you for bringing the network/multiplayer angle to discussion. I am not familiar with those aspects but what you are saying makes perfect sense: there is no need to send actual particle data across the network. What need to be replicated are just the entities that generate those particles.

That been said I can see a potential issue with this. Say there's an industrial chimney. T

[2016-11-25 14:02] portokaliu commented on #2208
@emanuele3d Thinking about your example, I couldn't help but think of workaround or functionalities that would work with it :D

Unless the industrial chimney would be aimed diagonally (move outwards from the chunk it's in), as long as the chunk is loaded we can have the generator keep track of the time it was started. Following this, whenever we reload it, we generate the particles for the whole l

[2016-11-25 17:51] MaxBorsch commented on #2208
@Cervator A Slack invite would be nice, thanks :)

@portokaliu About the chimney problem, similar to how you describe the solution, Unreal Engine handles this by allowing you to give the system a `warmupTime` and when the system is loaded it quickly runs updates on it to simulate that time passing. That way it's up to the developer how they want it to work.

Why would you need to load the chunk ab

[2016-11-25 18:40] Tropid commented on #2591
While I'm trying to go through the code base I took a look at this issue. I can reliably reproduce the problem, but in my case, a black border appears. So if my window has a size of 1276 pixels and I rescale it the viewport for the whole world stays at 1276. The HUD though scales up.

After some debugging, I noticed that there is at least one `SetViewportToSizeOfTask` which still has the old windo

[2016-11-25 19:21] portokaliu commented on #2208
@MaxBorsch If you descend from above the chimney and the chimney block would have a smoke stack reaching the chunk above it, if you only have the chunk above the chimney chunk loaded you will see no smoke (by what was said)

If you want other players to see particle beams and such without them having the chunk where the particle emitter starts (be it player or block) loaded, these chunks would not

[2016-11-25 19:37] MaxBorsch commented on #2208
@portokaliu I see what you meant about the chimney. That is definitely not an easy problem to tackle :|

When I said particles are not individual entities I added "(in linus's system)", which is the new system we are talking about that Linus created and I am editing. In it, there are no individual particle entities or even objects, rather all the particles are stored in a ParticlePool, which conta

[2016-11-25 20:10] Cervator commented on #2594
Turns out after some research by @portokaliu that this closely relates to https://github.com/Terasology/JoshariasSurvival/issues/15 which is one of the few bugs I've submitted in a module tracker thinking it wasn't engine related ... and of course it turns out to be ;-)

There's a null check missing in a place that causes the crash, a few other similar places do have a null check which is then wha

[2016-11-26 03:02] keturn commented on #2594
I'm going to take a stab at clarifying DefaultMachineWindow to make it harder to run into an NPE, but this is still a good question:

What that makes me think of is an error-handling mechanism in the mainloop that logs/reports the error instead of crashing the client.

There's a hazard there of maybe getting part way through the update, erroring out, and then leaving things in an inconsistent stat

[2016-11-26 05:08] Cervator commented on #2208
@MaxBorsch I need an email to send the Slack invite to :D Usually I just grab the email people use for forum registration but I don't think I see an account for you in there yet? Alternatively just get an email to me in some way, I'm not hard to find :-)

On particles yeah I've seen that problem in other games, at least one recently but which one escapes me (ARK? Every time I turn away from someth

[2016-11-26 07:46] MaxBorsch commented on #2208
@Cervator Funny story about my forum account, when I was signing up, I didn't realize how small of a community this was, and entered a silly name, expecting to see some "Username has been taken" message or a confirmation, next thing I know, my account name is "Developer" :P Sorry in advance for any confusion this causes.

As for the particles, a registry of subscribed systems like you described wa

[2016-11-26 14:55] emanuele3d commented on #2208
Hmmm, lots of issues here up for discussion but I think we are making good progress, at least conceptually. Let me comments on a few specifics:

@portokaliu said:

Ok, above I broke down particle systems, from a functional perspective, into:
- how do they start (the job of the emitter)
- how do they move (the job of fields and forces)
- how do they look (the job of the renderer)

In practice howev

[2016-11-26 15:45] MaxBorsch commented on #2208
@emanuele3d Oh no you misunderstood Linus's system. Its broken down into the components you described pretty much exactly and organized, there is a particle pool for each system, different particles are not in the same pool.

[2016-11-26 16:01] emanuele3d commented on #2208
Ok, then I'm certainly looking forward to a PR about it. ;)

[2016-11-26 16:07] MaxBorsch commented on #2208
Coming soon, just gotta get it working right with the new Tera and make sure multiple emitters works.

[2016-11-26 21:13] Cervator commented on #737
Closing this as @xrtariq2594 recently overhauled Potions and some related modules. Done!

[2016-11-26 21:13] #737 closed

[2016-11-26 21:17] Cervator commented on #1852
Sending this @portokaliu's way since it still seems active yet closely relates to some of the physics stuff around dropping/throwing things. I figure as a default anything dropped should have a slight (slight!) bit of random impulse added to it.

As a good example compare grass drops in Core to JS. In Core the actual billboard plant drops but has a random impulse added to it so it shoots off into

[2016-11-26 22:46] Cervator opened #2628 "NPE crashing client on attempting to join headless server running MedievalCities"
While setting up a test server to check out MedievalCities I found that upon attempting to join the seemingly working server I would crash with a failure to get a working `delayManager` in `BlockBufferSystem` from `DynamicCities`

Wondering if this was due to #2336 I tried to switch it around to where I attempted to get the `delayManager` from the `CoreRegistry` instead but no luck, still just got

[2016-11-26 22:51] MaxBorsch commented on #2208
Here's a quick overview of the particle system structure:
[Particle Diagram](https://sketchboard.me/lAdRuLvOAhao#/)
^^ Please look before continuing to avoid confusion

Currently there are no force fields as we haven't really discussed them and I'm not sure how everyone wants them implemented.

Another thought I had: Force fields should have "target types" and/or a "layer", and particle systems de

[2016-11-27 02:09] emanuele3d commented on #2208
Thank you for the diagram: it's very useful.

Some questions and notes:
1. What would be the responsibilities of the particle system manager?
2. Particle updaters: I suspect there should be a 1-to-1 relationship between updaters (probably inheriting from UpdateSubscriberSystem) and affectors components. I.e. a NewtonianForceUpdater would iterate over all entities containing a ParticleData componen

[2016-11-27 05:15] MaxBorsch commented on #2208
Thanks for the suggestions @emanuele3d .

1. Particle System has a little red System label next to it to signify it's an "actual system"(with @RegisterSystem) as defined by the wiki here. It's job pretty much exactly fits the description of a system on the wiki, it handles events from particle system components (which are not "actual systems" with @RegisterSystem), such as adding/removing them, an

[2016-11-27 19:34] #2594 closed

[2016-11-27 20:01] Cervator commented on #2628
I managed to fix this, huzzah!

https://github.com/Terasology/DynamicCities/commit/7fcd9a9d8faa16753919aa692ad16901c8ae7dad

Pinging @skaldarnar and @CptCrispyCrunchy for reference.

[2016-11-27 20:01] #2628 closed

[2016-11-27 20:10] Cervator opened #2629 "Follow-up to #2625 - broken unit tests and entity behavior confirmation"
#2625 "fixed" the cause for a lot of `NullPointerExceptions` around interaction screen bearing blocks (like the assembly table in JoshariasSurvival) and who knows what else in some multiplayer scenarios. However, it also broke a few unit tests and could lead to unexpected behavior in some other cases.

For now I merged it prematurely as I need to get Alpha 6 released already, particularly with Goo

[2016-11-27 22:12] MaxBorsch commented on #2208
Finished up adding support for multiple emitters per system. The updater now balances out the pool so that each emitter gets a partition of the system's particles.
Here's an example image below, the red outlines show systems, the blue circles are emitters. In the system with only one emitter, the emitter is able to use all 500 of the particles in the system. In the system with lots of emitters, th

[2016-11-28 01:06] Cervator commented on #2208
Oooooohhhhhh .... shiny! Or explodey. Looking forward to it! :-)

Sketch looks cool, but as a mere mortal I'm just curious if I can attach a single component to an existing entity and tadaa particles? So if you wanted a gelatinous cube to be sparkly just attach `SparklyComponent` after having initialized it with a bit of config?

[2016-11-28 01:27] Cervator commented on #2629
Also wanted to throw in a link here to https://github.com/Terasology/JoshariasSurvival/issues/15 on the double `e` click issue, since it might not be in the right repo but was kinda-sorta related to the PR that spawned this follow-up.

Unsure if they relate functionally at this point.

[2016-11-28 02:25] Cervator commented on #2629
Maybe interestingly this appears to be specific to either multiplayer and/or JoshariasSurvival. I left a game running Core from source for about an hour and its memory usage was stable and low.

[2016-11-28 02:33] Cervator commented on #2607
Interesting! Apparently 128 is the magical number (and a familiar one at that) where it no longer works. `give stone 127` not only works but gives you a single stack of 127 stone despite the max size being 99. Or at least that's the size at which we'd split into a second stack.

Probably this has something to do with `BlockItemFactory` line 71 where the quantity is cast to a byte (which is what `s

[2016-11-28 02:36] Cervator commented on #2293
Closing as completed by #2613! Thanks @MaxBorsch :-)

[2016-11-28 02:36] #2293 closed

[2016-11-28 02:40] Cervator commented on #947
Closing this as outdated. The exact ideal definition of blocks vs. prefabs is still somewhat unclear, but it isn't being actively worked on nor an obstacle or part of a plan. Probably better to wait till a point in the future after `gestalt-entity` has been extracted to see how the world looks like then.

[2016-11-28 02:40] #947 closed

[2016-11-28 06:06] portokaliu commented on #2629
It's most likely the server having to send entity data continuously since the client wouldn't detect them as existing the first time around. The condition that would spam the host wouldn't be spamming the client so much, but about 1-2 times a second. After having placed 2 machine blocks next to each other though, it started heavily spamming (and I started seeing the EntityRef numbers climb way hig

[2016-11-28 06:09] portokaliu commented on #2607
I was thinking the latter would be the more efficient case, having the command also look through the inventory to check if there are free spaces to put blocks (which I think it already does). Filling the inventory with blocks doesn't sounds like a bad idea (especially if we use it like in minecraft to `give 46` :> )

[2016-11-28 06:12] Cervator opened #2630 "Likely native memory leak while connected to a headless JoshariasSurvival server"
I left my PC alone for about 2.5 hours while connected to a test server running JoshariasSurvival. Was very recent (build from today - Omega 602ish) and the server was put together from scratch on DigitalOcean.

![windows task manager_2016-11-27_17-57-34](https://cloud.githubusercontent.com/assets/1063833/20657066/fe2b083a-b500-11e6-92d8-ab5fdad0dcd7.png)

By the time I got back the game was still

[2016-11-28 06:17] Cervator commented on #2619
Releasing Alpha 6 so closing this now. Ambivalent about the approach. I think we need it for test plans but it is a bit of a pain either using ZenHub to link to module issues/PRs or manually trying to do so.

[2016-11-28 06:17] #2619 closed

[2016-11-28 06:31] MaxBorsch commented on #2208
@Cervator Currently you can do that with two components, there always has to be a ParticleSystemComponent and at least one ParticleEmitterComponent. Nothing is preventing you from attaching both to the same entity.

To make it more comfy, I think what I'll do next is create a ParticleFactory to handle all the system/emitter nonsense and allow mortals to retain their sanity. So you can just pass an

[2016-11-28 11:43] emanuele3d commented on #2208
Thank you @MaxBorsch for the additional clarifications.

Alright then. Let's see the code. Looking forward to it!

[2016-11-28 15:40] OvermindDL1 commented on #2619
If you were just using ZenHub to track and link the issues together like this, perhaps the newly added [Projects](https://github.com/MovingBlocks/Terasology/projects) tab in this project might be a better place to put new ones that do not require plugins?

[2016-11-28 18:08] Tropid commented on #2605
I'd be interested in working on this.

[2016-11-28 18:58] Tropid commented on #2605
As far as I can tell the wielded items are not visible to other players at the moment?

So the host wielded item is incorrectly replicated to the clients.

[2016-11-30 05:11] Cervator commented on #2619
@OvermindDL1 I've thought about trying out Projects, yeah, but it sounds like they're solely part of the single repo, unlike ZenHub (or Waffle.io)'s ability to do cross-repo stuff :(

I suspect GitHub itself will probably get there sooner or later. I just want it to work nooowww :D

[2016-11-30 08:28] rzats commented on #2028
Closing as implemented by #2631.

[2016-11-30 08:28] #2028 closed

[2016-11-30 15:29] OvermindDL1 commented on #2619
Hehe, I know how that goes.  If only github/gitlab/bitbucket/etc... would all settle on one git-based storage like that, then we could expand it easily.  ^.^

[2016-12-03 17:49] eviltak commented on #2610
@rzats I'd love to take this up as part of GCI if possible.

[2016-12-03 21:17] nihal111 commented on #2590
A crash that happened on a multiplayer test game may be related:
http://pastebin.com/uxBNcexD

[2016-12-03 22:21] DJspy109 commented on #2615
Sorry for taking so long to respond, I've had a really busy week.

Assuming I'm running it correctly from source (via `./gradlew game`), the issue is still present. No other information is given in the terminal than what was already given from the Error Log.

Running from a Kubuntu LiveCD reveals yet again the same problem, so I think there's definitely some kind of error between LWJGL and AMDGPU.

[2016-12-04 00:27] Cervator commented on #2592
Closing as fixed by #2637 !

[2016-12-04 00:27] #2592 closed

[2016-12-05 09:59] gkaretka opened #2643 "An error occurred while executing command 'showScreen': java.lang.NullPointerException"
### What you were trying to do
I was trying to create new `NUI` module for GCI.

### What actually happened

New UI screen wasn't shown.

### How to reproduce

1. When I fetch `TutorialNui` (`gradlew fetchModuleTutorialNui`)
2. start game (`gradlew game`)
3. In menu select single player, create new Game enabling `TutorialNui` module
4. Open console (`F1`) and type `showScreen EnvironmentInfoScreen

[2016-12-05 11:25] SoniEx2 opened #2645 "Expose @DoNotAutoRegister to modules"
It appears that Terasology has an "internal" `@DoNotAutoRegister` annotation. It was originally designed for tests.

However, such an annotation would be very useful in module code for internal marker components. Take, for example, [`AnEntityComponent`](https://gist.github.com/SoniEx2/9845b9cd44a879bb517961a52ca4fc68#file-freeenodetestsystem-java-L65) (see also #2618).

There is no good reason to

[2016-12-05 15:13] Tropid commented on #2605
I found the reason for this:

As soon as a player picks up an item, the host removes some components from the item and adds the entity reference to the authority inventory. The location component is removed, but not the mesh component. That's why the block is displayed at (0, 0, 0).

The host uses the entity for the `FirstPersonClientSystem`. So just removing the mesh component is not a solution.

[2016-12-05 16:56] eviltak commented on #2601
Do all the entities that use the first method use `LightComponent`? If not, what's the best way to identify these objects?

[2016-12-05 20:36] emanuele3d commented on #2601
@eviltak: I would say the answer is yes, all lights affecting the world via the more traditional deferred lighting rendering path are entities with a  LightComponent attached to them. Notice that if you look at the code related to the MainLight (sun/moon) that only -stores- the light information in a LightComponent but doesn't attach it to any entity. So, that's handled completely separately.

Tag

[2016-12-05 21:06] #2610 closed

[2016-12-06 14:14] eviltak commented on #2601
I want to find the event where the torch is picked up/selected in the inventory (i.e. used as an item), where can I do that?

[2016-12-06 15:23] eviltak commented on #2601
@emanuele3d So we're looking at **_ALL_** entities having a `LightComponent` only of the `POINT` type, correct? I reckon that directional lights won't be simulated well with voxel light propagation.

[2016-12-06 17:00] #2578 closed

[2016-12-06 21:01] emanuele3d commented on #2601
Short answer: yes.

Longer answer: I don't think the current LightComponent implementation makes much sense for directional lights, intended as lights producing parallel light rays, i.e. from astronomical sources. A number of attributes in the LightComponent are really unnecessary for directional class.

I haven't had the time to really look into this and either change it myself or write an issue

[2016-12-07 11:23] iojw commented on #2377
I took a look at this and managed to implement a rough version based on the code from the ping command

![capture](https://cloud.githubusercontent.com/assets/1729493/20965046/1412e798-bcaf-11e6-848c-50250db15b49.PNG)

Opening the socket on the main UI thread appears to make the game slow down and freeze a little bit, so I opened up a new thread for retrieving the ping. Is that alright? If so, it s

[2016-12-07 14:29] skaldarnar commented on #2601
I advice against using components for a different purpose. The LocationComponent should onyl be used for locations, everything else is just confusing. A DirectionComponent might have the same interface and implementation, but it is clear by naming what its intention is.

This sounds like "correct" usage of the components. Just from looking at the PointLightEntity, you can guess that its a light lo

[2016-12-07 16:36] emanuele3d commented on #2601
@skaldarnar: you make a good point about avoiding misuse of existing components. Ok, let's eventually use a DirectionComponent then. Thank you for pointing it out.

[2016-12-07 19:28] rzats opened #2648 "Extend Genome module to include human/animal genetics"
https://github.com/Terasology/Genome/issues/4 sounds like a great potential task for GSOC - moving it here for the label 🙂

_[...] When in nature, the animals would not simply be copies of each other, but each would have unique characteristics. In addition, when breeding captured animals, the player can decide to breed genetically strong animals to yield more strong animals (for labor, food, etc.)

[2016-12-08 03:09] Arjanguglani opened #2649 "Low Resolution Bugs (GCI Arjan Guglani)"
1.
<img width="1143" alt="screen shot 2016-12-07 at 9 55 16 pm" src="https://cloud.githubusercontent.com/assets/11148088/20996028/ac2d9fc8-bcc8-11e6-9fd9-efd523bc335a.png">

2.
<img width="1023" alt="screen shot 2016-12-07 at 9 56 59 pm" src="https://cloud.githubusercontent.com/assets/11148088/20996027/ac2ae9a4-bcc8-11e6-861b-0dd99c39f200.png">

3.
<img width="1021" alt="screen shot 2016-12-07 at

[2016-12-08 11:29] rzats commented on #2649
Thanks for the detailed report 🙂

The first issue is something that was actually fixed fairly recently (#2638) - can you update your workspace to the latest version and try testing it again?

[2016-12-08 14:04] SpaghettiDeveloper opened #2650 "Bugs graphics options menu"
### What you were trying to do

Surfing in the game options, to optimize the graphics engine, and make it lighter to try Terasology latest stable version.

### What actually happened

When the game starts, when you enter the graphics settings, you go back, and then you navigate through the menus, it happens very often that the GUI hangs! disappear the buttons of the options and there remains only

[2016-12-08 14:27] SpaghettiDeveloper commented on #2650
I do not have the requirements to solve this problem, I have experience in the modding with other projects, but I'm not an expert programmer. I'm sorry.

[2016-12-08 16:47] Cervator opened #2651 "Crouching doesn't properly uncrouch in multiplayer"
When crouching in multiplayer everything is fine *if you're the host* - but if you are a connected client and attempt to crouch you sort of get stuck vibrating slightly and rapidly up and down, even long after no longer crouching. Something in the process does not seem to terminate correctly when purely a client. Maybe you get stuck in a crouch/uncrouch loop.

You can "fix" the issue temporarily b

[2016-12-08 17:32] acterhd commented on #2099
Not, not with do... Just newer LWJGL allows newer API.

[2016-12-09 05:31] eviltak commented on #2601
Combing through and testing the code, I reckon it is currently not possible to implement this in an efficient way. The method I've thought of is setting the luminance of the block containing the light position (only the single block for now). But owing to the current voxel lighting architecture using `Propagators`, we have to keep track of the blocks that were changed, unset the changes after ever

[2016-12-10 13:09] smsunarto opened #2655 "Low Resolution Bugs"
![capture](https://cloud.githubusercontent.com/assets/4402697/21073535/c197c95e-bf13-11e6-91ec-2a5e2ca2d444.PNG)
![capture2](https://cloud.githubusercontent.com/assets/4402697/21073537/c1a42776-bf13-11e6-927a-b38187e6014c.PNG)
![capture3](https://cloud.githubusercontent.com/assets/4402697/21073536/c199e73e-bf13-11e6-9f7b-f91b19f6874f.PNG)

### What you were trying to do
1. Edit the behaviour tree

[2016-12-10 16:03] WH1CRT commented on #2655
I also replicated this issue and have experienced the same problem.

Computer Details
Windows 7 Premium 64-Bit
Resolution (1024x768)

- Will

[2016-12-10 16:50] WH1CRT opened #2656 "Error Loading Game"
![screenshot_1](https://cloud.githubusercontent.com/assets/22790918/21074762/b29a6e72-bef8-11e6-960a-659fdb81cf97.png)

What you try to do
- Trying to load the game

 What actually happened
- My launcher stopped responding causing the application to end.

Log details and game version

 Computer details
Windows 7 64-Bit
RAM: 16GB
Processor: i-7 CPU @ 3.40GHz

[2016-12-10 16:51] WH1CRT commented on #2656
I just resolved my own issue it was simply because I had hardly any space left in my primary hard drive.

- Will

[2016-12-10 17:23] iojw commented on #2376
@Cervator: Interesting issue 🙂. Not sure if I understood this issue correctly, but are you referring to how the chat is invisible unless you are typing something? From my tests alone, I did notice that you only see the chat history when you are typing in chat, which could annoying for some.

If that's the case, I think an possible idea to consider would be the leave the chat visible after anyone t

[2016-12-10 18:14] WH1CRT opened #2658 "Unable to run Alpha 65 and load the save file created in 70 Alpha"
What you were trying to do
- Load the oldest version of Terasology Launcher under "Alpha 65"
- Boot up the save file created in version "70 Alpha"
- To play the latest save file in the oldest version of Terasology

What actually happened
- The crash report screen was displayed with a list of what had happen within the application.

![screenshot 5](https://cloud.githubusercontent.com/assets/2279091

[2016-12-10 19:35] #2656 closed

[2016-12-10 19:35] skaldarnar commented on #2656
Thanks for reporting the problem. I left a note on the launcher project to prevent this from happening in the future.

[2016-12-10 22:09] asiekierka commented on #2589
This behaviour implies that the Java heap is fine and the leak is actually happening in native code - usually, this means either OpenGL or OpenAL code.

[2016-12-11 05:31] zeokav opened #2659 "Black screen on changing from windowed mode to fullscreen when playing"
### What you were trying to do
Change a few video settings when the game was running. Switching from windowed to full screen causes the game to display a black screen with nothing else on it.
### What actually happened
As soon as I switch to full screen mode, everything disappears. However, the game doesn't really crash - it's just a black screen. I can still see the game being saved. I am attachi

[2016-12-11 07:17] Cervator commented on #2376
That is exactly it yes. The window is only visible when you are actively interacting with it *or* briefly (as the mini single line chat) when somebody else sends a message. But that fades pretty quick and is only one line of text :-)

[2016-12-11 10:56] skaldarnar commented on #2658
Although the Alpha releases should be backwards compatible, we make not mention about about being _forward_ compatible. That is, a game created with Alpha 65 should work in Alpha 70, but not necessarily the other way around.
Thus, I'm closing this as non-issue.

[2016-12-11 10:56] #2658 closed

[2016-12-11 13:33] emanuele3d commented on #2659
Thank you for the report. We are aware of issues related to any kind of display-resizing, i.e. from full screen to window, viceversa and even just interactively resizing the window. I.e. see #2528. At this stage I believe this problem is connected to those issues. As soon as I have the time this will get fixed.

Meanwhile, the simple workaround is to reload the game or, in the worst case scenario,

[2016-12-11 13:57] zeokav commented on #2659
@emanuele3d Let me know if you need some minor assistance, I'll be happy to help. 😃

[2016-12-11 14:41] emanuele3d commented on #2659
@zeokav: thank you for the offer. Unfortunately this problem has to do with FrameBufferObjects (FBOs) and their regeneration anytime the display is resized. This makes this issue a moderately difficult one to understand even though it might not be overly difficult to fix: it's probably a hard to find/(potentially) easy to fix kind of thing. So, I wouldn't consider it "minor". But of course you'd b

[2016-12-12 22:53] RootG opened #2662 "Values of input bindings cannot be obtained"
I am trying to show values of toolbar bindings on toolbars to improve usability. But I could not find a way to do it without using Config class, which is not available in Core module.

### This is what I am trying to do.
![inventorylast](https://cloud.githubusercontent.com/assets/17679464/21119455/50abc48e-c0cb-11e6-8e4d-ba294a702d6d.png)

I created a new API annotated class in Engine module to ob

[2016-12-13 05:40] Cervator commented on #2662
Yeah config at the module level is still needing some work for sure :-)

Curiously, is the idea here that you want to be able to render a *custom* binding (in case the player changed from a number to some arbitrary key) rather than just enumerate the toolbar slots? Since really just hard coding a display of 1, 2, 3, 4.. on each slot would help in probably 99% of cases, and wouldn't need to check c

[2016-12-13 08:01] marti1125 commented on #2648
Hello @rzats I am really interesting in Terasology could you suggest some issues I could get start.
thanks! I am Java Dev. My idea is to prepare me for participate to GSoC

[2016-12-13 10:33] rzats commented on #2570
(Belatedly) closing as completed by #2640!

[2016-12-13 10:33] #2570 closed

[2016-12-13 10:37] rzats commented on #2648
@marti1125: the issues tagged as [Bite-size](https://github.com/MovingBlocks/Terasology/issues?page=1&q=is%3Aissue+is%3Aopen+label%3ABite-size) or [Mentor-size](https://github.com/MovingBlocks/Terasology/issues?q=is%3Aissue+is%3Aopen+label%3AMentor-size) are great first issues to start with! Alternatively, GSoC project ideas can be found under the [GSOC](https://github.com/MovingBlocks/Terasology/

[2016-12-13 13:17] iojw commented on #2376
@Cervator : Hmm, would it then be better to keep the current behaviour and add a button to toggle the chat history or make the chat history fade out after a certain amount of inactivity (eg: https://youtu.be/VSKGX6yBWgQ?t=15)? Also, it seems the fade out times for the mini chat are hardcoded integers so it should be simple to change those values.

[2016-12-13 13:28] zeokav commented on #2659
@emanuele3d I don't know if this is of any help, but I kinda played with the code around, and figured out that in DisplayResolutionDependentFBOs.update(), the predicate inside the if statement becomes true when the window size changes. When I commented out all the 4 methods that it calls, disposeAllFBOs(), createFBOs(), updateDefaultFBOs(), notifySubscribers(), the game doesn't crash on changing r

[2016-12-13 14:51] marti1125 commented on #2553
Hi @Cervator I would like to work on this. could you give some instructions? please

[2016-12-13 15:30] emanuele3d commented on #2659
FrameBuffers are chunks of memory that the GPU uses to store, for example, images. These could be images used as input to some rendering processes and they could be images that get displayed on screen.

When the window is resized the size of most FBOs used by Terasology needs to match the size of the window. But as FBOs in GPU memory cannot be really resized, the existing FBOs are simply deleted a

[2016-12-13 15:49] oniatus commented on #2553
Hi @marti1125 .
Climbing is handled in the `KinematicCharacterMover.findClimbable`. Likely, that a block with the climable property (see `Core/assets/blocks/Ladder.block` for an example) would work.
`BlockItemSystem` handles the placement of blocks and notifies the inventory item if the event is not consumed (`OnBlockItemPlaced`-event and `BlockInventorySystem`).
`BlockPlacingSystem` does the actu

[2016-12-13 16:08] RootG commented on #2662
Yeah, you are right, it's overkill. I never thought about it that way. I was just trying to get familiar with the source code. I even implemented much more sophisticated approach by enabling/disabling this feature with a console command. :smile:

[2016-12-13 22:23] RepComm opened #2663 "NullPointerException of some kind. I'm new, sorry."
### What you were trying to do
Hitting a Pine tree log attempting to obtain it in all of its woody greatness...
### What actually happened
The end of the stack trace said NullPointerException, so.. (Again, I'm new. I just submitted incase it helps!)
### How to reproduce

* Step 1
Login to 'official Stable' server
* Step 2
Hit some random pine trees
* Step 3
Make it crash on purpose if that didn't

[2016-12-14 12:47] zeokav commented on #2659
@emanuele3d I tried going through the code but I don't think I understand everything that's happening there. Why are the default FBOs updated if you're deleting and recreating all the FBOs anyway on resolution change? Shouldn't this delete and create the default FBOs as well?

[2016-12-15 13:13] iojw commented on #2551
Hmm, seems like you would need to revamp the input system a little bit since it assumes that all binds are single key only. I'm thinking of grouping modifier + key as Input objects and working from there... Will try to work on this 🙂

[2016-12-15 15:59] emanuele3d opened #2668 "FlexibleConfig"
***Introduction***
The current rendering config is a relatively straightforward (if long) Java class with hardcoded video settings and their handling. This includes accessors (get*(), set*(), is*()), but also functionality to subscribe to the config to be notified of changes - to specific values or to the whole config.

This works, but is inflexible. Ideally engine and modules should be able to pu

[2016-12-16 07:06] Cervator commented on #2668
I need to find a little more time to look this over, but my first thought is that it probably relates to the CoreRegistry->Context switch (config in different contexts), adding more config at the world level, being able to modify module config after creating a world, etc. Not that we need to do all the things before we can complete this, just something to keep in mind, even for myself when I get a

[2016-12-16 08:30] emanuele3d commented on #2668
Understood. Ok, let me know if there is any change I should make to the proposed architecture.

Meanwhile I have realized that if the subscribe/unsubscribe functionality is available through the Setting instance we also need functionality to mark a Setting as stale, meaning it is no longer associated with a config. I'm guessing we'll have to move the unsubscribe/subscribe functionality back into t

[2016-12-16 14:17] emanuele3d opened #2671 "Terasology should have layers, like an ogre."
This is a request for a new component type: a LayerComponent. Or a TagComponent, or a LabelComponent. The actual name is one of those things up for debate.

In the context of the rendering engine a LayerComponent would be useful. This component would only hold one (string) information: the layer name. By having a layer component a rendering node can find all entities in a given layer and ignore al

[2016-12-16 22:23] Cervator commented on #2671
Oh, oh, you know what else has layers? Cakes have layers! Nobody needs smelly onions.

My initial thought is that we'd want any sort of renderable component to have layer data in it. Which is where again OOP tempts us to give in and make an `abstract RenderableComponent` that specific renderable things could extend so the base layering stuff is available to all. Temptation leads to the Dark Side.

[2016-12-16 23:32] emanuele3d commented on #2671
Thank you for the feedback @Cervator. If I think about the sky, it might have the following layers:

- background layer - i.e. the Milky way and extra-galactic objects
- deep sky layer - stars mostly, but also other galactic objects such as nebulae
- planetary layer - planets, moons, comets
- atmospheric layer - sky color, meteors, auroras

Effectively the layers we are discussing here, because of

[2016-12-17 18:02] Metatricity commented on #2663
Looks like an issue with the rendering system. I'm not super advanced with OpenGL or anything, but there is a vague description for you.

[2016-12-17 20:11] emanuele3d commented on #2663
Hmmm... no, although it's true this is connected to the rendering engine, this is not an OpenGL thing, so it shouldn't be a matter of GPUs.

It appears the (non-rendering) engine is passing a null object when it should pass a chunk, a chunk being the data structure holding the information regarding a 32x64x32 (blocks) chunk of the world.

I think this is a problem that has come up already and ther

[2016-12-18 06:56] Cervator opened #2677 "Rendering Chinese characters properly in-game may require additional font support"
With #2666 merged we have Chinese translations but they do not render in-game (for instance in the language drop-down. I wonder if that's because there is a whole other Noto font family for that character set: https://www.google.com/get/noto/help/cjk/

If we need that to be able to properly display Chinese we may need to build in the possibility to do a full font swap when changing language. Altho

[2016-12-18 10:52] oniatus opened #2679 "Log error for commands with missing @Sender parameters"
Got a NPE when running the [hungerCheck](https://github.com/Terasology/Hunger/blob/master/src/main/java/org/terasology/hunger/HungerAuthoritySystem.java#L158) command, the client entity was null (tested in singleplayer and local hosted server). This could be easily fixed by adding the `@Sender` annotation to the method parameter. However there is no indication that the annotation is missing.

I th

[2016-12-18 23:26] TheJYKoder opened #2680 "Problems with UI's on 1024x768 screen"
1.
![onlineplayersoverlay](https://cloud.githubusercontent.com/assets/17117557/21296975/605ff6ce-c545-11e6-9cb3-0d2100255d63.PNG)

2.
![migtestscreen](https://cloud.githubusercontent.com/assets/17117557/21296987/78803624-c545-11e6-8fa1-ec1c4adc8738.PNG)

3.
![console](https://cloud.githubusercontent.com/assets/17117557/21296988/7a3c61a4-c545-11e6-84e6-8538fc82b683.PNG)

4.
![waitpopup](https://clo

[2016-12-19 06:23] Cervator commented on #2663
Heya @RepComm - yep this is a known issue, documented primarily in #2590

It happens while the rendering system is active, but has something to do with duplicate chunk loading. Like something that normally happens only once gets queued up twice and then processing is attempted the second time and something fails.

No current workaround is known, but it seems non-destructive - as in, you can join a

[2016-12-19 14:20] emanuele3d opened #2683 "Rendering problem when enabling SSAO on Macbook/HD5000"
This problem was originally flagged up by @indianajohn in PR #2665.  It was introduced in develop with commit ed49bf2. I cannot reproduce this problem on my laptop (Windows 7, GTX 860M).

### What you were trying to do
Turn SSAO (Screen-space Ambient Occlusion) ON in the video settings on a Macbook Air (late 2013) with an HD Graphics 5000 (intel integrated GPU)

### What actually happened
Almost e

[2016-12-19 18:41] Metatricity commented on #2663
I agree. I'll see what I can do to help fix the problem in the meantime.

[2016-12-20 08:15] RootG commented on #2342
I am still having this issue. I don't know what causes this situation. It's very annoying and forces me to clone source code. Sometimes I see this issue even with a fresh copy.

![a](https://cloud.githubusercontent.com/assets/17679464/21342692/ee25e0e8-c69b-11e6-8bc6-fb787a4e4fe6.png)

[2016-12-20 08:39] skaldarnar commented on #2342
@RootG This can happen if the project and/or some module have not been built properly. Usually, this can be fixed (when run from source) by creating the project files again (`gradlew idea`), forcing to compile and build the game, or by force-rebuilding the project from within IntelliJ (or your favorite IDE). The available generators should show up after a restart of the game.

[2016-12-20 20:55] Metatricity commented on #2680
Odd. I've never experienced this before and I ran on a 1024x768 screen, however it was laggy since it was Dell Precision 670 WorkStation server :/

Not exactly your gaming rig.

[2016-12-20 21:27] RootG opened #2687 "Terminate called without an active exception"
Game closes itself right before character appears on the screen. I always see some kind of errors but the game works anyway. However, sometimes I receive another error which causes game to crash.
### Game crashes when I see this error.
[code]

### These are the errors I always see.
[code]
### My system info.
[code]

[2016-12-20 21:48] RootG commented on #2342
@skaldarnar I get ClassNotFoundException when I try to run game from IntelliJ. "git status" says that it's up-to-date. "gradle", "gradle clean", "gradle idea", "gradle game" any of this commands did not solved the problem. I even tried to remove compiled files/jars that "gradle clean" does not remove.
[code]

[2016-12-20 23:11] emanuele3d opened #2688 "SetViewportToSizeOf class equality should be dependent on width/height, not fbo name"
### What you were trying to do
Ensure glViewport is called only if necessary.

### What actually happened
It gets called whenever the FBO changes from one node to the next. Should change only when the width/height dimensions of the FBOs in consecutive nodes change.

### How to reproduce
- Run Terasology, start a game, exit terasology.
- Check log for RENDER TASK LIST: consecutive nodes should have

[2016-12-21 04:43] Cervator commented on #2687
Hi there. Do you by chance have a controller type device hooked up to your system? That seems to be what is getting logged - a failure trying to initialize an attached controller.

If you do does the game run OK with the controller disconnected?

Also, what do you mean with

It sounds a bit like you have two issues, the controller related logging that always appears, and a crash issue that only so

[2016-12-21 04:48] Cervator opened #2690 "Non-fatal exception logged when dropping a blueberry as a multiplayer client"
Noticed this by chance while working on some unrelated testing. I would start up a host player running JoshariasSurvival and join in a pure client player 2. With the client I'd pick a blueberry and try to drop it with `q` - as far as I could tell everything worked and I could pick it up again, but the following got logged:

[code]

This might be related to some of the recent quirks we've slowly be

[2016-12-21 04:59] iojw commented on #2342
@RootG What worked for me when I faced this issue was running `gradlew idea jar` and then rebuilding the project from Intellij if `gradlew idea jar` alone doesn't work. Try and see if it works for you.

[2016-12-21 05:40] Cervator commented on #2342
Hi @RootG - yep that is a different issue where the workspace goes "stale" in some fashion, or hasn't fully built in the first place. We need to find a better solution for the dependency tree to force all modules to build properly in a source workspace.

Inside IntelliJ you can also force the building of specific modules if you're suspicious of their current state by right clicking their directory

[2016-12-21 05:41] Cervator commented on #2659
@emanuele3d: bump :-)

[2016-12-21 14:06] emanuele3d commented on #2659
Sorry for the delay @zeokav and thank you for the bump @Cervator.

It is true that all FBOs are deleted and recreated on resize. However, the call updateDefaultFBOs only updates the references to the FBOs contained in the DefaultDynamicFBO objects, retrievable via their getFbo() method.

DefaultDynamicFBO is an enum class that acts as a wrapper on top of the actual FBOs, as a convenient way to obt

[2016-12-22 07:27] Cervator opened #2693 "Unusually severe crash from simply missing a comma in a prefab array declaration"
While testing a Cooking PR an item prefab had a missing comma between two array elements. Caused a full game crash that even failed to dispose the process - that seems kinda dramatic! Other JSON errors get caught and logged gracefully and just don't work.

To replicate just find some sort of prefab with an array in it, remove a comma between elements inside the `[ ... , ...]`

Error:

[code]

[2016-12-22 15:08] smsunarto opened #2695 "New UI Widget Proposal | Tab"
# Tab Widget

Tab Widget is a widget that allow multiple panel to be contained in a single window. This would make it easier for the user to navigate through menu/interface without actually needing to go back and forth the menu/interface
Reference: https://en.wikipedia.org/wiki/Tab_(GUI)

Concept:
--------

![Concept](http://puu.sh/sXGzz/5e9cfb3f87.jpg)

Example of Usage
----------------
The tab w

[2016-12-22 16:06] emanuele3d commented on #2695
Oh YES please. =D

[2016-12-22 19:19] skaldarnar opened #2698 "Label in "Join Game" screen is broken"
The label under the server list in the **Join Game** screen seems to be broken as it displays the i18n key instead of a proper label. This should be fixed so that the correct message is displayed.

[2016-12-22 21:09] #2698 closed

[2016-12-23 05:54] Cervator commented on #2695
I'll have what he's having!

Also, my memory told me this rang a bell, and sure enough there is *something* over in the MasterOfOreon module about tabbed UI stuff - https://github.com/Terasology/MasterOfOreon

MOO is pretty dated and this point and was barely begun, but it did have a nice menu element. Am not sure how much work it would be to apply any needed tweaks to get it up to speed and made

[2016-12-23 19:48] RootG commented on #2342
@iojw Rebuilding the project from IntelliJ solved the problem. Thank you.

[2016-12-23 20:16] RootG commented on #2687
Nope, no controllers. I unplugged everything from my laptop I still got that issue.

Yep, I have 2 issues but the controller related logging does not crash the game. I am not using any gameplay templates or manually activating additional modules.

I am not sure if the two issues are related. Below, you can see controller related issue which I get all the time. Game worked fine.

I rarely see the c

[2016-12-24 09:18] eviltak commented on #2693
Removing a comma in the `sounds` array of the `Core:railgunTool` prefab does cause the first exception, but does not crash the game. The uncaught `NoSuchElementException` (the source of the crash) is not raised.

[2016-12-24 09:46] eviltak commented on #2688
@emanuele3d @rzats I'd like to claim this issue as part of GCI.

[2016-12-24 12:01] rzats commented on #2688
@eviltak: added this to the tracker 🙂 https://codein.withgoogle.com/tasks/6572021636923392/

[2016-12-24 13:40] eviltak commented on #2688
@rzats thank you. @emanuele3d This change does not bring about any improvements, since persistent changes of type `SetViewportToSizeOf` are removed and the (sometimes redundant if moving to the same size, the point addressed by this issue) reset task added if the next node does not contain a `SetViewportToSizeOf` state change. This can be addressed by doing a value equality check inside `RenderTas

[2016-12-24 14:37] emanuele3d commented on #2688
@eviltak, thank you for taking this task onboard and thanks @rzats for taking care of the GCI-side logistics.

@eviltak: I need you to spend some more time on working on your grammar as what you wrote is not very clear.

From what I understand you want to add an equality check in RenderTaskListGenerator.sameClassStateChangeNotFoundInThe().

It is unclear to me why you think there is a deficiency i

[2016-12-24 17:00] eviltak commented on #2688
@emanuele3d I'm sorry, I wrote that in a hurry and made some slightly incorrect assumptions. The explanation of the problem follows. I will open a PR soon after writing this.

Using dimensions instead of the FBO name while comparing instances of `SetViewportSizeOf` is just _part_ of the problem, which eviltak@a12bab3 addresses. Simply changing the instance comparison method does not solve the prob

[2016-12-24 21:26] emanuele3d commented on #2688
@eviltak, thank you for your effort.

Let me quote what you write:

Generally speaking a state change reset will bring an opengl parameter back to its opengl default or back to Terasology's default. This way the next node doesn't have to add a new desired state change unless it wants a non-default value. So, the code assumes (but does not enforce) that a desired state change sets the parameter to

[2016-12-25 11:54] eviltak commented on #2688
Note that the addition to the code does not remove the intended behaviour, it merely extends it. That is,

is still what would happen.

I'll take an example using `SetViewportToSizeOf` (only considering the dimensions and not the FBO name since it doesn't make a difference) state changes to explain where the existing behavior misses out.

Consider the following nodes with the following state chang

[2016-12-25 23:26] emanuele3d commented on #2688
@eviltak: thank you for your analyses and for the example you make, it certainly makes your thinking very clear.

On the first issue. I agree that in your example state changes 1 to 4 are redundant given that they all match the default. However, the error is not in the reset state changes but in using instances of SetViewportToSizeOf that set the viewport to default values. Those nodes should not

[2016-12-26 05:00] Cervator commented on #2693
Good catch :-)

On the other hand I just got a similar crash with a simple *extra* comma at the end of a prefab component definition.

Prefab:

[code]

Log snippet:

[code]

[2016-12-26 05:54] Cervator commented on #2364
Additional bit of detail: this *may* be instead about letting the game start in the background (which is the case at least for me running from IntelliJ in Windows 8 on my tablet). If I grab the game window before it fully initializes and it loads while the active window the menu music keeps playing after initial startup just fine.

[2016-12-26 07:31] Cervator commented on #2687
On looking a little more closely it sounds like your crash issue is probably related to an interaction with OpenGL and Linux somehow?

http://forums.fedoraforum.org/showthread.php?t=296756

There are other good looking hits that seem to relate to the problem. What I can't say yet is how to fix it, especially since it appears to be intermittent.

Is there anything odd about your video card? I don't

[2016-12-26 16:51] eviltak commented on #2688
@emanuele3d I now understand the real problem, and the scope of this issue. The primary cause of duplicate `SetViewportToSizeOf` state changes is that these duplicates are a duplicate of the default state change, and state changes value identical to the default state change should preferably _not_ be added to the desired state changes list.

As such, the scope of this issue and the related PR #270

[2016-12-26 17:02] eviltak opened #2706 "Use value comparisons instead of reference comparisons in StateChange.isDefaultInstance implementations"
### What you were trying to do
Solve the original problem (i.e. removal of duplicate `SetViewportToSizeOf` state changes) #2688 highlighted.

### What actually happened
State changes which are value identical to the default state change are not being reported as such to `AbstractNode.addDesiredStateChange`, its only caller.

### How to reproduce

* Run the game, load a world.
* Check the logs for

[2016-12-26 17:10] eviltak commented on #2706
This issue is redundant. `StateChange.isDefaultInstance` already exists.

[2016-12-26 17:34] eviltak commented on #2688
The crux of the problem is the `isDefaultInstance` method, which does a _reference_ comparison instead of a value comparison. This problem is (or will be) apparent in all `StateChange`s that can be value identical (i.e. implement a custom `equals` method) and have a default state. As this is out of scope of this issue and #2702, #2702 can be merged for now as it fulfills its purpose, and value equ

[2016-12-26 17:55] Metatricity opened #2707 "I think there should be a new"
deleted

[2016-12-26 17:55] #2707 closed

[2016-12-26 17:59] Metatricity opened #2708 "I think there should be a small addition, maybe I'll make a new mod."
#This is in the main repo since there is no module close enough to have this added in.

I believe that there should be such thing as a Modular Powersuit. The ability to equip a suit, and have the ability of a jetpack and a powerful weapon. Gameplay changes include:

- New textures
- Ability for special armor equipment
- Upgraded Crafting/Workbench Table

I believe the Modular Computers mod should

[2016-12-26 18:07] eviltak commented on #2706
This issue is being reopened with a new purpose.

@rzats I'd like to claim this issue as part of GCI.

[2016-12-26 22:36] Cervator commented on #2706
Heya @eviltak - here you go :-)

https://codein.withgoogle.com/dashboard/tasks/4678651473821696/

[2016-12-27 01:55] Cervator commented on #2557
This feature was made functional in #2647 but I guess I'll leave this open for a bit for additional improvements so we don't lose them (comments in the closed PR aren't very visible.

Will update the checklist in the top comment.

[2016-12-27 06:32] Cervator commented on #2708
Hi @Metatricity - cool suggestion!

The ideal place for this is in the Suggestion forum. There an idea can go through some design, get a potential author, and eventually get moved into the Module forum and have a repo created for it :-)

Mind reposting it over there, including the pastebin link?

http://forum.terasology.org/forum/suggestions.21/

As for the pastebin, keep in mind that we don't use

[2016-12-27 10:45] oniatus opened #2711 "Module jars are downloaded lowercase from server"
### What you were trying to do
Testing the module download from a server

### What actually happened
Module gets downloaded on connect but the jar file is lowercased

### How to reproduce

* Create a new module and build it to a .jar file (`./gradlew jar`)
* Start a new local server with the module activated
* Connect to the server with a different terasology instance without the module on the cla

[2016-12-27 15:07] mjuvekar7 opened #2713 "New UI Widget: The Radial Item Selection Screen"
I am writing this ticket with the intent of proposing a new method to select and organize items in the player's inventory: a radial, categorized menu.

This has been inspired by the radial 'buy menu/wheel' in the game Counter Strike: Global Offensive, where weapons that a player can buy are categorized into different classes (rifles, SMGs, etc) which are displayed on a radial menu. When a user acc

[2016-12-27 18:17] zeokav commented on #2659
@emanuele3d Yep, all clear. I was confused about the references part. Since you're already working on restructuring the whole thing, I'll contribute elsewhere and come back later if another bug pops up!

[2016-12-27 23:42] Cervator commented on #2713
Radial menu is definitely on our wishlist, for years now! So much more potential than just inventory, too :-)

In fact we actually had one, years ago, but the code was never fully submitted or merged. There is a great and long thread on the topic, with one of the message [here](http://forum.terasology.org/threads/mouse-button-behavior.704/page-2#post-6991) including a video preview (other videos i

[2016-12-28 01:43] VaibhavBajaj opened #2715 "New UI Widget: The UI Link Widget"
I am opening this Issue in hope that someone will create a new UI Widget: A Link.

The UILink will be a widget used when people need to input a hyperlink. The widget may have fields similar to [UIText](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/rendering/nui/widgets/UIText.java). The only extra field shall be a "URL" or "link" field which can be use

[2016-12-28 05:21] Cervator commented on #2711
I've noticed this in the past, but does it actually cause any trouble, or is it just cosmetic?

[2016-12-28 06:39] smsunarto commented on #2715
Probably should ask for user confirmation before opening a link, since link in chat could be used for malicious purposes.

[2016-12-28 06:44] VaibhavBajaj commented on #2715
Ah, apologies smsunarto. I gave an in-chat picture but I only meant it to show how a link can be used "in text" (Edited just now). I do not intend this for this widget to be used by the user himself. The user may only access the link which has been written by Terasology programmers themselves. If people were to push code to Terasology with harmful link widgets contained, I am sure their merge will

[2016-12-28 16:32] arpitkamboj opened #2716 "Lower Resolution Scaling Problem (1024x768)"
I found some screens having scaling problems in a lower resolution (1024x768)

![screenshot 86](https://cloud.githubusercontent.com/assets/16421831/21526123/e04e3026-cd47-11e6-84d6-4018338fdaef.png)
createGameScreen.ui

![screenshot 84](https://cloud.githubusercontent.com/assets/16421831/21526218/88325e0c-cd48-11e6-981a-9a126271d8ea.png)
migTestScreen.ui
(Many Problems)

![screenshot 87](https://c

[2016-12-29 08:47] jellysnake commented on #2695
I've completed this over [on my fork](https://github.com/jellysnake/Terasology/tree/Add_UITab).
I just need to do some testing and then I can pull it.

[2016-12-29 13:43] jellysnake commented on #2713
I have started working on this in my fork.

[2016-12-29 13:44] mjuvekar7 commented on #2713
Good luck, have fun jelly! Ask me for help on IRC if you need it. :)

On Thu, Dec 29, 2016, 7:13 PM jellysnake <notifications@github.com> wrote:

[2016-12-29 15:00] smsunarto commented on #2695
Seems good @jellysnake

[2016-12-29 16:08] SoniEx2 commented on #2622
Where are block IDs handled?

[2016-12-29 17:57] smsunarto commented on #2716
The first problem has already been solved #2638
The third one is a duplicate #2655

[2016-12-30 05:17] Cervator opened #2718 "Commands like listBlocks or search may fail if bad data is present"
This will happen if some asset is misconfigured (stray comma, etc) then encountered during command execution for `listBlocks` or `search` probably others as well.

Either we should not allow such an asset to create a "corrupt" asset entry or at least make the commands able to skip them gracefully and finish. Maybe they could list an error in the in-game console that asset `x` or whatever appeared

[2016-12-30 07:56] Cervator commented on #2577
This is completed simply pending time to go and merge #2584 which might involve some tweaking of dependency stuff - been having a hard time even staying on top of that much with the hectic chaos GCI brought us :-)

I wanted to add a note here about https://github.com/MovingBlocks/TerasologyLauncher/pull/392 by @iojw bringing something related to the Launcher, where the main menu ends up holding a

[2016-12-31 04:06] #2706 closed

[2016-12-31 08:21] RootG commented on #2687
Since my purpose is not playing I haven’t paid much attention how the game looks like. I realized that there are really bad graphics issues occurring on my laptop. Even after I close the game my screen rendering is affected by the game.

![screenshot from 2016-12-31 09-56-13](https://cloud.githubusercontent.com/assets/17679464/21576696/dd5d06fc-cf41-11e6-8de2-805ae62b7d83.png)
![screenshot from 20

[2017-01-01 11:31] jellysnake opened #2724 "UI Widget Proposal: Popup/Dialog Box"
A dialog box, for those of you that don't know, is a simple box that pops up and prompts the user for input. This input is often used for conformation that you do actually want to do something.

[2017-01-02 01:54] Cervator commented on #2553
For reference this is effectively complete with the https://github.com/Terasology/Climbables module - we just need to add it to the lineup if @portokaliu believes it is ready to go.

[2017-01-02 03:19] marti1125 commented on #2553
Hi @oniatus I am working on this issues 👍

[2017-01-02 04:06] Cervator commented on #2553
Hi @marti1125 cool to see that you're still around :-)

The base implementation is complete in the Climbables module. Maybe you'd want to check that out, see if it works, and work on any remaining bugs or other improvements?

[2017-01-02 04:44] Cervator commented on #2724
Good call on the "cobbled together" option I was about to say I thought we had some already, but it sounds sensible to have a more reusable one :-)

[2017-01-02 08:48] eviltak commented on #2668
Any update on this? I'd like to take up this issue.

[2017-01-02 13:20] emanuele3d commented on #2668
@Cervator: I just re-read your last comment. In the case of the RenderingConfig I'd normally implement it as a subclass of FlexibleConfig and I'd store its only instance in the main Context. Nodes can then publish their settings on it. Alternatively, as I can imagine it only as a singleton, I'd use a static method to retrieve it with  `RenderingConfig.getInstance()`. Or even both.

I thought brief

[2017-01-02 16:57] smsunarto commented on #2677
Added flag and change localisation file name to follow ISO 639-1 convention #2697

[2017-01-02 17:11] smsunarto commented on #2724
Could also be used in conjuction with #2715 to prevent accidental or unauthorize action.

[2017-01-03 04:20] marti1125 commented on #2553
@Cervator sure!! can you guide me please 👍

[2017-01-03 04:38] marti1125 commented on #2553
I do not how to get start?
<img width="310" alt="captura de pantalla 2017-01-02 a las 23 37 23" src="https://cloud.githubusercontent.com/assets/223240/21600075/8465528e-d144-11e6-87f0-174ebbfdf711.png">

[2017-01-03 07:06] Cervator commented on #2553
You need to add the Climbables module :-)

Be sure you've made yourself familiar with the basics: in the engine wiki, like https://github.com/MovingBlocks/Terasology/wiki/Developing-Modules

In this case you would:

* `gradlew fetchModuleClimbables`
* `gradlew idea`

After a moment IntelliJ should prompt you for a restart, or you can just restart it yourself.

Afterward you should have "Climbables

[2017-01-03 08:33] Cervator commented on #2531
More research posted by @smsunarto over at http://forum.terasology.org/threads/java-awt-whitelist.1741/#post-14374

[2017-01-03 09:41] iojw commented on #2531
Also chiming in with the research I did a while back containing some more potentially harmful classes as well as a breakdown of the usage of `java.awt` 🙂

http://forum.terasology.org/threads/java-awt-whitelist-research.1726/

[2017-01-03 09:43] Cervator commented on #2668
Ideally we would seek some feedback from @flo or maybe @rzats - I think they're more in tune with the whole Context bit. I'm not and keep failing to find the time to really dig in deeper :/

[2017-01-03 10:01] #2688 closed

[2017-01-03 18:01] flo commented on #2668
Well, I haven't thought it through but in general it is better to get a instance of a class from the  context than from a singleton. As you then have the option in future to change it to be not a singleton if we need to.

[2017-01-03 18:07] rzats commented on #2668
Looks like a good idea to me - it ties in nicely with the work done on tabbed UIs (thanks @jellysnake!) as well as making the rendering API more accessible to modules.

@eviltak - feel free to work on this (and ping me if you want it added as a GCI task!)

[2017-01-04 14:03] emanuele3d commented on #2668
@flo: as you wish. Question: could we have a Context.getMainContext() static method? Or should we always  get it through injection? Or in another way? It is sometimes unclear to me where to get the context from.

[2017-01-05 03:47] marti1125 commented on #2553
@Cervator Done!! 👍
<img width="1146" alt="captura de pantalla 2017-01-04 a las 22 37 50" src="https://cloud.githubusercontent.com/assets/223240/21668417/9f66a68c-d2cf-11e6-8048-cefdcad1fe5a.png">

[2017-01-05 03:50] Metatricity commented on #2711
Cosmetic, hasn't caused any trouble for me

[2017-01-05 04:54] marti1125 commented on #2553
Which part of the project I have to modify? :grin:

[2017-01-05 12:35] TheJYKoder opened #2734 "Korean Language Support"
Adding Korean Language Support

[2017-01-05 19:45] flo commented on #2668
@emanuele3d the context should be obtained from whatever created the instance of the class. If available via injection. In cases of static method it would have to be passed in by argument.

[2017-01-06 13:28] TimVerhaegen opened #2740 "UI Widget Proposal: UITextHint"
Hello there

# Write a proposal for a new UI widget: UITextHint

**What is UITextHint?**
Nowadays, people are lazy. They just DON’T want to hover over a UIText to see the tip! To make it as easy as possible for our users to gain important information, we should use a UITextHint! It’s basically a string of text that displays on the UIText (or any other input system), that goes away whenever the use

[2017-01-07 19:10] oniatus opened #2742 "ArrayIndexOutOfBoundsException in NearestSortingList"
Maybe an issue in the sort logic or an issue in the add-remove logic of the list?

### What actually happened
Random Multiplayer Testing with the gci content and NeoTTA with ~6 players.

### How to reproduce

I have no idea :) It occured only once so far.

### Log details
Only this one, all other lines were unrelated (chat events, destroyed entities, multiple chunks loaded)
19:58:01.762 [Timer-1]

[2017-01-07 19:29] oniatus commented on #2742
I changed the logging at the code location a bit. We should get a stacktrace when this hits again.

[2017-01-07 22:38] Metatricity opened #2744 "All graphics become white when switching from fullscreen to windowed"
### What you were trying to do

Play on the Terasology event server

### What actually happened

I played for a little bit and looked around and switched from windowed to fullscreen. Then I realized that I liked it better windowed, on the computer I was on, and so I switched it back. When I clicked BACK, everything was white.

![image](https://cloud.githubusercontent.com/assets/16510596/21745691/f

[2017-01-07 22:39] Metatricity commented on #2744
This might just be for my model of graphics card, but it is stil worthy of an issue :-1:

[2017-01-08 00:05] TimVerhaegen commented on #2591
This is what happens whenever you resize it in the launcher (which I always do) and then join the game and wait for a moment. Not sure how to replicate this 100%, but just resize it in the launcher and let it sit there for an hour. The difference between this one and the regular one, is the color. Goodluck!

![cc3cbb264a5c4025b100ea3de9aded6c](https://cloud.githubusercontent.com/assets/17968114/21

[2017-01-08 00:24] Cervator commented on #2591
FYI: "Launcher" == "Main Menu" don't forget :D

Not related to the TerasologyLauncher :-)

Other note relates to this including color unlike another symptom from resizing that results in black/grey/white everything

[2017-01-08 07:14] Cervator commented on #2742
Thanks! I just updated the event server to Omega 652, which includes that and some other stuff :-)

Feel free to join up to try to crash sometime: http://jenkins.terasology.org/job/DistroOmega/652/artifact/distros/omega/build/distributions/TerasologyOmega.zip

(I'll be sleeping soon but maybe more tomorrow)

[2017-01-08 19:09] iojw commented on #2744
I believe that this issue related to display resizing and rendering is known and has already been mentioned a few times. 🙂

See: #2528, #2659 and #2591

[2017-01-08 21:11] emanuele3d commented on #2744
Just wanting to confirm we are aware of the problem.

Technically speaking this is most likely due to changes @tdgunes and I have done to the renderer, in particular in the area of FrameBufferObjects management. When resizing occurs the FBOs are regenerated, their id changes but most of the nodes in the renderer seems to be unaware of the new id and keep using the old FBOs which are no longer vali

[2017-01-09 04:04] Metatricity commented on #2744
Thank you for looking into this :)

[2017-01-09 04:07] Metatricity commented on #2744
@iojw However, there is no known record of there being a white screen rendered, there is only a black screen, or a water render change. #2528 and #2659

[2017-01-09 13:46] iojw commented on #2744
@Metatricity Sure, just listing a few related issues in the tracker and in general, issues related to resizing and the rendering are already known :)

[2017-01-09 13:54] emanuele3d commented on #2744
@Metatricity: we can keep this issue open until resolved, but it is likely to be a different manifestation of the same set of problems. Thank you for reporting it though.

[2017-01-10 00:34] Cervator commented on #2309
Bump - @rzats do you think we need more work on this still? During GCI we were converting more fields to add translation support, to the point where there seemingly weren't more easy fields to find. Yet I don't see any GCI related history entries for the `org.terasology.rendering.nui.layers.mainMenu.inputSettings` package and sure enough there are still hard coded strings in there. Do we want to c

[2017-01-10 00:56] Cervator commented on #2668
Bump - a related config issue for world gen just came up and this seemed the most sensible existing issue to mention it on, tho we may split it out into its own thing and get an Epic going already with all this config stuff soon.

The [world gen tutorial uses an inner class implementing `Component` to store config](https://github.com/Terasology/TutorialWorldGeneration/wiki/Facet%20Configuration) t

[2017-01-10 12:53] rzats commented on #2309
@Cervator: let's not close this for now - it's _halfway_ done so we know there aren't any fundamental issues with translating some of the strings. Just need to wrap up the remaining ones - and yes it's a little surprising that no GCI student ever found this class 🙂

[2017-01-10 13:16] eviltak commented on #2668
I'd like to take this up as a GCI task @Cervator and @rzats.

[2017-01-10 13:22] rzats commented on #2668
@eviltak done! https://codein.withgoogle.com/tasks/4737967044165632/

[2017-01-10 14:06] SoniEx2 commented on #2668
Does this let modules access arbitrary configs?

[2017-01-10 14:15] emanuele3d commented on #2668
@Cervator: I've implemented #1709 only in the RenderingConfig and RenderingDebugConfig. There are other Configs in Terasology and I have not touched those. So, it is complete from my (rendering) perspective but not from the perspective of the whole project.

This issue about FlexibleConfigs might superseed #1709 though. In the description above it is only implied but I should probably make it abso

[2017-01-10 14:22] emanuele3d commented on #2668
@SoniEx2: yes. Both engine and modules would be able to store and retrieve arbitrary settings from a FlexibleConfig implementation.

[2017-01-10 14:24] SoniEx2 commented on #2668
@emanuele3d So how's this supposed to work with HTTP?

Any module can add stuff to their HTTP whitelist?

Why isn't this module-restricted?

[2017-01-10 14:26] emanuele3d commented on #2668
How are the HTTP whitelist and Configs related?

[2017-01-10 14:31] SoniEx2 commented on #2668
@emanuele3d The way #2618 works is that there's a whitelist for TCP sockets, and that whitelist cannot be accessed/modified by modules. However, if there was an HTTP module (read: not subsystem) then its TCP whitelist would be basically available to any module using it (albeit restricted to the HTTP protocol only), unless it also implemented a whitelist.

For HTTP to implement a whitelist, it need

[2017-01-10 14:40] SoniEx2 commented on #2668
Also you might wanna take a look at my changes to `Context` in #2618, I don't think you'll be able to sandbox module configs otherwise.

[2017-01-10 14:59] emanuele3d commented on #2668
Thank you for clarifying this for me @SoniEx2.

FlexibleConfig at this stage is just an idea for a way to handle existing configs and for modules to publish their settings. This will allow both users and code to access them in a more uniform fashion. That covers most needs at this stage.

If something, i.e. a module's setting, needs to remain entirely or selectively secure, it doesn't have to publ

[2017-01-10 15:04] SoniEx2 commented on #2668
Uh, alright.

I might be able to do it a different way that doesn't require any configs, with the minor drawback that one won't be able to restrict the protocols a module uses... But thanks anyway!

[2017-01-10 23:23] marti1125 commented on #2553
@Cervator @oniatus hello =(

[2017-01-10 23:52] Cervator commented on #2742
Is this what we're looking for? Happened while testing in single player with some, uh, creative railgun usage (drilling straight down to get to the underworld - my new PC can do this with no apparent slowdown holding down the right mouse button)

[code]

[2017-01-11 03:49] Cervator opened #2753 "Time out gracefully and return to menu when failing to spawn the player"
At the moment it is possible under some conditions to fail to spawn the player, usually in the case of a bug affecting world gen causing all the chunk generator threads to die (so no world to spawn in!)

The symptom for that at present is simply stalling on the Create/Load world screen. We need to come up with a way to time out and return gracefully to the menu instead, presenting an error message

[2017-01-11 05:42] Cervator commented on #2553
Hey there! Sorry about the delay. We're buried by notifications these days (I'm up to some 3,000ish unread GitHub emails...) so it is really easy to miss comments anywhere. Saw this in my stream by chance :-)

If you were able to get it to work fine, what did you modify or what would you like to modify? Since the two base objects seemingly work already.

Feel free to join us on IRC, that's a waaaa

[2017-01-11 08:00] oniatus commented on #2742
Deeper than expected and a good spot for digging :)

Basic Idea of the class seems to be to clone the internal list before sorting (synchronized), then sort the list (unsynchronized) and then apply pending add/remove/clear operations to the list (synchronized).

One guess by a short look: If two threads sort the list in parallel (can this happen at all?) and there are pending add/remove commands,

[2017-01-11 08:23] eviltak commented on #2668
To clarify, this issue is just for the implementation of rendering config, isn't it? Usages of `RenderingConfig` will (should, IMO) be updated to use `FlexibleConfig` in a separate issue and PR.

[2017-01-11 09:16] emanuele3d commented on #2668
The needs of the rendering code were the inspiration for this issue, but this issue is really only about writing/implementing the FlexibleConfig described above and any other related interface/class so that engine and modules can take advantage of it to store and retrieve settings.

Once that's done one separate, follow-up task emerges: a UI needs to be developed for the user to see and modify the

[2017-01-11 16:58] eviltak commented on #2668
@emanuele3d yes, that makes everything clear. I'd love to work on other `FlexibleConfig` implementations too even after GCI ends. From what I've seen of the code though, `RenderingConfig` can be completely replaced by a `FlexibleConfigImpl` instance. I don't think further implementations of `FlexibleConfig` will be needed, but that can be thought about later. I'll try submitting a PR closing this

[2017-01-11 21:05] lokesh-sharma commented on #2718
I modified the lavender asset (inserted a comma ) in core/assets/blocks/flora/lavender.block and when running the game it crashes during loading the assets .
It crashes before the games loads to screen

[2017-01-11 21:14] emanuele3d commented on #2668
Yes, especially in this case tests are a good idea, exactly for that reason.

Looking forward to the PR!

[2017-01-11 22:44] acterhd commented on #2680
Simular issue...
https://github.com/MovingBlocks/Terasology/issues/2716

[2017-01-12 09:06] oniatus opened #2754 "Optional module dependencies"
Modules can have optional dependencies by adding the flag `"optional" : true`.
However, this is not handled when component systems are registered and likely in some other places too.

I will take the [EquipmentSmithing](https://github.com/Terasology/EquipmentSmithing) module as example:

The module will register two systems: [RegisterEquipmentSmithingRecipes](https://github.com/Terasology/Equipmen

[2017-01-12 09:21] eviltak commented on #2668
@emanuele3d I'm deciding against using a `FlexibleConfig` interface and directly using a class, since I think it'd be better if we used composition if we do need to extend the default behavior. Any code that needs to be run apart from raising the property changed event can be added to the `Setting` instances.

[2017-01-12 13:53] emanuele3d commented on #2668
Regarding not using an interface: I'm not sure when interfaces became incompatible with composition, but I'm sure I'll understand what you mean when I see the code. :wink:

Regarding using/not using PropertyChangeListener: I took advantage of it in the rendering configs due to the discussion I had with msteiger and immortius in #1709. I guess you have to keep in mind the risks while attempting to

[2017-01-12 14:51] eviltak commented on #2668
@emanuele3d is it alright if the values returned by `Setting` (during value retrievals) are of type `Object` and have to be manually casted to the desired type? If it isn't alright, it's going to be really hard making `FlexibleConfig` flexible in terms of the types stored by `Settings`.

[2017-01-12 19:22] andriii25 opened #2755 "StackOverflow in NUI editor when setting to 2 items to be on top of each other"
### What you were trying to do

When using the NUI editor, had an item with its position-bottom target set to TOP and widget to the id of the second item.
Then accidentally set the second item's position-top target set to TOP and widget to the id of the first item.
### What actually happened

A StackOverflow error is thrown, and everytime the NUI Editor is launched the exception is thrown again. P

[2017-01-12 23:29] emanuele3d commented on #2668
Let's think for a moment how we would like an engine or module developer interact with a flexible config. Out of the top of my head, I envision it this way:

[code]

So, as you can see I'm assuming whoever wants to retrieve a Setting knows what kind of setting she is getting. So the cast is not when one retrieves the value but when one retrieves the setting.

The UI on the other hand will have to

[2017-01-13 09:38] eviltak commented on #2668
@emanuele3d To make the `FlexibleConfig` more "flexible", I'm going for a more reusable approach, where there is only one `Setting` class which is generic (for now). This requires the retriever to manually cast the type to the type of the data stored in the `Setting` (`Class<T>` for a `T` in `Setting<T>` can be obtained). Casting a `Setting` to a `Setting<T>` causes an unchecked cast warning, but

[2017-01-13 09:44] emanuele3d commented on #2668
Ok, please take the piece of fictional code above and show me how it would look like with your architecture.

[2017-01-13 09:53] eviltak commented on #2668
It would look similar to the following:
[code]

[2017-01-13 10:00] emanuele3d commented on #2668
And where do you plan to add functionality such as ranges for numerical settings?

[2017-01-13 10:12] eviltak commented on #2668
Each `Setting` requires an instance of the `SettingValueValidator<T>` interface which has a method `boolean isValid(T)` as a validator. If not specified, the validator is set to an implementation of the said interface that returns true for any value passed to it. The PR will contain a `RangedNumberValueValidator<T extends Number & Comparable>` which implements bounded and semi bounded ranges for a

[2017-01-13 10:17] emanuele3d commented on #2668
Understood.

As the UI will eventually go through the list of setting stored in the configs in bulk, how will it know how to deal with an instance? I.e. let's assume a float setting with a range. How will it find the retrieved setting contains a float and how will retrieve its range, if any, to provide the appropriate widget for it?

[2017-01-13 16:08] OvermindDL1 commented on #2668
Just as a side question, but any thought given to using a library like [config](https://github.com/typesafehub/config) as it seems to handle all this already while being extendable as well?

[2017-01-13 17:25] eviltak commented on #2668
@emanuele3d the same way it would know that if the object is a `FloatSetting` or not (I assume by checking using an instance of call). The range can be determined by casting the `SettingValueValidator` too, or maybe another method can be added to the interface that returns the data constraints in some sort of data structure.

[2017-01-13 23:17] emanuele3d commented on #2668
@OvermindDL1: the library you suggest would make sense IF:

`cost of evaluation of library + cost of integration of library << cost of development of this proposal - development already occurred.`

Both @eviltak and I have put some time into this. Constructive feedback is appreciated, but I'm not sure advising such a change in direction qualifies, no matter how well intentioned and even reasonable

[2017-01-14 00:11] SoniEx2 commented on #2668
[code]

[2017-01-14 02:16] Cervator commented on #2668
@SoniEx2 as far as splitting implementation from interface and other major version bumping needs then I have no issue with that as long as it follows good timing and has justifiable design + implementers. I foresee another round of backwards incompatible changes coming with GSOC 2017 (if we get in) and finishing the extraction and adoption of `gestalt-entity-system` over the coming months as well

[2017-01-14 02:26] SoniEx2 commented on #2668
@Cervator I was talking about using an external config library (aka what @OvermindDL1 talked about).

[2017-01-14 03:14] immortius commented on #2668
A few thoughts/comments.

The current design of modules puts them in a sandbox, which restricts what classes and functionality they have access to from the engine and its dependencies (that is, java and other libraries it uses). However, it isn't designed to sandbox modules from each other - the architecture is more of a core-feature providing engine with game logic and asset providing modules. So

[2017-01-14 03:20] SoniEx2 commented on #2668
@immortius I was talking about using an external config library *in the engine*, like how you currently use an external JSON library (guava) in the engine.

[2017-01-14 04:53] eviltak commented on #2668
@emanuele3d That's the obstacle that I'm stumbling upon. There's no way to know what type a `Setting` returned from the `FlexibleConfig` is of. It is possible to store the `Class` of the `Setting`, but that too isn't of much help because type erasure removes all generic information pertaining to the class at compile time. All the methods I am aware of require knowledge of the type over which the `

[2017-01-15 10:36] emanuele3d commented on #2668
Instinctively I find the idea of a method returning a widget to be tempting.

I don't like how responsibilities would be getting tangled though. The Setting class as originally envisioned is fairly "dumb": it provides accessors, un/subscribing functionality and you make a good point recommending validity checks.

By adding UI functionality right within this object (even though it could be provided

[2017-01-15 10:44] oniatus commented on #2548
Adding [EventTests](https://github.com/oniatus/EventTests) here, I used the module from time to time to drill down event quirks.

[2017-01-15 11:59] SoniEx2 commented on #2668
There is another option, which is how Minecraft does blocks. However, in the Minecraft case, those things are immutable.

But the basic idea is to have typed keys.

[code]

In this case, settings are stored in a Map instead of fields with get methods. And since the key is a full object, nothing stops us from adding an `isValidValue(T)` to the key, and calling it every time a config is set. Thus al

[2017-01-15 13:02] eviltak commented on #2668
@emanuele3d The approach isn't typeless; `Setting` is generic over the type of the value contained inside it. The approach that I currently use returns a fully typed `Setting` from the `FlexibleConfig` (eg. `Setting<Integer>`). We don't need specialized `Setting` subclasses because the `SettingValueValidator<T>` field in a `Setting` instance does all the validation work for us. As such, `Setting`

[2017-01-15 14:04] eviltak commented on #2668
PR #2757 has been created for this issue.

[2017-01-15 20:00] zeokav commented on #2753
@Cervator Won't timing out, in general, not fit for extremely slow machines (worst case (?)).
Also, I finally got done with my internship so I'd like to start again with some more bite-size because I lost touch. 😛
How do I mess with the world generator?

[2017-01-15 20:27] OvermindDL1 commented on #2668
For note, the reason why I asked about `config` from typesafe was because you can pass it a Java class and it fills in the fields like a schema definition, along with proper errors if types do not fit and more, in addition you can define your own types (want a vector type that is an array of two integers, or want it as a string like "<x>:<y>" or so, you can.  It is not really a suggestion though b

[2017-01-15 21:04] emanuele3d commented on #2668
@eviltak: switching to the PR discussion - no point in continuing the discussion here at this stage.

[2017-01-16 03:15] Cervator commented on #1705
Digging around in old issues - engine depends on `gestalt-module` at 5.1.2 right now, so I expect this is resolved (although unsure if anything stable actually uses the `permissionSet` stuff yet)

Closing as complete.

[2017-01-16 03:15] #1705 closed

[2017-01-17 05:41] Cervator commented on #2753
Probably there is a way to keep track of time and state to where you can tell if there is still world being generated (Chunk generation is still succeeding on occasion), and suppress / extend the timeout in that case :-)

To mess with world generation find a `Rasterizer` class and introduce an error in `generateChunk` - that way when the error is encountered it'll crash that ChunkGenerator thread

[2017-01-17 19:46] zeokav commented on #2753
What I'm trying to do right now -
Making generateChunk throw an exception in case there's a timeout while generating a chunk for which I use a Timer with maybe a 1000ms delay for each chunk (Couldn't figure out how else to check for non responsiveness). Also wanted to know if there's a wrapper for handling exceptions or if I can just throw them like I would in normal java.
The error is handled by

[2017-01-17 20:07] Cervator commented on #2753
That might not work since it is generateChunk causing the chunk generator threads to die, and there are a bunch of them. The timeout needs to be hooked up to the game loading progress itself (like whatever kicks off the progress bar after the player starts creating a world) and if chunks haven't become available (or no spawn position can be found) *then* time out and return to the main menu.

Sinc

[2017-01-17 22:54] orubel commented on #862
Well Groovy is actually a Java extension whereas Scala attempts to rewrite Java.

For example, you can take any Java class, change the extension to '.groovy' and it will compile. You can do the same with Scala because of the incompatibilities with Java.

[2017-01-17 23:14] Cervator commented on #862
Ohai @orubel! Slightly dated issue here (2.5 years woo!), we probably could close it now. Our engine is in pretty good shape and exposes a bunch of stuff via API for our modules.

Additionally we've tested both Scala and Kotlin support for developing modules :-) Groovy would work too, for sure, just hasn't been done.

[2017-01-18 12:46] iojw commented on #2376
@Cervator: I attempted to address this issue in #2667 which got merged a while back, adding a few tiny features to bring the chat more in line with other games.

I'm wondering if there are any additional features you guys would like to see on top of the changes already made or any other thoughts you might have.

As @oniatus mentioned, there's currently an issue whereby too much text might overrun

[2017-01-18 16:28] TheOddDolphin commented on #2716
I'm unsure that this issue has in fact been fixed. My workspace is fully up-to-date, and still I get:
![terasologybug1](https://cloud.githubusercontent.com/assets/24751163/22072206/99ade4b4-ddc7-11e6-8e33-39dd376a6171.jpg)

I've narrowed the bug down a bit, so although I'm not really sure where it is in the code, I can with confidence say that it is due to the margin between the bottom of the wind

[2017-01-18 23:07] smsunarto commented on #2716
@TheOddDolphin Yes, for some gameplay template that do have long text this problem still persist. But the  first picture in the issue belongs from an old version which have a "Save Game Path" section which actually pushes down the screen even more.