[2017-07-08 04:00] #2941 closed

[2017-07-08 04:04] Cervator commented on #2953
Closing this as complete as all known old particle system references have now been updated / cleared out :-)

Latest dev build should be fine now and a new stable should be out soon.

[2017-07-08 04:04] #2953 closed

[2017-07-08 04:08] Cervator commented on #1064
Closing this as complete / obsolete. Issues have since been resolved although the original block breaking effect still needs to be reactivated (submitted separate issue in a module repo for that)

[2017-07-08 04:08] #1064 closed

[2017-07-08 04:23] Cervator opened #2999 "Tutorial module request: Particle System"
With PR #2632 merged the initial implementation of #2208 is complete - we have a new particle system.

However, like noted in #2909 it still needs some additional polish and documentation. While I'm leaving that issue for general improvements including JavaDoc I wanted to split out a tutorial request separately, as it could be done in isolation (though some cross-pollination of doc improvements fr

[2017-07-08 04:27] nihal111 opened #3000 "This is SPARTA, just 10x"
I just wanted to do this.

[2017-07-08 04:28] Cervator commented on #2909
Bump - submitted a separate issue #2999 to cover a tutorial module. Declaring the goal here to be for *general* documentation (so primarily javadoc) and overall improvements still needed. Updated the original post some with a couple more checkboxes. Some discussion on Slack noted the possibility that too many things are going over the network rather than just the emitters?

[2017-07-08 04:30] Cervator commented on #2208
Closing this as tentatively completed - there are still some more tweaks to add and documentation to do, but effectively this issue is covered :-)

See #2909 for some follow-ups and #2999 for a tutorial module request.

[2017-07-08 04:30] #2208 closed

[2017-07-08 04:33] Cervator commented on #3000
Cheater :D

Closing from a distinct lack of it being over nine thousand. Though at least it is a third of the way there!

![not9k](https://user-images.githubusercontent.com/1063833/27982643-01747c88-6375-11e7-9070-0d27ed7da05f.jpg)

[2017-07-08 04:33] #3000 closed

[2017-07-08 04:38] Cervator commented on #2111
So it has been about a year since @indianajohn started his successful journey on rejuvenating this topic so it seems like a good time to actually finally close this and call it included with a release ... :D

It might not quite be perfect or heavily used yet, and we broke at least one thing again with #2933, but the way forward is clearer now. #2761 and #2611 cover some related topics. There is mo

[2017-07-08 04:38] #2111 closed

[2017-07-08 04:45] Cervator commented on #2951
Can no longer reproduce - closing!

[2017-07-08 04:45] #2951 closed

[2017-07-08 12:29] skaldarnar commented on #2978
@Germs2004 We have a new Launcher release (in case you want to test that, although there is nothing particularly addressing this issue in the release).

https://github.com/MovingBlocks/TerasologyLauncher/releases/tag/v3.2.0

Maybe you can try what @Cervator suggested: download the game zip directly (without using the launcher).

[2017-07-08 12:41] TheFlash98 commented on #2956
https://github.com/TheFlash98/TutorialI18n

[2017-07-08 17:40] portokaliu opened #3002 "Crash on chunkloading"
Attaching the log [here](https://pastebin.com/49yJVNMt)

This happened on the official event server.

I haven't seen any other issue about it, hence this one. Should have all the details in the pastebin since I took the crash reporting path.

[2017-07-09 17:04] smsunarto commented on #932
@Cervator this super old issue should be good to close i guess

[2017-07-09 17:07] smsunarto commented on #1697
This issue should be clear for closing.

CC: @Cervator

[2017-07-09 18:15] TheFlash98 commented on #2956
It has been moved to
https://github.com/Terasology/TutorialI18n

[2017-07-09 19:06] skaldarnar commented on #2956
Looks really good to me. Maybe just mention where to get the `TranslationSystem` from (you can do it like that in any system using the `@In` annotation).

If you want, add some lines about Weblate (how to use it, what account you need, how to request a new translation, etc.).

Anyways, closing this issue as it is officially in place now :-)

[2017-07-09 19:06] #2956 closed

[2017-07-09 19:22] TheFlash98 commented on #2956
Okay okay cool. Me and @Cervator spoke about what all could be added to this on IRC. I'll surely talk about where one can get `TranslationSystem`. Webplate is surely on the list of things to be added 😄

[2017-07-09 19:54] dkambersky commented on #3002
Duplicate of #2590, most likely

[2017-07-09 21:44] portokaliu commented on #3002
yep yep, Cervator said as well it would most likely be that. Wasn't aware of the existence of it. Gonna close this one.

[2017-07-09 21:44] #3002 closed

[2017-07-10 03:56] Cervator commented on #2765
Re-opening as a related PR only finished a couple items from the list, not the whole issue :-)

[2017-07-10 07:47] Cervator opened #3003 "Health / Death issues"
Discovered during some Alpha 8 RC testing and fairly important for a stable build so marking this as a release Blocker. Some of the observations / issues noted during a headless + regular client multiplayer session with JoshariasSurvival + Combat active:

- [x] Health regeneration seemingly didn't work after losing some health, for instance to starvation
- [x] In some case dying didn't produce a d

[2017-07-10 07:52] Cervator opened #3004 "Adjust coefficients for newly supported TeraBullet features"
_Edit: May be obsolete if #3042 is merged_

With the recently updated version of TeraBullet we got in a couple new features that haven't been adjusted to sensible values yet. This is why physics-enabled blocks and items keep bouncing so long, never settling, as they retain momentum / don't lose any to friction.

We need to find good values for the two new things that "feel" right in-game. Not supe

[2017-07-10 15:22] OvermindDL1 commented on #3003
I'd be for flipping it to something that is dead but still exists, so an `IsDeadComponent` or so, which when on a player entity shows the death screen and such?

[2017-07-10 19:58] TheFlash98 commented on #2999
Hey @Cervator I could try making another tutorial. Any nice place to start with? 😄

[2017-07-10 22:26] skaldarnar commented on #2999
Here are some changes to the way block damage particles work: https://github.com/MovingBlocks/Terasology/pull/3001

There's also https://github.com/Terasology/LightAndShadow/pull/53 and https://github.com/Terasology/LightAndShadow/pull/54 in combination with https://github.com/Terasology/LightAndShadowResources/pull/19 to fix the particle effects in LightAndShadow. That might be a good start.

Ove

[2017-07-11 06:00] flo commented on #2998
There used to be such a check, it probably needs to be checked why it is not working.

[2017-07-13 10:35] skaldarnar commented on #2984
Following up on my question in Slack - are we going for `null` interfaces or do we promote the use of `Optional`? Sounds like this would fit here as well, and it might simplify the error handling. Does anybody know of any good resource investigating the impact of Optionals?

[2017-07-13 14:13] OvermindDL1 commented on #2984
Optional's *do* have overhead in benchmarks on JVM8, but it is fairly minor.  But I do like the expressiveness of them personally.

_/me is starting to lean toward thinking kotlin should start to be integrated, you can decorate such returns and arguments 'for free' (zero runtime cost) while being fully backwards compatible with java..._

[2017-07-13 19:57] skaldarnar commented on #2984
_/me holds up the Scala flag_ 🎏

[2017-07-13 20:35] xrtariq2594 commented on #3000
Congratz on reaching issue #3000.

[2017-07-13 20:53] OvermindDL1 commented on #2984
Hehe, I too am a proponent of Scala, however, much to my dismay, Scala's stdlib is *HUGE* in comparison, and Kotlin has, sadly, become mainstream in the java world, especially now that it is first class on android.  ^.^;

If the scala stdlib is contained in terasology (I've yet to check, bleh), I'd be all for using it where appropriate as you can mix it and java (and kotlin) all as you wish.

*How

[2017-07-13 21:02] skaldarnar commented on #2984
Getting it into engine might need some work to convince people. For modules, however, we already have

- https://github.com/Terasology/ScalaLib
- https://github.com/Terasology/KotlinLib

They both may need some more love and attention, though.

[2017-07-14 06:33] Cervator opened #3006 "Bug in chunk prioritizing after respawning - player position wrongly related to camera?"
This is likely a lengthy and deep issue that has bit us from time to time leading to obscure bugs like ending up in a void without chunks around you (no visible world). Some new and very interesting information came to light so I wanted to submit this new issue with those exact notes.

Possibly related issues: #2361, #2385, #2477, #2590 (bounty), #2742, #2774, #2884. Possibly of interest to @Vizax

[2017-07-14 07:40] portokaliu commented on #3006
I think the same issue would happen if you teleport to another player on a multiplayer server. I'm not exactly sure what the monitor overview is, but I can say that I did teleport to far away players and have stood in a void for quite a bit before stuff started loading.

Is it only the early chunks loading far or will you forever be stuck there in a void? That's one bit I didn't quite get.

[2017-07-14 20:19] Germs2004 commented on #2978
I've never played this game so I don't want to spend any more time trying to get it working.  I'll just close this ticket and try again some day.  Thanks for your help, I hope you get it all figured out.

[2017-07-14 20:19] #2978 closed

[2017-07-15 17:09] manzoid opened #3007 "is Terasology working on Mac currently"
### What you were trying to do
Vanilla install of v1.4.0 on MacBook Pro, create a Core Gameplay local game.

### What actually happened

![image](https://user-images.githubusercontent.com/796541/28241222-345e328a-6945-11e7-890a-6fb9f3e02997.png)

### How to reproduce

* git clone https://github.com/MovingBlocks/Terasology.git
* ./gradlew build
* ./gradlew game
* Single Player > Create Game
* selec

[2017-07-16 00:25] Cervator commented on #3006
Forever! At least in single player, where you then don't have another player to provoke chunk prep from the server. If that happens you would probably be "saved"

Similar issue in the past where on super low view distance if you logged onto a fresh server you might never get chunks as the range isn't far enough for the chunks to get through all the phases (enough chunks loaded to calc lighting etc

[2017-07-16 02:45] Cervator commented on #3007
Resolved on IRC earlier :-)

Problem was caused by connecting to the stable game server which is running alpha 7 and thus provoked the download of older binaries mixed with newer source.

Thanks for the detailed report and follow-up on IRC!

[2017-07-16 02:45] #3007 closed

[2017-07-16 09:24] #932 closed

[2017-07-16 09:25] skaldarnar commented on #932
We need more highlight videos, but rather for the more recent stuff 😉

[2017-07-16 18:14] tim-italist commented on #3007
Yes in case anyone else runs into this, a bit more context -- as Cervator mentioned, when you connect to  one of the game servers, the .jar files corresponding to that server version are automatically downloaded to your local modules directory.

This can cause a mismatch between the core engine code (literally named "core") and other modules that you had previously downloaded locally that were mea

[2017-07-16 18:19] manzoid commented on #3007
Yes in case anyone else runs into this, a bit more context -- as Cervator mentioned, when you connect to  one of the game servers, the .jar files corresponding to that server version are automatically downloaded to your local modules directory.

This can cause a mismatch between the core engine code (literally named "core") and other modules that you had previously downloaded locally that were mea

[2017-07-16 21:56] Cervator opened #3010 "Advanced chunk monitor prevents game from closing cleanly"
### What you were trying to do

Run and close the game cleanly with `monitoringEnabled` set to true (for example to test #3006)

### What actually happened

Game windows (there are two with the monitor visible) closed, but the game didn't exit. Some thread triggered by the monitor isn't exiting on game exit

### How to reproduce

* Toggle `"monitoringEnabled": false,` to `true` in `config.cfg` (ru

[2017-07-17 01:58] Cervator opened #3011 "Initial follow-ups to the new metrics system"
Some tweaks, ideas, and reminders for later. Follows #2968

- [x] Add a descriptive label to the Metrics Menu describing what it means?
- [x] Add default for the "Owner" field on the metrics and error server configs - "Terasology Community" ?
- [x] Remove the "You can press ENTER..." label on those two screens if we start them out with default values
- [ ] Enable the popup when it is time (TODO in

[2017-07-17 11:48] nihal111 opened #3012 "ConcurrentModificationException in Physics System"
Just roaming around when the game crashed. Happened twice to me. Don't know how to reproduce.

Error log:
[code]

[2017-07-21 00:55] Cervator opened #3014 "New option to filter online available modules from the module screen"
At present the "Select Modules..." screen populates the list with all modules available in the local game installation **and** all available from our meta server for download - which can become quite a lot of modules, especially if you're developing in a small focused workspace and don't need the added *noise*

We could add a simple "Local Only" checkbox on the page that would filter out any modul

[2017-07-21 06:14] jellysnake commented on #1697
Closing as per Smsunarto and it being completed.

[2017-07-21 06:14] #1697 closed

[2017-07-21 11:10] jellysnake commented on #2999
[Light & Shadows](https://github.com/Terasology/LightAndShadow) is one. I'm not aware of anything else at the moment.

[2017-07-21 18:21] jugendhacker opened #3015 "Crash after F5 menu"
### What you were trying to do
I tride to close the F5 Menu.
### What actually happened
The Game crashed!
### How to reproduce

* Step 1
Press F5
* Step 2
Click on some Buttons
* Step 3
Presss Esc

### Log details and game version
https://pastebin.com/9HAQy8rt

[2017-07-21 19:56] skaldarnar commented on #3015
Thanks for the report @jugendhacker.

@dkambersky is currently working on the behavior trees as GSOC project, so let's see what he might have to say about this :-)

[2017-07-21 20:26] dkambersky commented on #3015
Looks to be an issue with the Behavior system or Interepreters not being initialized. However this is in the old, soon to be replaced, implementation, so I wouldn't worry about it. I'll try and reproduce this in the new system just in case.

[2017-07-22 17:15] nihal111 commented on #3014
Instead of shrinking "Disable All" and adding the "Local Only" checkbox to the left of it. I think a better idea would be to add an new row below the "Disable All" button that has 2 checkboxes- "Local Only" and "Show Library/API".

The Library modules (like Pathfinding, AdvancedBehaviors etc) and API modules (like WorldyTooltipAPI) are always displayed. These clutter the module list now.

[2017-07-22 21:14] TheFlash98 commented on #2999
Thank you

[2017-07-22 23:27] nihal111 commented on #3014
https://github.com/MovingBlocks/Terasology/issues/2935 was the issue I was referring to earlier. The one which requires the need of "Show Library/API"
But this also requires the creation of new fields like `isLibrary` and `isAPI` in module.txt

[2017-07-22 23:45] #2605 closed

[2017-07-24 10:37] dkambersky commented on #3015
I can confirm this works fine in the new system. Should we close this or leave it up for now?

[2017-07-24 12:43] jugendhacker commented on #3015
I think we can close this

[2017-07-24 19:43] #3015 closed

[2017-07-26 09:25] gianluca-nitti opened #3021 "Can't start headless server due to UnsatisfiedLinkError exception in telemetry subsystem"
### What you were trying to do
Running an headless server, from the current version of the `develop` branch (c7d50f045620d5f10f90f704250571d01f486eec). I tried both `gradlew server` and the *Terasology PC (Headless)* IntelliJ run configuration.

### What actually happened
During the server initialization I get this exception:
[code]

The game client with graphics (`gradlew game` or the *Terasology

[2017-07-27 19:38] Cervator commented on #3021
Okay I dug around a little and can confirm this issue.

When the telemetry system initializes it tries to record some OpenGL details in `SystemContextMetric.java` - however, when the game runs headless there is no `LwjglGraphics` initialized. See `Terasology.populateSubsystems()`

I don't remember if we have an easy way to determine if the current game process is running headless or not. The `Tera

[2017-07-27 23:03] GabrielXia commented on #3011
Thanks @Cervator for the suggestions.
Update in pr https://github.com/MovingBlocks/Terasology/pull/3016/commits/fda4c8d1e01c81ea929f70191a08c57de5821780 and https://github.com/MovingBlocks/Terasology/pull/3016/commits/538c4a4fb0fff0d7f0bb96b0fe3f58c66aba462c
- Add a descriptive label in the Metrics Menu
- Add default "Owner" field ""Terasology Community" on the metrics `addServerPopup`
- Remove th

[2017-07-29 05:10] Cervator commented on #3021
Closing as fixed by #3024!

[2017-07-29 05:10] #3021 closed

[2017-07-29 10:29] ciskos opened #3026 "Crash when generating world"
### What you were trying to do
Start game

### What actually happened
Crash when generating world

### How to reproduce
Just start the game

### Log details and game version
Log - https://pastebin.com/pjj5q2Sv
### Computer details
Notebbok - HP Pavilion 17-e040sr
CPU - AMD A10-5750M
Videocard1 - ATI/AMD Radeon HD 8650G (RICHLAND DEVASTATOR MOBILE) [Hewlett-Packard]
Videocard2 - ATI/AMD Radeon HD 8

[2017-07-29 12:02] flo opened #3027 "Guide on developing gestalt for Terasology"
Sometimes there are bugs in Gestalt or Gestalt features that a terasology developer wants to have.

There should be a guide on how to get terasology source working with gestalt source so that it is possible to test a change out before making a PR to gesalt.

The guide should also provide a link to a gestalt page that explains the necessary steps to do a gestalt release.

[2017-07-29 12:03] flo commented on #3027
@immortius It would be very cool if you could provide this kind of documentation as currently I think you are the only one with knowledge of how to do this.

[2017-07-30 02:55] Cervator commented on #3011
Thanks for the updates :-)

Re-opening this as there still are a few todo items left even if they're mostly for later. Did add a new one about translation keys.

[2017-07-30 03:26] Cervator commented on #3027
Since this was submitted the _simple_ way of doing this via `gradlew install` helped test https://github.com/MovingBlocks/gestalt/issues/64 and that's usually the way it is done. I've from time to time thought about tweaking Gestalt's Gradle so we can embed it into a Terasology workspace like the CrashReporter but that may still be a ways out as far as priorities go

Still we can naturally improve

[2017-07-30 04:32] Cervator commented on #3026
Hey there @ciskos

It looks like there's a bit of a mismatch inside the game:

[code]

The engine v1.4.0 is our latest stable release Alpha 7. But 1.4.1 is the latest dev build. Did you by chance update any modules using the in-game module browser?

Running those two together might very well cause crashes like that.

How did you get a hold of a copy of the game? Using our launcher or a direct game

[2017-07-30 08:14] ciskos commented on #3026
Hello.
Yes I was download modules and update some of them.

The copy of the game was downloaded from official site - terasology.org .
Using launcher.
The launcher download latest stable release.

I reinstall the game, now it works fine. Thanks for your time :) .

[2017-07-30 08:14] #3026 closed

[2017-07-30 16:08] Cervator commented on #3026
Great, thanks for letting us know. And I thought it was odd to get two log snippets (forum too) both indicating a version mismatch but didn't make the connection ... :D

[2017-07-31 14:05] nihal111 commented on #3003
Collecting my thoughts here..

Broadly speaking,

1. Most of the things that rely on the BeforeDeactivateComponent event to await player death, should now rely on the PlayerDeathEvent. (note that the BeforeDeactivateComponent event is sent to the player/character entity while the PlayerDeathEvent is sent to the client entity. Which I plan to change here- https://github.com/MovingBlocks/Terasology/

[2017-07-31 14:20] nihal111 commented on #3003
Regarding switching the `AliveCharacterComponent` to `DeadCharacterComponent` or something like that- I don't have a problem with either approach. Doing so, however would make certain things easy, while others difficult.

For instance, to find all entities that are alive with a specific component (which is in general a more common case compared to finding all dead character entities), a simple `en

[2017-07-31 14:25] OvermindDL1 commented on #3003
Sounds like a `getEntitiesWith` needs another argument for a list of things that should not exist, that would be generically useful as well for tag components.

[2017-07-31 14:37] nihal111 commented on #3003
Regarding your architectural concern @Cervator, the reason for the birth of the `Alive**Character**Component` was because it was decided to preserve the player entity (which was earlier being destroyed). This way the player entity or in essence the player would still retain _memory_ in the form of components. For instance, if a player has certain skills, he does not lose them by an accidental fall

[2017-07-31 20:08] emanuele3d commented on #2828
This is a note for myself.

Re-evaluate this issue in the context of the latest changes: are we happy with how we handle gBuffers swap? The stale vs lastUpdated gBuffer seems reasonable and easy enough to understand, but are there surrounding details that need to be ironed out?

[2017-08-01 02:18] Cervator commented on #3003
Sorry about getting the name wrong and thanks for the fixes :-)

I checked off the death screen, hunger/thirst on respawn, and tweaks for the component. I can still replicate the lack of regen although I'm not sure on the exact details. Got it for both a player 1 and 2 in the same multiplayer game after using `hungerSet` to wipe out my hunger bar. Flying up in the air to take falling damage didn't

[2017-08-01 02:35] vampcat commented on #2902
@emanuele3d I believe we can close this now?

[2017-08-01 03:20] Cervator commented on #3003
After some digging by @nihal111 the no regen mystery might be solved, there is a threshold for when the bars block regen and I was testing *just wrong enough* to be thrown off by it :-) Marking that one off too

[2017-08-01 03:23] nihal111 commented on #3003
Just for reference -
https://github.com/Terasology/Hunger/blob/master/src/main/java/org/terasology/hunger/component/HungerComponent.java#L60

On 01-Aug-2017 8:51 AM, "Rasmus Praestholm" <notifications@github.com>
wrote:

[2017-08-01 13:06] emanuele3d commented on #2902
Yup, doing it now!

[2017-08-01 13:06] #2902 closed

[2017-08-01 20:56] nihal111 opened #3034 "ESC key does not close the Join Game screen"
The `ESC` key closes the "Single Player" or the "Host Game" screens from the main menu. But it does not close the "Join Game" screen.

[2017-08-01 22:33] emanuele3d opened #3035 "Convert the Renderer's Nodelist into a fully fledged DAG"
**WARNING**: this issue is a work in progress, to lay down some foundations for discussion.

## Introduction
After much work over the past two-three years, and in particular during GSOC 2016 and GSOC 2017 (thanks to @tdgunes and @vampcat!) the renderer has morphed from a couple of large, fragile, hard to understand, main classes into a single list of independent nodes. Each node can be thought of

[2017-08-01 23:08] emanuele3d opened #3036 "Rough FBO attachments Inspector."
## The need
We need a way to inspect the content of FBOs attachments, as a rough debugging tool for the renderer.

## Current situation
Prior to much of the recent work in the renderer this functionality was partially provided via the F6/F7 keys, which allowed to toggle on/off a "renderer visual debugging mode" and then cycle through a number of FBO attachments.

After the recent work done on the

[2017-08-01 23:41] emanuele3d opened #3038 "Renderer: split shaders and nodes in conceptually atomic, simpler units"
A number of nodes execute shader programs that do a number of things at once.

For example:
- PrePostCompositeNode takes care of reflections, haze, volumetric fog (disabled), ambient occlusion and outline.
- InitialPostProcessingNode takes care of the bloom effect, chromatic aberration (not working), vignette and light shafts
- FinalPostProcessingNode adds film grain, depth-of-field and motion blu

[2017-08-02 14:49] emanuele3d opened #3039 "Renderer: capability-aware nodes, NodeManagers"
Current nodes in the renderer assume a number of OpenGL capabilities, statically established in `LwjglGraphics.checkOpenGL()`. For example we are currently relying on OpenGL 2.1 with the addition of widely available opengl extensions to enable Frame Buffer Objects and Shaders.

Nodes (be it from the engine or from a module) could be more autonomous however. They could check their hardware/driver e

[2017-08-02 16:11] emanuele3d opened #3040 "Vignette Node"
The current vignette functionality, despite being buried within a shader also doing other stuff, has actually a lot of potential. In its current form it's simply a transparency-only texture that appears as a darker halo framing the view. This is mostly used during the underwater rendering.

When extracted from the current shader and placed into its own VignetteNode, it can acquire new features wit

[2017-08-02 21:05] JamesB01 commented on #3034
I can take a look at this, if you're happy for an Open Source noob to be involved?

[2017-08-03 02:19] Cervator commented on #3034
Hi @JamesB01 - absolutely! That is exactly what the Bite-sized issues are for :-)

Welcome! Let us know if you have any questions.

[2017-08-03 02:45] Cervator commented on #3034
Oh! One thing I might suggest is to check out https://github.com/Terasology/TutorialNui to learn more about our GUI stuff. Although for this particular case you can probably just examine similar code that does it the right way and apply it to this other screen. Anyway, in case you wanted to know what makes it all tick :-)

[2017-08-03 03:25] Cervator opened #3043 "Exiting a world then reloading that save shows whatever held item the player had in the location where you left"
Seems like #2605 wasn't _quite_ fixed by #2810 anyway - maybe?

![terasology-170802232128-1152x720](https://user-images.githubusercontent.com/1063833/28904518-8d70bf58-77d9-11e7-93cf-fb48e4f74df1.jpg)

But rather than there always being a copy of the held object at 0,0,0 it seems like now a copy is made / persisted wherever you were when you exited said world. On each reload a new fixed item match

[2017-08-03 09:37] TheFlash98 commented on #2935
Is there a way to add a new field to the modules.txt of all the old modules? For the news ones I just edit the template one. For the old ones?

[2017-08-03 13:24] emanuele3d opened #3044 "Enable face culling in RenderNodes where it would make sense."
It appears that Face Culling is currently disabled for a number of render nodes that should probably have it, i.e. OpaqueBlocksNode - which renders most of the landscape.

We need to investigate which nodes could take advantage of face culling and add the line

`addDesiredStateChange(new EnableFaceCulling());`

in the constructor of those nodes for which it makes sense.

[2017-08-03 14:33] emanuele3d opened #3045 "FilmGrainNode"
## Introduction
The term "film grain" refers to the noise visible in photos and movies shot with film-based cameras, and it is due to the non-homogenous nature of the light-sensitive emulsion present on the film: it is often characterized by microscopic particles of different sizes that react slightly differently to light.  (See
https://en.wikipedia.org/wiki/Film_grain for more information).

In d

[2017-08-03 15:08] emanuele3d opened #3046 "Renderer Nodes: uid vs aka"
It is easily conceivable that modules will one day want to replace engine-provided renderer nodes.

Nodes in general are already slated to acquire a UID, an URI/URN-based unique id such as `engine:backdropRendering`, to differentiate between different instances of the same type of node. But the namespace part of the URI/URN will be automatically added by the engine. So, if a module wishes to repla

[2017-08-03 21:44] Cervator commented on #2935
Hey @TheFlash98 :-)

As mentioned on chat it may be doable to use a category string instead, and just default it to something appropriate so you don't need to update `module.txt` anywhere at first.

This issue is sort of a step two in the process as we don't have step one yet: actually categorizing modules (of which lib/framework is one such category). There is an old forum thread on the subject:

[2017-08-03 23:31] emanuele3d opened #3047 "Lens Flares Node"
##Introduction
Lens Flares: one of the most beloved and most easily overused features of computer graphics.

Lens flares in real cameras are generated by slight imperfections in the individual lenses composing an objective. The imperfections will generally be invisible, but bright enough lights, i.e. the sun during the day or even car headlights at night, will make them apparent, typically as circ

[2017-08-04 03:54] Cervator commented on #3047
Just a small correction here - this issue has a distinct lack of actual embedded lens flare images of superior quality!

![lens-flares-into-darkness](https://user-images.githubusercontent.com/1063833/28953520-9a0b0534-78a6-11e7-9b01-416a87a1dba5.jpg)

[2017-08-04 05:50] JamesB01 commented on #3034
Coolio.  Do I need to become a collaborator (sorry, pretty new to Github and not 100% on how everything works - just taken me like two hours to get it open in netbeans!)

[2017-08-04 06:09] portokaliu commented on #3043
It is most likely that one. I'll see if I can fix it this evening/night

[2017-08-04 06:34] Cervator commented on #3034
No need, just fork, clone, load it up, try to fix something, commit to your fork, make a PR. Easy :-)

Then a bit of code review, merge, add you to credits, and tadaa you're a contributor!

More setup info over at https://github.com/MovingBlocks/Terasology/wiki/Dev-Setup if you haven't found it yet - we're the best set up for IntelliJ and the least set up for poor ole Netbeans I'm afraid. But it _

[2017-08-04 21:27] TheFlash98 commented on #2935
Hey @Cervator 😄!
For starters I think the modules should be categorised. However there's no issue which points towards or explains Step 1, right? Once that's done, we can make a dropdown like how issues can sorted label-wise etc(may be?).

The idea of adding screenshots from the world is pretty good. It would be nice for a player to have sort of like a preview. However this may be need it's own se

[2017-08-04 21:38] Cervator commented on #2935
Correct on all counts and any idea that results in an improvement is fine by me. One potential GSOC student was looking at the preview item, but I forgot if the notes made it to the forum.

[2017-08-05 06:42] Cervator opened #3050 "Unexpected behavior on a filtered module screen + activating a module there"
### What you were trying to do

Activate the InGameHelpAPI module on top of the standard content of the JoshariasSurvival gameplay template, from a filtered module view for "help" that showed other already active modules. I expected to simply see my additional module showing as activated.

### What actually happened

When I activated "In Game Help API" with two other visible modules already activa

[2017-08-05 06:45] Cervator commented on #3043
Closing as fixed by #3049! :-)

[2017-08-05 06:45] #3043 closed

[2017-08-05 06:46] Cervator commented on #3014
Closing this as completed by #3017 :-)

The library checkbox is disabled until we can actually use it, good suggestion!

[2017-08-05 06:46] #3014 closed

[2017-08-05 16:16] gianluca-nitti commented on #2590
Not sure if it can be of any help - most likely not - but I have another log of this same issue, which happened to me today during the play test. Posting here with a bit of context: https://pastebin.com/TW1N2ydq. As you can see, it happened shortly after generating a list of render tasks.

[2017-08-06 00:52] emanuele3d opened #3052 "Water Look improvements - above the surface"
The current water surface rendering (from above - the underwater look will be dealt with separately) is working reasonably well. But a number of improvements could be brought to it relatively easily.

## 1st goal: light and depth factors
The color of a surface underwater (even when seen from above water) is affected by two factors:
1. how much water there is between the surface and the sun
2. how

[2017-08-06 06:16] #726 closed

[2017-08-06 06:20] Cervator commented on #2158
Addendum from #3003 - on death the player's inventory now persists. Different gameplay modes may want to vary that (lose all, keep all, drop all, partial, etc). We should improve support for that if needed and cover it in the tutorial.

[2017-08-06 06:22] Cervator commented on #3003
Closing this as part of Alpha 8 as mostly complete, moved one remaining item to #2158

I don't know what architecture is ideal but am leaning toward whichever architecture is actually made to work, as inherently superior to something that is theoretical and does not in fact work - yet :-)

[2017-08-06 06:22] #3003 closed

[2017-08-09 19:11] Vizaxo opened #3055 "Accidentally changing the view distance can cause bad performance and a crash"
### The problem

For a while I've had an intermittent problem where sometimes the game would get slow, start stuttering, and then eventually crash with an OutOfMemoryError or other GC problem. I thought it was something to do with the changes I was making to entities or something with Dynamic Cities, but I reproduced it on a fresh build on the flat world today

Then I realised that I'd accidentall

[2017-08-11 04:34] cheekujodhpur commented on #2943
Hey, I could not reproduce this.

This is an old issue. Maybe something else fixed this. Could someone else check as well?

[2017-08-11 12:56] TheFlash98 commented on #2935
Hey @Cervator
I was just working on this. I made a `UIDropdownScrollable` instead of the checkbox. Now to display the list, I need to pass a `ArrayList` to it. Where do you want me to initialise the `ArrayList` with the types of modules possible?

[2017-08-11 20:50] emanuele3d commented on #2943
@flo: I also can't reproduce this. A number of changes have occurred in the renderer and the problem might have been solved. Is it ok if we close this issue?

That been said, the underwater rendering remains unacceptable though, as it no longer has a tint nor any blur effects. I have opened issue #3052 to work on the look from above the water and I plan to open another issue specifically for the u

[2017-08-11 21:16] cheekujodhpur commented on #2943
Yes. I recently cloned this repo and was indeed having a desire  to work on that issue.
But it is a large codebase so maybe I should do something small first. @nihal111 invited me to discuss this with you on IRC. I'm looking forward to that soon

[2017-08-11 21:20] emanuele3d commented on #2943
@cheekujodhpur: I am online now if you want to have a quick chat.

[2017-08-11 21:30] TheFlash98 commented on #2935
Okay so, on later speculations I thought that having multiple filters add the same time would be better. So I went ahead and created a new `CoreScreenLayer` which is linked by a "Advanced Filters" button on the SelectModulesScreen. That Screen lists down the different types of modules along with a `UICheckbox` to select and deselect them.
I have the code to both the implementations (new Screen and

[2017-08-12 00:45] TimVerhaegen commented on #2397
Another case. I am not able to open my inventory either, might be connected. I was trying to place water down to replace this issue.
![screenshot_33](https://user-images.githubusercontent.com/17968114/29236162-37a505c2-7f07-11e7-8472-86d5ad939dde.png)

My PC specs:
- Windows 10 Pro 64-bit (not yet activated)
- CPU: AMD Ryzen 5 1600
- RAM: 16GB
- ASUS PRIME B360-PLUS
- GPU1: Radeon RX 480
- GPU2: A

[2017-08-12 13:53] SoniEx2 commented on #2893
How about private FCs? ("TCPWhitelistConfig"?)

[2017-08-12 15:08] SoniEx2 opened #3060 "Remove MethodAccess from API whitelist"
https://github.com/MovingBlocks/Terasology/blob/09670727a1fc5f0c9ffeabc46a7eb7092b7dc914/engine/src/main/java/org/terasology/engine/module/ExternalApiWhitelist.java#L82

Guess I don't need to implement any TCP API after all, I just need to MethodAccess everything!

[2017-08-12 21:55] emanuele3d commented on #2893
@Soni: please elaborate.

[2017-08-12 21:58] SoniEx2 commented on #2893
Not exposed to modules.

[2017-08-13 13:29] emanuele3d commented on #2893
In terms of functionality, I think engine-private settings could be useful.

In terms of implementation, at this stage I'd implement settings that have to stay engine-private storing them in a separate FC object, one that doesn't get published in the Context/CoreRegistry or one that gets published in a sub-context that the modules do not obtain. And perhaps there are other ways, i.e. relying on sa

[2017-08-13 22:59] emanuele3d opened #3064 "Light Shafts Improvements"
## Introduction
It appears that the current implementation of the Light Shafts (also known as God Rays or more scientifically  [Crepuscular rays](https://en.wikipedia.org/wiki/Crepuscular_rays)) basically takes the image resulting from the pre-postProcessing nodes and scales it up and progressively fades it out, repeatedly, blending the iterations together into a specific FBO. The result is then a

[2017-08-14 01:44] #3034 closed

[2017-08-14 01:46] Cervator commented on #3034
Auto-closed with PR #3057 merged. Unsure if that's you on a different account @JamesB01 but in either case I hope we see you around more! :-)

[2017-08-14 02:57] Cervator commented on #2935
That PR is now merged!

@TheFlash98 feel free to push ahead with multiple filters and such :-)

An advanced screen would be good for anything beyond a plain text filter or local only 👍

[2017-08-14 03:05] Cervator commented on #2943
Agreed on closing this if it no longer occurs - on the other hand maybe it is for specific systems? @flo could you try and see if it still happens for you?

[2017-08-14 03:55] Cervator opened #3066 "Breaking blocks in SampleBuilderGameplay doesn't work right"
### What you were trying to do

Test Alpha 8 - SampleBuilderGameplay world

* Left click should remove a block without any drops and "select" that block type
* Right click should place a block of whatever selected type

### What actually happened

Right click is fine. But Left click fails to remove a block and instead a physics-cube pops out and flies off to the side, one per click.

Probably some

[2017-08-14 04:04] Cervator opened #3067 "Goodie chest the player starts with in CoreSampleGameplay is empty"
### What you were trying to do

Do final testing for Alpha 8 - Core. I placed the chest the player starts with and expected it to contain stuff

### What actually happened

No stuff!

Probably a simple issue breaking how the starting player inventory is set up. See `PlayerStartingInventorySystem` and maybe the `InventoryAuthoritySystem` - might even be bite-sized for somebody able to step through

[2017-08-14 04:17] Cervator commented on #3060
Found the main and probably only user: @MarcinSc's computer system, guessing his language definition in https://github.com/Terasology/ModularComputers/tree/master/src/main/java/com/gempukku/lang

The system supports in-game computers a la OpenComputers and such. I don't know how critical that class is, or how easy it would be to use a different tactic, but I think this is why it is there.

Maybe i

[2017-08-14 04:27] Cervator commented on #2944
Alpha 8 prep is finally in the final stages. We've done a few play tests and critical bug hunting to get some more severe issues out of the way. Today I noted two more with #3066 and #3067 that I'd consider Blockers but hopefully easy to resolve.

InGameHelp the module is also in a weird state, like half way through a migration. We might be able to move forward without if needed as the failed buil

[2017-08-14 19:20] flo commented on #2943
I can still reproduce the issue with current trunk:

To test this I started a game with the GooeysQuest module and then cheated myself the toolbox item. Then I activated the item and used it to get a dungeonTownWell spawner. Then I used the ghost cheat to fly deep underground and spawned the dungeonTownWell structure by right clicking with the spawner. Then I floated into the water and threw a tor

[2017-08-14 19:39] Cervator opened #3068 "Enhance game executable scripts to pass forward command line arguments"
As @nihal111 just noticed it doesn't actually appear that our executable scripts accept command line arguments, say if you're trying to launch the game with `-homedir` on Linux. The Windows exe works fine as does running via command line using `java ...`

When I was working on #2979 to get the Groovy Wrapper working I noticed the `gradlew` script (which my `groovyw` is just a slightly modified cop

[2017-08-14 20:05] skaldarnar commented on #2999
The particle system is an engine feature, so no specific module to link to. It is used sparely right now, but examples can be found all over the place. The "resurrection statues" also use them, block particle effects are implemented that way, and there are probably examples for smoke in modules like _Smithing_ or _Rails_.
Otherwise, a lot of trial and error with implementing your particle effects

[2017-08-15 03:15] Cervator commented on #2999
GooeysQuests also uses particles when Gooey spawns (usually always right after you spawn) or when Gooey spawns structures :-)

(Rez statues are in Lost)

[2017-08-15 06:55] TheFlash98 commented on #2935
@Cervator so far I've made the screen list some module types, and store the state of the check box in config. Gonna implement their actual functionality soon and send a PR.

[2017-08-15 13:24] capitalknew commented on #2099
With LWJGL3 possible full real-time ray tracing. I want to make in future anisotropic filtration in ray tracer.

[2017-08-15 18:16] cheekujodhpur commented on #3052
Hey! For the goal#1, we know the water surface position (height), and the sun position (height) in the shader. To find the surface position (height), my first guess was that textureAtlasHeight stores the terrain height information, but it seems to be something else entirely, or I could not figure what it is.

Could you suggest what is the best way to get the surface height below the water?

[2017-08-15 18:47] xrtariq2594 commented on #3067
It appears the problem is bigger than just the goodie chest.

Apparently, if you place items into the chest when it's in the world, destroy the chest, collect it, place it again, and open it, the items you originally placed in the chest will be gone. So, the items are not being transferred properly.

[2017-08-15 22:37] emanuele3d commented on #2099
@capitalknew: the current renderer is being overhauled into a node-based system, with nodes potentially provided by external modules. We still have some way to go, but when the renderer is open to modules, you'll be able to replace the existing render nodes with your own, and they could be raytracing rather than rasterizing as we are doing now.

Have a look at our [Renderer Overhaul](https://githu

[2017-08-15 22:47] emanuele3d commented on #3052
Let me cut and paste something I wrote in irc:

the renderer first renders the scene -without- the water. And stores the results in the gbuffer. Which includes camera-space depth information.  In an entirely separate pass/node, it renders the water surface and puts it on top of the existing rendering.

So, the trick is to save somewhere (i.e. with a copy operation) the depth information of the ren

[2017-08-15 22:52] emanuele3d commented on #3052
By the way, @cheekujodhpur: please send me an email address with a private message on our forum. I'll send you an invite for our slack-based chat rooms. It's quieter, more structured and more focused there than irc.

That been said, please let's continue discussing this topic primarily here.

[2017-08-16 04:57] cheekujodhpur commented on #3052
Thanks.

I am sorry I am not convinced that is a very good idea. You would either end up passing too much information not needed, or you would end up doing too much processing figuring out which blocks have water above them.

From my perspective, expanding the rayTrace method in physics.BulletPhysics is a better idea because it will eventually give you an option to do real refraction, take account

[2017-08-16 09:39] metalim opened #3069 "Improve UI response when meta server unavailable / returning no content"
### What you were trying to do
Get server list.

### What actually happened
Dear Terasology Developers and Support staff,

I have just started Terasology after update, and got this: https://puu.sh/xbnf1/82adfcc23d.png
First it showed "Downloading server list..." for a minute, then got "Server list complete" with no servers. What kind of UX sh* is this? What was it downloading then?

Until update,

[2017-08-16 12:13] emanuele3d commented on #3052
Perhaps there is something you know that I don't know, because from my perspective the raytrace method you talk about is mostly happening CPU-side. So, assuming a standard HD monitor with 2 million pixels and a lake covering 1/5th of the view, you'd have to cast 400.000 rays, one for each pixel of the lake.

Is the raytrace method in bullet something you can somehow parallelize on the gpu? I.e. se

[2017-08-16 13:21] cheekujodhpur commented on #3052
Mmm, I was thinking of something simpler actually: to shoot only a few rays (perhaps one per surface block) to get an approximate depth map. This, I imagine would be cheap.

The problem I am speculating with your suggestion is that: you would be storing the "complete" scene rendered without the water/liquid blocks in a buffer right? Isn't that too much un-needed information, for some simple cases,

[2017-08-16 13:39] emanuele3d commented on #3052
Definitely it's not the whole scene to be stored in a buffer. Just the rendering. And it already includes the depth buffer, which is a 2d image effectively. You just need to make a copy of it because subsequent nodes will overwrite it, i.e. with the water surface.

And no, shooting a few rays would not provide results that are better or equal to what we have now, which is a requirement.

[2017-08-16 17:57] cheekujodhpur commented on #3052
I did a little more tinkering. Please bear with me if I sound like an idiot below. I'm slowly trying to figure this out.

The depth buffer is bound to the texture `texSceneOpaqueDepth`. The frame buffer object named `lastUpdatedgbuffer` can be used to pass this texture into our fragment shader. When opaque blocks are rendered, they write to this. Now we reach the reflectiveRefractive Node. The req

[2017-08-16 18:54] Cervator commented on #3069
Hi @metalim and thanks for the report :-)

I can confirm the issue, which must be very recent. We have been doing some work on infrastructure and module/server listing lately and it seems like something got shook loose somewhere.

Our meta server (shows module and server info) is meant to be optional so the game should work without, clearly that could be made more obvious. The meta server is comin

[2017-08-17 12:50] msteiger commented on #3069
I just rebooted the service. Please try again.

[2017-08-17 15:55] emanuele3d commented on #3052
To summarize something we discussed in slack, there could be a problem here due to an attempt to both read from AND write to the same depth attachment within the same rendering.

reflectiveRefractiveFbo is the buffer the reflectiveRefractiveNode intends to write to. But the node attaches the last updated gbuffer's depth attachment to it. Which means the depth attachment will also be written to. So

[2017-08-17 18:54] msteiger commented on #3069
The DB was updated during a maintenance operation. Everything should be back to normal now. Please confirm (and close ;-) )

[2017-08-17 23:03] emanuele3d opened #3073 "Rendering Front to Back"
##Introduction
Currently the renderer pretty much does what a traditional painter would do with a canvas: start with the background and work your way forward, layer after layer, until you get to the most foreground elements.

This works, but it can be somewhat inefficient. Let's imagine for a moment that we are in a cave and the sky is absolutely invisible. The current renderer renders it anyway,

[2017-08-18 03:45] Cervator commented on #3069
Can confirm it works now :-) Thanks @msteiger!

That completes 1 of 2. Leaving this issue open with a new name and bite-size since part 2 is pretty easy: update the "Server List Complete" to better indicate when the meta server is having problems. For instance:

* Detect if the lookup fails or times out. Show "Meta server lookup failure"
* Detect if there are no entries returned. Show "Lookup comp

[2017-08-18 09:08] TheFlash98 commented on #3069
@Cervator on changing just the `masterServer` in `config.cfg`, the downloader tries to download from `defaultAddress` which has been set to meta.terasology.org in `NetworkConfig.java` and successfully downloads it. However when I changed that as well, as proper  message saying "Error Downloading Server List!" was displayed. How does one reproduce this?

[2017-08-19 03:51] MarkDerosier opened #3074 "Terasology cannot run if /tmp is mounted with noexec"
### What you were trying to do
Run terasology
### What actually happened
It crashed to the bug reporter
### How to reproduce
Launch terasology on linux with /tmp mounted noexec (a default in many cases. exec has to be explicitly listed in options when remounting /tmp)

tmpfs mounted as
`tmpfs             on  /tmp                       type  tmpfs       (rw,nosuid,noexec,relatime,rootcontext=system

[2017-08-20 16:44] BloodBR opened #3076 "ed"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-08-21 08:55] jellysnake commented on #3076
Closing. If you have an issue BloodBR please fill out the details so we can help

[2017-08-21 08:55] #3076 closed

[2017-08-22 20:00] zxmbiekitten opened #3078 "zxmbiekitten"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-08-23 22:38] jellysnake commented on #3078
Closing as spam. If you have a bug or issue with the game please fill out the form with the details

[2017-08-23 22:38] #3078 closed

[2017-08-23 22:45] jellysnake commented on #3067
So, just for anyone else looking at this:

On a headless server the items do not vanish when a chest is placed.
Whilst the user is holding a chest the items are still present within that chest.
The items have gone missing by the time the `onPlaced` method of `blockInventorySystem` is called.
The items also are missing before the `OnBlockPlacedEvent

[2017-08-24 12:18] emanuele3d commented on #2828
@vampcat: how to do you feel about this issue? I think we made considerable progress and I'm tempted of closing it. Are there outstanding aspects of it that warrant keeping the issue open? I.e. things we could do better on this front?

[2017-08-24 14:38] vampcat commented on #2828
I believe this issue is ready to be closed.

However, I also think that we need to open another issue and re-evaluate how the drawing is happening in the DefferedLightingNode and how things are working out without copying over some of the attachments (we dicussed this in depth on Slack).

[2017-08-24 15:11] emanuele3d commented on #2828
Agreed. Please go ahead and write the issue, so that we have a venue to discuss about it.

[2017-08-24 15:11] #2828 closed

[2017-08-26 08:15] grubdragon commented on #2990
Hey! I'm a beginner and I'd like to work on this issue

[2017-08-26 09:16] HackerControHacker opened #3081 "Crash Report - Linux Mint 18.1 [AMD/ATI]"
### logs info

11:10:25.254 [main] INFO  o.terasology.engine.TerasologyEngine - Initializing Terasology...
11:10:25.359 [main] INFO  o.terasology.engine.TerasologyEngine - [buildNumber=, buildId=, buildTag=, buildUrl=, gitBranch=, gitCommit=, dateTime=, displayVersion=, engineVersion=]
11:10:25.359 [main] INFO  o.terasology.engine.TerasologyEngine - Home path: /home/linux/.local/share/terasology
1

[2017-08-26 16:48] skaldarnar commented on #2990
Hi @grubdragon and welcome! Feel free to start working on this issue.

As @Cervator already wrote, you could start investigating this in [`ChatScreen`](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/logic/console/ui/ChatScreen.java) and [`ChatSystem`](https://github.com/MovingBlocks/Terasology/blob/develop/engine/src/main/java/org/terasology/logic/chat/

[2017-08-27 00:21] jellysnake commented on #2984
Following up to say have we decided between null and Optional yet? @skaldarnar @OvermindDL1

[2017-08-27 07:02] oniatus commented on #2984
I would suggest to break the API for v2 or v3 and switch to Optional. It makes the API more explicit and reduces the chance for failures.

[2017-08-27 15:54] grubdragon commented on #2990
Hey @skaldarnar could you guide me through this issue? I'm not sure on how to proceed. What is our desired behavior?

[2017-08-27 17:34] xrtariq2594 commented on #3067
Yep, I can confirm that as well @jellysnake. I verified that in the `onPlaceBlock` method of `BlockItemSystem.java`. Something seems to happen between holding the chest, and sending the `OnBlockItemPlaced` event. I guess we'll need to look further up the chain.

[2017-08-27 19:46] Cervator commented on #3073
On a maybe-kinda-sorta related note: there has been occasional talk about chunk occlusion and such, like in issue #1710 (huh, time really does fly).

As part of the Sectors world gen item in GSOC 2017 some more ideas came up on pre-generating world further away from the player, but without going through full and expensive chunk generation (somehow estimating distant appearance / opacity via examin

[2017-08-28 10:25] gianluca-nitti commented on #3081
I think it's related to the JVM you are using (IBM J9 VM), looks like it isn't able to generate the RSA keys necessary for the client-server authentication protocol (IIRC, even if you aren't using multiplayer, at startup the game initializes the keys to be used if you want to host a server).

I'd suggest you use openjdk (or Oracle jvm if it's still available in your distribution).

[2017-08-28 13:57] jellysnake commented on #3067
@Cervator and @Anthodeus have found that it seems to be caused by or at least related to #2810. This fits with the behaviour of the bug

[2017-08-28 17:41] xrtariq2594 commented on #3067
Yep, can confirm it @jellysnake. After reverting to the commit just before that one, it starts working again.

[2017-08-29 03:06] Cervator commented on #2643
I double checked on this since it was listed as a Blocker, but believe it was likely a case of the module not having compiled fully - that will mean the asset wasn't available. I tried it just now and it worked fine :-)

Trying to ask for a non-existing screen resulted in graceful error return to the console rather than an NPE. I'm not sure if this is something we hardened since this issue was sub

[2017-08-29 03:06] #2643 closed

[2017-08-29 05:25] samirthapasrt opened #3084 "no"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-08-29 12:24] emanuele3d commented on #3084
@samirthapasrt, your issue lacks details somehow. This makes it a bit difficult to deal with whatever problem you wanted to raise. Let us know if there is something specific you want us to look at.

[2017-08-29 12:24] #3084 closed

[2017-08-31 04:43] Cervator commented on #3066
Note from @portokaliu on Slack: happens due to block breaking triggering the particle system even with BSG active, even with it not being meant to have particle effects on anything else active (but since it lives in the engine it ends up getting it anyway)

As the dust effect from block breaking lives in Core it doesn't exist and the process fails partway through - leaving to the physics cube popp

[2017-08-31 04:51] Cervator opened #3087 "Game crash on second world load due to odd particle initialization / lifecycle"
Noticed by @portokaliu - after you leave the game world once `ParticleSystemManagerImpl.shutdown()` executes  `particleUpdater = null;` probably in an attempt to clean something up. However the `initialise()` method that sets it only runs on *game* start, not entering a new world. So on attempt two `particleUpdater` remains null and NPEs the game.

Blocker level critical for Alpha 8 but probably r

[2017-08-31 05:05] JohnMHarrisJr commented on #2531
I'd suggest just not doing whitelist security? That essentially makes this non-free software, and it's pretty stupid from a security standpoint.

[2017-08-31 08:11] portokaliu commented on #3087
More precisely, the particleUpdater is initialised the second time as well, but it's being deleted right before the player enters the world due to a shutdown ( which I haven't been able to fully track just yet).

[2017-08-31 14:51] OvermindDL1 commented on #2531
It would also allow a modder to send whatever code they wanted to you just by joining them, thus doing whatever they want on your machine.  Short of using a sandboxed language, whitelisting java modules is... closeish...  >.>

[2017-08-31 19:33] JohnMHarrisJr commented on #2531
@OvermindDL1 Solution to that: Don't let the server send arbitrary code.. Which I don't see it being able to do? Are you suggesting the server can send Java class objects over the network and have a method on them invoked?

[2017-08-31 19:40] OvermindDL1 commented on #2531
Except it is useful for the server to send mods so the clients can be synched without needing to download an entire pack of their own while getting the right things enabled.

[2017-08-31 20:20] oniatus commented on #3087
Found the issue.
`ComponentSystemManager` holds a list of renderSubscribers (RenderSystems). The list is never cleared.
After the first run (does not matter if you create the world or load the game for the first time after engine startup), the Manager will hold a reference to a `SpriteParticleRenderer` which holds a reference to the first `ParticleSystemManager`.
At the second run, another `Sprite

[2017-08-31 23:17] Cervator commented on #2531
@JohnMHarrisJr

Wait what? What does a whitelist have to do with whether or not this is free software?

This is not some list of projects we have decided are cool or not. It is specifically for what modules are allowed to access in the engine and beyond. You can have anything of your choice added by simply asking, adding it in your own fork, or even just turning off security if you don't care for

[2017-09-01 01:18] #3087 closed

[2017-09-01 23:24] JohnMHarrisJr commented on #2531
@Cervator This makes it harder for those wishing to run their own customized clients, among other things.

[2017-09-01 23:27] JohnMHarrisJr commented on #2531
@OvermindDL1 If security is a concern, the server should not be able to send mods at all. There are a handful of ways around these 'whitelists', for example. One can also ab(use) the ClassLoader to bypass the whitelist entirely.

[2017-09-02 04:10] #3066 closed

[2017-09-02 04:45] #3067 closed

[2017-09-02 16:20] Cervator commented on #2531
But - it doesn't? The client is pure engine. No whitelist.

The moment you're hacking your own client or distributing a nefarious fake then that's out of our hands. The goal of the whitelist is to make a legit client invulnerable to malicious modules - that's it.

If you can find ways to write a malicious module that can compromise a legit client, via classloader tricks or whatever, please do so w

[2017-09-02 18:21] Cervator opened #3091 "Telemetry: indirect breaking of blocks causes NullPointerException"
Relatively minor issue: some types of destruction can result in indirect breakage of blocks, such as when you break a block *below* a billboard plant, torch, or loose rock in JoshariasSurvival. This can lead to `EntityDestructionAuthoritySystem.recordDestroyed()` encountering a null `instigator` causing an NPE and stopping the destruction (meaning the thing on top doesn't pop)

We should either nu

[2017-09-02 18:24] Cervator opened #3092 "Underwater effect broken"
Probably a minor issue resulting from recent rendering work - not something I'm particularly worried about, but wanted to report :-)

Encountered during play test / Alpha 8 validating on Omega 805 zip (latest as of right now)

Likely of interest to @emanuele3d and/or @vampcat

![terasology-170902142223-1152x720](https://user-images.githubusercontent.com/1063833/29997784-54e03320-8fea-11e7-95f1-08b

[2017-09-02 19:01] Cervator opened #3093 "Alpha 9 release prep & QA"
Still playing with ways to track stuff better, like minor known issues across the module ecosystem, making it more visible in this tracker somehow :-)

Some outstanding but fairly recent and easy to discover issues from the past - found during testing for Alpha 7 and 8, left outstanding as 8 was being released. *Some* of these may be approachable for new contributors interested in things to fix.

[2017-09-02 19:02] Cervator commented on #2766
Closing this at long last as part of Alpha 8 release prep, pushing forward a few open items to newer issues :-)

[2017-09-02 19:02] #2766 closed

[2017-09-02 19:14] Cervator opened #3094 "The console command "help" should also show the permission required to execute it"
So for instance the `give` command requires `PermissionManager.CHEAT_PERMISSION` but current output from "help give" only describes it as such:

[code]

We should add in the permission level somewhere. See `ItemCommands.give()` as an example. The "help" command is over in `CoreCommands`

Trickiest part might be figuring out how to query for the right annotation but that should be doable with a qui

[2017-09-02 19:22] Cervator commented on #2990
Bump - hey @grubdragon :-) Did you have any other questions or luck with this item?

[2017-09-02 19:35] Cervator opened #3095 "Some types of blocks remain invisible on a client connected to a server (client restart may fix)"
For a few play tests now we have noticed quirky issues where a block appears to exist in a spot on a server as when you try to walk into that space you get bounced back. It seems the client is disagreeing with the serer on whether or not there is something there, so you can somewhat start walking into the space but then the server bumps you.

It seems to happen to non-basic blocks the most, or exc

[2017-09-02 19:41] Cervator commented on #2944
Finally looks like we are clear for release! Have pushed forward any remaining issues of note (including Alpha 7 and on the one play test project page) to https://github.com/MovingBlocks/Terasology/issues/3093 to cover outstanding stuff as Alpha 9 gets started :-)

[2017-09-02 19:41] #2944 closed

[2017-09-02 19:46] Cervator commented on #2862
Closing this as sufficiently completed by @kartikey0303's GSOC project for 2017, woohoo! Nice work Kartikey and thanks @flo @glasz @Quaternius and others :-)

There are naturally still plenty of more things we can do and enhance. The GitHub project https://github.com/orgs/MovingBlocks/projects/7 lists most of those together with a Google Doc we have. Still on the list to sort all that out into new

[2017-09-02 19:46] #2862 closed

[2017-09-02 20:07] Cervator commented on #2775
Well, based on the activity of this issue one might think there hasn't been a hectic summer of activity and discussion going on. But the base exploration world has now been completed by @nihal111 - woohoo! Thank you, and @SkySom @flo @smsunarto @xrtariq2594 and others :-)

There is still plenty to do and this item was popular with prospective students - hi again @ianbrobin! if anybody else would l

[2017-09-02 20:07] #2775 closed

[2017-09-02 20:10] Cervator commented on #3011
Here's another little stash of notes pulled from #2765 so I can close that one as part of Alpha 8 :-)

- [ ] The Crash IssueReporter now opens in the background, which can be confusing (should go to the front, just not be modal)
- [ ] Relation to #1402 - steal @iojw's improvement from MovingBlocks/TerasologyLauncher#392 to also apply in the engine (warning icon showing problems may be active). But

[2017-09-02 20:13] Cervator commented on #2765
Closing this now as completed as part of GSOC 2017 - woohoo! Thank you @GabrielXia along with mentors @rzats @msteiger @skaldarnar and @oniatus !

There are more ideas and possibilities, some noted in #3011 and even moved from here.

See the blog for updates and work done on this item: https://gabrielxia.github.io/telemetry.html

[2017-09-02 20:13] #2765 closed

[2017-09-02 20:49] Cervator commented on #1443
We have sticky arrows in CombatSystem now - does that count as this being complete, or do you still have sticky torches hiding somewhere @portokaliu ? :D

[2017-09-02 20:53] Cervator commented on #2072
Closing this as completed as part of GSOC 2017, woo! New module https://github.com/Terasology/CombatSystem is the primary home for the new system, and has some sibling modules :-)

Thanks @0shine0 and mentors @portokaliu @niksoc @xrtariq2594 !

As usual there are plenty of additional areas that could still be worked on, maybe especially positional combat / damage, but that is for another day :-)

[2017-09-02 20:53] #2072 closed

[2017-09-02 21:53] Cervator commented on #465
Closing as completed by @arpan98 as part of GSOC 2017! :-)

Thank you very much, and mentors too: @xrtariq2594 @mjuvekar7 @jellysnake!

There is still a ton that could be done to go further, and I'm leaving #2648 open in part for that reason - the Genome part has begun, but isn't super visible yet beyond the ability for deer to mate. Another thing would be #1639 which is again peripherally poked b

[2017-09-02 21:53] #465 closed

[2017-09-02 22:28] Cervator commented on #1433
Bump - thanks to @gianluca-nitti we now have an option to run a central identity server that can let you use your identity from different places (like multiple PCs) and log in to a game server as the same player.

That's more or less this issue taken to the next step beyond it, but I suppose some might still like the manual option. Probably wouldn't be hard to add at this point.

[2017-09-02 22:30] Cervator commented on #2436
Closing this as completed by @gianluca-nitti as part of GSOC 2017 - huzzah! :-)

See https://github.com/MovingBlocks/FacadeServer for the implementation of the new facade that lets a server be more readily controllable. See https://gianluca-nitti.github.io/GSoC-2017-devlog/ for a bunch of nifty blogs about all the work that was done.

Thank you so much @gianluca-nitti! And mentors @msteiger & @ska

[2017-09-02 22:30] #2436 closed

[2017-09-02 22:33] Cervator commented on #929
Bump - this is now vastly more doable and at least partially complete thanks to #2436 and @gianluca-nitti - I think that might be less dedicated mobile app and more mobile-friendly website, however (please correct me if I'm wrong!) - which might not be a bad thing.

Going to leave this open for now since there is much more that can be done and this could serve as a useful reminder, at least for a

[2017-09-02 22:42] Cervator commented on #2070
I'm going to close this as completed as part of release management fun for Alpha 8 / end of GSOC 2017. The code isn't actually *part* of Alpha 8 since it is targeted for engine v2.0.0 - but that's close enough to finish this one item out, let the bounty be claimable, then get started on writing more detailed follow-up issues soon

Thank you very much for your work @dkambersky! And mentors + other

[2017-09-02 22:42] #2070 closed

[2017-09-02 22:48] Cervator commented on #2774
Initial implementation of Sectors, Zones ("surfaces"), and improved preview has been done as part of GSOC 2017 by @Vizaxo yay! Leaving this issue open for now though as it doesn't have a bounty to close out, and there are so many more good things to continue on. Heck there might even be enough for another round of GSOC in the future. Mainly we need to do a whole bunch of organizing and write-ups :

[2017-09-03 03:34] Cervator commented on #3092
Closing as fixed by #3096 - thanks! :-)

Last item in Alpha 8 woo

[2017-09-03 03:34] #3092 closed

[2017-09-04 02:36] #3094 closed

[2017-09-04 16:26] gianluca-nitti commented on #1433
I think I could implement this, however I'm not sure what exactly is desired.
Do you mean that a file picker dialog should open when clicking export/import so that the user can choose the location of the file (sorry if it's obvious, I just want to make sure)? This could be done with the Swing file chooser or by implementing a custom NUI file picker (which might become useful for other purposes too

[2017-09-05 12:54] grubdragon commented on #2990
Hey @Cervator was a bit busy with some other work, I'll try and look around.

[2017-09-05 22:22] grubdragon commented on #2990
@Cervator @skaldarnar , did some poking around, didn't find anything that would cause the functionality to break. I'll look at it again with fresh eyes tomorrow I guess.

[2017-09-06 05:49] JohnMHarrisJr commented on #2531
"hacking your own client or distributing a nefarious fake"

Again, you shouldn't assume the client is running exactly what's in this repository. Why should I have to run your code exactly as it is? Why is "legit client" something you think exists?

And classloader tricks and things like that are just par for the course with Java.

[2017-09-07 02:15] Cervator commented on #2531
@JohnMHarrisJr - why are you here? It sounds like you're complaining just to complain.

The *official* download is what we distribute, from this repository, as the maintainers of the project. That's the product. That's how this project works.

The license allows you to do almost whatever you want with the code. We encourage it. But anything else is no longer the official game and outside the scope

[2017-09-07 15:42] JohnMHarrisJr commented on #2531
@Cervator I am here because I was made aware of this issue and thought I would offer assistance.

There is no "official" download. The moment you start to label software as "official" and "unofficial" and there is no product. You're creating a software project, not a product. You're not selling apples.

The project is under the Apache License, people can modify the code and do whatever they want w

[2017-09-07 15:56] SkySom commented on #2531
You're right, we are creating a software project, one which we have to support. Calling something "official" means that we promise the best level of support we can provide . Anything else and you're potentially on your own. So yes, you can modify the client and connect, but that doesn't mean that you can expect it to work perfectly, nor for us to treat it as a valid configuration.

[2017-09-07 16:32] smsunarto commented on #2531
@JohnMHarrisJr hey, I heard you like debating word usage. So if we don't call the community supported and organization endorse client as the "official", what should we call it? :)

[2017-09-07 16:42] Cervator commented on #2531
@JohnMHarrisJr I'd appreciate knowing from where you were being made aware that this was an issue, so I can go correct those people's misinterpretations as well :-)

Again - you can do whatever you want, as per the license. Have fun. In the meantime we're using this strategy to keep regular players able to safely download content modules automatically without risking their computer - so long as th

[2017-09-07 20:17] Cervator opened #3099 "Further options for new Groovy-based utility commands"
With #2979 merged we now have the new [Groovy Wrapper](https://github.com/MovingBlocks/groovy-wrapper) in place for making easier and more powerful utility scripts than the somewhat awkward old `gradlew fetchModuleX` approach. Now we can has `groovyw module get X` instead!

I only prepared two initial options for fetching individual modules or all modules in a dependency tree. With that example in

[2017-09-07 20:20] SkySom commented on #3099
So does the new module get allow for telling it to pull all dependencies as repos?

[2017-09-07 20:22] Cervator commented on #3099
@SkySom `groovyw module recurse X` will :-) X plus all its dependency modules will be retrieved as source modules.

`groovyw module get X` just retrieves X solo

[2017-09-07 21:38] #3091 closed

[2017-09-07 22:10] JohnMHarrisJr commented on #2531
It'd probably be best to discuss this either on a mailing list or at least another issue, but I'll respond here I suppose.

The issue with calling it 'official' rather than 'supported' or something like that is that the terminology discourages running altered versions. This is troublesome for free software, as anything that discourages modification also discourages possible contributors.

@Cervato

[2017-09-08 21:57] Cervator commented on #2531
@JohnMHarrisJr Thank you.

As noted above if you find actual concrete flaws in the current security implementation we can test for and improve that's hugely appreciated. Just this discussion itself went a bit off the rails.

We do encourage hacking away to your heart's content - for developers able to take care of themselves, like you. Simultaneously we also discourage using third party downloads

[2017-09-09 01:11] Cervator commented on #2317
Making a quick site note here before I forget. There are two tricky places where API tests may need a little extra to detect full SemVer compliance:

* A class previously whitelisted via `@API` or another method (like being whitelisted at the package level) has the API flagging removed. This would *not* be caught by an API test within the engine simply testing the class methods - the failure would

[2017-09-10 14:19] oniatus opened #3100 "[Discussion] Switch from Field Injection to Constructor Injection"
I would like to discuss a change in the dependency injection, aka how `@In` works.

**Current Solution**
At the moment we use field base injection, means we annotate fields like so:
[code]
This works in ComponentSystems and some other classes. The main mechanism is to create an instance of the class by reflection, then later on initialize the fields using the `InjectionHelper` which pulls the requ

[2017-09-11 14:04] kaen commented on #3100
I agree that it would help achieve your goal of making overworked classes more obvious. Personally I'm not sure the juice is worth the squeeze. Even given a full year, this still requires every module that currently exists to be updated (although I'll grant the modification is straightforward and might even be automated).

I'm not sure the problem of people overworking their classes can be solved

[2017-09-11 14:23] emanuele3d commented on #3100
I had a discussion with @immortius some time ago over injection. The conclusion of it was that ideally we avoid/deprecate @In-based injection and, as much as possible, pass arguments to constructors, falling back on obtaining things from a Context if really necessary.

I do agree with your analyses of the symptoms though @oniatus. Can you clarify for me what the difference would be between a stand

[2017-09-11 16:58] oniatus commented on #3100
@kaen
I don't think people will overwork classes automatically, that requires a lot of knowledge about refactoring for the large classes and a good understanding of design principles for the smaller or new ones. But at least it makes the pain more sensible and hopefully someone reaches out for help or an advise how to do it better.

@emanuele3d
I am not determined about `@In` for the constructor,

[2017-09-12 19:49] TheFlash98 opened #3101 "A new method which runs every time a screen is opened"
The `CoreScreenLayer` has several lifecycle methods, but not currently one that runs every time the screen is opened, including when it is returned to. A new `onScreenOpened()` method is needed which runs every time the screen is opened. Let's say you're on Screen1 and through it, go to a Screen2. When you come back to Screen1 (probably using `triggerBackAnimation()` in Screen2) you want a particu

[2017-09-13 17:28] ManyWalker opened #3102 "https://github.com/ManyWalker/ManyWalker.git"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2017-09-13 17:33] #3102 closed

[2017-09-15 01:04] Cervator commented on #3100
I reeeeally like the simplicity of `@In` as it stands, although I'll admit to not being well-versed in the architectural impact, especially on unit testing.

I'm not sure introducing pain just to encourage authors to use fewer fields (even impacting valid cases with only one or two fields being used) is the right way to go. How about preparing a code analysis warning that'll detect when more than

[2017-09-15 02:15] Cervator commented on #2297
After this was initially experimented with GitHub released projects, and IMHO ZenHub got a bit laggier and crowded ... am leaning toward trying to stick with the native UI (worked decently for GSOC 2017). Still considering available options and am always up for discussing needs vs what's available, but figure this issue is probably OK to close at this point.

[2017-09-15 02:15] #2297 closed

[2017-09-15 08:35] emanuele3d commented on #2297
I agree. Projects seem to duplicate pretty much the whole ZenHub functionality.

[2017-09-19 16:16] dee6600 commented on #2921
i m willing to do in hindi

[2017-09-23 01:56] dariost opened #3106 "Compatibility issue with Java 9"
Terasology crashes when trying to create a new game giving [this error](https://github.com/MovingBlocks/Terasology/files/1326193/terasology.log).
After discussing it with @Cervator on IRC he found out the crash is related to the Java version installed on my pc.
[code]
Java 9 is now in [general availability](http://openjdk.java.net/projects/jdk9/) and has already landed in the [Arch Linux repositor

[2017-09-23 02:20] dariost commented on #3106
I should also add that there's a lot of flickering while Terasology is starting (I did a [screen capture](https://www.youtube.com/watch?v=wl3YcXwqJDk), ignore the flickering that happens after 0:12 because that is my iGPU which is not fast enough to record the screen **and** load the game)

[2017-09-23 10:01] gianluca-nitti commented on #3106
I think I found a (one-line) fix, see #3107 for more information.
If you want to test you should be able to do it with a `git clone https://github.com/gianluca-nitti/Terasology && cd Terasology && git checkout java9-fix && ./gradlew game` in a temp directory.

[2017-09-23 10:49] dariost commented on #3106
@gianluca-nitti running `./gradlew game` gives an error (I added a `--info` for the [log](https://github.com/MovingBlocks/Terasology/files/1326480/gradlew.log))

[2017-09-23 12:11] jellysnake opened #3108 "Being unable to stand after crouching causes noclip"
Attempting to stop crouching in a 1 block tall space causes the player to clip through the ground.
This can then be repeated once the player is underground to crouchfall forever.

[Gif demonstration](https://gfycat.com/AmbitiousBabyishDeermouse)
(apologies for odd screencap)

[2017-09-23 13:39] dariost commented on #3106
After discussing it with @gianluca-nitti he found out that the problem with gradle was because of the [Arch Linux packaging](https://bugs.archlinux.org/task/55716); after having managed to get gradle to build Terasology I confirmed that Giancula's PR fixes the problem with creating a new game (the graphical flickering and glitches remain)

[2017-09-23 13:41] grubdragon commented on #3050
I'd like to work on this issue

[2017-09-25 08:52] #3101 closed

[2017-09-25 23:12] aaron-harris opened #3113 "Checkstyle Error - Property `maxLineLength` in module `LeftCurly` does not exist"
When running Checkstyle (through IntelliJ, with plugin version 5.10.1 and therefore Checkstyle version 8.2), I get the following error:

    The Checkstyle rules file could not be parsed.
    cannot initialize module TreeWalker - Property 'maxLineLength' in module LeftCurly does not exist, please check the documentation
    The file has been blacklisted for 60s.

It looks like the referenced prope

[2017-09-26 03:18] Cervator commented on #3113
Thanks for the note! Yeah this happens from time to time as versions of things get upgraded, appreciate the detective work :-)

The rules file isn't generated so much as copied in from a central location: https://github.com/MovingBlocks/TeraConfig/tree/master/checkstyle

Keeping it there lets us use the same rules across a bunch of different repositories. We "build" that repo and publish a zip wit

[2017-09-28 13:17] jellysnake commented on #2677
Reviving this in light of the Arabic pull.

As a solution, can we say ship with the current Noto font we have and then when a player enables a language like Chinese or similar that requires a separate font file we download it then. If there is no translation we fall back onto the default font?

[2017-09-28 17:37] Omaranwa commented on #2677
hi may name is omar
you can add font like (Arial) and its supoort arabic.
i am going to comblete my translation later on
thanks

[2017-09-30 12:10] theobisproject commented on #3113
I also stumbled over this error while working on #3112. Since we are using an old checkstyle version in the gradle build this is no problem but it is a much easier to correct the issues while they are highlighted by Intellij.
I think we should remove the property from the checkstyle file and also upgrade checkstyle to the latest version. @Cervator how do modules include the checkstyle? Is it inher

[2017-09-30 12:27] oniatus commented on #3113
The checkstyle version is defined here: https://github.com/MovingBlocks/Terasology/blob/develop/config/gradle/common.gradle
The used config is from here: https://github.com/MovingBlocks/TeraConfig/tree/master/checkstyle

The root project defines the dependency here: https://github.com/MovingBlocks/Terasology/blob/develop/build.gradle#L80 this should apply to modules because they are build as sub-p

[2017-10-01 19:44] TheFlash98 commented on #3068
Hey @Cervator I don't understand what you mean by `run_linux.sh` and `run_macosx.command`, where are these files?

[2017-10-02 00:21] grubdragon commented on #3050
@Cervator I can't seem to reproduce this error
On the create game screen, I filtered "help" and deactivated the other two. Proceeded to double click In Game Help API, but nothing seemed to happen

[2017-10-02 16:32] solojedi opened #3117 "Game Crash on Mac OS X"
### What you were trying to do

Use online Server, mining a block.

### What actually happened

Fresh install on Mac OS X, game played for a few minutes then shutdown

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

https://pastebin.com/nRMyyUpy

### Computer details
2016 Macbook Pro, 16 gb ram
V10.12.6

[2017-10-02 17:26] solojedi commented on #3117
Same issue's as [#3106](https://github.com/MovingBlocks/Terasology/issues/3106) related to JDK 9.
exported my java version back to JDK 8 and all is well

[2017-10-03 01:40] #3117 closed

[2017-10-07 15:40] reirep commented on #2921
If nobody is on it yet, I can help with the French part

[2017-10-08 02:54] #2990 closed

[2017-10-09 10:43] Yongjin0919 commented on #1354
Hey

[2017-10-14 17:39] TheFlash98 commented on #2984
Does this issue require all the `getBlockFor(blockUri)` methods to return `Optional` instead of a `block`?

[2017-10-14 22:11] jellysnake commented on #2984
I believe that @oniatus is saying it should return `null` but in V2 should be an `Optional`
So for now `BlockManager.getBlock(BlockUri)` should return Null (as per javadoc) along with `HorizontalBlockFamily.getBlockFor(BlockUri)`

[2017-10-15 06:28] TheFlash98 commented on #2984
As far as I can understand, `HorizontalBlockFamily.getBlockFor(BlockUri)` does return a `null` if there's any exception.

[2017-10-15 07:14] TheFlash98 commented on #2381
Hey @Cervator can you suggest some place to start looking?

[2017-10-17 00:35] noxarivis opened #3125 "Crash due to using Java 9"
https://pastebin.com/jN0AD2UV

[2017-10-17 01:49] jellysnake commented on #3125
This crash is due to using java 9, which we don't yet support, as per issue #3106. If you install and/or run Terasology using Java 8 then it should load fine.

[2017-10-17 13:59] noxarivis commented on #3125
lol, no joke i didnt even install java9 (at least not knowing of it)
i will use  the netbeans java, (which should be jdk8)
thanks ans sorry

[2017-10-17 13:59] #3125 closed

[2017-10-18 10:59] noxarivis opened #3126 ""Dropped items glitch!""
### What you were trying to do
Play the game
### What actually happened
after loading i had less than 1 fps,
i saw this glitch
![bildschirmfoto von 2017-10-18 12-30-56](https://user-images.githubusercontent.com/30774451/31715128-e7535606-b402-11e7-92ba-9b94fa347fe7.png)
![bildschirmfoto von 2017-10-18 12-32-50](https://user-images.githubusercontent.com/30774451/31715180-0f2d5e2e-b403-11e7-9d92-0dd

[2017-10-18 16:23] pollend commented on #3126
Can you explain what is happening. Is this a result of poor framerate or is there something wrong with the physics component of the game. Can you expand on exactly what is happening.

[2017-10-18 17:51] OvermindDL1 commented on #2984
For note, doesn't `Optional` incur a runtime speed overhead that `null` (and consequently Kotlin's `?`) does not have?  If Kotlin is ever expected to be merged in then having the cheaper option is more efficient and still safe in the Kotlin world at least (though less so in the Java/Scala world).

[2017-10-18 21:39] jellysnake commented on #3126
Ah, I know this issue. It seems like #3043 has returned from the grave.

[2017-10-18 21:41] jellysnake commented on #2984
Kotlin probably isn't ever going to be merged into the engine, because we already have a module for it. https://github.com/Terasology/KotlinLib

[2017-10-18 21:45] OvermindDL1 commented on #2984
Even ignoring it though, `Optional` does still have a runtime overhead that null does not have.

[2017-10-18 23:08] noxarivis commented on #3126
@pollend @jellysnake
The framerate is like 0,01FPS and I confirm that thease where items i held, so it might be the reincarnation of #3043

[2017-10-18 23:09] noxarivis commented on #3126
but it might also be the dropped items

[2017-10-18 23:13] noxarivis commented on #3126
BTW, i might help fixing bugs if i can, i kinda just started with java.
I just wait for Apache Netbeans 9 to be released.

[2017-10-19 01:34] Cervator commented on #2381
You found it before I had a chance, nice work :)

Assigning this to you since there is a pending PR with another question open.

[2017-10-19 12:08] emanuele3d commented on #3126
@portokaliu, this seems to be identical to the bug you fixed in #3049. Can you take a look?

[2017-10-19 12:59] portokaliu commented on #3126
@emanuele3d I will look into this tomorrow evening

[2017-10-19 17:07] oniatus commented on #2984
It is one extra object instance per call. Block lookups are not needed on every frame and the result can be cached so we are in an area where performance is not that critical. My main priority here is expressiveness and accessibility of the api for a new developer.

[2017-10-20 02:28] Cervator commented on #3055
I would consider the following a decent definition of done:

* To increase visibility log a change of the view distance to the chat bar area. That happens already when a player enters or leaves a multiplayer session (along with a few other cases). Should be easy to run two instances of the game, look for the exact string that having player two join causes, then search the code base to find where i

[2017-10-20 02:39] Cervator commented on #2984
Are we sure Kotlin/Scala should remain away from the engine? Not every extended JVM language should be hooked up, surely, can leave the extras for module land. But if there is enough value to hooking in Kotlin and/or (probably or?) Scala to the engine as a permanent thing I'm not sure if that's a big problem if we do it as part of a major release sometime?

I assume the code will work the same for

[2017-10-20 02:46] Cervator commented on #2957
Long overdue response: Yeah I think it is fine to show all input bindings. There shouldn't be *that* many from modules, at least not for a long time. If such a time rolls around we could probably add a filter to show/hide module bindings or group them in tabs somehow.

It would be nice to get some more technical guidance on this issue so somebody could try to approach it. I guess the main challeng

[2017-10-20 02:51] #2309 closed

[2017-10-20 02:57] Cervator commented on #2939
Can confirm this is still an issue. Something related needs to be reset on player death and isn't at present.

[2017-10-20 03:04] Cervator commented on #2925
Bump. Curiously, we have a `reloadScreen <String ui>` console command. Could that relate? Is this issue still live and in need of a fix? Any more details we could add to make it more approachable? :-)

[2017-10-20 03:24] Cervator commented on #2838
Much belated reply, sorry about missing your comments @SurajGoel :-)

Depending on spawn position strategy it may be possible to retry a few times. Other times spawn strategy may require always using 0,0,0 which would fail if for some reason that chunk has broken or otherwise gone inaccessible.

I'm not sure if it is easy to judge whether or not a spawn point finding strategy would benefit from re

[2017-10-20 03:27] Cervator commented on #2753
Bump - doing an overall issue review. Wanted to post in here a link to #2838 which is similar but maybe not quite a duplicate of this one.

[2017-10-20 03:29] Cervator commented on #2713
Missed closing this a while ago when #2721 was merged :-)

[2017-10-20 03:29] #2713 closed

[2017-10-20 03:33] Cervator commented on #2677
Belated hello @Omaranwa - there is a Noto font set that does support Arabic and all kinds of other fonts. The problem this issue is meant to cover is that our engine at present doesn't have the logic to *switch* the active font at runtime in response to a player changing to a language requiring extra characters :-)

[2017-10-20 03:40] Cervator commented on #2221
Closing this as obsolete, Rails have been fixed since :-)

[2017-10-20 03:40] #2221 closed

[2017-10-20 03:41] Cervator commented on #2210
Closing this as completed by multiple people including @kartikey0303 as part of GSOC 2017

[2017-10-20 03:41] #2210 closed

[2017-10-20 03:49] Cervator commented on #587
Closing as obsolete - in particular as part of GSOC 2017 we got some related doc improvements etc

[2017-10-20 03:49] #587 closed

[2017-10-20 03:51] ThompsonTyler commented on #2998
Current version of develop I cannot replicate this problem as brought up by nihal, placing a chest and destroying with client or server while looking at it with the other closes the chest's inventory screen for both instances.

[2017-10-20 04:26] Cervator commented on #2998
Can confirm - issue appears to have been fixed at some point. Maybe @nihal111 has some details or ideas of when/how :-)

Tried in both 2 client and 2 client + headless. Tried both clients breaking the other's chest as well as moving away from a chest with the UI open.

Only quirk I could find is that the player inventory doesn't move back to its regular position, but that seems like a non-issue (n

[2017-10-20 04:26] #2998 closed

[2017-10-20 14:22] OvermindDL1 commented on #2984
I personally really like Scala, it does its typing system Right, but it is not really 'first-class' in that it is not native on anything yet, has to be separate.  Kotlin is more of a very simplified Scala, lacks the nice typing features of Scala so you cannot generate, say, super-optimized code (like primitive containers and such), but it is more of a Java Done Right, but the big point of it is th

[2017-10-22 14:49] noxarivis commented on #3126
any news?

[2017-10-22 19:14] portokaliu commented on #3126
I did look into it, but no solution as of yet. Still on it though. It might be the reworking of the "in hand" item dealio

[2017-10-22 21:20] Cervator opened #3131 "Improve user feedback on module dependency resolution issues (Gestalt dependency)"
This is somewhat of a companion issue to https://github.com/MovingBlocks/gestalt/issues/15 as Gestalt presently doesn't offer a lot of details on what went wrong when a module ends up lacking some dependency.

One example came up recently via support forum: http://forum.terasology.org/threads/module-dependency-resolution-failed.1908 - that particular case seems to have been a bug in Alpha 8 that h

[2017-10-22 23:02] noxarivis commented on #3126
its the only bug i found so fare, else its pretty stable

[2017-10-23 10:23] jellysnake commented on #3126
Hah, you've been lucky with your module choices it seems.

[2017-10-23 23:16] noxarivis commented on #3126
i use the default setting

[2017-10-27 03:56] #3106 closed

[2017-10-28 19:27] Naman-sopho commented on #3068
@Cervator
I am new to the project, so what I could gather is, to add a feature to handle the command line arguments passed to the shell script `run-linux.sh`. Correct me if I am wrong.
Also, is there a fixed number of command line arguments to be handled?

[2017-10-28 20:53] TheFlash98 commented on #3068
The command line arguments have to be handled in the `run_linux.sh` and I think this issue requires you to only handle changing environment when running the game from source. I hope this helps till @cervator replies.

[2017-10-29 02:37] Cervator commented on #3068
@Naman-sopho - hi there, you are correct :-) I think usually such hooks are limited to maybe 10 or less arguments, if even that.

@TheFlash98 - thanks for catching it early! Although I dunno if there actually is a use case for using the scripts while running from source. At that point you'd be adding arguments in a run configuration or via command line parameters when using Gradle.

I just mention

[2017-10-29 18:30] Naman-sopho commented on #3068
@TheFlash98 @Cervator
I've opened a PR but it seems like too easy a solution to the issue :) . Can you please review it and point out if I am missing something?

[2017-11-04 22:18] bbarker commented on #3126
I believe I also ran into this in the default mod settings for Josharias Survival in the latest stable release. I had great FPS before, noticed rather slow but somewhat usable FPS after up the game again, and then  saw a similar effect.

I see there is already a fix in the works - I'd be happy to test it when it is released, or test it if desired.

[2017-11-04 22:20] bbarker commented on #3126
![image](https://user-images.githubusercontent.com/916366/32409955-c3e733bc-c18c-11e7-8fbd-c3040caa608b.png)

And from a slightly different angle:

![image](https://user-images.githubusercontent.com/916366/32409959-dc1990a6-c18c-11e7-9b02-49803482d4d8.png)

[2017-11-05 02:45] jellysnake commented on #3126
Thanks for the extra images @bbarker. It's a bug that we've had before, so seems to be rather persistent. If you are happy to help test then I'll tag you in the pull request. :)

[2017-11-05 02:59] bbarker opened #3139 "Implement pause while in menu"
At the suggestion of https://github.com/Terasology/JoshariasSurvival/issues/19#issuecomment-341944894, I'm opening an issue to implement pausing the game while in menu, if it is a single-player game (or maybe if only one player is in the game world, whatever makes more sense).

[2017-11-06 08:24] portokaliu commented on #3139
Is anyone working on this currently? Did see some `pause` related code added, but apparently it hasn't been touched since 2012

[2017-11-07 16:37] #2872 closed

[2017-11-14 01:28] Cervator opened #3141 "Tidy up / refactor DebugControlSystem"
Came up while reviewing #3140 - the DebugControlSystem (DCS) has some rather weird stuff in it that doesn't seem to have anything to do with debug mode.

It is a very old class with lots of history so it probably slowly morphed into what it is today. It lacks Javadoc so I'm not really sure what the intent was but as I interpret it the only thing it should be doing is related to unique actions only

[2017-11-14 01:57] Cervator commented on #3126
Closing as fixed by #3137 - hopefully for good this time. Would be happy to get some extra testing in this area, maybe an item to remember for next play test :-)

[2017-11-14 01:57] #3126 closed

[2017-11-14 09:47] emanuele3d commented on #3141
Yes, it's one of those things I'd like to overhaul a bit but is lower priority compared to everything else.

If it could be broken in smaller bits, all around some kind of cohesive vision, we could turn this into a chain of GCI tasks.

[2017-11-17 23:59] Cervator commented on #1433
Forgot to close this - it was completed by #3123

[2017-11-17 23:59] #1433 closed

[2017-11-18 00:23] Cervator commented on #480
Closing as obsolete, Rails has had lots of updates since this issue was created :-)

Hi @small-jeeper if you get a notification from this! Come check out the latest version sometime!

[2017-11-18 00:23] #480 closed

[2017-11-18 01:03] Cervator opened #3143 "Finalize outstanding behavior tree issues for a v2.0.0 merge to develop"
_Edit: remaining issues covered on a [roadmap card in Trello](https://trello.com/c/OfK8P8Xy) - assistance to flesh out some of the ideas to concrete issues would be appreciated_

Creating this issue to finish out anything remaining for the new behavior tree system as part of releasing v2.0.0 with it live in the near future. So calling this a Blocker for v2.0.0, but with the possibility that we cal

[2017-11-18 01:33] Cervator commented on #3055
Closing this as completed by #3140 - the harsh impact to performance still remains but is now vastly more visible. The performance issue is a bigger piece I think we'll naturally improve over time.

[2017-11-18 01:33] #3055 closed

[2017-11-18 01:42] Cervator commented on #2780
Bump - getting some updated information in here.

1) Unrelated to GSOC @kaen has implemented a vastly improved headless testing environment that can include multiple clients connecting to a server with everything simulated including event support and so on. See http://forum.terasology.org/threads/moduletestingenvironment-integration-testing-with-in-process-engine-objects.1884/ and https://github.c

[2017-11-18 01:54] Cervator commented on #83
Closing as veeery obsolete by now (3rd oldest open issue as I close it, whee). This is actually doable now via https://github.com/Terasology/ModuleTestingEnvironment although as unit tests not Groovy scripts.

Similar concepts could involve stuff like writing a Serpent AI bot to work the game (with a screen no less)

[2017-11-18 01:54] #83 closed

[2017-11-18 03:27] kaen commented on #3143
I'm happy to maintain the minimal set of working behaviors needed for testing. I don't think it's worth blocking the release since nothing uses FPF in practice.

I think the mini tasks for A/B testing the two behavior systems is useful and properly scoped for GCI :+1:

[2017-11-18 03:33] Cervator opened #3144 "Finalize outstanding Sector topics before merge of v2 to develop"
Akin to #3143, the other large piece of v2.0.0 as it stands right now is @Vizaxo's item on Sectors, which also introduces zones and tweaks at entity scope. While a lot of that item is foundation work for future enhancements like multi-world and truly independent entity + world pools that won't really matter to the current API level there are some outstanding issues and changes that might cause tro

[2017-11-18 03:53] Cervator commented on #2939
Forgot to close this when #3128 was merged - is fixed now :-)

[2017-11-18 03:53] #2939 closed

[2017-11-18 04:32] Cervator opened #3145 "Integrate gestalt-entity-system in place of embedded entity system"
This is for now just a relatively short placeholder for a very large and complex issue with lots of history, not so much a viable issue for somebody to pick up that hasn't been ingrained in that part of the engine for a long time already.

Actually surprised we didn't have an outright issue for this before. Kinda-sorta related to #1234 (but that was focused on assets) or #1770 (which may be too ou

[2017-11-18 05:22] Cervator opened #3146 "Multi-world support"
This is a substantial topic, worthy of GSOC, but likely still blocked by additional foundation work such as re-integrating `gestalt-entity-system` (#3145).

With the GSOC item on Sectors in 2017 by @Vizaxo we've got some of the initial foundation work in place, such as improved entity scope and independent entity pools.  In brief the goal with sectors is isolating a sub-set of entities in a world

[2017-11-18 15:58] iaronaraujo commented on #2780
Hi @Cervator ! Sorry for the absence, this year has been pretty busy for me.
It's good to know we now have a headless client, and I will check it out as soon as I can to see what I can do with it!
I don't think I will be able to participate in the Google Code-in, but I do intend to participate in next year's GSOC.

Thank you for updating me!

[2017-11-19 19:41] tyronx opened #3148 "Crash when creating a new world"
On a Nvidia GT 630M graphics card. Looks like your shaders are not very compatible:

20:40:15.397 [main] ERROR org.terasology.assets.AssetType - Asset instances remained loaded after disposal - [engine:messagePopup!instance]
20:40:16.011 [main] INFO  o.t.e.m.loadProcesses.RegisterMods - Activating module: engine:1.5.1-SNAPSHOT
20:40:16.011 [main] INFO  o.t.e.m.loadProcesses.RegisterMods - Activati

[2017-11-19 22:17] jellysnake commented on #3148
Yeah, definitely a shader thing. Pinging @emanuele3d and @vampcat, perhaps you can shed some extra light.

[2017-11-20 19:12] OvermindDL1 commented on #3146
Could always start by instead of using an integral x/y/z for coordinate, instead start converting to integral w/x/y/z block coordinate, just make the 'world' another dimension to make it a 4-dimensional world.  That alone would allow you to unify a lot between the multi-worlds by just treating the w coordinate like any other, but keep the physics/rendering constrained to the current 'w' only (alth

[2017-11-21 03:19] Cervator commented on #2780
Awesome to hear about future GSOC plans! Yeah life tends to get busy :-)

I hope you find some free time to play with the area, and look forward to a related GSOC app as soon as we get in! Just be sure to stay in touch :-)

(We will have some test related GCI tasks if you want to hang out on IRC and occasionally help with review or answering simple questions)

[2017-11-24 18:49] Cervator commented on #2940
Still happening, random report via IRC. Unclear what the user was doing but supposedly just standing around not moving, maybe in JS with skill training going.

This seems to be a rare but not very picky issue about environment. Maybe just a rare bug in OpenAL itself? Or a rare game condition the related logic can't handle.

No real reason this should be a fatal issue, we could probably try to catc

[2017-11-26 13:09] Naman-sopho commented on #3141
@Cervator @emanuele3d I want to work on this issue if its available.

[2017-11-27 11:16] emanuele3d commented on #3148
@tyronx: searching on the internet it appears some Intel integrated GPU have triggered errors similar to those you report. There is therefore a chance that Terasology is being run on the integrated GPU rather than your nVidia card. Please use your nVidia control software to force Terasology to use your nVidia card instead of the integrated GPU. That might solve the problem.

Also updating the driv

[2017-11-27 14:17] tyronx commented on #3148
Ok, can try. Does that mean you do not plan on supporting integrated graphics cards?

[2017-11-27 15:00] emanuele3d commented on #3148
It's all about manpower.

The rendering engine, over the past couple of years, has gone through some serious refactoring. The goal which is now in sight is an extensible, node-based architecture in which the nodes can be provided by modules (Terasology's term for plugins) rather than by the engine itself.

This potentially means that we will be able to support multiple OpenGL releases (right now w

[2017-11-28 20:16] starlord1311 commented on #2585
i would like to take up this issue

[2017-11-28 20:17] starlord1311 commented on #2585
i would like to take up this issue

[2017-11-28 20:17] starlord1311 commented on #2585
can someone help me with it?

[2017-11-28 20:40] SoniEx2 commented on #1970
The problem is that you encourage module developers to trust the client.

[2017-11-28 20:55] jellysnake commented on #2585
Hey @starlord1311 so from reading the issue discussion it seems that @kartikey0303 is currently working on this issue.

[2017-11-29 01:27] kartikey0303 commented on #2585
Hello @starlord1311. As you can see in my [comment](https://github.com/MovingBlocks/Terasology/issues/2585#issuecomment-259374087) above. I added the scrollable UI element to the earlier to the code. However there was a problem with one of the dropdowns. As the UI won't render anything outside the box, when the dropdown was opened there was no way to see the contents of the dropdown on a smaller s

[2017-11-30 18:50] Naman-sopho commented on #2855
I would like to work on the modification this MOTD for public servers namely the

- Styling of the MOTD.
- Render the MOTD from a file if its available.

[2017-11-30 19:52] grubdragon commented on #965
Is this issue still open? Can somebody guide me on how to go about fixing this?

[2017-12-01 13:50] iojw commented on #3093
https://github.com/Terasology/Inferno/issues/3 has been fixed

[2017-12-02 03:37] #3068 closed

[2017-12-02 06:51] eviltak commented on #3038
The first step towards this goal in my opinion would be to modularize shaders. The current post-processing shader and node design is a mess, with some nodes performing half of their processing in their own shader, feeding the intermediate result as an FBO into a sampler in the post processing composite node where it is sometimes processed further before finally being rendered to screen.

Instead,

[2017-12-02 10:05] eviltak commented on #3038
The first step towards this goal in my opinion would be to allow user-defined modular shaders. The current post-processing shader and node design is a mess, with some nodes performing half of their processing in their own shader, feeding the intermediate result as an FBO into a sampler in the post processing composite node where it is sometimes processed further before finally being rendered to sc

[2017-12-02 13:01] jellysnake commented on #2855
@Naman-sopho.
That suggestion is actually a fairly large undertaking, hop onto IRC or Discord and discuss it with a Mentor before starting so you can get some pointers and advice on where to start :)

[2017-12-02 13:04] Naman-sopho commented on #2855
@jellysnake I discussed it with @Cervator a bit would love suggestions from you as well.
Are available now?

[2017-12-02 14:52] emanuele3d commented on #3038
Way too ambitious at this stage. It is a GSOC-level type of project and I'd want to see more details. The current primary goal of the renderer is to a) transform it into a Render Graph based architecture b) open its API. Then the idea is to go into shaderland and see what we can do to clean it up: we don't change it, we just clean it up. Then we can think about how to radically change it.

I can a

[2017-12-02 18:17] eviltak commented on #3038
Sure, I'll take up the challenge. The ultimate goal of giving modules the ability to add their own nodes on the render pipeline hinges on everything being modular, which this issue slightly addresses by setting the goal of "atomizing" everything. I may not be as experienced as you in this regard, but I do know for sure that in it's _current_ state, the rendering pipeline is _far_ from modular.

Ta

[2017-12-02 19:58] #3069 closed

[2017-12-02 21:10] vampcat commented on #3038
@eviltak I won't be commenting much on this, but you'll have to learn (probably the hard way) that just being decent at coding is not enough - learning how to communicate (not just string together some words in english, but rather communicate properly and effectively) is way more important. Before manu posted his message, I had half a mind to say something along the same lines, but I refrained - p

[2017-12-02 22:14] Cervator commented on #2597
Still a live issue - just happened during play test. Was digging around a mine field but there were also multiple carts rushing around rail tracks and such.

[code]

[2017-12-02 22:46] Cervator commented on #2909
Bump - changes are we need to also look at the cleanup process further, it seems likely that there are entity leaks somewhere. One play test just made it past 10 million entities with a variety of particle usage (mostly explosions and maybe locomotive smoke)

[2017-12-03 03:32] eviltak commented on #3038
@vampcat Got it. I'm sorry if I overstepped boundaries @manu3d and @vampcat. I shall make conversations more genial and productive.

[2017-12-03 04:20] Cervator commented on #965
Hey @grubdragon - issue is still live in theory, but really old. No work or research has happened on it for ... 3.5 years and change, to my knowledge :-)

Hard to really offer much guidance there. The first thing to do may well be to check out some examples of how other games have dealt with the topic. I really don't know. I do want a neat set of keyboard graphics with hot keys highlighted in-game

[2017-12-03 05:44] Cervator opened #3158 "Improve null handling / logging in ItemPickupAuthoritySystem"
Noticed this issue on startup with the new module BasicCrafting enabled. It isn't caused by BC but that module exercises stuff on initialization that triggers it. Some block somewhere isn't fully configured right and that's tripping up that bit of code - it doesn't seem to lead to any issues, but it would be good to be able to log more cleanly what is going on.

[code]

Goal: Catch and handle the

[2017-12-03 05:54] Cervator opened #3159 "Default / Previous gameplay template remains selected even if dependencies are invalid"
### What you were trying to do

Play something like JoshariasSurvival which depends on a bunch of modules and is the default gameplay template selected if you run the game fresh via the Omega zip.

### What actually happened

While JS was selected and you could start the game that way it silently was in fact *not* activated as would be visible if you actually check the Modules section. Only JS its

[2017-12-03 06:17] eviltak commented on #3158
This problem occurs only for the `engine:blockItemBase` prefab and can easily be solved by a null check. I'd love to take this up as a GCI task.

[2017-12-03 18:03] Cervator opened #3161 "New world type: finite cubic planet"
This is another new GSOC candidate that may hit a bit of a sweet spot for scope and potential. Or I might just be overly optimistic as usual :-)

Objective: Implement our first sensible (so the world doesn't just end) finite world type while making a stab at an interesting style option rather than go with the more realistic but boring sphere type planet that would be tricky (but not impossible) to

[2017-12-03 20:56] emanuele3d commented on #3161
Immortius approach, probably based on vertex shaders, was actually a very sensible one in my opinion, as it doesn't change anything data-side and changes very little rendering-wise - most of the rendering complexity is handled in fragment shaders, vertex shaders are currently fairly basic and are easy to modify.

Is it desirable to have a cubic world? I'd be concerned by the complexity of dealing

[2017-12-03 21:36] Cervator commented on #3161
I'd say yes, for sure, and I'm also pretty sure it has already been done in MC, which may ease our work. I remember several gravity tweaking mods that let you walk into a wall that then becomes the floor, in fact the last BTM conference center was built that way: you'd walk into a wall then up it to get to the panel room. Neat :-)

More than just focusing on the neat part instead the idea of a for

[2017-12-03 22:06] emanuele3d commented on #3038
Yes and no. A renderer API would, as a first step, allow modules to add nodes to the RenderGraph. This doesn't need modular shaders. Atomic nodes, concentrating on simple tasks such as tinting and compositing, would then create a finer modularity. So, I disagree that this issue "slightly" addresses the issue. It addresses it heads on by prescribing a concrete way forward:

- the splitting of shade

[2017-12-03 23:10] MaxBorsch commented on #2909
@Cervator `ParticleEmitterComponent.destroyEntityWhenDead = false` by default. So when the emitter runs out of particles / stops emitting the entity is left behind. You have to set it to true for the system to remove itself. Those are my first thoughts, I haven't tested anything so it could be something else.

[2017-12-04 02:15] #3141 closed

[2017-12-04 02:16] Cervator commented on #3113
Finally fixed via #3162 - huzzah!

Needs a `gradlew extractConfig` to get the new rules file.

[2017-12-04 02:16] #3113 closed

[2017-12-04 03:54] eviltak commented on #3038
@manu3d understood. Sothis issue focuses more on the node pipeline rather than the shaders, which will be the gradual next step after this issue is resolved.

[2017-12-04 08:33] emanuele3d commented on #3038
You are welcome @eviltak.

And yes, what you mention about the focus of this issue is fair.

[2017-12-04 16:44] OvermindDL1 commented on #3161
What I've done in a past engine is have 65536^3 number of chunks (via a short, each chunk holding 65536^3 blocks, though each renderable chunk is much smaller, it started as 256^3 chunks with 256^3 in each though at first), then I just use overflow semantics to wrap around properly and so if you went off one edge it wrapped around to the other side, rendering and all was handled fine as was physic

[2017-12-05 14:10] jellysnake commented on #3158
@eviltak If you're still up for doing this I can make it a GCI task for you.

[2017-12-05 14:37] eviltak commented on #3158
@jellysnake I'd love that, thank you.

I think that this issue warrants some discussion. I haven't extensively researched it, but the problem seems to only occur when a prefab has an empty `BlockItem` component (or more appropriately, the component doesn't have a `blockFamily` property), as is the case with `engine:blockItemBase`. If that prefab is the _only_ place where we encounter such a situat

[2017-12-05 22:21] jellysnake commented on #3158
I think that it would be better to have a null catch and to provide some form of logging. Whilst there is only one block that causes this at the moment there may be more broken blocks in the future. Either deliberate or accidental

[2017-12-07 03:55] Cervator commented on #2909
Hey @MaxBorsch - I was wondering about your GCI status and such, thanks for the update :-)

Would it make more sense for that boolean to default to `true` then? But yeah midterms come first!

[2017-12-07 04:00] MaxBorsch commented on #2909
@Cervator I'm not sure which way is better. I went with `false` because it's the less destructive of the two and users wont get confused when their entity randomly get removed just because its particles ran out. I was imagining that people might attach particles to entities that are used for things other than just the particles, for example a fireball entity that has particles attached but also cu

[2017-12-07 04:25] Cervator commented on #2909
Good point on not wanting to entirely destroy an entity if it is really something else just having particles added - but in that case wouldn't it make sense to remove any particle-related components and if that "empties" the entity then destroy it?

[2017-12-08 01:27] MaxBorsch commented on #2909
@Cervator Emitters have something like a `destroyComponentWhenDead`, it doesn't destroy other related components but that would make a useful and simple addition. *Cough* GCI task. We can have it true by default...

[2017-12-08 08:29] zeokav opened #3170 "Terasology not using correct GPU"
### What you were trying to do
Setting the latest dev build up and play to see what's been up.

### What actually happened
I have a dedicated GPU (Nvidia Geforce) and an integrated Intel HD 530. But when I run the game, the logs return these following lines (Complete logs attached below): <br>
...
13:39:05.764 [main] INFO  o.t.rendering.ShaderManagerLwjgl - Loading Terasology shader manager...
13:

[2017-12-08 09:14] zeokav commented on #3170
UPDATE:
Read up a bit on how Nvidia has a middleware called Optimus that decides which applications use the GPU and which don't, to manage power. It started using the GPU when I manually selected the High Performance profile for Java from Nvidia's Control Panel.
It all boils down to programatically making Java use the High Performance profile by default at the application startup phase.

[2017-12-08 12:34] emanuele3d commented on #3170
Hi @zeokav, and welcome back. We are aware of this problem and the solution you found (forcing the use of the discrete GPU through the manufacturer's software) is the only solution I am aware of: no programmatic solution so far, i.e. via LWJGL, which is the library we use to open the opengl context.

If you do find a programmatic solution, please let us know.

[2017-12-08 17:10] zeokav commented on #3170
@emanuele3d heya! :D
So I did a bit of hunting around and it ends up with the same response on pretty much all forums -

That's what's mentioned on the optimus [docs](http://developer.download.nvidia.com/devzone/devcenter/gamegraphics/files/OptimusRenderingPolicies.pdf) as well. Setting environment variables for java applications at runtime is apparently not that straightforward. Need to do it bef

[2017-12-08 20:19] PS-Soundwave commented on #3170
It's not the responsibility of an OpenGL application to choose the processor it runs on. There are programmatic workarounds that are both platform and vendor specific, but these are non-ideal for multi-card desktops, or systems with more capable iGPUs, and are primarily designed for optimizing workstations. It's an unfortunately clunky side effect of having a system with an iGPU that only makes us

[2017-12-09 00:34] pamtdoh opened #3171 "Item explodeTool plays sound even when there is no target block"
The item explodeTool in the core module plays an explode sound every time it is used, doesn't really check if there is a block in range when the tool is used.
This is caused by the PlaySoundAction triggered every time without any condition, in the explode tool prefab.

How to reproduce, with the explodeTool in hand, right click while the crosshair is pointing at the sky or at a block that is far a

[2017-12-09 00:38] pamtdoh commented on #3171
Also, is this applicable for a gci task?
I'd like to work on it.

[2017-12-11 04:13] #3158 closed

[2017-12-12 20:36] anuar2k opened #3179 "PrefabSerializer fails to find components...?"
### What you were trying to do
I was trying to run a module fetched using gradlew `fetchModule` task.
### What actually happened
The modules I've downloaded using `fetchModule` task don't work properly (the log is full of ERRORs 'Prefab cointains unknown component "xxx"' compared to compiled modules downloaded using in-game browser, which work perfectly.
### How to reproduce
Just download for exam

[2017-12-12 20:39] anuar2k commented on #3179
PS: Literally every prefab from modules downloaded using `fetchModule` task generates errors as mentioned above. Modules in *.jar format work, but it makes me unable to work with source in any way.

[2017-12-13 15:16] anuar2k commented on #3179
Update: I've solved the issue using "gradlew jar game" instead of "gradlew game" when running it.

[2017-12-13 15:16] #3179 closed

[2017-12-13 16:52] OvermindDL1 commented on #3179
Wouldn't this still break from running from the IDE though, like to debug?

[2017-12-14 09:14] grubdragon commented on #3010
Hey, I'll try tackling this issue

[2017-12-15 18:39] SurajDatta opened #3182 "Layout overlapping!"
### What you were trying to do
Resizing My game's window and checking if it was compatible with the original game window size.

### What actually happened
The start bar (where we select the game's name) was overlapping with the continue button.

### How to reproduce

* Step 1: Open the game
* Step 2: If the game window is not full-sized, leave it as it is. if not bring it to its default size.
* St

[2017-12-16 03:42] vampcat commented on #3182
Hey Suraj, good to see you sticking around :)

A quick issue search on github brought this up: https://github.com/MovingBlocks/Terasology/issues/2716
As you can see, the problem is already pretty well documented. However, no real solution has been proposed as of yet - if you can suggest some way to take care of this, we'll be happy to approve the task :D

[2017-12-16 12:43] SurajDatta commented on #3182
Hi, vampcat, Sorry for this, I did not realize that it was already posted. I am not sure how to code it but I can give suggestions on how to solve this matter. Hope it helps!

[2017-12-16 12:58] SurajDatta commented on #3182
First, let us find the ratio of the button to the screen resolution, and then, when the user resizes the screen the buttons will also resize with it until the perimeter of the button reaches/touches the letters. If so, then we will either 1. move the button to a random direction (Keeping in mind that the "Play" button should not cross the imaginary middle line of the screen and should not overlap

[2017-12-16 15:36] vorburger opened #3183 "NullPointerException at org.terasology.utilities.Assets.getTextureRegion(Assets.java:306) and a few more"
### What you were trying to do

* Play in a world shared by my son where he added lots of modules

### What actually happened

* NPE

### How to reproduce

* Not sure, sorry!

### Log details and game version

* https://drive.google.com/uc?id=1r7Q7Pv8zBnZhsV88mF_Fz_f2GNGVZvGZ&export=download

### Computer details

* Linux

[2017-12-16 16:34] SurajDatta commented on #3182
hi, is it that we have to remove the game's path from create game screen?

[2017-12-16 17:14] SurajDatta commented on #3182
So the answer to @vampcat 's problem is Scrolling! (or what I like to call unwrapping ;) )
Thanks, @jellysnake and @vampcat !

[2017-12-17 06:50] Cervator opened #3184 "API violation detected: inputSystem.getInputsForBindButton"
While rebuilding _all_ the modules for Alpha 9 final testing I found that the [Dialogs](https://github.com/Terasology/Dialogs) module failed to build, with `InputSystem.getInputsForBindButton` missing. Bit of research pointed to it having been removed in https://github.com/MovingBlocks/Terasology/commit/b91b832 which was part of #2948

That PR was biiiig and a nice overhaul of some input stuff so

[2017-12-17 15:17] devvorb opened #3185 "No world gen."
### What you were trying to do
Run via ./gradlew game  and then create a world.
### What actually happened
But I wasn't able to select a world generation type
### How to reproduce

* Step 1: I ran from source with a high dpi and a gamer's graphics card.
* Step 2 The tried creating a world but needed to specify the world type but I had a major probleme  that I mentioned above.
This image shows that

[2017-12-17 16:12] TheFlash98 commented on #2999
I guess this can be closed now 🙂
https://github.com/Terasology/TutorialParticleSystem

[2017-12-17 17:29] vorburger commented on #3185
@devvorb I've attempted to reproduce this issue on another HiDPI screen, but it works for me.. so perhaps not related to that; there must be something else wrong that can cause the Choose World Generator drop-down to be empty...

[2017-12-18 14:20] devvorb commented on #3185
Excuse-me sir but where might I find CreateGameScreen?

[2017-12-18 14:45] devvorb commented on #3185
Well now it works without me having to change anything.

[2017-12-18 14:47] #3185 closed

[2017-12-21 07:59] oniatus commented on #1075
Follow up for crouching.
With #2961 merged the crouching will not change the camera or the player height but work like a sneak - but it works :)

A clean implementation for crouching can be tracked on this issue.
Actual list of requirements for crouching:

- Multiplayer support (host & connected client)
- 1x1 holes enterable
- Visual Feedback in eye height
- Falling of ledges support
- Toggle/Unto

[2017-12-21 08:00] oniatus commented on #2555
Closing as proposed in https://github.com/MovingBlocks/Terasology/pull/2961#issuecomment-341993601
Follow up issue is #1075

[2017-12-21 08:00] #2555 closed

[2017-12-21 08:01] oniatus commented on #2651
Closing as proposed in https://github.com/MovingBlocks/Terasology/pull/2961#issuecomment-341993601
(Issue should be fixed with the PR)
Follow up issue is #1075

[2017-12-21 08:01] #2651 closed

[2017-12-21 08:01] oniatus commented on #3108
Closing as proposed in https://github.com/MovingBlocks/Terasology/pull/2961#issuecomment-341993601
The PR should fix this issue.
Follow up issue is #1075

[2017-12-21 08:01] #3108 closed

[2017-12-22 16:46] l0ftyWhizZ opened #3194 "Usage of RailGun causing game stutter."
### What you were trying to do
- Normal CoreGameplay template, and tried to use the RailGun item. I am not sure if this happens due to intensive block destruction calculation, or the particle effects being instantiated for each of the blocks.
### What actually happened
- The game freezed/stuttered for atleast a good 2-3 seconds, before continuing.
### How to reproduce

* Step 1 : Generate a normal

[2017-12-23 17:20] eviltak opened #3196 "Dereferencing possible null value causes a NPE in BlockEntitySystem.commonDefaultDropsHandling"
NPE occurs when accessing `blockDamageModifierComponent.impulsePower` in `commonDefaultDropsHandling` when `blockDamageModifierComponent` is missing (`null`).

https://github.com/MovingBlocks/Terasology/blob/ee0da21d523fd67ca951a1c600d80c3b85a17564/engine/src/main/java/org/terasology/world/block/entity/BlockEntitySystem.java#L134

## Reproduction
See Terasology/Rails#32.

[2017-12-25 07:53] pollend opened #3198 "Dropped items don't retain entity refrences stored in component"
Dropped Items don't retain entity information contained within a component. I'm working on a module for transporting blocks around using pipes. I have a workaround that basically involves storing the block position and re-recovering the entity with the BlockEntityRegistry.

At the moment I'm unsure if this behavior is intentional or not. I'm on the latter in terms of this because prefab informatio

[2017-12-25 20:35] pollend commented on #3198
just had to mark the block as active.

[2017-12-25 20:35] #3198 closed

[2017-12-26 22:51] grubdragon commented on #3099
Hey! Can somebody get me started on this?

[2017-12-27 04:03] engiValk commented on #2531
@Cervator I found a slight potential issue.

https://docs.oracle.com/javase/7/docs/api/java/awt/Robot.html

While it isn't anything too serious, it allows the module to take control of the client when it is loaded, this could theoretically be used to force a connection to an online server and that opens up a whole host of logging and other nasty things.

Just thought it might be of interest.

[2017-12-30 06:47] eviltak opened #3204 "Universal Epsilon Constant"
Proposes the introduction of a universal epsilon constant, a value that is so small it is considered to be zero.

The code base currently has quite a few independent epsilon constants scattered in various classes, with different values but fulfilling the same purpose. The introduction of a universal epsilon will help remove these redundancies and also help unify behaviour and eliminate discrepanci

[2017-12-30 11:36] sakshamgupta806 opened #3205 "Saksham Gupta GOOGLE CODE IN"
m figuring it would be a nice game element to be able to preview a spinning (or spinnable) collection of blocks likely related to a blueprint. New utility class BlockCollection could probably be involved, I left it with calcWidth/Height/Depth methods to help with predicting the scale at which any arbitrary collection should be shrunk to so differently sized collections can be displayed roughly at

[2017-12-31 07:01] sakshamgupta806 opened #3207 "Develop a simple interface screen"
What you were trying to do

Play something like JoshariasSurvival which depends on a bunch of modules and is the default gameplay template selected if you run the game fresh via the Omega zip.

What actually happened

While JS was selected and you could start the game that way it silently was in fact not activated as would be visible if you actually check the Modules section. Only JS itself was hi

[2017-12-31 07:06] sakshamgupta806 opened #3208 "saksham Gupta Google Code IN"
This is for now just a relatively short placeholder for a very large and complex issue with lots of history, not so much a viable issue for somebody to pick up that hasn't been ingrained in that part of the engine for a long time already.

Actually surprised we didn't have an outright issue for this before. Kinda-sorta related to #1234 (but that was focused on assets) or #1770 (which may be too ou

[2017-12-31 11:46] #3207 closed

[2017-12-31 11:46] #3205 closed

[2017-12-31 11:46] #3208 closed

[2017-12-31 18:33] pollend commented on #3208
this is better moved to the forum.

[2018-01-01 00:32] Killlerd006 opened #3209 "fdg"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-01-01 00:32] Killlerd006 commented on #3209
hgj

[2018-01-01 00:32] Killlerd006 commented on #3209
gfhfth

[2018-01-01 04:19] emanuele3d commented on #3209
Please do not spam our issue tracker. If you need help with it feel free to contact us on the [forum](http://forum.terasology.org/forum/).

[2018-01-01 04:19] #3209 closed

[2018-01-04 06:14] l0ftyWhizZ opened #3211 "Enabling SSAO causing graphical bug."
### What you were trying to do
- Enabled SSAO from the Video settings.

### How to reproduce
- Generate a game.
- Goto video settings
- Enable `SSAO`.

### Log details and game version

### Computer details
AMD Ryzen 1700
GeForce GTX 1060

[2018-01-11 19:48] anuar2k commented on #3184
https://github.com/MovingBlocks/Terasology/pull/3219 fixed with this pr.

[2018-01-11 20:29] oniatus commented on #3184
Can't test it right now but `BindsConfig` has a method `List<Input> getBinds(SimpleUri uri)` which looks promising :) Maybe delegating to this method is simpler than implementing new logic.

[2018-01-11 20:46] anuar2k commented on #3184
@oniatus Well, usage of both BindsConfig and BindsSubsystem cause ModuleClassLoader denying access to these classes so I gotta find a way around the moduleloader to at least check if both methods return the same values.

[2018-01-13 17:00] FrancescoPioGiuseppeMesiano opened #3223 "Terasology problem"
I'm trying to play to the latest version of Terasology but the game crashed with bad OpenGL version and GPU.

### Log details and game version

https://pastebin.com/LiN0xw8L

### Computer details

GPU:
   Vendor:  Intel
   Model:   Intel Bear Lake B
   Driver:  1.4.0 - Build 8.14.10.1930

Grapich's card:

G33/G31 chipset family with OpenGL 1.4

[2018-01-14 00:02] emanuele3d commented on #3223
Francesco, il tuo computer ha tentato di lanciare Terasology utilizzando la GPU integrata sulla scheda madre del tuo (penso) laptop.

Terasology ha di solito bisogno di una GPU separata, per esempio nVidia o Radeon, e di solito non e' compatibile con le GPU integrate. Inoltre ha bisogno di OpenGL 2.1 e alcune estensioni listate nel log che in questo momento non sono disponibili tramite la tua GPU.

[2018-01-15 06:48] digitalripperynr commented on #3099
I have a PR waiting that centralizes the required functionality for modules, facades, libs etc into one single script with shared methods to reduce repetition of code.
The functionality works absolutely fine. Check #3206 for detailed info.

Also, in case the unified script is not accepted, I have Library Script( #3191 ) and Meta Module Script ( #3176 ) waiting as well.

The module script was alrea

[2018-01-15 09:53] digitalripperynr opened #3225 "[Multiplayer] Player Name Issues"
Just wanted to address the problem that I faced when changing player name while playing on a server.

There are a few weird things that happened...

- If you try to change the name while you are playing on a server it does not work...
- If you leave the server, change the name and then come back to the server, the active players' list shows the updated name but the name above the player in-game sh

[2018-01-15 10:36] Graviton48 opened #3226 "Multiplayer problems- Name change problems."
### What you were trying to do
This is about the problems I faced during the name change test.

There were some weird bugs:
### What actually happened
-> If I changed name in-game, the server would not pick up the new name.

-> I made the second character leave and rejoin the game with a  different name. But, when I pressed
     'Tab' the server took the new name of the character but the character

[2018-01-16 21:13] FrancescoPioGiuseppeMesiano commented on #3223
Grazie per aver risposto. Una domanda, essendo un nuovo arrivato nel mondo
della programmazione volevo sapere se avete usato java per creare il gioco
oppure un altro linguaggio di programmazione. Volevo solo un esempio del
genere sul 3D visto che ne sono uscito matto xD. Grazie ancora per il
vostro aiuto, spero di non avervi disturbato!

Buona serata.

Il 14 gen 2018 1:02 AM, "manu3d" <notificatio

[2018-01-16 21:42] emanuele3d commented on #3223
Nessun disturbo Francesco.

Confermo che usiamo Java 8. Per lo sviluppo molti utilizzano IntelliJ mentre alcuni utilizzano Eclipse.

Un buon posto dove trovare ulteriori informazioni e' qui:

https://github.com/MovingBlocks/Terasology/wiki

Facci sapere se hai bisogno di ulteriore aiuto: se non ti posso aiutare io ti posso indirizzare verso la persona giusta.

[2018-01-16 21:44] FrancescoPioGiuseppeMesiano commented on #3223
Grazie mille :), buona fortuna con il progetto! Ti scriverò quando avrò
bisogno di aiuto!! Grazie ancora.

Il 16 gen 2018 10:42 PM, "manu3d" <notifications@github.com> ha scritto:

[2018-01-16 21:49] FrancescoPioGiuseppeMesiano commented on #3223
Stavo pensando...

Con una delle vostre vecchie versioni il gioco potrebbe andare?

Il 14 gen 2018 1:02 AM, "manu3d" <notifications@github.com> ha scritto:

[2018-01-19 22:31] Safebox36 opened #3235 "Bug - BlockPicker, Crouching and Floating Items"
### What you were trying to do
Take all items from BlockPicker module.

I crouched into a window of a building and jumped.

I quit to main menu and reloaded game so player height would update to the change I made in the settings.

### What actually happened
Items removed were permanently removed even after attempting to place them back in the list.

Nothing happened initially but when I walked bac

[2018-01-20 00:25] engiValk opened #3237 "Removal of Syscalls and direct hardware instructions"
### Removal of Syscalls and direct hardware instructions

With the recent exploit that was discovered, spectra and meltdown, it has stirred up a serious storm in the cyber community. A link to these exploits will be provided at the end of the document but essentially they exploit out of order execution of code to read parts of memory they shouldn't.

This works by the fact processors will execute

[2018-01-20 00:46] kevin51jiang commented on #3237
AFAIK, Java programs don't interact with the native system *at all* (we aren't allowed to make pointer references and all that good stuff that lower level languages have). Everything is bundled within the JVM, meaning we just wait for Oracle to optimize stuff since we can't do anything.  Which I guess it's a pretty good thing for Terasology.

So all in all I don't think this really matters to Tera

[2018-01-20 01:12] engiValk commented on #3237
Java can quite easily call into other libraries that do syscalls though which is the main issue I was raising.

[2018-01-20 17:59] skaldarnar opened #3238 "Asset overrides/delta updates for UI screens and skins"
# Theming for Game Modes

Modules can provide assets and reusable resources in form of textures, prefabs, UI screens, etc. Adjusting the visuals of these assets for consistent look and feel is essential for game modes.

UI screens defined in modules may set a _skin_ to be used for visual style. Ideally, a _delta update_ of the `*.ui` file should enable to change the skin while not touching anythin

[2018-01-21 10:13] #2679 closed

[2018-01-21 10:44] oniatus commented on #2551
The Input and Binds system was overhauled in https://github.com/MovingBlocks/Terasology/pull/2948 and (hopefully) it should be more easy to implement modifiers in the new system. will close https://github.com/MovingBlocks/Terasology/pull/2859 for now but whoever wants to continue on this feature can have a look at the implementation and start based on the ideas from @ThompsonTyler who really put s

[2018-01-21 15:41] oniatus commented on #2317
We have one nice attempt with a unit based check from @GabrielXia at #2919.
A different approach would be to generate something like a golden master file for our API.
This would be an extension of the `ApiScraper`:
1. Extend the ApiScraper to output a list of all packages, classes and (this is new) all methods with their signatures
2. Create one class with a main method to manually write this outp

[2018-01-21 15:45] oniatus opened #3239 "Create a demo PR how to extend ApiScraper for API Testing"
Based on https://github.com/MovingBlocks/Terasology/issues/2317#issuecomment-359257325:
1. Extend the ApiScraper to output a list of all packages, classes and (this is new) all methods with their signatures
2. Create one class with a main method to manually write this output to something like an API-File
3. Create an automated unit test which calls the api-scraper and then compares to output again

[2018-01-22 12:02] skaldarnar commented on #168
In the meantime, we have a cinematic camera mode: #946

[2018-01-22 21:07] flo commented on #2239
Project page for better characters models in terasology: https://github.com/orgs/MovingBlocks/projects/10

[2018-01-23 20:08] elmatador86 opened #3243 "tfuyyui"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-01-23 20:08] elmatador86 commented on #3243
rytuukk

[2018-01-23 20:09] elmatador86 commented on #3243
ok  you speak spanish

[2018-01-23 21:07] skaldarnar commented on #3243
Please provide more information. You can write in Spanish or use Google Translate.

Por favor brinde más información. Puedes escribir en español

[2018-01-24 08:14] skaldarnar commented on #3238
This is sufficiently solved by #3241 (for now). @vampcat pointed out that there is a general issue regarding reuse of assets between modules connected to simple names vs fully qualified names.

[2018-01-24 08:14] #3238 closed

[2018-01-24 19:14] oniatus opened #3244 "Revise BlockLifecycleEvents sending logic when chunks are loaded/created"
The BlockLifecycleEvents `OnAddedBlocks` and `OnActivatedBlocks` are hard to distinguish by the name as the concept of "activate" and "added" is not documented. Besides that, OnActivate != ActivateEvent on the block.

The current implementation will send `OnActivatedBlocks` when a new Chunk is generated and `OnAddedBlocks` followed by `OnActivatedBlocks` when an old chunk is loaded. See the change

[2018-01-27 02:15] jellysnake commented on #3243
Closing this as no response and appears to be spam

[2018-01-27 02:15] #3243 closed

[2018-01-27 02:18] jellysnake commented on #3226
Closing this as it's already been noted in #3225. Thanks for the extra confirmation however

[2018-01-27 02:18] #3226 closed

[2018-01-27 02:23] jellysnake commented on #3237
Have you managed to find any instances where Terasology actually does directly use a Syscall or Hardware Instruction?

As far as I'm aware we don't use any.

[2018-01-28 11:13] jellysnake commented on #3235
So it appears you are using the 1.5.0 version not the 1.5.1 version.
The crouching bug and the held item appearing bug have both been fixed in the latest version.

The block picker bug however I'm not sure has been documented before. Do you mind testing it on the latest release and opening an issue in the BlockPicker repository if it is :)

[2018-01-28 11:13] #3235 closed

[2018-01-28 11:17] jellysnake commented on #3223
Giocare con una versione precedente non risolverà il problema poiché OpenGL è usato in tutte le versioni.

[2018-01-28 11:19] jellysnake commented on #3211
Can you give us more information? What is the graphical bug that SSAO is causing?

[2018-01-28 11:30] jellysnake commented on #3194
This falls under general performance issues, mainly with internal block destruction methods and with particles/physics.

[2018-01-28 15:09] Safebox36 commented on #3235
Sure, I'll update and try it again. I'll submit a new issue report if it still occurs and see if I can get more details on it.

[2018-01-28 23:27] emanuele3d commented on #3223
@FrancescoPioGiuseppeMesiano: provare puoi sempre, ma in effetti e' un po' improbabile. Le direttive OpenGL utilizzate dal motore grafico negli ultimi due anni non sono cambiate granche'. E' l'architettura piu' ad alto livello che e' cambiata: abbiamo tenuto il motore ma cambiato notevolmente la carrozzeria, i controlli e i sedili per i passeggeri. Cambieremo anche il motore, ma dobbiamo finire va

[2018-01-29 00:18] FrancescoPioGiuseppeMesiano commented on #3223
Ok, grazie del vostro aiuto, vi auguro buon lavoro con il gioco. :)

Il 29 gen 2018 12:27 AM, "manu3d" <notifications@github.com> ha scritto:

[2018-01-29 07:49] #3196 closed

[2018-01-29 07:55] jellysnake commented on #3182
Closing this as it's covered in #2716 and adding a note there to check discussion on this issue.

[2018-01-29 07:55] #3182 closed

[2018-01-29 07:56] jellysnake commented on #2716
Further discussion happened on #3182. Check there if intending to create a fix

[2018-01-29 08:14] jellysnake commented on #3148
Closing as solved and adding a link to #3170 as another occurrence of it

[2018-01-29 08:14] #3148 closed

[2018-01-29 12:18] vorburger commented on #3183
@jellysnake sorry I cannot remember for sure if loading one created on another version, but could well be.

Absolutely no offense taken if you just close this issue, if it's not just about adding an appropriate null check.

[2018-01-29 14:05] iaronaraujo commented on #3239
I intend to work on this, but I noticed that @GabrielXia 's PR wasn't accepted yet. Should I fork his repository, wait for the merge or copy what he did to my own fork?

[2018-01-29 16:28] Cervator commented on #3183
Hey there, the crash is definitely from enabling a bunch of rather different modules, some of which are incompatible with each other. That lead to some sort of hiccup causing a bunch of NPEs in different places. Those places individually are probably OK although not everything is being null checked.

I'd like to get to where the engine handles those kinds of error conditions more gracefully, altho

[2018-01-29 19:46] oniatus commented on #3239
This should be independent from the other PR so feel free to start over from the default codebase.

[2018-01-30 01:54] engiValk commented on #3237
I'll go through some of the more expected culprits over the next few days and see if I can find anything there. It might entirely not exist but, always worth a look.

[2018-01-30 03:56] jellysnake commented on #3100
I agree with Cervator that the current `@In` is nice and simple and I'd lean towards that.

I'd also say that the issues caused by people using the constructor stems more from people not properly understanding the ECS style. To me using the constructor treats the System too much like an Object. If you want to run something when the system begins use the appropriate methods (`postBegin` and similar

[2018-01-30 04:28] jellysnake commented on #3081
As gianluca-nitti said, this issue is caused by using Java 9. We currently use Java 8 and don't support 9.
I'm closing this as solved but please reopen if changing java version doesn't solve it

[2018-01-30 04:28] #3081 closed

[2018-01-30 04:39] jellysnake commented on #3060
@pollend I know you have been doing some re-works in the Modular Computer area. Is this going to be able to be removed from the whitelist?

[2018-02-01 13:52] #3211 closed

[2018-02-01 13:53] l0ftyWhizZ commented on #3211
After an update to the branch, I am no longer able to reproduce the issue. Hence, closing it.

[2018-02-01 13:55] l0ftyWhizZ commented on #3194
This issue really needs to be checked. There issue persists even on a high-end rig I work on.
**_Specs:-_**
**GPU:** NVIDIA GeForce GTX 1060
**CPU:** AMD Ryzen 1700
**RAM:** 16 GB (2400 MHz DDR4)

[2018-02-02 23:19] Cervator commented on #3184
Closing as fixed by #3247 whether that's the cleanest fix or not. Stuff should build at least :-)

Thanks for the input and code fix ideas, can still apply a more proper fix in the future.

[2018-02-02 23:19] #3184 closed

[2018-02-03 05:34] jellysnake commented on #2999
Closing this as completed by @TheFlash98

[2018-02-03 05:34] #2999 closed

[2018-02-03 05:43] jellysnake commented on #2996
Can also confirm that this happens. I'm also running windows 10 and I can't replicate it with other applications.

[2018-02-03 05:56] syntaxi opened #3248 "Merits and Thoughts on integrating Kotlin and Scala at the engine level."
Majority of prior discussion happened over on #2984 about returning Optional's vs Nulls and runtime cost.

Essentially discussion centred around zero cost aspects and any desire for it to be merge into the engine. Cervator raised a point about the potentials of it not being overly blocked as they are both JVM languages. Indications are showing that it could be as simple as updating the base build

[2018-02-03 06:01] jellysnake commented on #2976
@Vizaxo @Cervator Can this now be closed what with the existence of #3144 and the merging of #3009. I think it can and possibly even have some of the outline here spun into documentation (or simply added/duplicated to the forum)

[2018-02-03 06:02] jellysnake commented on #2972
Merging this into #2980 as the two are similar enough that they probably stem from the same bug

[2018-02-03 06:02] #2972 closed

[2018-02-03 06:03] jellysnake commented on #2980
As per #2976 this issue also appears for rotating entities

[2018-02-03 06:15] jellysnake commented on #2971
Can this be closed as it appears that there is indeed a wireframe as shown by #2980? @nihal111

[2018-02-03 06:18] jellysnake commented on #2957
My personal thoughts on this is that ideally we would actually not show module bindings by default in the menu. I think they should only be accessible by deliberately going to access them. This could be achieved by simply say adding a list of all locally detected modules and then clicking on an entry in the list will show the module's settings.

This would solve multiple issues, including this one

[2018-02-03 06:48] jellysnake commented on #72
Closing as the broad idea has been spun into a few different issues and features

[2018-02-03 06:48] #72 closed

[2018-02-03 06:52] #80 closed

[2018-02-03 09:52] pollend commented on #3004
I would check in on @eviltak he might have a solution that is easier to implement over using libgdx.

[2018-02-03 14:14] emanuele3d commented on #2971
The wireframe in #2980 is not moving! It should follow the cube!

In general this issue is about a diagnostic tool to display where a collision box is located, i.e. in the context of a more complex piece of geometry or an assembly of pieces.

I'm sorry I haven't written a good description for it yet. I placed it on in one of the projects I curate so that it will be easier for me to get back to it.

[2018-02-03 16:25] Cervator commented on #3006
On local testing just now I think I hit this one again, but I hadn't walked quite as far from spawn so I did see visible chunks nearby. Seemingly previously loaded chunks all remained broken, with a bunch of log spam about multiple loads of chunk x - which I haven't noticed before.

Had I walked further I probably would have been stuck in the void, but being on the edge I was in chunks previously

[2018-02-04 02:33] Cervator commented on #2590
Counting this as RESOLVED with #3249 woohoo! Thanks @vampcat and everybody else having done detective work for this one over time :-)

And hey, bounty!

On its relation to dupe chunk loading, which is definitely still a thing (tracking via #3006) then I think that's indirectly related by possibly raising the odds for the issue to occur *or* it gets provoked by the same sort of scenario that leads

[2018-02-04 02:33] #2590 closed

[2018-02-04 02:34] jellysnake commented on #2971
I'm a little bit confused?
Do you mean to say that the wireframe referenced in this issue is a different wireframe to the one in #2980?

[2018-02-04 02:41] Cervator commented on #2477
Update: While the "multiple loads of chunk x" still occurs and may have actually gotten worse to now also trigger heavily by replicating #3006 the one null issue in #2590 is resolved!

We could still improve logging related to when multiple loads happen, I expect, so this issue remains valid, just without the crash we just resolved. For instance, don't we / couldn't we track the *reason* a chunk i

[2018-02-04 02:43] Cervator commented on #3006
As noted in #2477 there is a way to replicate some intense duplicate chunk loading that's very similar to the replication instructions for this: walk some distance from spawn (but not *too* far?) then suicide. On respawn some of the chunk loading weirdness may trigger including log spam.

The two issues could be related, but maybe not. They seem similar in any case.

[2018-02-05 03:55] Cervator commented on #1690
Old issue yet still some related oddities. Current state in Light and Shadow multiplayer for some Alpha 9 release testing:

Host+Client player: Empty slot 1, the two spawn blocks in 5+6 missing, the command items and ace blocks work
Solo-Client joining: Empty slot 1 (do we even have anything there anymore?) yet the spawn blocks *do* show up and work.

Sort of the opposite of what I expected but he

[2018-02-05 04:16] Cervator commented on #3194
So the railgun at its current maximum destructiveness is likely to *always* take a system to its knees if you push it enough :-) Much like the max view distance. They're not really meant as realistic options for regular play.

There are a couple _milder_ railgun variants that are less destructive and cause less lag. But actual gameplay probably wouldn't even use those. A railgun? That's just silly

[2018-02-05 05:37] l0ftyWhizZ commented on #3194
Oh I see :-). But, the issue is the FPS doesn't rise back up after it's usage. Shouldn't that be concerning?

[2018-02-05 15:16] OvermindDL1 commented on #2984
Null is more efficient and ties with Kotlin's safety better, efficiency is good in an engine core, so that would be my vote.

[2018-02-05 22:49] emanuele3d opened #3251 "Shaderland Refactoring"
# Introduction
Terasology's shaders are largely functional but their code need some Tender Loving Care.

The main goals of this refactoring effort are, in order of priority:
- refactor each shader to be easily readable and well maintainable
- break complex shaders into atomic shaders doing only one thing
- re-evaluate and improve Shader Program runtime assembly
- re-evaluate and improve Shader Man

[2018-02-05 22:51] emanuele3d commented on #3251
Tagging @vampcat for feedback. This is the issue that will be linked from the GSOC project idea page, from the "Deep into Shaderland" section.

I feel like I'm missing a few things we could add in here. What do you think?

[2018-02-06 20:22] Cervator commented on #2855
Bump - https://github.com/Terasology/ServerMOTD is now a thing, and #3160 which was working on part of this issue has been closed in favor of continuing implementation in a module. I believe when that's ready the initial MOTD work in the engine for this issue can be discontinued.

Until then I'd like to keep this open for visibility. When the module is mature (and documented! Especially in the mai

[2018-02-07 05:24] Cervator commented on #3244
Would this be something to consider name changes for while v2 stabilizes? Since we can do that at the moment. IF so we should throw the API label on here and assign it to the v2 milestone

[2018-02-07 05:28] Cervator commented on #3194
Depends on how long that persists? One of the big causes for the lag is all the physics cubes that get spawned and start bouncing around. They keep at that until they despawn after ... I want to say 20-30ish seconds?

If after that the lag persists then yeah we need to look at something, like if something is leaking. I think at the moment the particle effects from the explosions/dust may have a le

[2018-02-07 06:44] pollend commented on #3194
bullet produces a lot of garbage for the JVM. This mostly has to do with translating TeraMath to javax. Umm I think a short-term fix is to use some form of vector pool.

[2018-02-07 20:06] #2976 closed

[2018-02-08 03:14] Cervator commented on #3093
Closing as Alpha 9 is being released! I turned a related play test project board into more of a known issues thing: https://github.com/MovingBlocks/Terasology/projects/3 and carried on some of the linked issues there.

[2018-02-08 03:14] #3093 closed

[2018-02-08 12:17] vampcat commented on #2984
I vote for Optional.

If the goal is to make the most efficient code we possibly can, we would switch to C++ (or assembly). However, the goal is to make a easy-to-approach, extensible platform. Which is why I vote in favour or cleaner code, even if it means slight performance hit.
(Note that gestalt uses Optionals almost exclusively, so any and every cost associated with Optionals is already being

[2018-02-09 03:08] Cervator commented on #2984
Good point on the potential over-optimization. Maybe the Optional vs. Kotlin + `null` is something to revisit around engine v3.0.0 - at a point where hopefully it'll be time to optimize, with lots of new benchmarking and profiling tools hooked up and tried some. Maybe by then we'll be able to properly evaluate its value.

Not to say that the consideration for Kotlin or Scala is dead simply because

[2018-02-10 13:35] l0ftyWhizZ opened #3256 "Incorrect rendering of the dropped cactus prefab"
### What you were trying to do
- Break the cactus plant.
### What actually happened
- The cactus blocks that are dropped are rendered incorrectly. According to me, the order of vertices while rendering the triangles of a face of the cube is incorrect.
### How to reproduce
* Step 1:  Spawn a cactus plant, and break it.
* Step 2:  Observe the dropped cactus prefab.

[2018-02-10 13:36] #3256 closed

[2018-02-10 13:37] l0ftyWhizZ commented on #3256
Realized this was addressed in a previous issue. So, closing.

[2018-02-10 19:53] chum opened #3257 "Ambiguities/confusion on TutorialAssetSystem Add-a-dice page"
### What you were trying to do

Follow the tutorial.

### What actually happened

I got stuck in the add-a-dice section.

### How to reproduce

* Read the tutorial as if you completely have never seen anything about Terasology before...  ;)

Ok, seriously...

* Tutorial link: https://github.com/Terasology/TutorialAssetSystem/wiki/Add-A-Dice
The 2nd part of step 4 says "The RotateBlockOnActivateCom

[2018-02-11 19:51] Cervator commented on #3004
Closing as completed by #3233!

[2018-02-11 19:51] #3004 closed

[2018-02-12 03:53] Cervator commented on #3143
The big merge is now done - see https://github.com/MovingBlocks/Terasology/pull/3138#issuecomment-364816964 for details :-)

AdvancedBehaviors is the main outstanding point and *I think* related to the genesis of this issue.

@kaen if you want to take a look at latest + FPF I'd be thrilled to hear some sort of update. Can we shove it into the module lineup yet? :D

[2018-02-13 21:14] Cervator commented on #3143
Some more feedback at https://github.com/MovingBlocks/Terasology/pull/3138#issuecomment-364870062 linking to https://dkambersky.github.io/tera/2017/07/07/on-responsiveness.html in particular:

AdvancedBehaviors popped up as mostly a workaround for shortcomings in the old system, now addressed in the new. But we still need to update existing things (deer in Lost and some more in WildAnimalsGenome?)

[2018-02-14 18:19] morrilet commented on #3159
Hey, I'm interested in giving this issue a shot. I've looked through the code a bit and it seems like I should be validating dependencies with DependencyResolver in the CreateGameMenu java file and updating the look of the menu UI from there, but I have a couple questions:

Is there better way to do this that I seem to be overlooking? Also, how do I go about changing the dropdown text color? Would

[2018-02-23 15:55] Maximetinu opened #3266 "Item remains grabbed after closing inventory, even in pause menu"
### What you were trying to do
I've found this bug while I was messing around with the inventory. If I try to grab an item and then I close the inventory, the item still remains on a limb. If I open pause menu it's still showing up along with the cursor. Then, if I close and open again the game or auto save happens with the item grabbed and I exit the game then, the transfering item is lost.

###

[2018-02-23 16:11] Maximetinu commented on #3266
I'm going to try solving this issue.

To begin with, I think it should put the grabbed item in the first free inventory slot when the inventory is closed, and in case of it's full, drop the item. It seems that the pause menu cannot be open if the inventory is already opened, but if possible, it should be controlled too. Also, if auto save happens while an item is being grabbed, to avoid losing the

[2018-02-23 20:46] jellysnake commented on #3266
Thanks for spotting this. Your proposed solution seems like a reasonable one, however I'd generalise it to happening when there is a change in the NUI Screen being shown. So if a new screen is opened ontop of the inventory, if the inventory screen is closed etc etc. I think there is a method that is called when this occurs.
As for the saving, I think that it would be best to move the item to the i

[2018-02-24 13:11] Maximetinu opened #3267 "Character can jump once under water"
### What you were trying to do
While diving, I was trying to surface by pressing spacebar.

### What actually happened
The first time I press the spacebar, a normal jump happens as if I was grounded.

### How to reproduce
* Step 1 - Get into the water
* Step 2 - Press spacebar once to see jump happens

### Log details and game version
Current latest stable: 74 alpha 2018-02-05T04:45:49Z

### Compu

[2018-02-24 13:20] Maximetinu commented on #3267
I've already had a look on this, it seems easy to solve.

[This](https://github.com/Maximetinu/Terasology/commit/ea6815ef8502df14da8ef17288d079b2de0ecda5) is the bugfix commit on my fork. As soon as I have your clearance I'll make the PR.

[2018-02-24 14:07] mjuvekar7 commented on #3267
You should go ahead and make a PR. Much easier for us to test if it's a PR. No need to ask for clearance (it's open source!) :)

[2018-02-24 17:22] emanuele3d opened #3268 "Remove newline character from the output of the Console.addMessage method."
Occasionally, a command executed in the console might take some time, it might not be executed instantaneously. In this situation, it's useful for the console to output a small string before and after the execution of the bulk of the command, i.e.:

`Recompiling shaders... (pause) done!`

The (pause) is a real pause where the software is doing something and the word "done!" hasn't appeared yet.

T

[2018-02-25 13:43] amirox322 opened #3270 "ami"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-02-25 13:43] amirox322 commented on #3270
-strhyh

[2018-02-25 13:44] #3270 closed

[2018-02-25 13:45] emanuele3d commented on #3270
Please refrain from spamming our issue tracker.

[2018-02-25 18:24] ivarec commented on #2802
Unfortunately this affects me as well and I can't play the game on Linux.

NVIDIA driver: 390.25 (GTX 960m)
Terasology build: http://jenkins.terasology.org/job/TerasologyStable/74/

[2018-02-26 01:48] dacharya64 commented on #3257
This confused me at first too. What I ended up doing was looking at the documentation for the module, seeing where the file was placed in there, and then realizing that the top line of the suggested code actually tells you the path that it belongs in. So for instance in the code on `RotateBlockOnActivateComponent`, the top line reads:
`package org.terasology.tutorial.assetsystem.components;`

So y

[2018-02-26 14:58] ArihantJoshi commented on #796
Is someone still working on this??
Can I work on it?

[2018-02-27 18:13] Naman-sopho opened #3272 "Select a game by default if it is the only one in a list."
This is more of an enhancement for better user experience.
If there is only one game present in the saved games list while creating a game `Select Game` screen, this game must be selected by default, so that the game can be started by directly clicking on the `Load` button. For reference:

![screenshot from 2018-02-26 14-31-13](https://user-images.githubusercontent.com/23008871/36743377-2d9e18f6-1

[2018-02-27 21:34] HooGetMinecrafEducationEdition opened #3273 "i have no problem"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-02-27 21:35] HooGetMinecrafEducationEdition opened #3274 "hyhyhyhyhyhyhyhyhyyhyhyhyhyyhyhyy"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-02-27 22:22] #3273 closed

[2018-02-27 22:22] #3274 closed

[2018-03-01 00:47] dylanJech commented on #3272
Hey! I would like to give this enhancement a try as my first contribution to this project.

After forking my own version, and then creating a branch for this, I looked to see where to create a unit test that tests a method I created that selects the first item. I do not see any tests regarding the UI, however. Is the UI something that has testing written for it for Terasology?

The best place seem

[2018-03-01 04:09] dacharya64 commented on #2569
I know some video editing / graphics stuff, so happy to take this on if needed. I feel I have a pretty good grasp of getting a dev environment up and running as well.

[2018-03-01 12:36] manas96 commented on #3272
I fixed this in the commit above using an pre-existing method. However, as @J-Dill asked, I would also like to know if a unit test is needed.

[2018-03-02 16:59] manas96 commented on #3047
Hi! Newbie here.
I'd like to work on this feature. However can this be considered a GSOC - level issue? @Cervator  @emanuele3d

[2018-03-02 21:38] Cervator opened #3279 "Improve Groovy utility: paginate large item hits via GitHub API"
With #3263 merged we have more nifty Groovy-based utility scripting, including:

`groovyw module list`

Which will list all available modules under the https://github.com/Terasology org - but *that's a lot*

The GitHub API allows 100 items max before paginating (30 by default). Need more pages in some cases. This issue is about figuring out how to request a second page if one exists, adding to the

[2018-03-02 21:47] #3099 closed

[2018-03-02 23:33] Cervator commented on #2940
A slight variant of this just happened to me while merging entirely unrelated PRs locally in a mega-workspace. Even on just loading the game during OpenAL initialization my Java hard crashed. I had music running off Soundcloud in a Chrome window, no other known sound sources at the moment. It may have also happened right around as I moved focus away from IntelliJ but that seems less likely to matt

[2018-03-02 23:36] Cervator commented on #3272
Hey both :-)

Generally any time a unit test is *offered* we will be absolutely thrilled! Unit test all the things!

As for required: No, not really, at least not yet. Some things are vastly easier to unit test than others and while it would be nice in those cases to have good test coverage we aren't in super strict code coverage checking land just yet.

Any unit test anybody wants to contribute a

[2018-03-02 23:36] #3272 closed

[2018-03-03 01:41] #3159 closed

[2018-03-03 02:28] Cervator opened #3280 "A held light source in multiplayer does not appear for other players"
### What you were trying to do

Test unrelated stuff in multiplayer. Since the game started in the dark I had both connected players (to a local headless server) hold torches to see things. I was expecting player 1 would then have an easy time seeing player 2 with a held torch

### What actually happened

The held torch for the player *other* than the local client did not give off any light. A *pl

[2018-03-03 18:10] ar0ne commented on #943
Hi All,
Could somebody help me to understand current state of this issue?
I'm just trying to understand what have to be done... Looks like a lot of work was done since the issue has to be opened.

[2018-03-04 03:25] Cervator commented on #3047
Hey @manas96 - I answered with more details in the forum, while I'm not entirely certain I expect the answer is no, but it could be *part* of a GSOC item :-)

[2018-03-04 22:56] Cervator commented on #2239
Maybe as an update for Kate from IRC, didn't get back home in time for still catching on IRC.

Current state / some general summary notes:

* #3242 introduces an initial replaceable character model from the player, with the default a simple block, with https://github.com/Terasology/HumanoidCharacters offering a more advanced player character
* We may need more support for triggering player animati

[2018-03-06 02:36] Cervator commented on #943
Sure.

So for starters this issue is *very old* meaning the original intent may have been superseded or even lost by now, unless @msteiger remembers and can enlighten us :-)

It also seems somewhat open to interpretation, which for me is all about layers:

* Basic Perlin with simple noise layers just result in a one-pass effect where you get hills, depressions, etc, and it goes on like that foreve

[2018-03-07 19:37] TheFlash98 commented on #3146
So digging up old issues, I found these issues related to entity system

1) [#3244](https://github.com/MovingBlocks/Terasology/issues/3244) : Revise BlockLifecycleEvents sending logic when chunks are loaded/created
2) [#3095](https://github.com/MovingBlocks/Terasology/issues/3095): Some type of blocks remain invisible on a client connected to a server
3) [#3010](https://github.com/MovingBlocks/Ter

[2018-03-10 00:13] ClemClone opened #3288 "crash on screen lock?"
### What you were trying to do
Went AFK with T parked at main menu.  Screen locks after ten minutes.

### What actually happened
Came back, T is crashed.

### How to reproduce

* Step 1
Step away.
* Step 2
Mix cocktail; enjoy with spouse.
* Step 3
Come back.

### Log details and game version
https://pastebin.com/E5g8pd82

### Computer details
XPS 13; Ubuntu 17.10

[2018-03-10 00:28] J-Dill commented on #1401
Seeing as this is a pretty old Bug/Enhancement, I'm guessing nobody is working on this. I'll start giving it a go here, and I'll attempt what was mentioned above; opening a new, simple window that will display the text

[2018-03-17 15:57] vampcat opened #3293 "Glow Node"
# Introduction
With multiple gameplay templates being planned out for Terasology, one of the essential features requested has been the support for "glowing" objects

# Visual Description
A glowing object is usually a light source as well, meaning it is unaffected by the amount of ambient light (and hence, unlike most other objects, should not be dark during the night). Further, glow usually implie

[2018-03-17 19:34] TheFlash98 commented on #1296
I think more `shutdownhooks` are needed which will initiate threads to take care of the issue. A thread will be called for every System.exit, this will improve logging and help make all the exits work consistently. Maybe this - https://javapapers.com/core-java/jvm-shutdown-hook/ They will help to check the state of disposal as well.

[2018-03-17 23:43] Shade254 opened #3295 "Terasology crashes when trying to connect to server with no loaded game"
### What you were trying to do
I was running Terasology server at local instance of docker.  I launched game client and tried to join in "Custom Game" menu.

### What actually happened
After clicking localhost option in "Custom game menu" game instantely crashed, with standard error form.

### How to reproduce
* Step 1
Launch game server with no running game.
* Step 2
Try to connect in Terasology

[2018-03-18 01:20] emanuele3d commented on #3293
To be clearer, we need two to three additional nodes in the Render Graph:
1. a GlowMaterialsNode that renders glowing surfaces as needed and everything else black.
2. a BlurNode that takes the output of the GlowMaterialsNode and blurs it.
3. a compositing node (or perhaps more than one) that puts the output of 1 and 2 together and then blends it with the existing scene.

Alternative to investigate

[2018-03-19 14:54] ar0ne commented on #3050
![ezgif-2-4e1c668623](https://user-images.githubusercontent.com/3996860/37602607-bf6a6a4a-2b9d-11e8-9d10-89f671d03f42.gif)
Hey @Cervator, I guess I was able to reproduce the issue. Will dig in into that.

[2018-03-19 15:01] grubdragon commented on #3050
Hey, I was working on this issue a long time back, but lost track of the
project because of my academics. As far as I remember, @Cervator speculated
that the issue might be something related to clearing the preferences. All
the best :)

On Mon, Mar 19, 2018 at 8:24 PM, Serj S. <notifications@github.com> wrote:

[2018-03-20 14:28] ar0ne commented on #2996
Works properly on MacOS Sierra.

[2018-03-20 15:26] vampcat commented on #3268
Closing, as fixed  by #3268.

[2018-03-20 15:26] #3268 closed

[2018-03-20 22:23] #2246 closed

[2018-03-20 23:44] emanuele3d opened #3298 "Toggling Haze (fog) off breaks the rendering"
### What you were trying to do
Video Setting -> Fog -> off

### What actually happened
This happened:
![withouthazewithvolmetricfog](https://user-images.githubusercontent.com/6934584/37645745-015ccdaa-2c28-11e8-9485-fc6e388ffd3a.jpg)
Notice the weird rendering, perhaps also the result of an inverted landscape.

### How to reproduce
In the video settings, toggle fog off.

[2018-03-21 06:01] vampcat commented on #3298
@emanuele3d I'm not able to reproduce this. I'm not entirely sure what *exact* settings you used (just toggling the haze did not work for me). I suspect it's a combination of turned off haze + something else.

[2018-03-21 18:34] 4Denthusiast commented on #3298
I've reproduced this by:
turn off every video setting except global water reflections.
Load a new builder sample world (for some reason the world-type seems to have an effect, perhaps something to do with the sea-level?

[2018-03-23 12:45] 4Denthusiast opened #3300 "Player not dead after re-load"
When the player dies and doesn't respawn before re-loading the game, they start alive but on 0 health.

### How to reproduce

* Load a world with Core enabled.
* Die.
* Exit to main menu without re-spawning.
* Re-load game.

[2018-03-24 16:26] Cervator commented on #3300
This is probably fixed by #3203 ? Which I think is ready for merge, just haven't had a chance to catch up with PRs for a while :/

[2018-03-24 18:47] Cervator commented on #3279
Closing as completed by #3283 and #3284 thank you so much @mwesolowski !

[2018-03-24 18:47] #3279 closed

[2018-03-25 14:00] laysdra7265 commented on #3225
I spent two day to tracking down the code and testing,I found that the problem only appear on the hosting side's client.If the a player left the server,change the name and than reconnect the server.Hosting side's client can't see the name tag update. But other client can see the new name tag.
The problem looks like the hosting side's client store the player's EntityRef. When other client reconnect

[2018-03-25 17:18] Cervator commented on #2232
I'm closing this as likely obsolete. For instance the L&S critters are somewhat moving again with the new BT stuff merged to v2. I don't recall any recent incidents of deer spinning either.

[2018-03-25 17:18] #2232 closed

[2018-03-25 18:02] Cervator commented on #3143
Beyond https://github.com/MovingBlocks/Terasology/pull/3138#issuecomment-364870062 we just had a bit of chat on Slack and to not lose it (again, at least until the non-profit Slack perk activates) here's a summary of the architectural challenge (not related to the updating of behavior mid-tree which is no longer an issue):

## Challenge

WildAnimalsGenome (WAG) has a `mate.behavior` which unsurpri

[2018-03-26 02:52] Cervator commented on #3225
Very nice detective work! Rarely see such good snippets etc :-)

You're ahead of me already with your digging, so mainly I'd just say: try it! See what happens

My existing suspicions center around how the player's display name should probably be more distinct from the clients *identity* - which should always stay the same, but the display name should be something you could change. Probably some p

[2018-03-26 09:22] pavanrkadave commented on #929
Hi I want to contribute to this project..but im new to Open source development. need some help to get started. also i want to participate in GSOC for this project

[2018-03-26 09:31] laysdra7265 commented on #3225
Ok,I'll try it. :smile:
I just need time to learning how other part of system working,since I just dig around the possible core code of bug from zero.So actually I don't known how to fix this without more completely understand of the game parts work with each other.
Something like how the Authority System working with other System ,and why the PlayerSystem need to restore the character from store

[2018-03-26 11:32] laysdra7265 commented on #3225
And I guess that this bug might has caused other related bug,if there is any code need to get player entity's ownerEntity(ClientEntity) to operate something,than those function will fail too.

[2018-03-26 15:56] laysdra7265 commented on #3225
More detail info about bug after a little research the code flow.
![image](https://user-images.githubusercontent.com/10185394/37917206-62ba25f2-3150-11e8-962b-7e539d2a5d6f.png)
correct the last sentence in pictrue: So when the OnActivatedComponent with characterComponent sent , it has the PlayerEntity with correct ClientEntity.

[2018-03-26 16:10] laysdra7265 commented on #3225
Since the entity restore via EntityRestorer and the building operation is deep into the framework (at "PojoEntityManager's createEntityWithId method"), it looks like not easy to bind the correct ClientEntity by modify the method parameter. Otherwise it will break the interface and make it ugly .
Another idea is to intercept the OnActivatedComponentEvent and cancel  it.After complete restore proces

[2018-03-26 16:46] laysdra7265 commented on #3225
Maybe I can just create another EntityRestorer use to restore player entity with custom entity building process.

[2018-03-26 16:50] Arihant-Joshi commented on #3139
Can someone review my PR?

[2018-03-27 16:49] laysdra7265 commented on #3225
It working!But I did some modify on interface,and copy a class for restoring playerEntity.
Please take a look,I thought It still need some need some adjustment.

https://github.com/laysdra7265/Terasology/commit/302029895ddb072ee424f18155254d144173dfea

[2018-03-28 12:18] zukokaz opened #3304 "z"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-03-28 17:54] #3304 closed

[2018-03-29 21:17] #3295 closed

[2018-03-30 19:20] ar0ne commented on #2724
Hi @jellysnake
I know that we have MessagePopup, ThreeButtonPopup and TwoButtonPopup from #3301 for popup widgets with 1, 2 and 3 buttons. I guess it's enough. Don't it?

[2018-04-01 16:48] readv opened #3305 "Transparent blocks can't be seen through other transparent blocks"
### Description
When looking through transparent blocks (water and ice), other transparent blocks are not rendered.

Water invisible when looking through ice blocks:
![water](https://user-images.githubusercontent.com/37260895/38175421-8fcf273c-35dc-11e8-9d5e-2791b5118898.png)

Ice blocks invisible when looking through water:
Below surface:
![below water](https://user-images.githubusercontent.com/3

[2018-04-04 14:27] 4Denthusiast commented on #2418
It looks like this is caused by the default bump-map texture being all 0, which when interpreted with an offset of -0.05 leads to everything having an offset, which with parallax-mapping enabled leads to it attempting to fetch textures from beyond the edge of the correct one, hence the bands of different colours near the edges of blocks. For some reason the minimal settings I can reproduce this on

[2018-04-04 14:36] 4Denthusiast opened #3307 "Permanent day-time command"
When testing things, it's annoying to find that it's night-time and I can't see anything. setWorldTime fixes this, but only temporarily. I propose a command to toggle permanent day-time (possibly permanent noon) for a more convenient solution.

[2018-04-04 21:10] #3050 closed

[2018-04-04 22:06] Chrispyb commented on #3305
I was able to replicate the issue, will look into it further.

[2018-04-05 00:38] #3267 closed

[2018-04-05 16:11] dorasun commented on #3307
Hi, I'm in a class on open source, and my group is trying to contribute to this project. We would like to try to tackle this issue!

[2018-04-07 22:47] dorasun commented on #3280
A friend and I tested this on the unstable multiplayer server (we were both testing on MacOS, 10.11.6 and 10.12.5) and we noticed that, as you mentioned, you can't see any items anyone else is holding. We took a look at the two files with the word 'held' in them (ChangeHeldItemRequest.java and BuilderHeldItemAuthoritySystem.java), as you suggested, but aren't seeing any way to edit the actual mode

[2018-04-07 23:43] suyasha0 commented on #2406
Hi is someone working on this issue? I believe I saw a full snow block pull request but I was unsure if anything else has also been completed.

[2018-04-08 00:06] engiValk commented on #3074
Just out of curiosity here is there a reason you were running Terasology from within TMP? Because if memory servers that directory in most linux distros runs on RAM and not on the physical disk, meaning it isn't persistent and would explain why it is deleting itself upon crash. The OS usually cleans TMP once every few cycles.

[2018-04-08 00:14] engiValk commented on #2791
As @immortius said very succinctly, Guava is not a security risk in and of itself. It just isn't proven to be completely safe when communicating between two different bases of code. Containing Guava in a module is perfectly fine and removing it from the whitelist is pointless and would just cause more issues creating workarounds to us missing functions that it provides.

[2018-04-08 02:41] Cervator opened #3310 "Using F5 (show BT editor) in-game during multiplayer causes crash via NPE"
### What you were trying to do

Open the behavior tree editor in-game via F5

### What actually happened

Client crashed with an NPE

### How to reproduce

* Client connected to a multiplayer server with Behaviors active (assumed, might take less)
* Press F5

### Log details and game version

Omega 900 during today's play test

[code]

Maybe of interest to @l0ftyWhizZ and/or @Naman-sopho since the

[2018-04-08 03:33] l0ftyWhizZ commented on #3310
I added a simple `NULL` check for `text` in `TextLineBuilder` and it does bring up the NUI editor.

[2018-04-09 02:14] Cervator commented on #3310
Thanks for the extra detective work :-)

I've merged in the two module PRs so this *specific* case shouldn't happen anymore. But it would still be good to add that null check with a quick warn log entry to go with it. Knowing a bit more about where should make resolving this issue trivial and indeed a Good First Issue!

On a kind of related note, we have the BT editor button in the main menu - but

[2018-04-09 03:01] Cervator commented on #3307
Hi @dorasun and welcome! Sorry about the delay in responding to you :-)

You're absolutely welcome, and rarely in open source do you need to ask first, although it is good to give notice if you start something you expect may take a little while, just so anybody else looking can tell there's likely some work pending.

@4Denthusiast agreed! Although I'm not sure what the better approach would be: fr

[2018-04-09 04:09] l0ftyWhizZ commented on #3310
Yes, the button events for the BT editor button aren't subscribed in `MainMenuScreen`. It's currently just a dummy button. Following line is to be added in `MainMenuScreen` :
`WidgetUtil.trySubscribe(this, "behavioreditor", button -> getManager().toggleScreen("engine:behaviorEditorScreen"));
`

[2018-04-09 17:06] Cervator commented on #3310
Yeah I suppose the button made sense back when BTs were purely in the engine. Now they require at least the Behaviors module active. So lets add to this issue outright removing that button from the main menu. At least until we have the ability to activate modules inside the main menu.

[2018-04-09 23:49] l0ftyWhizZ commented on #3310
A similar type of issue occurs with the `Metrics Menu` or the telemetry menu button on the main menu. Once we click "Back" on `TelemetryScreen`, the UI goes blank (Hence cannot exit the game unless the process is killed), although the button works fine when in a game.

Should I create a separate issue for this, or let it be this way?

[2018-04-12 17:11] ar0ne opened #3314 "Prevent joining multiplayer with registered names"
### What you were trying to do
I joined Unstable server twice with the same nickname. Then I changed name in one application, and system decided that I left the game and I don't see me in the list of Online players. Looks like anyone could join the game with my nickname and do whatever he wants to do:)
I guess we should prevent joining the game with registered nicks. Don't we?

### How to reproduc

[2018-04-12 17:32] ar0ne commented on #3314
![screen shot 2018-04-12 at 20 17 34](https://user-images.githubusercontent.com/3996860/38693621-269602e2-3e90-11e8-8e5d-fcd030ef50bc.png)
![screen shot 2018-04-12 at 20 21 11](https://user-images.githubusercontent.com/3996860/38693622-26c1d142-3e90-11e8-84bb-3506f8a72df5.png)
Well, I make them different. And from time to time I see only one nick, or twice but the same. Maybe it's because I run th

[2018-04-13 13:47] aina12 opened #3316 "aina"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-04-13 13:47] aina12 commented on #3316
aina

[2018-04-13 13:49] aina12 opened #3317 "a"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-04-13 13:49] aina12 commented on #3317
a

[2018-04-13 13:50] aina12 commented on #3317
a

[2018-04-13 13:50] #3317 closed

[2018-04-13 16:02] oekonomi commented on #3288
The link to the game log leads to a page saying that the log has been removed. If possible, could you please post the log or a working link to the log?

[2018-04-13 16:29] oekonomi commented on #2378
Does this only apply to player death SFX or has it been noticed for other SFX as well? If so, which ones?

[2018-04-13 20:10] emanuele3d commented on #3317
@aina12: let us know if we can assist you.

[2018-04-13 20:10] emanuele3d commented on #3316
@aina12: let us know if we can assist you.

[2018-04-13 20:10] #3316 closed

[2018-04-13 20:16] ClemClone commented on #3288
No use; the file is long gone.  Pastebin must've deleted the upload; I no longer have it.

[2018-04-13 20:17] emanuele3d commented on #3288
I'd like to suggest that step 2 can be hard to reproduce if A) you are under 21/18/16 in some countries (limited access to alcohol) and B) are unmarried (limited access to spouses).

That been said, a few in the crew should be in a position to reproduce the problem no matter the stringent criteria of step 2....

[2018-04-14 03:48] Cervator opened #3318 "Online players overlay inaccurate"
### What you were trying to do

Look at the "Players Online" overlay while testing something unrelated. Expected to see both my player 1 and my player 2 listed

### What actually happened

Only the local player was listed. Same situation with two clients (one hosting) and two clients + headless

### How to reproduce

* Start two game clients
* Have one host and the other join
* Hold down `TAB` and

[2018-04-14 15:49] emanuele3d commented on #3035
This has been achieved in #3088

[2018-04-14 15:49] #3035 closed

[2018-04-14 15:53] emanuele3d commented on #3044
This was tackled by readv in #3291.

[2018-04-14 15:53] #3044 closed

[2018-04-14 15:55] emanuele3d commented on #2671
I plan to take care of this soon. The changes in the codebase will be minimal.

[2018-04-15 03:35] Cervator opened #3320 "API scanning improvement: hook up to PRs"
With #3253 merged we have the `ApiSaver` and `ApiComparator` that will write out and compare the changes made to engine API exposed to modules. If no changes have been made then the report has no entries and the change is of "patch" scope as per SemVer. Alternatively any minor or major changes detected will get logged in the report.

We should be able to hook that up for an initial API scan phase

[2018-04-15 03:40] Cervator opened #3321 "API scanning improvement: write out a SemVer detection definition using unit tests"
With #3253 merged we have the ApiSaver and ApiComparator that will write out and compare the changes made to engine API exposed to modules.

However, getting SemVer scanning *exactly* right is tricky, as was noticed during review of #3253 - and it is still a bit uncertain if the current setup is perfect, as you really have to read the code or trust the javadoc.

Enter: unit testing! But not of Ter

[2018-04-15 03:47] Cervator opened #3322 "API scanning improvement: extract involved code to a new repo"
With #3253 merged we have the ApiSaver and ApiComparator that will write out and compare the changes made to engine API exposed to modules.

Especially with #3321 this might start involving quite a few files, even with its own unit tests specific to the scanning instead of Terasology.

Probably most of it can be extracted to its own little utility lib that Terasology can then depend on instead and

[2018-04-15 03:50] Cervator commented on #3239
Closing as completed by #3253 :-)

Submitted three follow-up issues: #3320, #3321, #3322

[2018-04-15 03:50] #3239 closed

[2018-04-15 04:42] #3139 closed

[2018-04-15 04:43] Cervator commented on #3139
PR reviewed and merged. Pause now works in single player. It is *possible* to make it work in multiplayer but that gets trickier fast.

[2018-04-15 05:05] Cervator opened #3323 "Rendering issue with layers drawn in the wrong order?"
### What you were trying to do

Trying to test GooeysQuests and manually placing dungeons.

`give dungeonEntranceViaMountain` gives you a tool you can use to click on suitable terrain to spawn that initial StructureTemplate (ST) and additional ones behind it to form a dungeon. A wireframe preview of the ST should display, drawn over the terrain so you can actually see it (individual blocks deep in

[2018-04-15 11:49] aassdd22 opened #3324 "mohammad"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-04-15 11:53] aassdd22 opened #3325 "asdhoho11@hotmail.com"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-04-15 11:53] aassdd22 commented on #3325
asdhoho11@hotmail.com

[2018-04-15 11:53] aassdd22 commented on #3325
asdhoho11@hotmail.com

[2018-04-15 11:54] aassdd22 commented on #3325
moasd    asdhoho11@hotmail.com

[2018-04-15 12:13] #3325 closed

[2018-04-15 12:58] #3324 closed

[2018-04-15 12:58] jellysnake commented on #3324
Closed as spam

[2018-04-16 02:30] Cervator opened #3326 "Update game credits listing to work off Credits.md"
At present the "Credits" button in the main menu actually lists what has been added to `Terasology/engine/src/main/resources/Credits.txt` while we're mainly just maintaining `docs/Credits.md` meaning the in-game listing is out of date. There's no reason we should maintain that in two places.

Goal of this issue is up to either update `CreditsScreen.java` to instead parse the lists out of `Credits.

[2018-04-16 02:42] #2755 closed

[2018-04-16 02:43] Cervator commented on #2755
Now fixed with #3294 merged!

[2018-04-16 11:04] asiekierka commented on #3237
I don't think Terasology uses any system calls directly - if anything, the JVM uses them to do things such as read files and estabilish network connections. The graphics driver might also be using some to faciliate communication with the GPU, but that's just as out of our control.

Beyond limiting modules' usage of native code, I don't think there's a lot we can actually affect for this.

[2018-04-19 02:31] oekonomi commented on #3288
I attempted to replicate the issue on Windows 10 (albeit with a different step 2) and the game didn't crash or freeze. This may be a Ubuntu specific issue.

[2018-04-19 15:26] oekonomi commented on #3266
Is this issue still being worked on?

[2018-04-20 03:37] #2418 closed

[2018-04-21 18:10] cwgreene opened #3333 "No error message displayed on module update failure"
Note, this Bug is strictly for fixing the lack of error message. #3334 is for fixing the module loading itself. This patch is to make it so the failure is not silent.

### What you were trying to do

Update a module (on windows) that had been loaded. It failed, but I didn't get an error message.

### What actually happened

The loading began, but when it attempted to load the module, an exception

[2018-04-21 18:15] cwgreene opened #3334 "Cannot update a previously loaded module on windows"
May affect other operating systems.

### What you were trying to do
Install a new module after having started a game.

### What actually happened
Midway through installing, the dialog disappears (separate bug has been filed #3333 for fixing lack of error message). The new module was still not installed.

### How to reproduce

* Step 1
Start a game that uses the basic crafting module.
* Step 2
Inst

[2018-04-22 21:29] dave2s commented on #3280
Hello everyone,

I am happy to announce that I've made some progress regarding this issue. I have a created a proof of concept fix for this issue, which includes remote players held items as well. I'll be creating a PR in the upcoming weeks, so If any one of you is still trying to wrap your head around this, it might be best to wait.
The way I went about this is I took @Josharias 's firstPersonCli

[2018-04-23 09:53] Maximetinu commented on #3266
@oekonomi I was trying to fix it a month ago but I set it aside to work on other things.

Give it a try!

[2018-04-23 20:13] raphaelmnsu opened #3336 "Torch rendering issues"
### What you were trying to do
Create a tunnel underground using dynomite

### What actually happened
I was able to create the tunnel but occasionally the glow from the torch in hand doesn't emit a glow as if underground. Instead while underground the torch would have rays on it as if your above ground or not show emit light at all.

### How to reproduce

* Step 1 Use lots of bundled TNT to dig a

[2018-04-24 02:33] oekonomi commented on #2378
I'd like to tackle this issue but I'm a little confused as to which classes I should be looking at

[2018-04-24 11:00] asiekierka commented on #3248
How about creating Modules for handling different JVM languages, providing useful adapters for them and the libraries they need at runtime?

[2018-04-24 13:37] niansa opened #3338 "Crash if loading world"
### What you were trying to do

I tried to load ANY world

### What actually happened

The Client closed, the server was still running.

### How to reproduce

* start the game
* load any world
* when the healthboxes do appear it crashes

### Log details and game version

https://pastebin.com/Ebnjwitq

### Computer details

Ubuntu 17.10, Processos: Intel® Core™ i3-3220 CPU @ 3.30GHz × 4 Graphics:

[2018-04-26 22:36] Cervator opened #3341 "API scanning improvement: Catagorize and attach javadoc in a generated report/doc site"
Goes somewhat with #3320, #3321, and #3322 which focus on the SemVer validating testing (whether a PR constitutes a major, minor, or patch change). But there is a whole other series of utility possible with this functionality: writing out the list of classes and packages that are part of the Modding API with added documentation and decoration.

With #3253 merged we have a report usable for API com

[2018-04-27 18:14] LazyJ opened #3342 "Memory Leak when Creating New Worlds During the Same Session"
### What you were trying to do

~ Creating/loading different worlds during the same session in Terasology; trying out each module in its own separate test world.

### What actually happened

~ System memory consumption increased with each world creation/loading. Game configuration is set to "Maximum Memory" 2gb. I would shutdown the session when 5gb were surpassed. Eventually I had to reboot my en

[2018-04-27 20:14] Cervator commented on #2378
Heya @oekonomi - sorry for missing your comments for a while :-)

I don't personally know where to look for this, but what I do as an initial detective move is go `CTRL-N` in IntelliJ and enter some sensible term like `Sound` to look at what classes come up. In this case there's a small bunch of classes including `PlaySoundAction` which has a couple methods that include some logic about location.

[2018-04-28 20:15] #3333 closed

[2018-04-28 20:51] Cervator opened #3345 "Activate the powers of Probot: WIP label"
Sometimes a user shows interest in working on an issue, or has even opened a PR but is reworking it before it is ready for review. We usually ask users to comment on an issue they're interested in and sometimes they will yet then nothing ever happens. In PR land sometimes one goes back into the oven for more work with no further review needed until it is ready again, usually there the PR gets pref

[2018-04-28 20:53] Cervator commented on #2407
First round of texture updates has finally been merged via #3344, thanks @dacharya64 ! :-)

I've updated the GDoc and checked off the textures in the OP list here

@Drullkus hi been a while! Still would be thrilled if you end up with any spare times for textures here or elsewhere, tho no obligation :D

[2018-04-29 00:27] mkienenb commented on #3300
@l0ftyWhizZ Did you get around to recreating your PR to fix this?

[2018-04-30 21:33] dacharya64 commented on #2407
Latest commit #3346 now has retextures for everything on the list except Ladder, Water, Lava, and some of the optional variants (different kinds of brick cobblestone, double chest)

[2018-05-01 10:02] niansa commented on #3338
It crashes at all servers. I'm using Version "v1.6.0 - Alpha 9"

[2018-05-03 21:03] mkienenb commented on #3036
I started working on this before I realized there was an issue on it.    I wanted something to help me debug node relationships.

So far, it's just a tree view of the rendering graph nodes.

https://github.com/MovingBlocks/Terasology/pull/3351

[2018-05-03 23:12] sgtgame opened #3352 "https://drive.google.com/uc?id=12SQw7-msNX1kWmK1Liq0xjnlyhLgrU6s&export=download"
### What you were trying to do

### What actually happened

### How to reproduce

* Step 1
* Step 2
* Step 3

### Log details and game version

### Computer details

[2018-05-03 23:15] mkienenb commented on #3352
Looks like spam.  It would be dangerous to open some random file off the internet.  Closing.
If this is a real issue, please provide more information and not just a link to a file.

[2018-05-03 23:15] #3352 closed

[2018-05-05 03:08] #2935 closed

[2018-05-05 19:49] mkienenb commented on #2940
Happened to me during Omega multiplayer test.

https://pastebin.com/8qjdWCwP

[2018-05-06 01:29] rchau0623 commented on #2406
Hi! Just to add to the conversation there do appear to be some snowy areas here and there, using the snow block. I think it'd be useful to make them their own separate biome, rather than just part of the biome they're encompassed in. Also, I'm not sure if it's been said but plants crop up in these biomes. I think they should be removed to add to the snowiness!

I have a screenshot of this behavior

[2018-05-06 20:57] Cervator commented on #2774
Partially involving this issue in @TheFlash98's GSOC item for 2018. Might not be entirely within scope but some parts are likely affected so consider this issue somewhat active / occupied for the summer :-)

[2018-05-06 21:00] Cervator commented on #2458
Linking this to #3146 as it would probably be closely related should either topic get worked on. There were some good discussions on the topic and proposals for GSOC 2018 but alas not enough slot/mentor capacity :/

[2018-05-07 01:25] Cervator commented on #2406
Heya @rchau0623 :-)

There actually is a snow biome in the main world generator, but I'm not sure how hard it is to find one. It even used to have ice blocks in the water ages ago. What you usually see is snow blocks over a certain height, I think that was added back when we included unlimited height. Yeah those could use improvement and the flora generator needs to know not to put regular plants

[2018-05-07 01:38] rchau0623 commented on #2406
@Cervator Ohhh I see! That's awesome! Sorry for the confusion

[2018-05-07 22:29] Cervator opened #3354 "Add label + filter reset button for new module categories"
With #3347 merged we now have a filter listing for module categories. But I realized we don't have a way to reset the filters to default and the area could use a nice label. Should be fairly easy to do. Quick mockup:

![2018-05-07 18_23_37-terasology _ alpha](https://user-images.githubusercontent.com/1063833/39728295-4ead2736-5224-11e8-8d5f-1a0e46787adf.png)

So in other words move the checkboxes